<%# locals: { question, answer, madmp_schema, research_output, readonly, locking } %>
<% unless readonly %>
  <%= form_for :madmp_fragment, url: load_new_form_madmp_fragments_path, 
                html: {
                  method: :get,
                  'data-autosave': question.id,
                  class: "form-answer madmp-fragment new-fragment", 
                  id: nil  
                } do |f| %>
    <%= f.fields_for(:answer, answer) do |af| %>
      <%= af.hidden_field :plan_id, id: nil %>
      <%= af.hidden_field :question_id, id: nil %>
      <%= af.hidden_field :lock_version, id: nil %>
      <%= af.hidden_field :research_output_id, :value => research_output.id, id: nil%>
      <%= af.hidden_field :is_common, class: 'ans_is_common' if research_output.main? %>
      <%= af.hidden_field :id, id: nil, class: 'answer_id' %>
    <% end %>
    <%= f.hidden_field :schema_id, :value => madmp_schema.id, id: nil, class: "schema_id" %>
    <%= f.hidden_field :dmp_id, :value => dmp_id, id: nil %>
    <%= f.hidden_field :parent_id, :value => parent_id, id: nil %>
    <%= f.hidden_field :template_locale, :value => LocaleService.to_gettext(locale: template.locale), id: nil %>
    <%= f.hidden_field :property_name, :value => madmp_schema.property_name_from_classname, id: nil %>
    <%= f.hidden_field "source", :value => "form" %>
    <fieldset aria-labelledby="fragment-fieldset">
      <div class="form-group">  
          <div class="overlay" style="display:none;">
            <div class="spinner"></div>
            <br/>
            <%= _('Loading ...') %>
          </div>
      </div>
    </fieldset>
  <% end %>
<% end %>
