<%# locals: @plan, scope %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">
        <%= _("Title") %>&nbsp;<%= paginable_sort_link("research_outputs.title") %>
      </th>
      <th scope="col">
        <%= _("Type") %>&nbsp;<%= paginable_sort_link("research_outputs.output_type") %>
      </th>
      <th scope="col">
        <%= _("Repository") %>
      </th>
      <th scope="col">
        <%= _("Release date") %>&nbsp;<%= paginable_sort_link("research_outputs.release_date") %>
      </th>
      <th scope="col">
        <%= _("Access level") %>
      </th>
      <% if @plan.administerable_by?(current_user.id) %>
        <th scope="col" class="sorter-false">
          <span aria-hidden="false" class="sr-only"><%= _("Actions") %></span>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% scope.each do |output| %>
      <%
      presenter = ResearchOutputPresenter.new(research_output: output)
      rdate = presenter.display_release
      %>
      <tr>
        <td><%= presenter.display_name %></td>
        <td><%= presenter.display_type %></td>
        <td><%= presenter.display_repository.join("<br>").html_safe %></td>
        <td><%= rdate.is_a?(Date) ? l(rdate, formats: :short) : rdate %></td>
        <td><%= presenter.display_access %></td>
        <% if @plan.administerable_by?(current_user.id) %>
          <td>
            <div class="dropdown">
              <button class="btn btn-link dropdown-toggle"
                      type="button"
                      id="research_output-<%= output.id %>-actions"
                      data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true">
                <%= _('Actions') %><span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="research_output-<%= output.id %>-actions">
                <li><%= link_to _('Edit'),
                        edit_plan_research_output_path(plan_id: @plan.id, id: output.id) %></li>
                <li><%= link_to _('Remove'),
                                plan_research_output_path(@plan.id, output),
                                data: { confirm: _("You are about to delete '%{research_output_title}'. Are you sure?") % { research_output_title: output.title } },
                                method: :delete %>
                </li>
              </ul>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
