<%# locals: { fragment, parameters, template_locale } %>
<% label = parameters["label@#{template_locale}"]%>
<% ttip = parameters["tooltip@#{template_locale}"]%>

<button
    type="button"
    class="btn btn-primary run-button"
    data-toggle="tooltip"
    data-placement="top"
    data-original-title="<%= ttip %>"
    data-url="<%= codebase_run_url(nil, :fragment_id => fragment.id,:script_id => parameters["script_id"])%>"
>
    <%= label %>
</button>
<button class="btn btn-secondary reload-button" type="button">
    <%= d_('dmpopidor', 'Reload') %>
</button>
<span class="message-zone valid"><%= d_('dmpopidor', 'New data have been added to your plan, please click on the "Reload" button.') %></span>