<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" id="exampleModalLabel"><%= @classname.capitalize %> </h2>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_for @fragment, url: create_or_update_structured_answers_path(@fragment.id, classname: @classname),
                        html: {method: :post, remote: true, class: 'form-horizontal', id: "structured_answer_form" } do |f| %>  
      <%= f.hidden_field :dmp_id, id: nil %>
      <%= f.hidden_field :parent_id, id: nil %>
      <%= f.hidden_field :id, id: nil %>
      <%= f.hidden_field :schema_id, :value => @schema.id, id: nil%>
      <div class="modal-body">
        <%= render(partial: "shared/dynamic_form/form", locals: {
          f: f,
          data: @fragment.data, 
          research_output: nil,
          parent_id: @parent_fragment.id,
          schema: @schema.schema,
          readonly: false
        })%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= _('Close') %> </button>
        <%= f.button(_('Submit'), class: "btn btn-primary", type: "submit") %>
      </div>
    <% end %>
  </div>
</div>