<!--
**Project: DMPRoadmap
**Description: This block displays editing a question, its guidance, and options when multiple choice is selected
in the admin interface.
**Arguments transferred: an instance of 'question'
**Copyright: Digital Curation Centre and California Digital Library
-->

<%= form_for(question, url: admin_update_question_path(question), html: { method: :put}) do |f| %>
<div class="question-div">
  <table class="dmp_details_table phase">
      <!--Question number -->
      <tr>
        <td class="first_template"><%= _('Question number')%></td>
        <td><%= f.number_field :number, in: 1..50, class: "number_field has-tooltip", "data-toggle" => "tooltip", "title" => _('This allows you to order questions within a section.') %>
          <div class="border_bottom"></div>
        </td>
      </tr>

      <!--Question text -->
      <tr>
        <td class="first_template"><%= _('Question text')%></td>
        <td>
          <%= f.text_area(:text, class: "tinymce") %>
          <div class="border_bottom"></div>
        </td>
      </tr>

      <!-- Question format -->
      <tr>
        <td class="first_template"><%= _('Answer format')%></td>
        <td>
          <div id="ques-<%= question.id %>-format" class="ques_format">
            <div class="div_left_icon">
              <%= f.hidden_field :id,{ class: "quest_id" } %>
              <%= f.select :question_format_id,
                options_from_collection_for_select(QuestionFormat.all.order("title"), :id, :title, question.question_format_id),
                {}, class: "question_format", id: "#{question.id}-select-format"%>
            </div>
            <div class="div_right_icon">
              <%= link_to( image_tag("help_button.png"), "#", "data-toggle": "popover", rel: "popover", "data-html" => "true",  "data-content" => _("You can choose from:<ul><li>- text area (large box for paragraphs);</li> <li>- text field (for a short answer);</li> <li>- checkboxes where options are presented in a list and multiple values can be selected;</li> <li>- radio buttons where options are presented in a list but only one can be selected;</li> <li>- dropdown like this box - only one option can be selected;</li> <li>- multiple select box allows users to select several options from a scrollable list, using the CTRL key;</li></ul>"))%>
            </div>

          </div>

          <!--display form to enter option from checkbox/radio button/ dropdown/ multi select box-->
          <div id="options-<%= question.id %>" style="<%= question.question_format.option_based? ? '' : 'display:none;'%>" class="ques_format_option">
            <table class="options_table">
              <thead>
                <tr>
                  <th nowrap class="small"><%= _('Order')%></th>
                  <th nowrap class="medium"><%= _('Text')%></th>
                  <th nowrap class="small"><%= _('Default')%></th>
                  <th nowrap class="small"><%= link_to( image_tag("help_button.png"), "#", class: "question_options_popover", "data-toggle": "popover",rel: "popover", "data-html" => "true", "data-content" => _('Enter any options that you wish to display. If you want to pre-set one option as selected, check the default box.'))%></th>
                </tr>
              </thead>
              <tbody class="options_tbody">
                <% if question.question_options.count == 0 %>
                  <% 2.times {question.question_options.build } %>

                <% end %>
                                <% i = 0 %>
                <% question.question_options.to_a.sort_by{|op| op["number"]}.each do |options_q|%>
                  <%= f.fields_for :question_options, options_q do |op|%>
                                        <% i = i + 1%>
                                        <% options_q.number = i %>
                    <%= render "question_options/option_fields", f: op %>
                    <% end %>
                <% end %>

              </tbody>
            </table>

            <a href="#" class="add-option"><%= _('Add option') %></a>

            <div class="clearfix"></div>
            <!--display for selecting comment box when multiple choice is being used-->
            <%= f.check_box :option_comment_display, as: :check_boxes%><%= f.label _('Display additional comment area.'), class: "checkbox inline"%>
          </div>
          <div class="clearfix"></div>
          <div class="border_bottom"></div>
        </td>
      </tr>
      <!--Question default_value -->
      <tr class="default_answer" style="<%= !question.question_format.option_based? ? '' : 'display:none;'%>">
        <td class="first_template"><%= _('Default answer')%></td>
        <td>
          <div class="div_left_icon">
            <div>
              <%= text_field_tag("question-default-value-textfield", question.default_value, class: "default_answer_textfield", style: question.question_format.textfield? ? '' : 'display:none;') %>
              <%= text_area_tag("question-default-value-textarea", question.default_value, class: "default_answer_textarea tinymce", style: question.question_format.textarea? ? '' : 'display:none;') %>
            </div>
          </div>
          <div class="div_right_icon">
            <%= link_to( image_tag("help_button.png"), "#", "data-toggle": "popover", rel: "popover", "data-html" => "true", "data-content" => _('Anything you enter here will display in the answer box. If you want an answer in a certain format (e.g. tables), you can enter that style here.'))%>
          </div>
          <div class="clearfix"></div>
          <div class="border_bottom"></div>
        </td>
      </tr>
      <!-- Suggested answer or Example-->
      <tr>
        <td class="first_template"><%= _('Example Answer')%></td>
        <td><div class="div_left_icon">
          <% example_answer = question.get_example_answer(current_user.org.id) %>
          <% if example_answer.nil? %>
             <% example_answer = question.annotations.build %>
             <% example_answer.type = :example_answer %>
          <% end %>
          <%= f.fields_for :annotations, example_answer do |s|%>
            <%= s.hidden_field :org_id, value: current_user.org.id %>
            <ul>
              <li><%= s.text_area(:text, class: "tinymce") %>
              </li>
            </ul>
          <% end %>
          </div>
          <div class="div_right_icon">
            <%= link_to( image_tag("help_button.png"), "#", "data-toggle": "popover", rel: "popover", "data-html" => "true", "data-content" => _('You can add an example or suggested answer to help users respond. These will be presented above the answer box and can be copied/ pasted.'))%>
          </div>
          <div class="clearfix"></div>
          <div class="border_bottom"></div>
        </td>
      </tr>
      <!-- Guidance for Question -->
      <tr>
        <td class="first_template"><%= _('Guidance')%></td>
        <td class="tinymce">
          <div class="div_left_icon">
            <% guidance = question.get_guidance_annotation(current_user.org_id) %>
            <% guidance_text = guidance.present? ? guidance.text : "" %>
            <%= text_area_tag("question-guidance-#{question.id}", guidance_text , class: "tinymce") %>
          </div>
          <div class="div_right_icon">
            <%= link_to( image_tag("help_button.png"), "#", "data-toggle": "popover", rel: "popover", "data-html" => "true", "data-content" => _("Enter specific guidance to accompany this question. If you have guidance by themes too, this will be pulled in based on your selections below so it's best not to duplicate too much text."))%>
          </div>
          <div class="clearfix"></div>
          <div class="border_bottom"></div>
        </td>
      </tr>
      <!-- Themes -->
      <tr>
        <td class="first_template"><%= _('Themes')%></td>
        <td><div class="div_left_icon">
            <%= f.collection_select(:theme_ids,
              Theme.all.order("title"),
              :id, :title, {prompt: false, include_blank: "None"}, {multiple: true})%>
          </div>
          <div class="div_right_icon">
            <%= link_to( image_tag("help_button.png"), "#", "data-toggle": "popover", rel: "popover", "data-html" => "true", "data-content" => _("<p>Select themes that are relevant to this question.</p> <p>This allows your generic institution-level guidance to be drawn in, as well as that from other sources e.g. the %{organisation_abbreviation} or any Schools/Departments that you provide guidance for. </p> <p>You can select multiple themes by using the CTRL button.</p>"))%>
          </div>
        </td>
      </tr>
    </table>
    <br />
    <!-- submit buttons -->
    <div class="move_2_right">
      <%= f.submit _('Save'), class: "btn btn-primary" %>
      <% if !question.section.phase.template.published? %>
        <%= link_to _('Delete'), admin_destroy_question_path(question_id: question.id),
        confirm: _("You are about to delete '%{question_text}'. Are you sure?") % { :question_text => question.text }, method: :delete, class: "btn btn-primary"%>
      <% end %>
      <%= hidden_field_tag :question_id, question.id, class: "question_id" %>
      <%= link_to _('Cancel'), "#", class: "btn cancel cancel_edit_question" %>
    </div>
  </div>


<!--guidance block -->
<%= render partial: "guidances/guidance_display", locals: {question: question} %>
<% end %>
