<!--
**Project: DMPRoadmap
**Description: This block shows a question, its guidance, and options when multiple choice is selected.
**Arguments transferred: 'question'
**Copyright: Digital Curation Centre and California Digital Library
-->
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <% q_format = question.question_format %>
        <dl class="dl-horizontal">
          <dt><%= _('Question number')%></dt>
          <dd><%= question.number %></dd>
          <dt><%= _('Question text')%></dt>
          <dd><%= raw question.text %></dd>
          <!-- question.option_based? -->
          <dt></dt>
          <dd></dd>
          <!-- Default value -->
          <% if q_format.textfield? || q_format.textarea? %>
            <% if !question.default_value.nil? %>
              <dt><%= _('Default value')%></dt>
              <dd><%= raw question.default_value %></dd>
            <% end %>
          <% end %>
          <!-- Format title -->
          <dt><%= _('Answer format')%></dt>
          <dd>
            <%= q_format.title %>
            <% if q_format.option_based? %>
              <%= _('Additional comment area will be displayed.')%>
            <% else %>
              <%= _('No additional comment area will be displayed.')%>
            <% end %>
          </dd>
          <!-- Suggested answer or Example-->
          <% if !question.section.phase.template.org.funder? %>
              <% example_answer = question.get_example_answer(@original_org.id) %>
              <% if example_answer.present?  && example_answer.text.present?  %>
                  <dt><%= _('example answer')%></dt>
                  <dd><%= raw example_answer.text %></dd>
              <% end %>
          <% end %>
          <!-- Guidance linked to this question -->
          <% guidance = question.get_guidance_annotation(@original_org.id) %>
          <% if guidance.present?  %>
            <dt><%= _('Guidance')%></dt>
            <dd><%= raw guidance.text %></dd>
          <% end %>
          <!-- Themes -->
          <% themes_q = question.themes %>
          <% if !themes_q.nil? %>
              <dt><%= _('Themes')%></dt>
              <dd><%= themes_q.join(', ') %></dd>
          <% end %>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Add suggested or example answers to a funders template-->
        <% example_answer = question.get_example_answer(current_user.org_id) %>
        <% guidance = question.get_guidance_annotation(current_user.org_id) %>
        <% editing = (example_answer.present? || guidance.present?) %>
        <% if !question.modifiable %>
          <h3> <%= _('Annotations') %> </h3>
          <div id="show_annotations_div_<%= question.id%>" class="show_annotations_div">
            <%= render partial: 'annotations/show', 
                       locals: { example_answer: example_answer, 
                                 guidance: guidance,
                                 template: template,
                                 for_plan: false } %>
            <% unless question.modifiable %>
              <div id="add_annotations_button_<%= question.id %>" class="pull-right">
                <%= link_to _('%{add_or_edit} Annotations') % { add_or_edit: (editing ? 'Edit' : 'Add') }, 
                            "#annotations_div_#{question.id}", class: "btn btn-default annotations_button", role:"button" %>
              </div>
            <% end %>
          </div>
          <div id="annotations_div_<%= question.id %>" style="display: none" class="edit_annotations_div">
            <%= render partial: 'annotations/new_edit', 
                       locals: {
                         example_answer: example_answer,
                         guidance: guidance, 
                         question: question,
                         options: { url: admin_update_annotation_path(r: current_tab), method: 'PUT' } 
                       } %>
          </div>
        <% end %>
        <div class="pull-right">
          <% if (question.modifiable && edit) %>
            <%= link_to _('Edit question'), "#question_edit#{question.id}", class: "btn btn-default question_edit_link", role: "button" %>
            <%= link_to _('Delete question'), admin_destroy_question_path(question_id: question.id, r: current_tab),
              confirm: _("You are about to delete '%{question_text}'. Are you sure?") % { :question_text => question.text }, method: :delete, class: "btn btn-default", role:"button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <%#= render partial: 'guidances/guidance_display', locals: {question: question} %>
  </div>
</div>
