  <% if Rails.configuration.x.shibboleth.enabled %>
    <%= form_for Org.new, url: shibboleth_ds_path, method: :post do |f| %>
      <div id="shib-ds-org-controls" class="row">
        <div class="form-group col-md-12">
          <%= render partial: "shared/org_selectors/local_only",
                      locals: {
                          form: f,
                          id_field: :id,
                          default_org: nil,
                          orgs: Org.participating,
                          required: false,
                          label: _("Look up your institution here")
                      } %>
        </div>
      </div>
      <%= button_tag _('Go'), class: "btn btn-default", id: "org-select-go", disabled: "disabled" %>

      <br><br>
      <p class="fontsize-h4">- <%= _('Or if your institution is not listed') %> -</p>
    <% end %>
<% end %>

<%= form_for resource, as: 'user', namespace: 'signin', url: user_session_path, html: {id: "sign_in_form"} do |f| %>
  <div class="form-group">
    <%= f.label(:email, _('Email'), class: 'control-label') %>
    <%= f.email_field(:email, class: 'form-control', "aria-required": true) %>
  </div>
  <div class="form-group">
    <%= f.label(:password, _('Password'), class: 'control-label') %>
    <%= f.password_field(:password, class: 'form-control', "aria-required": true) %>
  </div>
  <div>
    <%= link_to _('Forgot password?'), new_password_path('user') %>
  </div>
  <div class="checkbox">
    <%= label_tag 'remember_email' do %>
      <%= check_box_tag 'remember_email' %>
      <%= _('Remember email') %>
    <% end %>
  </div>
  <%= f.button(_('Sign in'), class: "btn btn-default", type: "submit") %>
<% end %>
