<% title "#{@plan.title} - contributors" %>

<div class="row">
  <div class="col-md-12">
    <!-- render the project title -->
    <h1><%= @plan.title %></h1>
  </div>
</div>

<% content_for :plan_tab_body do %>
  <div class="row">
    <div class="col-md-12">
      <p>
        <%= _("Please list the project’s Principle Investigator(s) and those responsible for data management.") %>
      </p>
    </div>
    <div id="contributors" class="col-md-12">
      <% if @contributors.any? %>
        <%= paginable_renderise partial: "/paginable/contributors/index",
                                controller: "paginable/contributors",
                                action: "index",
                                scope: @contributors,
                                locals: { plan: @plan } %>
      <% else %>
        <p><%= _("No contributors have been defined.") %></p>
      <% end %>

    </div>
  </div>
<% end %>

<%= render partial: "plans/navigation", locals: { plan: @plan } %>
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="linkedInformationsModal" aria-hidden="true"></div>