<% title "#{@plan.title} - contributors" %>

<div class="row">
  <div class="col-md-12">
    <!-- render the project title -->
    <h1><%= @plan.title %></h1>
  </div>
</div>

<% content_for :plan_tab_body do %>
  <div class="row">
    <div class="col-md-12">
      <p>
        <%= _("Please list the project’s Principle Investigator(s) and those responsible for data management.") %>
      </p>
    </div>
    <div class="col-md-12 madmp-fragment">
      <table class="table table-hover list-contributor linked-fragments-list">
        <thead>
          <tr>
            <th scope="col"><%= _("Name") %></th>
            <th scope="col" class="sorter-false"><%= _("Identifier") %></th>
            <th scope="col" class="sorter-false"><%= d_("dmpopidor", "Summary of attributed roles") %></th>
            <th scope="col" class="sorter-false">
              <span aria-hidden="false" class="sr-only"><%= _("Actions") %></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <%= paginable_renderise partial: "/paginable/contributors/index",
                                  controller: "paginable/contributors",
                                  action: "index",
                                  scope: @contributors,
                                  locals: { plan: @plan } %>

        </tbody>
      </table>

    </div>
    <div class="col-md-12">
      <% if @plan.editable_by?(current_user) %>
        <span data-toggle="modal" data-target="#modal-window">
          <%= link_to d_("dmpopidor", "Add a person"), new_edit_linked_madmp_fragments_url(
                  nil, 
                  :parent_id => @plan.json_fragment.id, 
                  :schema_id => MadmpSchema.find_by(name: "PersonStandard").id, 
                  :template_locale => @plan.template.locale,
                  :source => "list-modal",
                  :property_name => nil,
                  :query_id => "contributor"
          ),  {
            :remote => true, 
            :target => "_self",
            :class => "btn btn-primary",
            'data-toggle' =>  "tooltip",
            'data-original-title' => d_("dmpopidor", "Click here to add a new item")
          }  %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: "plans/navigation", locals: { plan: @plan } %>
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="linkedInformationsModal" aria-hidden="true"></div>