<!--add guidance. question is passed as an argument-->
<div class="dmp_details">
  <%= form_for :guidance, url: {action: "admin_create"}, html: {id: "new_guidance_form"} do |f| %>
    <table class="dmp_details_table guidance_table">
      <tr>
        <td class="first"><%= _('Text') %></td>
        <td>
          <div class="div_left_icon_g">
            <%= text_area_tag("guidance-text", "", class: "tinymce") %>
          </div>
          <div class="div_right_icon_g">
            <%= link_to( image_tag("help_button.png"), "#", "data-toggle": "popover", rel: "popover", "data-html" => "true", "data-content" => _('Enter your guidance here. You can include links where needed.'))%>
          </div>
          <div class="clearfix"></div>
        </td>
      </tr>
      <tr>
        <td class="first"><%= _('Should this guidance apply:') %></td>
        <td>
          <div class="guindance_by_theme" style="display:none;">
            <div class="div_left_icon_g">
              <%= f.collection_select(:theme_ids,
                    Theme.all.order("title"),
                    :id, :title, {prompt: false, include_blank: _('None')}, {multiple: true})%>
            </div>
            <div class="div_right_icon_g">
              <%= link_to( image_tag("help_button.png"), "#", "data-toggle": "popover", rel: "popover", "data-html" => "true", "data-content" => _('Select which theme(s) this guidance relates to.'))%>
            </div>
            <div class="clearfix"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="first"><%= _('Published') %></td>
        <td>
          <div class="div_left_icon_g">
            <%= f.check_box :published , as: :check_boxes %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="first"><%= _('Guidance group') %></td>
        <td>
          <div class="div_left_icon_g">
            <%= f.collection_select(:guidance_group_ids,
                GuidanceGroup.where(org_id: current_user.org_id).order("name ASC"),
                            :id, :name, {prompt: false, include_blank: _('None')}, {multiple: false})%>
          </div>
          <div class="div_right_icon_g">
            <%= link_to( image_tag("help_button.png"), "#", "data-toggle": "popover", rel: "popover", "data-html" => "true", "data-content" => _('Select which group this guidance relates to.'))%>
          </div>
          <div class="clearfix"></div>
        </td>
      </tr>
    </table>

    <!-- submit buttons -->

    <div class="move_2_right">
      <a id="new_guidance_submit" data-toggle="modal" href="#new_guidance_alert_dialog" class="btn btn-primary"><%= _('Save')%></a>

      <%= link_to _('Cancel'), :back, class: "btn cancel" %>
    </div>

    <br />
    <%= tinymce :content_css => asset_path('application.css') %>
  <% end %>
</div>



<!-- alert for guidance-->
<div id="new_guidance_alert_dialog" data-container="body" data-backdrop="static" class="modal hide fade">
  <div class="modal-header">
    <h3><%= _('Before submitting, please consider:') %></h3>
  </div>
  <div class="modal-body">
    <ul id="missing_fields_new_guidance"></ul>
    </div>
  <div class="modal-footer">
      <a href="#" id="return_to_new_guidance" class="btn"><%= _('Ok') %></a>
    </div>
</div>