<h1>
	<%= _('Guidance') %>

	<!-- link button to add new guidance -->
	<div class="move_2_right">
		<%= link_to _('Add guidance'),
		            admin_new_guidance_path,
		            class: "btn btn-primary" %>
		<%= link_to _('View all guidance'),
		            admin_index_guidance_path,
		            class: "btn btn-primary" %>
	</div>
</h1>

<div class="div_clear"></div>

<div class="white_background blue_border">
	<!-- body -->
	<div class="dmp_details">

		<table class="dmp_details_table">
			<tr>
				<td class="first"><%= _('Text') %></td>
				<td><%= raw @guidance.text %></td>
			</tr>
			<tr>
				<td class="first"><%= _('Themes') %></td>
				<td><%= @guidance.themes.order(:title).collect{|t| t.title}.join(', ') %></td>
			</tr>
			<tr>
				<td class="first"><%= _('Guidance group') %></td>
				<td>
						<%= @guidance.guidance_group.name %>
				</td>
			</tr>
            <tr>
				<td class="first"><%= _('Published') %></td>
				<td><%if @guidance.published == false || @guidance.published.nil? then%>
						<%= _('No')%>
					<% else %>
						<%= _('Yes')%>
					<% end %>
				</td>
			</tr>
			<tr>
				<td class="first"><%= _('Created') %></td>
				<td><%= l @guidance.created_at.to_date, formats: :short %></td>
			</tr>
			<tr>
				<td class="first"><%= _('Last updated') %></td>
				<td><%= l @guidance.updated_at.to_date, formats: :short %></td>
			</tr>

		</table>
		<div class="move_2_right">
			<%= link_to _('Edit'), admin_edit_guidance_path(@guidance.id), class: "btn btn-primary"%>
			<%= link_to _('Back'), :back, class: "btn cancel" %>
		</div>
		<br />
	</div>
</div>