<% title _('About %{application_name}') % { application_name: ApplicationService.application_name } %>
<div class="row">
  <div class="col-md-12">
    <h1><%= _('About %{application_name}') % { application_name: ApplicationService.application_name } %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div>
      <h2 class="fontsize-h3"><%= _(Rails.configuration.branding[:application][:name]) %></h2>

      <p><%= _('DMP Assistant is an all-purpose tool for preparing data management plans (DMPs).') %></p>
      <p><%= _('Researchers will be guided through best practices in data stewardship.') %></p>

      <ul>
        <li><%= _('The tool walks researchers step-by-step through a number of key questions about data management.') %></li>
        <li><%= _('Guidance and examples are provided.') %></li>
        <li><%= _('Not all questions will apply to all research projects. Researchers are encouraged to answer the questions relevant to their work.') %></li>
        <li><%= _('Researchers should revisit the tool throughout their research to review or complete their responses.') %></li>
      </ul>

      <h2 class="fontsize-h3"><%= _('How the tool works') %></h2>
      
      <p><%= _('Currently, this tool includes a generic Portage Data Stewardship template for researchers to use. Guidance is provided to help you interpret and answer the questions.') %></p>
    

      <p>
        <% email_link = Rails.configuration.branding[:organisation][:helpdesk_email] %>
        <% email_subject = _('DMP Assistant feedback').gsub(' ', '%20') %>
        <% contact_your_institution_url = contacts_at_your_instutution_path %>
        <%= sanitize(_('We want your feedback! If you have suggestions on how to improve the existing template, or you would like to add additional templates based on funding agency requirements or disciplinary needs, please <a href="%{contact_your_institution_url}">contact your local institution</a> or contact us at <a href="mailto:%{email_link}?Subject=%{email_subject}">%{email_link}</a>.') % {contact_your_institution_url: contact_your_institution_url, email_link: email_link, email_subject: email_subject}) %>        
      </p>

      <h2 class="fontsize-h3"><%= _('Getting started') %></h2>

        <p><%= _("If you have an account please sign in and start creating or editing your DMP.") %></p>
        <p><%= _("If you do not have a %{application_name} account, click on")  % {application_name: ApplicationService.application_name} %> <a href="<%= root_path %>"><%= _('Sign up') %></a> <%= _("on the homepage.") %></p>
        <p><%= _("Please visit the") %> <a href="<%= help_path %>"><%= _('Help') %></a> <%= _("page for guidance.") %></p>

      <p>
        <% sign_up_url = request.base_url %>
        <%= sanitize(_('If you do not have a DMP Assistant account, click on <a href="%{sign_up_url}"> \'Sign up\' </a> on the homepage.') % { sign_up_url: sign_up_url} ) %>
      </p>

      <p>
        <%= _('Please note that we are currently working on single sign-in authentication with your campus ID. You will have the option to link your existing account to your campus ID when that feature becomes available.') %>
      </p>

      <p>
        <% help_url = "help_url" %>
        <%= sanitize(_('Please visit the <a href="%{help_url}"> \'Help\' </a> page for guidance.') % {help_url: help_url}) %>
      </p>

      <h2 class="fontsize-h3"><%= _('Feedback') %></h2>

      <p>
        <%= sanitize(_('If you have any questions or comments about the DMP Assistant, <a href="%{contact_your_institution_url}"> contact your local institution </a> or email us at  <a href="mailto:%{email_link}?Subject=%{email_subject}">%{email_link}</a>.') % { contact_your_institution_url: contact_your_institution_url, email_link: email_link, email_subject: email_subject} )  %>
      </p>

      <h2 class="fontsize-h3"><%= _('Portage data stewardship template') %></h2>
      
      <p>
        <%= _('The Portage Data Stewardship template is based on internationally accepted standards and best practices. It has been prepared and is maintained by a group of research data management experts from research libraries across Canada.') %>
      </p>

      <p>
        <%= _('Organizations may provide their own DMP templates. The Portage template is the default DMP. Select templates from other organizations from the drop-down Organization list.') %>
      </p>

      <p>
        <%= sanitize(_('For funding agencies, research institutions, and other organizations, please contact <a href="mailto:%{email_link}">%{email_link}</a> if you would like to add your organization templates to DMP Assistant.') % { email_link: email_link}) %>
      </p>

    </div>
  </div>
</div>