<% title _('Help') %>
<div class="row">
  <div class="col-md-12">
    <h1><%= _('Help')%></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div>
        <p><%= _("When you log in to %{application_name} you will be directed to the 'My Dashboard' page. From here you can edit, share, download, copy or remove any of your plans. You will also see plans that have been shared with you by others.") % { application_name: ApplicationService.application_name } %></p>

          <h2 class="fontsize-h3"><%= _("Create a plan") %></h2>

          <p><%= _("To create a plan, click the 'Create plan' button from the 'My Dashboard' page or the top menu. Select options from the menus and tickboxes to determine what questions and guidance you should be presented with. Confirm your selection by clicking 'Create plan.'") %></p>

          <h2 class="fontsize-h3"><%= _("Write your plan") %></h2>

          <p><%= _("The tabbed interface allows you to navigate through different functions when editing your plan.") %></p>
          <ul>
            <li><%= _("'Project Details' includes basic administrative details.") %></li>
            <li><%= _("'Plan Overview' tells you what template and guidance your plan is based on and gives you an overview to the questions that you will be asked.") %></li>
            <li><%= _("The following tab(s) present the questions to answer. There may be more than one tab if your funder or university asks different sets of questions at different stages e.g. at grant application and post-award.") %></li>
            <li><%= _("'Share' allows you to invite others to read or contribute to your plan.") %></li>
            <li><%= _("'Download' allows you to download your plan in various formats. This may be useful if you need to submit your plan as part of a grant application.") %></li>
          </ul>

          <p><%= _("When viewing any of the question tabs, you will see the different sections of your plan displayed. Click into these in turn to answer the questions. You can format your responses using the text editing buttons.") %></p>

          <p><%= _("Guidance is displayed in the right-hand panel. If you need more guidance or find there is too much, you can make adjustments on the ‘Project Details’ tab.") %></p>

          <h2 class="fontsize-h3"><%= _("Share plans") %></h2>

          <p><%= _("Insert the email address of any collaborators you would like to invite to read or edit your plan. Set the level of permissions you would like to grant them via the radio buttons and click to 'Add collaborator.' Adjust permissions or remove collaborators at any time via the drop-down options.") %></p>

          <p><%= _("The ‘Share’ tab is also where you can set your plan visibility.") %></p>
          <ul>
            <li><%= _("Private: restricted to you and your collaborators.") %></li>
            <li><%= _("Organisational: anyone at your organisation can view your plan.") %></li>
            <li><%= _("Public: anyone can view your plan in the Public DMPs list.") %></li>
          </ul>

          <p><%= _("By default all new and test plans will be set to ‘Private’ visibility. ‘Public’ and ‘Organisational’ visibility are intended for finished plans. You must answer at least 50% of the questions to enable these options.") %></p>

          <h2 class="fontsize-h3"><%= _("Request feedback") %></h2>
          <p><%= _("There may also be an option to request feedback on your plan. This is available when research support staff at your organisation have enabled this service. Click to ‘Request feedback’ and your local administrators will be alerted to your request. Their comments will be visible in the ‘Comments’ field adjacent to each question. You will be notified by email when an administrator provides feedback.") %></p>


          <h2 class="fontsize-h3"><%= _("Download plans") %></h2>
          <p><%= _("From here you can download your plan in various formats. This may be useful if you need to submit your plan as part of a grant application. Choose what format you would like to view/download your plan in and click to download. You can also adjust the formatting (font type, size and margins) for PDF files, which may be helpful if working to page limits.</p>") %>
    </div>
  </div>
</div>
