<!--this block displays all guidance related with the question. question is passed as an argument-->

<div class="question-guidance">
	<div class="accordion" id="<%= question.id %>-guidance">
		<% if !question.guidance.nil? && question.guidance != "" then %>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-guidance-link" data-toggle="collapse" data-parent="#<%= question.id %>-guidance" href="#collapse-guidance-<%= question.id%>">
						<div class="accordion_heading_text">
						<%= question.section.organisation.abbreviation %> <%= t('helpers.guidance')%> 
						</div>
						<span class="plus-laranja"> </span></a>
				</div>
				<div id="collapse-guidance-<%= question.id%>" class="guidance-accordion-body collapse">
					<div class="accordion-inner"><%= raw question.guidance %></div>
				</div>
			</div>
		<% end %>
		
		<% question.guidance_for_question(question, current_user.organisation).each_pair do |title,guidance| %>
			<div class="accordion-group">											
				<div class="accordion-heading">
					<a class="accordion-guidance-link" data-toggle="collapse" data-parent="#<%= question.id %>-guidance" href="#collapse-guidance-<%= guidance.id%>-<%= question.id %>">
						<div class="accordion_heading_text">
						<%= title%> 
						</div>
						<span class="plus-laranja"> </span></a>
				</div>
				<div id="collapse-guidance-<%= guidance.id%>-<%= question.id %>" class="guidance-accordion-body collapse">
					<div class="accordion-inner"><%= raw guidance.text %></div>
				</div>
			</div>
		<% end %>	
	</div>
    <!-- Add guidance -->
    <div id="add_guidance_button_<%= question.id%>">
        <div class="move_2_right">
            <%= hidden_field_tag :question_id, question.id, :class => "question_id" %>
            <%= link_to t("org_admin.questions.quidance_button"), "# ", :class => "btn btn-primary add_guidance_button"%>
        </div>	
    </div>

    <div id="add_guidance_block_<%= question.id%>" style="display: none">
		<%= render :partial => "add_guidance", locals: {question: question} %>
	</div>
    
</div>		