<!--Add options answers to a question-->
<tr class="options_content">
	<td class="small"><%= f.number_field :number,:in => 1..20, :class => "number_field option"%></td>
	<td class="medium"><%= f.text_field :text, :as => :string, :class => "small_text_field" %></td>
	<td class="small"><%= f.check_box :is_default %></td>	
	<td class="small"><%= f.hidden_field :_destroy %><span class="remove-option"><%= t('org_admin.remove_option_label') %></span></td>																	
</tr>
