<!--show suggested answer. suggested answer is passed as an argument-->
<table class="dmp_details_table phase">
	<tr>
		<td class="first_template">
			<% if suggested_answer.is_example? then %>
				<%= t('org_admin.questions.example_answer_label')%>
			<%else%>
				<%= t('org_admin.questions.suggested_answer_label')%>
			<%end%>
		</td>
		<td><%= raw suggested_answer.text %></td>
	</tr>
</table>
<br/>

<div class="move_2_right">
	<%= hidden_field_tag :question_id, question.id, :class => "question_id" %>
	<%= link_to t("org_admin.questions.edit_suggested_answer_button"), '# ', :class => "btn btn-primary edit_form_for_suggested_answer"%>
</div>
