<!-- show version and its sections,questions and guidance-->

<!-- version details-->
<h3>
	<%= t('org_admin.templates.version_details_label')%>
</h3>
<div class="div_clear"></div>		

<table class="dmp_details_table phase">
	<tr>
		<td class="first_template"><%= t('org_admin.templates.title_label') %></td>
		<td><%= version.title %></td>
	</tr>
	<% if version.description != "" then%>
		<tr>
			<td class="first_template"><%= t('org_admin.templates.desc_label') %></td>
			<td><%= raw version.description %></td>
		</tr>
	<%end%>	
	<tr>
		<td class="first_template"><%= t('org_admin.templates.published_label') %></td>
		<td><%= version.published %></td>
	</tr>
	<tr>
		<td class="first_template"><%= t('org_admin.templates.created') %></td>
		<td>
			<%= l version.created_at.to_date, :formats => :short %>
		</td>
	</tr>
	<tr>
		<td class="first_template"><%= t('org_admin.templates.last_updated') %></td>
		<td>
			<%= l version.updated_at.to_date, :formats => :short %>
		</td>
	</tr>
</table>
<div class="div_clear"></div>





