<%= stylesheet_link_tag "admin" %>
<% javascript "admin.js" %>

<h1>
	<%= t("org_admin.templates.new_label") %>
	<!-- link button to add new guidance -->
	<div class="move_2_right">
		<%= link_to t("org_admin.templates.view_all_templates"),
		            admin_index_dmptemplate_path,
		            :class => "btn btn-primary" %>
	</div>            
</h1>

<div class="div_clear"></div>
<div class="white_background blue_border">
	<!-- body -->
	<div class="dmp_details">
		<%= raw t("org_admin.templates.create_new_template_text_html")%>
		<br/>
		<%= form_for :dmptemplate, :url => {:action => "admin_create"} do |f| %>
			<table class="dmp_details_table">
				<tr>
					<td class="first_template"><%= t("org_admin.templates.title_label") %></td>
					<td><%= f.text_field :title, :as => :string, 
								:class => "text_field has-tooltip", "data-toggle" => "tooltip", "title" => t("org_admin.templates.title_help_text") %></td>
				</tr>
				<tr>
					<td class="first_template"><%= t("org_admin.templates.desc_label") %></td>
					<td><div class="div_left_icon">
							<%= text_area_tag("template-desc", "", class: "tinymce") %>
						</div>
						<div class="div_right_icon">
							<%= link_to( image_tag("help_button.png"), "#", :class => "template_desc_popover", :rel => "popover", "data-html" => "true", "data-content" => t("org_admin.template_desc_help_text_html"))%>
						</div>
					</td>
				</tr>
				
			</table>	
			<!-- submit buttons -->
			<div class="move_2_right">
				<%= f.submit t("helpers.submit.save"), :class => "btn btn-primary" %>
				<%= link_to t("helpers.submit.cancel"), admin_index_dmptemplate_path, :class => "btn cancel" %>
			</div>
			<br />
		<%end%>
	</div>
</div>
<%= tinymce :content_css => asset_path("application.css") %>							