<%# locals: result
  :result          - the object we will be rending (e.g. instance of a model, a hash, etc.)
%>

<% if result.present? %>
  <%= hidden_field_tag "research_output[repositories_attributes[#{result.id}][id]]", result.id %>

  <p><%= result.description %></p>

  <% unless selected %>
    <div class="tags">
      <% line_breaker = 0 %>
        <% result.info.fetch("keywords", []).each do |tag| %>
          <% if line_breaker >= 50 %>
            <% line_breaker = 0 %>
          <% end %>
          <% line_breaker += tag.length %>
          <div class="tag">
            <%= link_to tag, search_path, class: "facet",
                        title: _("Click to view repositories related to %{subject}") % { subject: tag },
                        data: {
                          remote: true,
                          params: { research_output: { search_term: tag } }.to_param,
                          method: search_method
                        } %>
          </div>
        <% end %>
    </div>
  <% end %>

  <div class="more-info more-info-<%= result.id %>">
    <%= link_to _("More info"), "#", class: "more-info-link" %>

    <div class="info d-none">
      <% info = result.info.with_indifferent_access %>
      <dl>
        <dt><%= _("Repository URL") %></dt>
        <dd>
          <%= link_to result.homepage, result.homepage, target: "_blank", class: "has-new-window-popup-info" %>
        </dd>

        <dt><%= _("Contact") %></dt>
        <dd>
          <% if result.contact.present? %>
            <%= link_to result.contact, "mailto:#{result.contact}" %>
          <% else %>
            <%= _("Unknown") %>
          <% end %>
        </dd>

        <dt><%= _("Data access") %></dt>
        <dd><%= result.info.fetch("access", _("Unknown")).humanize %></dd>

        <dt><%= _("Persistent identifier type") %></dt>
        <dd><%= result.info.fetch("pid_system", _("Unknown")) %></dd>

        <dt><%= _("Policies") %></dt>
        <dd>
          <ul>
            <% result.info.fetch("policies", [_("Unknown")]).uniq.each do |policy| %>
              <li><%= link_to policy["name"], policy["url"] %></li>
            <% end %>
          </ul>
        </dd>

        <dt><%= _("Data upload") %></dt>
        <dd>
          <% result.info.fetch("upload_types", [{ type: _("Unknown") }]).each do |upload_type| %>
            <%= upload_type.fetch("type", _("Unknown")).humanize %>: <%= upload_type["restriction"].gsub("registration", "").underscore.humanize %>
          <% end %>
        </dd>

        <dt><%= _("Provider type") %></dt>
        <dd><%= result.info.fetch("provider_types", [_("Unknown")]).map{ |item| item.underscore.humanize }.join(", ") %></dd>

        <dt><%= _("Repository type") %></dt>
        <dd><%= result.info.fetch("types", [_("Unknown")]).map(&:humanize).join(", ") %></dd>
      </dl>
    </div>
  </div>
<% end %>
