<%# locals: { note } %>
<% if !note.nil? %>
    <%= form_for(note, url: note_path(note), method: :put) do |f| %>
        <div class="form-control mb-3">
            <%= f.label(:text, _('Edit comment to share with collaborators')) %>
            <%= f.text_area(:text, class: 'form-control', id: "note-#{note.id}",
                            spellcheck: true) %>
        </div>
        <div class="float-end">
            <%= f.button(_('Save'), class: "btn btn-secondary", type: "submit") %>
            <%= f.button(_('Cancel'), class: "btn btn-secondary", type: "button") %>
        </div>
    <% end %>
<% end %>
