<%# locals: { question, answer, plan } %>
<%= form_for(Note.new, url: notes_path) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :question_id, value: question.id %>
  <%= f.hidden_field :answer_id, value: answer.id %>
  <%= f.hidden_field :plan_id, value: plan.id %>
  <div class="form-control mb-3">
    <%= f.label(:text, _('Add comments to share with collaborators')) %>
    <%= f.text_area(:text, class: 'form-control note', id: "note-#{question.id}",
                    spellcheck: true) %>
  </div>
  <div class="float-end">
    <%= f.button(_('Save'), class: "btn btn-secondary", type: "submit") %>
  </div>
<% end %>
