<p>
  <%= _('Hello %{username}') %{ username: @username } %>
</p>
<% if @user.perms.size > 0 %>
  <p>
    <%= _('You have been granted administrator privileges in %{tool_name}:') %{ tool_name: tool_name } %>
  </p>
  <p>
    <%= sanitize(@ul_list) %>
  </p>
<% else %>
  <p>
    <%= _('You have been revoked administrator privileges in %{tool_name}.') %{ tool_name: tool_name } %>
  </p>
<% end %>
<p>
  <%= sanitize _('More information about administering the %{tool_name} for users at your organisation is available at the %{help_url}.') % {
    tool_name: tool_name,
    help_url: link_to(_('Github'), Rails.configuration.x.application.admin_doc) }
  %>
</p>
<%= render partial: 'email_signature' %>
