<p>
  <%= _("Hello %{name},") %{
    name: @name }
    %>
</p>

<p>
  <%= _("Please use the following credentials when accessing the %{tool_name} API.") % {
    tool_name: tool_name }
    %>
</p>
<pre>
  <code>
    {
      "grant_type": "client_credentials",
      "client_id": "<%= @api_client.client_id %>",
      "client_secret": "<%= @api_client.client_secret %>"
    }
  </code>
</pre>

<p>
  <%= (_("Please refer to the API documentation at: %{api_documentation_url}") % {
    api_documentation_url: "<a href=\"#{@api_docs}\">#{@api_docs}</a>" }).html_safe
   %>
</p>

<p>
  <%= _("Do not share these credentials. They for use with the %{external_application} application. If you do share your credentials with another application we reserve the right to revoke your access to the API.") % {
    external_application: @api_client.name.capitalize }
  %>
</p>
<p>
  <%= _("If you did not request access to the %{tool_name} API or did not request for your credentials to be renewed, please contact us at %{helpdesk_email}") % {
   tool_name: tool_name, helpdesk_email: helpdesk_email }
   %>
 </p>

<%= render partial: 'light_email_signature' %>
