<p>
  <%= _('Hello %{user_name},') % {user_name: @recipient_name} %>
</p>
<p>
  <%= 
  sanitize _('%{requestor} has requested feedback on a plan %{link_html}. To add comments, please visit the \'Plans\' page under the Admin menu in %{tool_name} and open the plan.') % {
  requestor: @requestor_name,
  plan_name: @plan_name,
  tool_name: tool_name,
  allow_change_prefs: false,
  link_html: link_to(@plan_name, plan_url(@plan))
  } 
  %>
</p>

<p>
  <%= _('Alternatively, you can click the link below:') %>
  <br>
  <%= link_to plan_url(@plan), plan_url(@plan) %>
</p>

<%= render partial: 'email_signature', locals: { allow_change_prefs: false } %>
