<p>
  <% name = @user.active_invitation? ? @user.email : @user.name(false) %>
  <%= _('Hello %{user_name},') % {user_name: name} %>
</p>
<p>
  <%= sanitize(@message % {
    dmp_title: @plan.title,
    org_name: @sender.org.name,
    dmptool_url: link_to(ApplicationService.application_name, root_url),
    org_admin_email: @sender.org.contact_email
    }) %>
</p>

<p><%= _("Please sign in to the %{dmptool_url} to complete your DMP. Once you have logged in you will find the new DMP on your Dashboard.") % {
  dmptool_url: root_url
} %></p>

<br>
<p><%= _("Thank you,") %></p>
<p><%= _("The %{org_name} DMP Tool team") % { org_name: @sender.org.name } %></p>
<p><%= _("Please do not reply to this email. If you have any questions or need help, please contact us at %{org_admin_email}") % {
  org_admin_email: @sender.org.contact_email
} %></p>
