<p>
  <%= _("A new API registration has been created by %{user_name}") % { user_name: @name } %>
</p>

<p>
  <%= _("You can review the registration details by logging in and going to 'API Clients' page.") %>
</p>
<pre>
  <code>
    {
      "name": "<%= @api_client.name %>",
      "description": "<%= @api_client.description %>",
      "homepage": "<%= @api_client.homepage %>",
      "contact": "<%= @api_client.contact_name %> - <%= @api_client.contact_email %>",
      "redirect_uri": "<%= @api_client.redirect_uri %>",
      "scopes": "<%= @api_client.scopes %>"
    }
  </code>
</pre>

<% unless @api_client.redirect_uri.present? %>
  <p><%= _("The user did not provide a redirect_uri which means that they are not planning to use OAuth to acquire a user's permission to access data. They will only be able to use the API to access public data.") %></p>
<% end %>

<p>
  <%= _("You can deactivate these credentials if necessary or email the designated contact for additional info.") %>
</p>

<%= render partial: 'email_signature' %>
