<p><%= _('Hello ') %><%= @user.name(false) %>,</p>
<p><%= _('Your access to ') %>"<%= @plan.title %>"<%= _(' has been removed by ') %><%= "#{@current_user.name(false)}"%>.</p>
<%= render partial: 'email_signature' %>
