<p>
  <%= _('Hello %{username}') %{ username: @username } %>
</p>
<p>
  <%= _('The plan %{plan_title} had its visibility changed to %{plan_visibility}.') %{
    plan_title: @plan_title, plan_visibility: @plan_visibility } %>
</p>
<p>
  <%= _('Visibility definitions:') %>
  <ul>
    <li><%= _('Private: restricted to me and my collaborators') %></li>
    <li><%= _('Administrator: visible to me, specified collaborators and administrators at my organisation') %></li>
    <li><%= _('Organisation: anyone at my organisation can view') %></li>
    <li><%= _('Public: anyone can view on the web') %></li>
  </ul>
</p>
<%= render partial: 'email_signature' %>
