<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <%= _('Name') %>&nbsp;<%= paginable_sort_link('static_pages.name') %>
      </th>
      <th>
        <%= _('URL') %>&nbsp;<%= paginable_sort_link('static_pages.url') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% scope.each do |static_page| %>
      <tr>
        <td>
          <%= link_to static_page.name, edit_super_admin_static_page_path(static_page) %>
        </td>
        <td>
          <%= link_to static_page.url, static_path(static_page.url) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>