<div class="row">
  <div class="col-md-12">
    <h1><%= _("Sign up to view the DMP") %></h1>
    <p><%= _("You will need to create an account in order to accept your invitation to view the data management plan (DMP).") %></p>
  </div>
</div>

<%
url = invitation_path(resource_name)
url = user_shibboleth_omniauth_authorize_path if auth_shibbolized_org?
%>

<div class="col-md-6">
  <%= form_for resource, as: resource_name, url: url, html: {method: :put, id: "invitation_create_account_form"} do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :invitation_token %>


    <%= render partial: "users/registrations/form", locals: { form: f, url: url } %>
  <% end %>
</div>
