<% if Rails.configuration.x.shibboleth.enabled %>
  <%# If you host your own Shibboleth service provider and want to restrict the user to specific
      organizations then use this option. When this option is enabled, a new field will appear on the
      Admin -> Orgs pages that allow you to specify a Shibboleth entityID for the Org. This value is
      then passed to your Shibboleth SP who then looks up the location of the institution's IdP and
      redirects them for SSO. %>
  <% if Rails.configuration.x.shibboleth.use_filtered_discovery_service %>
    <%= form_for Org.new, url: shibboleth_ds_path, method: :post do |f| %>
      <div id="shib-ds-org-controls" class="row">
        <div class="form-group col-md-12">
          <%= render partial: "shared/org_autocomplete",
                     locals: { form: f,
                               default_org: nil,
                               known_only: true,
                               managed_only: true,
                               required: true,
                               label: _("Sign in with your institutional credentials") } %>
        </div>
      </div>
      <%= button_tag _('Go'), class: "btn btn-default", id: "org-select-go" %>
    <% end %>
  <% else %>
    <%# If you do not host your own Shibboleth Service provider then you can delegate this functionality
        to a third party discovery service like the UK federation, Australian federation, InCommon, etc.  %>
    <% if session['devise.shibboleth_data'].nil? %>
      <div class="form-group">
        <span class="center-block btn-group-justified">
          <% target = user_shibboleth_omniauth_authorize_path %>
          <%= link_to _('Sign in with your institutional credentials'), target, method: :post, class: 'btn btn-default' %>
        </span>
      </div>
    <% else %>
      <%= f.hidden_field :shibboleth_id, :value => session['devise.shibboleth_data']['uid'] %>
    <% end %>
  <% end %>
<% end %>
