<%# locals label, namespace, facets

Expecting :facets to be an array of hashes like:
  [
    { "123": { "label": "Example University", "nbr_plans": 34, "selected": false } }
  ]
Where "123" is the :id of the 'Example University' Org
%>
<section class="c-facet js-facet">
  <% keys = facets.keys %>
  <header>
    <h3><%= '%<label>s (%<nbr_items>s)' % { label: label, nbr_items: keys.length } %></h3>
    <button type="button" class="c-facet__toggle-list js-facet__toggle-list" aria-label="filters"
            aria-expanded="false"><i class="fas fa-plus"></i></button>
  </header>

  <ul class="c-facet__list js-facet__list" hidden>
    <% keys[0..4].each do |id| %>
      <% hash = facets[id] %>
      <li>
        <input type="checkbox"<%= hash[:selected]&.downcase == 'true' ? ' checked' : '' %>
               id="facet_<%= namespace.underscore %>_ids_<%= id %>"
               name="facet[<%= namespace.underscore %>_ids][]" value="<%= id %>">

        <label for="facet_<%= namespace.underscore %>_ids_<%= id %>">
          <%= hash[:label] %> <span class="c-facet__item-total js-facet__item-total">(<%= hash[:nbr_plans] %>)</span>
        </label>
      </li>
    <% end %>
    <% if keys.length > 5 %>
      <li>
        <details class="c-more">
          <summary><%= _('Show more') %></summary>
          <ul>
          <% keys[5..facets.length].each do |id| %>
            <% hash = facets[id] %>
            <li>
              <input type="checkbox"<%= hash[:selected]&.downcase == 'true' ? ' checked' : '' %>
                     id="facet_<%= namespace.underscore %>_ids_<%= id %>"
                     name="facet[<%= namespace.underscore %>_ids][]" value="<%= id %>">

              <label for="facet_<%= namespace.underscore %>_ids_<%= id %>">
                <%= hash[:label] %> <span class="c-facet__item-total js-facet__item-total">(<%= hash[:nbr_plans] %>)</span>
              </label>
            </li>
          <% end %>
          </ul>
        </details>
      </li>
    <% end %>
  </ul>
</section>