<div id="modal-define-custom-repository"
     class="modal fade modal-search"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal-search-label"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <%= button_tag "X", type: "button", class: "close",
                       data: { dismiss: "modal" },
                       aria: { label: _("Close") } %>
        <h3><%= _('Define a Custom Repository for Template') %> <%= template.title %></h3>
      </div>

      <div class="modal-body">
        <%= form_for(template, url: define_custom_repository_org_admin_template_path(template), method: :put) do |f| %>
                <div class="row">
                    <div class="form-group col-xs-8">
                        <%= f.label(:custom_repo_name, _('Name'), class: 'control-label') %>
                        <%= f.text_field(:custom_repo_name,
                            class: "form-control custrepo",
                            value: "",
                            "aria-required": true) %>
                    </div>
                </div>
                <div class="row">
                     <div class="form-group col-xs-8">
                        <%= f.label(:custom_repo_uri, _('URL'), class: 'control-label') %>
                        <%= f.url_field(:custom_repo_uri,
                            class: "form-control custrepo",
                            value: "",
                            "aria-required": true) %>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-8">
                        <%= f.label(:custom_repo_description, _('Description'), class: 'control-label') %>
                        <%= f.text_area(:custom_repo_description,
                            class: "form-control custrepo",
                            value: "",
                            "aria-required": true) %>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-8">
                            <%= f.button _("Save Repository for Template"), class: "btn btn-default",
                                id: 'save_custom_repository', disabled: true %>
                    </div>
                </div>
       <% end %>
      </div>
    </div>
  </div>
</div>