<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-8"><%= _('Institution') %>&nbsp;<%= paginable_sort_link('orgs.name') %></th>
        <th class="col-md-2 text-center"><%= _('Institutional Signin Enabled') %></th>
      </tr>
    </thead>  
    <tbody>
      <% scope.each do |org| %>
        <tr>
          <td><%= org.name %></td>
          <td class="text-center"><i class="fa <%= org.shibbolized? ? 'fa-check' : '' %>"></i></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>