<%# locals: user %>

<% api_wikis = Rails.configuration.x.application.api_documentation_urls %>
<div id="api-token" class="col-xs-12">
  <div class="form-group col-xs-8">
    <%= label_tag(:api_token, _('Access token'), class: 'control-label') %>
    <% if user.api_token.present? %>
      <%= user.api_token %>
    <% else %>
      <%= _("Click the button below to generate an API token") %>
    <% end %>
  </div>
  <div class="form-group col-xs-12">
    <%= label_tag(:api_information, _('Documentation'), class: 'control-label') %>
    <br>
    <%= _('See the <a href="%{api_v0_wiki}">documentation for v0</a> for more details on the original API which includes access to statistics, the full text of plans and the ability to connect users with departments.').html_safe % { api_v0_wiki: api_wikis[:v0] } %></a>
    <br><br>
    <%= _('See the <a href="%{api_v1_wiki}">documentation for v1</a> for more details on the API that supports the <a href="%{rda_standard_url}">RDA Common metadata standard for DMPs.</a>').html_safe % { api_v1_wiki: api_wikis[:v1], rda_standard_url: 'https://github.com/RDA-DMP-Common/RDA-DMP-Common-Standard' } %></a>
  </div>
  <div class="form-group col-xs-8">
    <%= link_to _("Regenerate token"),
                refresh_token_user_path(user),
                class: "btn btn-default", remote: true %>
  </div>
</div>

<% tokens = user.access_tokens.select { |token| token.revoked_at == nil } %>
<% if tokens.any? %>
  <div id="api-integrations" class="col-xs-12">
    <h2>Authorized applications / websites</h2>

    <div class="table-responsive">
      <table class="table table-hover" id="oauth_credential_tokens">
        <thead>
          <tr>
            <th scope="col" class="text-center"><%= _('Application') %></th>
            <th scope="col" class="text-center"><%= _('Activities') %></th>
            <th scope="col" class="text-center"><%= _('Authorization Date') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% tokens.each do |token| %>
            <% api_client = ApiClient.find_by(id: token.application_id) %>
            <td>
              <% if api_client.homepage.present? %>
                <%= link_to api_client.name.humanize, api_client.homepage, target: "_blank" %>
              <% else %>
                <%= api_client.name.humanize %>
              <% end %>
            </td>
            <td>
              <%= token.scopes.map { |scope| scope.humanize.gsub("dmp", "DMP") }.join(", ") %>
            </td>
            <td><%= l(token.created_at.to_date, formats: :short) %></td>
            <td><%= link_to _('Revoke'), oauth_revoke_access_token_path(user, token), method: :delete %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
