<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: "roadmap-form white_background"}) do |f| %>
  <fieldset class="side-by-side">
    <legend><%= _('If you would like to change your password please complete the following fields.') %></legend>

    <%= hidden_field_tag :skip_personal_details, "true" %>

    <div class="form-input">
      <label for="user_current_password"><%= _('Current Password') %></label>
      <input type="password" id="user_current_password" name="user[current_password]"
             class="left-indent required input-medium" value="" />
      <span role="" id="current_password_error"
            class="error-tooltip-right left-indent"></span>
    </div>

    <div class="form-input">
      <label for="user_password"><%= _('New Password') %></label>
      <input type="password" id="user_password" name="user[password]"
             class="left-indent required input-medium" value="" />
      <span role="" id="password_error"
            class="error-tooltip-right left-indent"></span>
    </div>

    <div class="form-input">
      <label for="user_password_confirmation"><%= _('Password Confirmation') %></label>
      <input type="password" id="user_password_confirmation"
             name="user[password_confirmation]"
             class="left-indent required input-medium" value="" />
      <span role="" id="password_confirmation_error"
            class="error-tooltip-right left-indent"></span>
    </div>

    <div class="form-input">
      <label for="password_show"><%= _('Show passwords') %></label>
      <input type="checkbox" id="password_show" class="left-indent" />
    </div>
    
    <br />
    <div class='form-input'>
      <label></label>
      <%= render partial: 'shared/accessible_submit_button',
                 locals: {id: 'update',
                          val: 'Save',
                          disabled_initially: false,
                          classes: 'small-input-button left-indent',
                          tooltip: _('Enter all of the required information above')} %>
    </div>
  </fieldset>
<% end %>