<%= form_for(resource, as: resource_name, url: registration_path(resource_name,  tab: 'password-details-tab'), html: {method: :put, class: "roadmap-form white_background"}) do |f| %>
  <fieldset class="side-by-side">
    <legend><%= _('If you would like to change your password please complete the following fields.') %></legend>

    <%= hidden_field_tag :skip_personal_details, "true" %>

    <div class="form-input">
      <%= f.label(:current_password, _('Current Password'), class: 'required') %>
      <%= f.password_field(:current_password, class: 'left-indent required input-medium') %>
      <span role="" id="current_password_error"
            class="error-tooltip-right left-indent"></span>
    </div>

    <div class="form-input">
      <%= f.label(:password, _('New Password'), class: 'required') %>
      <%= f.password_field(:password, class: 'left-indent required input-medium', id: 'user_new_password') %>
      <span role="" id="password_error"
            class="error-tooltip-right left-indent"></span>
    </div>

    <div class="form-input">
      <%= f.label(:password_confirmation, _('Password Confirmation'), class: 'required') %>
      <%= f.password_field(:password_confirmation, class: 'left-indent required input-medium') %>
      <span role="" id="password_confirmation_error"
            class="error-tooltip-right left-indent"></span>
    </div>

    <div class="form-input">
      <%= label_tag(:password_show, _('Show passwords')) %>
      <%= check_box_tag(:password_show, "1", false, class: 'left-indent') %>
    </div>
    
    <br />
    <div class='form-input'>
      <div class="button-spacer">&nbsp;</div>
      <%= render partial: 'shared/accessible_submit_button',
                 locals: {id: 'update',
                          val: 'Save',
                          disabled_initially: false,
                          classes: 'small-input-button left-indent',
                          tooltip: _('Enter all of the required information above')} %>
    </div>
  </fieldset>
<% end %>