<%= form_for(resource, namespace: current_user.id, as: resource_name, url: registration_path(resource_name), html: {method: :put, id: 'personal_details_registration_form' }) do |f| %>
  <p class="form-control-static">
    <%= sanitize _("Please note that your email address is used as your username. If you change this, remember to use your new email address on sign in.") %>
  </p>

  <p class="form-control-static"><%= _('You can edit any of the details below.') %></p>
  <%= hidden_field_tag :unlink_flag, "false", id: 'unlink_flag' %>

  <div class="form-control mb-3 col-sm-8">
    <%= f.label(:email, _('Email'), class: 'form-label') %>
    <%= f.email_field(:email, class: "form-control", "aria-required": true, value: @user.email) %>
    <%= hidden_field_tag :original_email, @user.email %>
  </div>

  <div class="form-control mb-3 col-sm-8">
    <%= f.label(:firstname, _('First name'), class: 'form-label') %>
    <%= f.text_field(:firstname, class: "form-control", "aria-required": true, value: @user.firstname) %>
  </div>

  <div class="form-control mb-3 col-sm-8">
    <%= f.label(:surname, _('Last name'), class: 'form-label') %>
    <%= f.text_field(:surname, class: "form-control", "aria-required": true, value: @user.surname) %>
  </div>

  <% org_admin = (current_user.can_org_admin? && !current_user.can_super_admin?) %>
  <div class="form-control mb-3 col-sm-8" id="profile-org-controls" <%= "data-toggle=\"tooltip\" title=\"#{_('Changing your organisation will result in the loss of your administrative privileges.')}\"" if org_admin %>>
    <%= render partial: org_partial,
               locals: {
                 form: f,
                 orgs: orgs,
                 default_org: current_user.org,
                 required: true
               } %>
  </div>
  <% if org_admin %>
    <input type="hidden" id="original_org" value="<%= @user.org_id %>">
  <% end %>

    <% departments = current_user.org.departments.order(:name) %>
    <% if departments.count > 0 %>
    <div class="form-control mb-3 col-sm-8">
      <% dept_id = current_user.department.nil? ? -1 : current_user.department.id  %>
      <%= f.label(:department_id, _('Department or school'), class: 'form-label') %>
      <%= select_tag("user[department_id]",
          options_from_collection_for_select(departments, "id", "name", dept_id),
          include_blank: true,
          disabled: departments.count === 0,
          class: "form-control") %>
    </div>
    <% end %>

  <% if Language.many? %>
    <div class="form-control mb-3 col-sm-8">
      <% lang_id = current_user.language.nil? ? Language.default.id : current_user.language.id %>
      <%= f.label(:language_id, _('Language'), class: 'form-label') %>
      <%= select_tag("user[language_id]",
          options_from_collection_for_select(@languages, "id", "name", lang_id),
          class: "form-control") %>
    </div>
  <% end %>

  <% if current_user.can_org_admin? %>
    <div class="form-control mb-3 col-sm-8">
      <label><%= _('My privileges') %></label>
      <p><%= (current_user.can_super_admin? ? _('Super Admin') : _('Organisational Admin')) %></p>
    </div>
  <% end %>

  <% @identifier_schemes.each do |scheme| %>
    <div class="form-control mb-3 col-sm-8">
      <% if scheme.name.downcase == 'shibboleth' %>
        <label class='form-label'>
          <span class="aria-only" aria-hidden="false"><%= _('Institutional credentials') %></span>
        </label>
      <% elsif scheme.name.downcase == 'orcid' %>
        <%= label_tag(:scheme_name, 'ORCID', class: 'form-label') %>
      <% else %>
        <%= label_tag(:scheme_name, scheme.name.capitalize, class: 'form-label') %>
      <% end %>

      <div class='identifier-scheme'>
        <%= render partial: "external_identifier",
                   locals: { scheme: scheme,
                             id: current_user.identifier_for(scheme.name)} %>
      </div>
    </div>
  <% end %>

  <div class="form-control mb-3 col-sm-8">
    <%= f.button(_('Save'), class: 'btn btn-secondary', type: "submit", id: "personal_details_registration_form_submit") %>
  </div>

  <%= render partial: 'password_confirmation', locals: {f: f} %>

<% end %>
