<% title _('Edit profile') %>
<div class="row">
  <div class="col-md-12">
    <h1><%= _('Edit profile') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="personal-details" class="nav-item active">
          <a href="#personal-details" role="tab" class="nav-link"
             aria-controls="personal-details" data-toggle="tab"><%= _('Personal Details') %></a>
        </li>
        <li role="password-details" class="nav-item">
          <a href="#password-details" role="tab" class="nav-link"
             aria-controls="password-details" data-toggle="tab"><%= _('Password') %></a>
        </li>
        <% if @user.can_org_admin? %>
          <li role="api-details" class="nav-item">
            <a href="#api-details" role="tab" class="nav-link"
               aria-controls="api-details" data-toggle="tab"><%= _('API Access') %></a>
          </li>
        <% end %>
        <li role="notification-preferences" class="nav-item">
          <a href="#notification-preferences" role="tab" class="nav-link"
             aria-controls="notification-preferences" data-toggle="tab"><%= _('Notification Preferences') %></a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="personal-details" role="tabpanel" class="tab-pane active">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= render partial: 'devise/registrations/personal_details', locals: {orgs: @orgs, org_partial: @org_partial} %>
            </div>
          </div>
        </div>
        <div id="password-details" role="tabpanel" class="tab-pane">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= render partial: 'devise/registrations/password_details' %>
            </div>
          </div>
        </div>
        <% if @user.can_org_admin? %>
          <div id="api-details" role="tabpanel" class="tab-pane">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= render partial: 'devise/registrations/api_token', locals: { user: @user } %>
              </div>
            </div>
          </div>
        <% end %>
        <div id="notification-preferences" role="tabpanel" class="tab-pane">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= render partial: 'users/notification_preferences' %>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
