<%# locals: { fragment, parameters, template_locale } %>

<% if parameters.is_a?(Array) %>
    <% parameters.each do |param|
        disabled = param["oneshot"] && fragment.additional_info["runned_scripts"][param["script_id"].to_s].present?
    %>
        <%= render(partial: 'shared/dynamic_form/codebase/run_button', locals: { 
            fragment_id: fragment.id,
            label: param["label@#{template_locale}"],
            ttip: param["tooltip@#{template_locale}"],
            script_id: param["script_id"],
            disabled: disabled
        }) %>
    <% end %>
<% else %>
    <% disabled =  parameters["oneshot"] && fragment.additional_info["runned_scripts"][parameters["script_id"].to_s].present? %>
    <%= render(partial: 'shared/dynamic_form/codebase/run_button', locals: { 
        fragment_id: fragment.id,
        label: parameters["label@#{template_locale}"],
        ttip: parameters["tooltip@#{template_locale}"],
        script_id: parameters["script_id"],
        disabled: disabled
        }) %>
<% end %>
<div class="loading-zone">
    <div class="spinner"></div> <%= _('Loading ...') %>
</div>
<button class="btn btn-secondary reload-button" type="button">
    <%= d_('dmpopidor', 'Reload') %>
</button>
<span class="message-zone"><%= d_('dmpopidor', 'New data have been added to your plan, please click on the "Reload" button.') %></span>