<div class="row">
  <div class="col-md-12">
    <h1>Organizational Admin Preferences</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!-- render navigation tabs for the template-->
    <%= render partial: "org_admin/templates/navigation",
               locals: { template: template } %>
  </div>
</div>

<h2>Research Outputs</h2>
<div class="row">
  <div class="col-md-12">
    <%= form_for(template, url: {action: :save_preferences}, html: { 'data-method': :patch }) do |f| %>
      <div class="form-group">
        <%= f.check_box :enable_research_outputs, style: 'width: auto' %>
        <%= f.label :enable_research_outputs, _('Enable research outputs tab?'), class: 'control-label' %>
      </div>
      <div class="form-group">
        <%= f.submit _('Save Research Outputs Preferences'), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="define_output">Define output types:</label>
    <div>
      <select id="define_output">
        <option>Use defaults</option>
        <option>Use mine</option>
        <option>Add mine to defaults</option>
      </select>
    </div>
    <div><output style="display:inline">Proteomics</output><a>❌</a></div>
    <div><output style="display:inline">Sensor (wearable)</output><a>❌</a></div>
    <div><button>Add an output type</button></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="research_output_guidance">Research Output End User Guidance</label>
    <textarea id="research_output_guidance" rows="3" cols="80" style="display:block"></textarea>
  </div>
</div>


<h2>Preferred repositories</h2>
<div class="row">
  <div class="col-md-12">
    <input type="checkbox" id="require_repo"/>
    <label for="require_repo">Require reserachers to select from this list?</label>
    <div><output style="display:inline">Adjusted and Homogenized Canadian Climate Data</output><a>Remove</a></div>
    <div><button>Add a repository</button></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="repositories_guidance">Repositories End User Guidance</label>
    <textarea id="repositories_guidance" rows="3" cols="80" style="display:block"></textarea>
  </div>
</div>

<h2>Preferred metadata standards</h2>
<div class="row">
  <div class="col-md-12">
    <input type="checkbox" id="require_meta"/>
    <label for="require_meta">Require reserachers to select from this list?</label>
    <div><output style="display:inline">Observ-OM</output><a>Remove</a></div>
    <div><button>Add a metadata standard</button></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="metadata_guidance">Metadata Standards End User Guidance</label>
    <textarea id="metadata_guidance" rows="3" cols="80" style="display:block"></textarea>
  </div>
</div>

<h2>Preferred licenses</h2>
<div class="row">
  <div class="col-md-12">
    <div>
      <select id="define_license">
        <option>Use defaults</option>
        <option>Use mine</option>
        <option>Add mine to defaults</option>
      </select>
    </div>
    <div><output style="display:inline">CC0 - 1.0</output><a>❌</a></div>
    <div><output style="display:inline">BSD - 3 - Clause</output><a>❌</a></div>
    <div>
      <select id="licenses">
        <option>MIT</option>
      </select>
      <button>Add license</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="licencse_guidance">Licenses End User Guidance</label>
    <textarea id="license_guidance" rows="3" cols="80" style="display:block"></textarea>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <button>Save</button>
  </div>
</div>