<div class="row">
  <div class="col-md-12">
    <h1>Template Preferences</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!-- render navigation tabs for the template-->
    <%= render partial: "org_admin/templates/navigation",
               locals: { template: template } %>
  </div>
</div>

<%= form_for(template, url: {action: :save_preferences}, html: { 'data-method': :patch }) do |f| %>
<h2>Research Outputs</h2>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.check_box :enable_research_outputs, style: 'width: auto' %>
      <%= f.label :enable_research_outputs, _('Enable research outputs tab?'), class: 'control-label' %>
    </div>
  </div>
</div>

<h2>Output Types</h2>
<div class="row">
  <div class="col-md-3">
    <label for="define_output">Define output types:</label>
    <div>
     <%= select_tag 'customize_output_types_sel', options_for_select(select_override_options, template.customize_output_types ? '1' : '0') %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="selectable_items" id="default-output-types">
    <fieldset class="selectable_items">
      <legend>Default Output Types</legend>
      <ul>
        <% output_types.keys.each do |ot|%>
          <li class="output_type selectable_item">
            <span class="selectable_item_label"><%= ot.humanize %></span>
          </li>
        <% end %>
      </ul>
    </fieldset>
    </div>
    <div class="selectable_items" id="my-output-types" >
    <fieldset class="selectable_items">
      <legend>My Output Types</legend>
        <ul>
        </ul>
      <div><input id="new_output_type" type="text"/> <button id="add_output_type">Add an output type</button></div>
    </fieldset>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
        <%= f.label(:user_guidance_output_types, _('End User Guidance for Research Outputs')) %>
        <%= f.text_area(:user_guidance_output_types,
            class: "form-control tinymce",
            rows: 4) %>
    </div>
  </div>
</div>

<h2>Preferred repositories</h2>
<div class="row">
  <div class="col-md-12">
    <%= f.check_box :customize_repositories, style: 'width: auto' %>
    <%= f.label :customize_repositories, _('Require reserachers to select from this list?'), class: 'control-label' %>
    <div><output style="display:inline">Adjusted and Homogenized Canadian Climate Data</output><a>Remove</a></div>
    <div><button disabled style="color: gray">Add a repository</button></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
        <%= f.label(:user_guidance_repositories, _('End User Guidance for Repositories')) %>
        <%= f.text_area(:user_guidance_repositories,
            class: "form-control tinymce",
            rows: 4) %>
    </div>
  </div>
</div>

<h2>Preferred metadata standards</h2>
<div class="row">
  <div class="col-md-12">
    <%= f.check_box :customize_metadata_standards, style: 'width: auto' %>
    <%= f.label :customize_metadata_standards, _('Require reserachers to select from this list?'), class: 'control-label' %>
    <div><output style="display:inline">Observ-OM</output><a>Remove</a></div>
    <div><button disabled style="color: gray">Add a metadata standard</button></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
        <%= f.label(:user_guidance_metadata_standards, _('End User Guidance for Metadata Standards')) %>
        <%= f.text_area(:user_guidance_metadata_standards,
            class: "form-control tinymce",
            rows: 4) %>
    </div>
  </div>
</div>


<h2>Preferred licenses</h2>
<div class="row">
  <div class="col-md-12">
    <div>
      <%
        opts = [
          ['Use defaults', '0'],
          ['Use mine', '1'],
        ]
        opt = template.customize_licenses ? '1' : '0'
      %>
      <%= select_tag 'customize_licenses_sel', options_for_select(opts, opt) %>
    </div>
    <div><output style="display:inline">CC0 - 1.0</output><a>❌</a></div>
    <div><output style="display:inline">BSD - 3 - Clause</output><a>❌</a></div>
    <div>
      <select id="licenses" disabled>
        <option>MIT</option>
      </select>
      <button disabled style="color: gray">Add license</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
        <%= f.label(:user_guidance_licenses, _('End User Guidance for Licences')) %>
        <%= f.text_area(:user_guidance_licenses,
            class: "form-control tinymce",
            rows: 4) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.submit _('Save Preferences'), class: "btn btn-primary" %>
    </div>
  </div>
</div>

<% end %>