<% schema = @fragment.structured_data_schema %>
<%= form_for @fragment, html: { remote: true } do |f| %>
  <div class="form-group">
      <% schema.schema['properties'].each do |key, prop| %>
          <% value = @fragment.data[key] unless @fragment.data.nil? %>
          <% case prop['type'] %>
              <% when 'string' %>
                  <%= create_text_field(f, value, key, prop['label']) %>
              <% when 'integer' %>
                  <%= create_number_field(f, value, key, prop['label']) %>
              <% when 'boolean' %>
                  <%= create_checkbox_field(f, value, key, prop['label']) %>
              <% when 'array' %>
                <%= render(partial: 'shared/dynamic_form/fields/simple_multiple_field', locals:
                { f: f, field_values: value,
                field_properties: prop,
                field_name: key }) %>
          <% end %>
      <% end %>
      <%= f.hidden_field :schema_id, value: schema.id %>
      <%= f.hidden_field :parent_form_id, value: nil, id: 'parent_form_id' %>
      <%= f.hidden_field :parent_form_index, value: nil, id: 'parent_form_index' %>
      <%= f.button(_('Save'), class: 'btn btn-default sub-fragment-submit', type: 'submit') %>
  </div>
  <script>
    $(document).ready(() => {
        $('#new_structured_answer').bind('ajax:success', (e, res) => {
            $('#sub-fragment-modal').modal({ show: false });
            const parentFormId = $('#parent_form_id').val();
            const parentFormIndex = $('#parent_form_index').val();
            const field = $(document).find(`div[class=field][for=${parentFormId}][index=${parentFormIndex}]`);
            const input = field.find('#children_id');
            // const field = $(document).find(`field[for=${parentFormId}][index=${parentFormIndex}]`);
            input.val(res['id']);
        });
    });
  </script>
<% end %>