<%
  email_subject = email_subject || _('Query or feedback related to %{tool_name}') %{ tool_name: tool_name }
  allow_change_prefs = allow_change_prefs.nil? ? true : allow_change_prefs

  # Override the default Rails route helper for the contact_us page IF an alternate contact_us url was defined
  # in the dmproadmap.rb initializer
  contact_us = Rails.configuration.x.organisation.contact_us_url || contact_us_url
%>
<p>
  <%= _('All the best') %>
  <br />
  <%= _('The %{tool_name} team') %{ tool_name: tool_name} %>
</p>
<p>
  <% if allow_change_prefs %>
    <%= _('You may change your notification preferences on your profile page. ') %>
  <% end %>
  <%= _('Please do not reply to this email.') %>
  <%= sanitize(_('If you have any questions or need help, please contact us at %{helpdesk_email} or visit %{contact_us}') % {
    helpdesk_email: mail_to(@helpdesk_email, @helpdesk_email,
                      subject: email_subject),
    contact_us: link_to(contact_us, contact_us)
  }) %>
</p>
