<p>
  <%= _('All the best') %>
  <br />
  <%= _('The %{tool_name} team') %{:tool_name => tool_name} %>
</p>
<p>
  <% if allow_change_prefs %>
    <%= _('You may change your notification preferences on your profile page. ') %>
  <% end %>
  <%= _('Please do not reply to this email.') %>
  <%= sanitize(_('If you have any questions or need help, please contact us at %{helpdesk_email_link} or visit %{contact_us_link}') % {
    helpdesk_email_link: mail_to(helpdesk_email, helpdesk_email,
                                 subject: message.subject),
    contact_us_link: link_to(contact_us_url, contact_us_url)
  }) %>
</p>
