<p><%= _('Hello ') %><%= @user.name %></p>

<p>
  <%= _('You have not signed in since %{last_sign_in_date} and our system will deactivate your account at %{end_date}') % { :last_sign_in_date => @user.last_sign_in_at.to_date, :end_date => @end_date } %>.
  <%= _('All accounts inactive for 5 years are automaticaly deactivated. If you want your account to remain active, please just sign in before %{end_date}') % { :end_date => @end_date } %>.
</p>

<%= render partial: 'email_signature' %>
  