<p>
  <%= _('Hello %{user_name}') %{ user_name: @user_name } %>
</p>
<p>
  <%= _('%{commenter_name} has commented on your plan %{plan_title}. To view the comments, '\
  'follow the link to the DMP below, or navigate to the plan via My Dashboard page in %{tool_name}.') \
  %{ commenter_name: @commenter_name, plan_title: @plan_title, tool_name: tool_name } %>
</p>
<p>
  <%=  _('Below is a summary of the sections and questions which have comments.') %>
  <%= _('You can see the comments in the right-hand panel, '\
    'adjacent to the guidance for each question.') %>
</p>
<p>
  <%= _('DMP: %{phase_link}') %{ phase_link: @phase_link }  %>
</p>
<p>
  <%= _('Section name: %{section_title}') %{ section_title: @section_title } %>
</p>
<p>
  <%= _('Question: %{question_number}') %{ question_number: @question_number } %>
</p>

<%= render partial: 'email_signature' %>
