<p>
  <%= _('An error has been reported from %{tool_name}') %{ tool_name: tool_name } %>
</p>
<p>
  <%= sanitize(@message.to_s) %>
</p>
<p>
  <%= _('All the best') %>
  <br />
  <%= _('The %{tool_name} team') %{ tool_name: tool_name} %>
</p>
<p>
  <%= _('You may change your notification preferences on your profile page.') %>&nbsp;<%= _('Please do not reply to this email.') %>
</p>
