<%
  tool_name = Rails.configuration.branding[:application][:name]
  username = @user.name
  plan_title = @plan.title
  plan_visibility = Plan.visibility_message(@plan.visibility.to_sym)
  helpdesk_email = Rails.configuration.branding[:organisation][:helpdesk_email]
  contact_us_url = Rails.configuration.branding[:organisation][:contact_us_url]
  email_subject = _('Query or feedback related to %{tool_name}') %{ :tool_name => tool_name }
%>
<% FastGettext.with_locale FastGettext.default_locale do %>
  <p>
    <%= _('Hello %{username}') %{ :username => username } %>
  </p>
  <p>
    <%= _('The plan %{plan_title} had its visibility changed to %{plan_visibility}.') %{ :plan_title => plan_title, :plan_visibility => plan_visibility } %>
  </p>
  <p>
    <%= _('Visibility definitions:') %>
    <ul>
      <li><%= _('Private: restricted to me and my collaborators') %></li>
      <li><%= _('Organisation: anyone at my organisation can view') %></li>
      <li><%= _('Public: anyone can view on the web') %></li>
    </ul>
  </p>
  <p>
    <%= _('If you have questions pertaining to this action, please visit the My Dashboard page in %{tool_name}' %{ :tool_name => tool_name }) %>
  </p>
  <p>
    <%= _('All the best') %>
    <br />
    <%= _('The %{tool_name} team') %{ :tool_name => tool_name } %>
  </p>
  <p>
    <%=  _('You may change your notification preferences on your profile page.') %>&nbsp;<%= _('Please do not reply to this email.') %>&nbsp;<%= raw(_('If you have any questions or need help, please contact us at %{helpdesk_email} or visit %{contact_us_url}') %{ :helpdesk_email => mail_to(helpdesk_email, helpdesk_email, subject: email_subject), :contact_us_url => link_to(contact_us_url, contact_us_url) }) %>
  </p>
<% end %>