<% FastGettext.with_locale FastGettext.default_locale do %>
  <p>
    <%= _('Welcome to %{tool_name}, %{user_name}') % {
      tool_name: tool_name,
      user_name: @user.name(false) } %>
  </p>
  <p>
    <%= sanitize(_('%{tool_name} will help you to develop your Data Management Plan. If you have any queries or feedback as you use the tool, please contact us at %{helpdesk_email_link} or visit %{contact_us}') % {
      tool_name: tool_name,
      helpdesk_email_link: mail_to(helpdesk_email, helpdesk_email,
                              subject: _('Query or feedback related to %{tool_name}') % {
                                tool_name: tool_name }),
      contact_us: link_to(contact_us_url, contact_us_url)
      }) %>
  </p>
  <p>
    <%= _('All the best') %>
    <br />
    <%= _('The %{tool_name} team') % { tool_name: tool_name } %>
  </p>
  <p>
    <%= _('You may change your notification preferences on your profile page.') %>
    &nbsp;
    <%= _('Please do not reply to this email.') %>
  </p>
<% end %>
