<%# locals: user_count, plan_count, separators %>

<div class="row">
    <div class="col-md-2">
      <i class="fas fa-users f-large"></i>
      <p class="fontsize-h4"><%= user_count.to_i %> <%= _('Total users') %></p>
    </div>
    <div class="col-md-2 pe-1">
      <i class="fas fa-files f-large"></i>
      <p class="fontsize-h4"><%= plan_count.to_i %> <%= _( 'Total plans') %></p>
      <%= form_tag('/usage', method: :get, id: :filter_plans_form) do |f| %>
        <%= label_tag :filtered, class: 'form-label' do %>
          <%= check_box_tag(:filtered, "true", @filtered)  %>
          <%=  _("Excluding Test Plans") %>
        <% end %>
      <% end %>
    </div>
  <% if @funder.present? %>
    <div class="col-md-3"></div>
  <% end %>
  <% unless current_user.can_super_admin? %>
    <div class="col-md-3"></div>
  <% end %>
  <div class="col-md-2">
    <form class="form-inline float-end">
      <label for="csv-field-sep form-label">
        <%= _('csv download field separator') %>:
      </label>
      <%= select_tag "csv-field-sep", options_for_select(separators, separators[0]), {class: "single-char-select"} %>
    </form>
  </div>
  <% if current_user.can_super_admin? %>
    <div class="col-md-3">
      <%= link_to usage_global_statistics_path(sep: ",", filtered: @filtered), class: "stat btn btn-secondary #{'float-end' if @funder.present?}", role: 'button', target: '_blank' do %>
        <%= _('Download global usage') %> <i class="fas fa-download" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
  <% unless @funder.present? %>
    <div class="col-md-3">
      <%= link_to usage_org_statistics_path(sep: ",", filtered: @filtered), class: 'stat btn btn-secondary float-end', role: 'button', target: '_blank' do %>
        <%= _('Download Monthly Usage') %> <i class="fas fa-download" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
</div>
