<%# locals: user_count, plan_count, separators %>

<div class="row mt-15 mb-15">
  <div class="col-md-3">
    <div class="col-xs-6">
      <i class="fas fa-users f-large"></i>
      <p class="fontsize-h4"><%= user_count.to_i %> Total users</p>
    </div>
    <div class="col-xs-6">
      <i class="fas fa-files f-large"></i>
      <p  class="fontsize-h4"><%= plan_count.to_i %> Total plans</p>
      <%= form_tag('/usage', method: :get, id: :filter_plans_form) do |f| %>
        <%= label_tag :filtered do %>
          <%= check_box_tag(:filtered, "true", @filtered)  %>
          <%=  _("Excluding Test Plans") %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @funder.present? %>
    <div class="col-md-3"></div>
  <% end %>
  <% unless current_user.can_super_admin? %>
    <div class="col-md-3"></div>
  <% end %>
  <div class="col-md-3">
    <form class="form-inline mt-10 mb-10 pull-right">
      <label for="csv-field-sep">
        <%= _('csv download field separator') %>:
      </label>
      <%= select_tag "csv-field-sep", options_for_select(separators, separators[0]), {class: "single-char-select"} %>
    </form>
  </div>
  <% if current_user.can_super_admin? %>
    <div class="col-md-3">
      <%= link_to usage_global_statistics_path(sep: ",", filtered: @filtered), class: "stat btn btn-default #{'pull-right' if @funder.present?}", role: 'button', target: '_blank' do %>
        <%= _('Download global usage') %> <i class="fas fa-download" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
  <% unless @funder.present? %>
    <div class="col-md-3">
      <%= link_to usage_org_statistics_path(sep: ",", filtered: @filtered), class: 'stat btn btn-default pull-right', role: 'button', target: '_blank' do %>
        <%= _('Download Monthly Usage') %> <i class="fas fa-download" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
</div>
