<% title _('Usage statistics') %>

<div class="row">
  <div class="col-md-12" >
    <h1><%=_('Usage statistics')%></h1>
  </div>
</div>

<%= render partial: 'usage/total_usage',
           locals: { user_count: @total_org_users,
                     plan_count: @total_org_plans,
                     separators: @separators } %>

<% if @funder.present? %>
  <%= render partial: 'usage/template_statistics' %>
<% else %>
  <div  id="usage-accordion" class="accordion" role="tablist" aria-multiselectable="true">
    <%= render partial: 'usage/user_statistics_accordion', locals: {expanded: true} %>
    <%= render partial: 'usage/template_statistics_accordion', locals: {expanded: false} %>
  </div>
<% end %>
