<%#
  DMPTool customization overview:
  ------------------------------------------
  1. Decresed with of column to make email box smaller
  2. Added error message notification area to catch Devise errors
  3. Updated text
 %>
<% title _('Forgot your password?') %>
<div class="row">
  <div class="col-md-12">
    <% unless @user.errors[:email].empty? %>
      <div id="forgot-password-notification-area"
           class="alert alert-warning" role="alert">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
        <span class="aria-only"><%= _('Error:') %></span>
        <span><%= raw _('There is no account associated with that email address. Please try again or %{contact_us_link}.') % { contact_us_link: link_to('contact us', contact_us_path) } %></span>
      </div>
    <% end %>

    <h1><%= _('Forgot your password?') %></h1>

    <p class="left-indent"><%= _('Please enter your email below and we will send you instructions on how to reset your password.') %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form_for resource, as: 'user', url: user_password_path, html: {method: :post, id: "user_request_reset_password_form"} do |f| %>
      <div class="form-group">
        <%= f.label(:email, _('Email'), class: 'control-label') %>
        <%= f.email_field(:email, class: 'form-control', "aria-required": true) %>
      </div>

      <%= f.button(_('Send'), class: "btn btn-default", type: "submit") %>
    <% end %>
  </div>
</div>