<%= form_for @contact, url: contacts_path do |f| %>
<% if ContactUs.require_name %>
    <div class="form-group">
        <%= f.label(:name, _('Name'), class: 'control-label') %>
        <%= f.text_field(:name,
            class: "form-control",
            value: current_user.nil? ? '' : current_user.name(false),
            readonly: current_user.present?,
            "aria-required": true) %>
    </div>
<% end %>
    <div class="form-group">
        <%= f.label(:email, _('Email'), class: 'control-label') %>
        <%= f.email_field(:email,
            class: "form-control",
            value: current_user.nil? ? '' : current_user.email,
            readonly: current_user.present?,
            "aria-required": true) %>
    </div>
<% if ContactUs.require_subject %>
    <div class="form-group">
        <%= f.label(:subject, _('Subject')) %>
        <%= f.text_field(:subject,
            class: "form-control",
            spellcheck: true,
            "aria-required": true) %>
    </div>
<% end %>
    <div class="form-group">
        <%= f.label(:message, _('Message')) %>
        <%= f.text_area(:message,
            class: "form-control",
            rows: 10,
            spellcheck: true,
            "aria-required": true) %>
    </div>
<% if !user_signed_in? && Rails.configuration.x.recaptcha.enabled then %>
  <div id="sign-up-recaptcha" class="c-textfield js-textfield">
    <!-- Accessibility helpers to identify Recaptcha v3 response areas -->
    <label for="g-recaptcha-response" class="aria-only">This page uses an automated Recaptcha check. This area will contain any failure messages.</label>
    <label for="g-recaptcha-response-100000" class="aria-only">Automated Recaptcha response</label>

    <%= recaptcha_v3(action: 'contact', turbolinks: true) %>
  </div>
<% end %>
    <%= f.button(_('Submit'), class: "btn btn-default", type: "submit") %>
<% end %>
