<% title _('Contact Us') %>
<div class="row dmpopidor-contact-us">
  <div class="col-md-12">
    <h1>
      <%= _("Contact technical support") %>
    </h1>
    <p>
      <%= sanitize _('%{application_name} is provided by the %{organisation_name}.<br /> You can find out more about us on our <a href="%{organisation_url}" title="%{open_in_new_window_text}" target="_blank">website</a>. If you would like to contact us about %{application_name}, please fill out the form below.') % {
        organisation_name: Rails.configuration.x.organisation.name,
        organisation_url: Rails.configuration.x.organisation.url,
        application_name: ApplicationService.application_name,
        open_in_new_window_text: _('Opens in new window') },
        tags: %w( a br span em ) %>
    </p>
    <p>
      <%= sanitize _('If you need more informations about how to use DMP OPIDoR, you can consult our <a href="https://opidor.fr/category/dmp-faq/" target="_blank">FAQ</a>.') %>
    </p>
  </div>
</div>
<div class="row dmpopidor-contact-us">
  <div class="col-md-6 column-left"><!-- Left column container -->
      <%= render :partial => "contact_us/contacts/new_left" %>
  </div><!-- Left column container -->
  <div class="col-md-6 column-right"><!-- Right column container -->
    <div>
      <%= render :partial => "contact_us/contacts/new_right" %>
    </div>
 </div><!-- Right column container -->
</div>