<%= f.hidden_field :template_id, value: template.id%>
<div class="form-group col-md-10">
  <%= f.label(:title, _('Title') ,class: "control-label") %>
  <%= f.text_field(:title, class: "form-control", 'aria-required': true, 'data-toggle': 'tooltip', title: _('Enter a title for the phase e.g. intial DMP, full DMP... This is what users will see in the tabs when completing a plan. If you only have one phase, call it something generic e.g. Glasgow DMP')) %> 
</div>

<div class="form-group">
  <div class="col-md-10">
    <%= f.label(:number, _('Order of display'), class: "control-label") %>
  </div>
  <div class="col-md-4">
    <%= f.number_field(:number, in: 1..5, class: "form-control", 'aria-required': true, 'data-toggle': 'tooltip', title: _('This allows you to order the phases of your template.')) %>
  </div>
</div>

<div class="form-group col-md-10" data-toggle="tooltip" title="<%= _("Enter a basic description. This will be presented to users on the 'Admin Plan' tab, above the summary of the sections and questions which they will be asked to answer.") %>">
  <%= f.label(:description, _('Description'), class: "control-label") %>
  <%= f.text_area(:description, class: "phase") %>
</div>

<div class="form-group col-md-4 pull-right">   
  <%= f.button(_('Save'), class: 'btn btn-default', type: "submit") %>
</div>