<dl class="dl-horizontal">
  <dt><%= _('Title') %></dt>
  <dd><%= phase.title %></dd>
  <dt><%= _('Order of display') %></dt>
  <dd><%= phase.number %></dd>
  <dt><%= _('Description') %></dt>
  <dd><%= raw phase.description %></dd>
</dl>
<div class="pull-right">
  <%= link_to(_('Preview'), preview_org_admin_template_phase_path(template, phase), { class: 'btn btn-default phase_preview_link', role: 'button' }) %>
</div>
