<%= current_tab = '' unless current_tab.present? %>
<div class="row">
  <div class="col-md-12">
    <h1><%= template.title %></h1>
    <%= link_to _('View all templates'), org_admin_templates_path(r: current_tab), class: 'btn btn-default pull-right' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- render navigation tabs for the template-->
    <%= render partial: "/org_admin/templates/navigation", locals: local_assigns %>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <div class="panel panel-default">
          <div class="panel-body">
            <% # locals: { phase, template, edit, current_section } %>
            <h2><%= _('Phase details')%></h2>
            <div class="row">
              <div class="col-md-12">
                <%= render partial: partial_path, locals: local_assigns %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <% if phase.sections.length > 1 %>
                  <div id="sections-accordion-controls">
                    <div class="accordion-controls" data-parent="sections_accordion">
                      <a href="#" data-toggle-direction="show"><%= _('expand all') %></a>
                      <span>|</span>
                      <a href="#" data-toggle-direction="hide"><%= _('collapse all') %></a>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <%= render partial: 'org_admin/sections/index', locals: { template: template, phase: phase, sections: phase.sections, edit: edit, current_tab: current_tab } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
