<%#
Devise Sign in form arrived at after the user enters their email and we determine
that they have an existing account
%>
<%= form_with model: resource, url: user_session_path, method: :post, local: true do |form| %>
  <h2><%= _("Sign in") %></h2>

  <span class="form-group">
    <%= form.label(:email, _('Email address'), class: "control-label", id: "sign-in-email-lbl") %>
    <%= form.email_field(:disabled_email, class: "form-control", value: resource.email,
                         aria: {
                           required: true,
                           labelledby: "sign-in-email-lbl"
                         },
                         disabled: "disabled") %>
    <%= form.hidden_field(:email, value: resource.email) %>
  </span>
  <span class="form-group">
    <% if !Rails.env.development? &&
          resource.org.present? &&
          resource.org.shibbolized? &&
          resource.identifier_for_scheme(scheme: "shibboleth").present? %>
      <%# If the Org is shibbolized and the user has an EPPN %>
      <%= render partial: "shared/authentication/shib_sign_in", locals: { form: form } %>

    <% else %>
      <%# Display the standard Sign in form %>
      <%= form.hidden_field :org_id, value: resource.org_id %>

      <%= form.label(:password, _('Password'), class: "control-label") %>
      <%= form.password_field(:password, class: "form-control", "aria-required": true) %>
      <%= link_to _('Forgot password?'), new_password_path('user') %>

      <%= form.submit _("Sign in"), class: "btn btn-default" %>
    <% end %>
  </span>
<% end %>

<span class="form-group">
  <%= render partial: "users/shared/links", locals: { show_contact_us: true } %>
</span>
