<% @settings.errors.full_messages.each do |error| %>
  <div class="error"><%= error %></div>
<% end %>

<%= form_for(@settings, url: update_settings_admin_dmptemplate_path(@template), method: :put, as: 'settings[export][formatting]', html: { class: 'formtastic' }) do |f| %>
  <fieldset class="inputs">
    <legend><span><%= _('Formatting') %></span></legend>
    <ol>
      <li>
        <%= f.label(:font_face, _('Face')) %>
        <%= f.select(:font_face, options_for_select(Settings::Dmptemplate::VALID_FONT_FACES, @settings.formatting[:font_face]), as: 'formatting[font_face]') %>
        <%= f.select(:font_size, options_for_select((1..36).to_a, @settings.formatting[:font_size])) %>pt
      </li>
      <li>
        <%= f.label(_('Margin')) %>
        <span><%= _('Top') -%></span>
        <%= select_tag("settings[export][formatting][margin][top]", options_for_select((0..100).to_a, @settings.formatting[:margin][:top])) %>
        <span><%= _('Bottom') -%></span>
        <%= select_tag("settings[export][formatting][margin][bottom]", options_for_select((0..100).to_a, @settings.formatting[:margin][:bottom])) %>
        <span><%= _('Left') -%></span>
        <%= select_tag("settings[export][formatting][margin][left]", options_for_select((0..100).to_a, @settings.formatting[:margin][:left])) %>
        <span><%= _('Right') -%></span>
        <%= select_tag("settings[export][formatting][margin][right]", options_for_select((0..100).to_a, @settings.formatting[:margin][:right])) %>
      </li>
    </ol>
  </fieldset>

  <fieldset class="inputs">
    <legend><span><%= _('Max Pages')%></span></legend>
    <ol>
      <li>
        <%= label_tag('settings_export_max_pages', _('Maximum number of pages')) %>
        <%= select_tag('settings[export][max_pages]', options_for_select((1..10).to_a, @settings.max_pages)) %>
      </li>
    </ol>
  </fieldset>

  <fieldset class="actions">
    <%= submit_tag(_('Save'), class: 'btn btn-primary') %>
    <%= submit_tag(_('Reset'), class: 'btn btn-primary') %>
  </fieldset>
<% end %>
