<% title _('Request Feedback') %>
<%= form_for(org, url: url, html: { multipart: true, method: method, id: "edit_org_feedback_form" } ) do |f| %>
  <h2><%= _('Request Feedback') %></h2>
  <div class="row">
    <div class="radio col-xs-8">
      <%= f.label :feedback_enabled, raw("#{f.radio_button(:feedback_enabled, true)} #{_('On')}") %>
      <%= f.label :feedback_enabled, raw("#{f.radio_button(:feedback_enabled, false)} #{_('Off')}") %>
    </div>
  </div>
  <div id="feeback-email">
    <h3>
      <%= _('Request Expert Feedback - Message Displayed on Share Plan Tab:') %>
    </h3>
    <div class="row">
      <div class="form-group col-xs-8" data-toggle="tooltip" data-html="true" title="<%= tooltip_for_org_feedback_form(org) %>">
        <%= f.label :feedback_email_msg, _('Message'), class: "control-label" %>
        <%= f.text_area :feedback_email_msg, class: "form-control",
                        "aria-required" => true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-8">
      <%= f.button(_('Save'), id:"save_org_submit", class: "btn btn-primary", type: "submit") %>
    </div>
  </div>
<% end %>