<%# locals: org %>

<% title _('Request Feedback') %>
<%= form_for(org, url: admin_update_org_path(org),
                   html: { multipart: true, method: :put,
                           id: "edit_org_feedback_form" } ) do |f| %>
  <h2><%= _('Request Feedback') %></h2>
  <div class="row">
    <div class="form-check col-xs-8">
      <%= f.label :feedback_enabled do %>
        <%= f.radio_button(:feedback_enabled, true) %>
        <%= _('On') %>
      <% end %>
      <%= f.label :feedback_enabled do %>
        <%= f.radio_button(:feedback_enabled, false) %>
        <%= _('Off') %>
      <% end %>
    </div>
  </div>
  <div id="feeback-email">
    <h3>
      <%= _('Request Expert Feedback - Message Displayed on Share Plan Tab:') %>
    </h3>
    <div class="row">
      <div class="form-control mb-3 col-xs-8" data-html="true">
        <%= f.label :feedback_msg, _('Message'), class: "form-label" %>
        <%= f.text_area :feedback_msg, class: "form-control", spellcheck: true,
                        "aria-required" => true %>
      </div>
      <div class="form-control mb-3 col-xs-4">
        <h4><%= _('Sample Message') %></h4>
        <%= sanitize sample_message_for_org_feedback_form(org) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-control mb-3 col-xs-8">
      <%= f.button(_('Save'), id:"save_org_submit", class: "btn btn-primary", type: "submit") %>
    </div>
  </div>
<% end %>
