<%# locals: org, url, method %>

<%
  shared_links_tooltip = _('Links will be displayed next to your organisation\'s logo')
  org_config_info_tooltip =  _('This information can only be changed by a system administrator. Contact the Help Desk if you have questions or to request changes.')
  org_types_tooltip = _(
  'This information can only be changed by a system administrator. Contact %{support_email} if you have questions or to request changes.' % { support_email: Rails.configuration.x.organisation.email}
  )
%>

<%= form_for(org, url: url, html: { multipart: true, method: method,
                                    id: "edit_org_profile_form" } ) do |f| %>

  <% if org.new_record? %>
    <%= render partial: "orgs/external_identifiers",
               locals: {
                 form: f,
                 org: org,
                 editable: current_user.can_super_admin?
               } %>
  <% else %>
    <div class="row">
      <div class="form-control mb-3 col-sm-8">
        <%= f.label :name, _('Organisation full name'), class: "form-label" %>
        <%= f.text_field :name, id: "org_name", class: "form-control", "aria-required": true %>
      </div>
    </div>
    <div class="row">
      <div class="form-control mb-3 col-sm-8">
        <%= f.label :abbreviation, _('Organisation abbreviated name'), class: "form-label" %>
        <%= f.text_field :abbreviation, id: "org_abbreviation", class: "form-control" %>
      </div>
    </div>
  <% end %>

  <% if current_user.can_super_admin? %>
    <div class="row">
      <div class="form-control mb-3 col-sm-8">
        <%= f.label :managed do %>
          <%= f.check_box :managed, id: "org_managed", "aria-required": true,
                title: _("A managed Org is one that can have its own Guidance and/or Templates. An unmanaged Org is one that was automatically created by the system when a user entered/selected it.") %>
          <%= _('Managed? (allows Org Admins to access the Admin menu)') %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless org.tracker.present?
       org.build_tracker
     end %>

  <div class="row">
    <div class="form-control mb-3 col-sm-8">
      <%= f.label :logo, _('Organization logo'), class: "form-label"  %>

      <% if org.logo.present? %>
        <div class="clearfix"></div>
        <%= image_tag logo_url_for_org(org), alt: "#{org.name} #{_('logo')}", class: "org-logo" %>
        <div class="org-logo-controls checkbox">
          <%= f.label :remove_logo do %>
            <%= f.check_box :remove_logo,
                             title: _("This will remove your organisation's logo") %>
            <%= _('Remove logo') %>
          <% end %>
          <strong> - <%= _('or') %> - </strong>
          <span class="btn btn-secondary btn-file"><%= f.file_field :logo %></span>
        </div>
      <% else %>
        <%= f.file_field :logo %>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-8">
      <em class="sr-only"><%= shared_links_tooltip %></em>
      <%= render(partial: '/shared/links',
                 locals: {
                   context: 'org',
                   title: _('Organisation URLs'),
                   links: org.links.fetch("org", []),
                   max_number_links: Rails.configuration.x.max_number_links_funder,
                   tooltip: shared_links_tooltip }) %>
      <%= hidden_field_tag('org_links', org.links) %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="form-control mb-3 col-sm-8">
      <h3><%= _("Help Desk email") %></h3>
    </div>
  </div>
  <div class="row">
    <div class="form-control mb-3 col-sm-4">
      <%= f.label :helpdesk_email, _('Help Desk email'), class: "form-label" %>
      <%= f.email_field :helpdesk_email, class: "form-control" %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="form-control mb-3 col-sm-8">
      <h3><%= _("Administrator contact") %></h3>
    </div>
  </div>
  <div class="row">
    <div class="form-control mb-3 col-sm-4">
      <%= f.label :contact_email, _('Contact email'), class: "form-label" %>
      <%= f.email_field :contact_email, class: "form-control", aria: { required: true } %>
    </div>
    <div class="form-control mb-3 col-sm-4">
      <%= f.label :contact_name, _('Link text'), class: "form-label" %>
      <%= f.text_field :contact_name, class: "form-control", aria: { required: true } %>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="form-control mb-3 col-sm-8">
      <h3><%= _("Google Analytics Tracker") %></h3>
    </div>
  </div>
  <div class="row">
    <div class="form-control mb-3 col-sm-4">
      <%= f.fields_for :tracker do |t| %>
        <%= t.label :code, _('Tracker Code'), class: "form-label" %>
        <%= t.text_field :code, class: "form-control", aria: { required: false } %>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="row">
    <% if current_user.can_super_admin? %>
      <fieldset class="col-sm-8">
        <legend>
          <%= _('Organisation Types') %>
            &nbsp; <a href="#" aria-label="<%= _('Text') %>" data-toggle="tooltip" data-placement="right" title="<%= org_types_tooltip %>">
            <i class="fas fa-circle-question fa-reverse" ></i>
            <em class="sr-only"></em>
          </a>
        </legend>
        <div class="form-check">
          <%= f.label :funder do %>
            <%= f.check_box :funder, { class: 'org_types', value: org.funder? }, "true", "false" %>
            <%= _('Funder') %>
          <% end %>
        </div>
        <div class="form-check">
          <%= f.label :institution do %>
            <%= f.check_box :institution, { class: 'org_types', value: org.institution? }, "true", "false" %>
            <%= _('Institution') %>
          <% end %>
        </div>
        <div class="form-check">
          <%= f.label :organisation do %>
            <%= f.check_box :organisation, { class: 'org_types', value: org.organisation? }, "true", "false" %>
            <%= _('Organisation') %>
          <% end %>
        </div>
      </fieldset>
    <% else %>
      <div class="col-sm-8">
        <dl>
          <dt>
            <%= _('Organisation type(s)') %>
              &nbsp; <a href="#" aria-label="<%= _('Text') %>" data-toggle="tooltip" data-placement="right" title="<%= org_types_tooltip %>">
              <i class="fas fa-circle-question fa-reverse" ></i>
              <em class="sr-only"></em>
            </a>
          </dt>
          <dd><%= org.org_type_to_s %></dd>
        </dl>
      </div>
    <% end %>
  </div>

  <hr>

  <% if !org.new_record? %>
    <%= render partial: "orgs/external_identifiers",
               locals: {
                 form: f,
                 org: org,
                 editable: current_user.can_super_admin?
               } %>
  <% end %>

  <div class="row">
    <div class="form-control mb-3 col-sm-8">
      <%= f.button(_('Save'), id:"save_org_details_submit", class: "btn btn-primary", type: "submit") %>
    </div>
  </div>
<% end %>
