<% title _('Organisation details') %>

<div class="row">
  <div class="col-md-12">
    <h1>
      <%= _('Organisation details') %>
    </h1>
    <% if current_user.can_super_admin? %>
      <%= link_to _('View all organisations'), super_admin_orgs_path, class: 'btn btn-default pull-right' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <li role="profile" class="active">
        <a href="#profile" role="tab" aria-controls="profile" data-toggle="tab"><%= _('Profile information') %></a>
      </li>

      <li role="feedback">
        <a href="#feedback" role="tab" aria-controls="feedback" data-toggle="tab"><%= _('Request feedback') %></a>
      </li>

      <li role="form">
        <a href="#departments" role="tab" aria-controls="form" data-toggle="tab"><%= _('Schools/Departments') %></a>
      </li>
    </ul>

    <!-- render navigation tabs for the template-->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="profile">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="px-2">
              <%= render partial: 'orgs/profile_form',
                         locals: { org: org, method: method, url: url } %>
            </div>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="feedback">
        <div class="panel panel-default">
          <div class="panel-body">
            <div>
              <%= render partial: 'orgs/feedback_form',
                         locals: { org: org } %>
            </div>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="departments">
        <div class="panel panel-default">
          <div class="panel-body">
            <div>
              <%= render partial: 'orgs/departments',
                         locals: { org: org } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
