<% javascript 'orgs/shibboleth_ds.js'%>

<h1>Find your institution to sign in</h1>

<div class="content">
  <form class="roadmap-form" id="shibboleth-ds">
    <fieldset class="standard padded">
      <label for="org_name">
        <%= _('Look up your institution here') %>
      </label>
    
      <%= render partial: "shared/accessible_combobox", 
                 locals: {name: 'org_name',
                          id: 'org_name',
                          default_selection: nil,
                          models: @orgs,
                          attribute: 'name',
                          classes: 'fixed-width-large'} %>

      <%= render partial: 'shared/accessible_submit_button',
                 locals: {id: 'submit-button', 
                          val: _('Go'), 
                          disabled_initially: true,
                          classes: 'small-input-button',
                          tooltip: _('Select an institution.'),
													classes: 'inline'} %>

      <input type="submit" class="form-submit inline" value="<%= _('Go') %>" />
      
      <p class="centered left-indent">
        <strong>- <%= _('or') %> -</strong>
        <br />
        <a id="show_list" href="#"><%= _('See the full list of partner institutions') %></a>
      </p>

      <div id="full_list" style="display: none" class="left-indent">
        <%= render partial: 'shibboleth_ds_list', locals: {orgs: @orgs} %>
      </div>
      
      <hr />
      
      <p class="left-indent">
        <%= _('Institution not a DMPTool partner?') %> <a href="#header-register-form"><%= _('Create an account with any email address')%></a>
      </p>
    </fieldset>
  </form>
</div>
