<!-- show a section and its questions and guidance. Section is passed as an argument-->
<%if @open && @section_id == section.id then%>
	<% toggle = 'accordion-body  section-collapse in collapse'%>
<%else%>
	<% toggle = 'accordion-body collapse section-collapse' %>
<%end%>
<div class="accordion-group">
	<div class="accordion-heading">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#sections-accordion" href="#collapse-<%= section.id%>">
			<div class="accordion_heading_text">
				<% if section.title == '' then%>
					<%= t('org_admin.templates.new_section')%>
				<%else%>
					<%= section.title %>
				<%end%>
			</div>
			<!-- + or - icon-->
        	<span class="icon-plus icon-white accordion-icon"> </span>
       	</a>
    </div>
	<div id="collapse-<%= section.id%>" class="<%= toggle %>">
		<div class="section_desc">
			<%= raw section.description %>
		</div>
		<div class="accordion-inner">
			<% section.questions.order("number").each do |question| %>
				<% last_question_id = section.questions.order("number DESC").first.id %>
                
                <div class="question_guidance_block">    
                    <!--question block-->
                    <%= render :partial => 'show_question', locals: {question: question}%>
                </div>    

				<% if last_question_id == question.id then %>
					<div class="two-column-clear"></div>
				<% else %>
					<div class="two-column-clear question-divider"></div>
				<% end %>

			<%end%>
		</div>
	</div>
</div>
