<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
      <%= @template.title %>
    </title>
    <style>
      html { font-family: <%= @formatting[:font_face].tr('"', '') -%>; font-size: <%= @formatting[:font_size] -%>pt; }
        h1 { font-size: <%= @formatting[:font_size] + 2 -%>pt; font-face:bold; padding: 0;}
        h2 { font-size: <%= @formatting[:font_size] + 1 -%>pt; font-face:bold; padding: 0; margin: 1em 0 0 0;}
        h3 { font-size: <%= @formatting[:font_size] + 0 -%>pt; font-face:bold; padding: 0; margin: 1em 0 0 0;}
        h2 + div.question > h3 { margin: 0; }
        table, tr, td, th, tbody, thead, tfoot { page-break-inside: avoid !important; }
        table { border-collapse: collapse; }
        th, td { border: 1px solid black !important; padding: 2px; }
        p { margin: 0.25em 0; }
    </style>
  </head>
  <body>
    <h1><%= @template.title %></h1>
  </body>
</html>