<%
# We allow password changes if this is dev or the Org is not shibbolized
password_change_allowed = Rails.env.development? ||
                          !resource&.org&.shibbolized? ||
                          (resource&.org&.shibbolized? && !resource.identifier_for_scheme(scheme: 'shibboleth').present?)
%>
<div class="row">
  <div class="col-md-12">
    <h1><%= _('Edit Profile') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2><%= _('Personal Details') %></h2>
    <%= render partial: 'users/registrations/profile_form',
               locals: { resource: resource } %>
  </div>

  <div class="col-md-6">
    <div class="col-md-12">
      <%# If the User's Org is NOT shibbolized and the User is editing their own profile %>
      <% if password_change_allowed && current_user&.id == resource&.id %>
        <h2><%= _('Change Your Password') %></h2>

        <%= render partial: 'users/registrations/profile_password',
                    locals: { resource: resource } %>
        <br>
      <% end %>
    </div>
    <div class="col-md-12">
      <h2><%= _('Email Preferences') %></h2>
      <%= render partial: 'users/registrations/profile_preferences',
                locals: { resource: resource } %>
    </div>
  </div>
</div>
