<%# locals: { f, field_label, form_prefix, property_name, select_values, locale, value, parent_id, schema_id, field_class, required, readonly, multiple, validation, ttip, default_value, overridable } %>
<% value ||= default_value %>
<% include_blank = !value && !default_value %>
<% field_name = defined?(form_prefix) ? "#{form_prefix}[#{property_name}]" : property_name %>
<% query_id = Digest::MD5.hexdigest("#{parent_id}-#{property_name}") %>

<div class="col-md-12">
  <fieldset class="sub-fragment registry">
    <legend class="sub-fragment registry"><%= field_label %></legend>
    <% if !multiple  && value.present? && value.data.present? %>
      <div class="col-md-12 registry-value">
        <%= render(partial: 'madmp_fragments/display', locals: {
                    fragment: value,
                    schema: value.madmp_schema,
                    template_locale: locale
        })%>
        <span class="intermediate-label"><i><%= d_('dmpopidor', '- or change the selected value -') %></i></span>
      </div>
    <% end %>
    <div class="col-md-12 dynamic-field select-field <%= overridable ? 'customizable' : '' %> <%= multiple ? 'multiple-select' : '' %>"
          data-locale="<%= locale %>"
          data-parent-id="<%= parent_id %>"
          data-query-id="<%= query_id %>"
          data-property-name="<%= property_name %>"
          data-schema-id="<%= schema_id %>"
    >
      <%= select_tag "#{f.object_name}[#{field_name}]",
                  options_for_select(
                      select_values.map {|v| [ 
                              v.to_s(locale), 
                              select_value(v, locale) 
                          ] 
                      }
                  ),
                  disabled: readonly,
                  multiple: false,
                  include_blank: d_("dmpopidor", "Please select a value you want to add to your plan."),
                  "data-toggle": "tooltip",
                  title: ttip,
                  class: "form-control #{field_class}",
                  id: field_id  %>
      <%= render partial: "shared/dynamic_form/validation_indicator", locals: {
                      validation: validation
          } unless validation == "none" %>

      <% if overridable && !multiple %>
        <% 
          style = 'display: none;'
          custom_value = nil
          if value.present? && value.additional_info["custom_value"].present?
            style = ''
            custom_value = value.additional_info["custom_value"]
          end
        %>
        <% other_field_name = defined?(form_prefix) ? "#{form_prefix}[#{property_name}_custom]" : "#{property_name}_custom" %>
        <a href="#" class="overridable-link"><%= d_('dmpopidor', 'Element is not in the list.') %></a>
        <div class="col-md-12 custom-value" style="<%= style %>">
          <%= f.label other_field_name, d_("dmpopidor", "Custom value: "), class: 'control-label' %>
          <%= f.text_field other_field_name, 
                    value: custom_value,
                    class: "form-control #{field_class}",
                    id: field_id  %>
      <% elsif multiple %>
        <table class="table table-hover linked-fragments-list <%= property_name %>-list list-<%= query_id %>">
          <thead></thead>
          <tbody>
            <%= render(partial: 'shared/dynamic_form/linked_fragment/list', locals: {
                    obj_list: value, 
                    parent_id: parent_id,
                    schema_id: schema_id,
                    readonly: true,
                    deletable: true,
                    template_locale: locale,
                    property_name: property_name,
                    query_id: query_id
                  }
                ) if value.present? %>
          </tbody>
        </table>
      <% end %>
    </div>
  </fieldset>
</div>