<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" <%= isActivePage(edit_org_admin_template_path(template)) ? ' class=active' : '' %>>
        <%= link_to(_('Template details'), edit_org_admin_template_path(template, r: current_tab), { 'aria-controls': 'show_template', role: 'tab' }) %>
    </li>
    <% template.phases.each do |phase| %>
        <li role="presentation" <%= isActivePage(org_admin_template_phase_path(template.id, phase.id)) ||
            isActivePage(preview_org_admin_template_phase_path(template.id, phase.id)) ? ' class=active' : '' %>>
            <%= link_to(phase.title, org_admin_template_phase_path(template.id, phase.id, r: current_tab), { 'aria-controls': "#{phase.id}", role: 'tab' }) %>
        </li>
    <% end %>
    <!-- Add another phase button -->
    <% if current_user.can_org_admin? && template.customization_of.nil? && edit %>
        <li role="presentation" <%= isActivePage(new_org_admin_template_phase_path(template)) ? ' class=active' : '' %>>
        <%= link_to(_('Add new phase'), new_org_admin_template_phase_path(template, r: current_tab), { 'aria-controls': 'add_phase', role: 'tab' }) %>
        </li>
    <% end %>
</ul>
