<%= current_tab = '' unless current_tab.present? %>
<div class="row">
  <div class="col-md-12">
    <h1><%= template.title %></h1>
    <%= link_to _('View all templates'), org_admin_templates_path(r: current_tab), class: 'btn btn-default pull-right' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- render navigation tabs for the template-->
    <%= render partial: "/org_admin/templates/admin_nav_tabs", locals: local_assigns %>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= render partial: partial_path, locals: local_assigns %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>