<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col"><%= _('Template Name') %>&nbsp;<%= paginable_sort_link('templates.title') %></th>
        <th scope="col"><%= _('Organisation') %>&nbsp;<%= paginable_sort_link('orgs.name') %></th>
        <th scope="col"><%= _('Status') %></th>
        <% if current_user.can_super_admin? %>
          <th scope="col"><%= _('Recommended') %></th>
        <% end %>
        <th scope="col" class="date-column"><%= _('Edited Date') %>&nbsp;<%= paginable_sort_link('templates.updated_at') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render(partial: "org_admin/templates/row", collection: scope, as: :template) %>
    </tbody>
  </table>
</div>
