<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= _('Template Name') %>&nbsp;<%= paginable_sort_link('templates.title') %></th>
        <th scope="col"><%= _('Organisation Name') %>&nbsp;<%= paginable_sort_link('orgs.name') %></th>
        <th scope="col"><%= _('Organisation Type') %>&nbsp;<%= paginable_sort_link('orgs.org_type') %></th>
        <th scope="col" class="sorter-false"><%= _('Description') %></th>
        <th scope="col" class="date-column"><%= _('Last Updated') %>&nbsp;<%= paginable_sort_link('templates.updated_at') %></th>
        <th scope="col" class="sorter-false text-center download-column"><%= _('Download') %></th>
      </tr>
    </thead>
    <tbody>
      <% signed_in = user_signed_in? %>
      <% scope.each do |template| %>
        <tr id="<%= dom_id(template) %>">
          <td>
            <%= template.title %>
            <% if template.customization_of.present? %>
               - <%= _('Customized') %>
            <% end %>
          </td>
          <td><%= template.org.name %></td>
          <td><%= _(template.org.org_type_to_s) %></td>
          <td><%= raw template.description %></td>
          <td><%= l(template.updated_at.to_date, formats: :short) %></td>
          <td class="text-center">
            <%= link_to template_export_path(template.family_id, format: :docx), target: '_blank' do %>
               <i class="fas fa-file-word" aria-hidden="true"></i>
               <em class="sr-only"><%= _('(new window)') %></em>
            <% end %>
            <%= link_to template_export_path(template.family_id, format: :pdf), target: '_blank' do %>
               <i class="fas fa-file-pdf" aria-hidden="true"></i>
               <em class="sr-only"><%= _('(new window)') %></em>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'shared/copy_link_modal' %>