<nav id="org-navbar" class="navbar navbar-default" role="navigation">
  <div class="org-infos">
    <% if user_signed_in? && !current_user.org.nil? %>
      <% if current_user.org.logo.present? %>
        <%= image_tag(logo_url_for_org(current_user.org),
                              alt: current_user.org.name,
                              class: "org-logo",
                              title: current_user.org.name) %>
      <% else %>
        <p class="fontsize-h4 org-logo no-logo"><%= current_user.org.name %></p>
      <% end %>
    <% end %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse org-links-area">
      <!-- Organisational links -->
      <%
      links = current_user.org.links.present? ? current_user.org.links.fetch('org', []) : []
      %>
      <% if user_signed_in? && (links.any? || current_user.org.contact_email.present?) %>
        <ul class="nav navbar-nav">
          <% if !current_user.org.contact_email.blank? %>
            <%= mail_to current_user.org.contact_email, :class => 'org-a' do %>
              <i class="fas fa-envelope" aria-hidden="true">&nbsp;</i>
              <%= current_user.org.contact_name ? current_user.org.contact_name : current_user.org.contact_email %>
            <% end %>
          <% end %>
          <% links.each do |link| %>
            <li class="org-links">
              <% if link.present?%>
                <%= link_to link['link'], :target=>'_blank', :class => 'org-a has-new-window-popup-info' do %>
                  <i class="fas fa-globe" aria-hidden="true">&nbsp;</i>
                  <%= link['text'].blank? ? link['link'] : link['text'] %>
                  <em class="sr-only"> (new window)</em>
                  <span class="new-window-popup-info"><%= _('Opens in new window') %></span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div>
  <% if current_user.org.active? %>
    <%  unless current_user.org.banner_text.nil? || current_user.org.banner_text.empty?  %>
      <div class="org-banner-text">
        <%= current_user.org.banner_text.html_safe %>
      </div>
    <% end %>
  <% else %>
    <div class="org-banner-text org-deactivated">
      <%= _('Your organisation has been deactivated. Please choose a new organisation from your <a href="/users/edit">user profile</a>.').html_safe %>
    </div>
  <% end %>
</nav>
