<footer class="c-footer">

  <a class="c-logo-cdl" href="https://cdlib.org">
    <img src="/dmptool-ui/logo-cdl.svg" alt="California Digital Library logo" width="104" height="39"
         loading="lazy">
  </a>

  <nav aria-label="<%= _('footer') %>" class="c-footernav">
    <ul>
      <li><%= link_to _("About"), about_us_path %></li>
      <li><%= link_to _("Contact Us"), contact_us_path %></li>
      <li><%= link_to _("Terms of Use"), terms_path %></li>
      <li><%= link_to _("Privacy Statement"), privacy_path %></li>
      <li><%= link_to _("Github"), "https://github.com/cdluc3/dmptool/wiki" %></li>
      <li><%= link_to _("Accessibility"), "https://www.cdlib.org/about/accessibility.html" %></li>
      <li><%= link_to _("Site Map"), sitemap_path %></li>
    </ul>
  </nav>

  <div class="c-copyright">
    <p>
      <%=
      sanitize _('DMPTool is a service of the %{cdl_url}, a division of the %{university_of_ca_url}. Version: %{version}') % {
        university_of_ca_url: "<a href=\"https://www.universityofcalifornia.edu/\" target=\"_blank\">University of California Office of the President</a>",
        cdl_url: "<a href=\"http://www.cdlib.org/\" target=\"_blank\">California Digital Library</a>",
        version: Rails.configuration.x.dmptool.version&.gsub(';', '')
      } %>
    </p>

    <p>&copy; <%= _("%{current_year} The Regents of the University of California") % { current_year: Date.today.year } %></p>
  </div>
</footer>
