<% 
  # Override the default Rails route helper for the contact_us page IF an alternate contact_us url was defined
  # in the dmproadmap.rb initializer
  contact_us = Rails.configuration.x.organisation.contact_us_url || contact_us_path
%>

<!-- footer content -->
<div class="footer-content">
  <div class="footer-col">
      <%= image_tag("logo_white.png",
                    alt: "#{ApplicationService.application_name} #{_('logo')}",
                    title: ApplicationService.application_name) %>
    <span>
      <%= _('%{tool_name} guides you through the drafting and implementation into practice of data or software management plans.')  % { tool_name: ApplicationService.application_name } %>
    </span>
  </div>
  <div class="footer-col">
    <span class="footer-col-title"><%= _('Navigation') %></span>
    <span><a href="<%= help_path+'#content' %>"><%= _('Help') %></a></span>
    <span><a href="<%= public_templates_path+'#content' %>"><%= _('DMP Templates') %></a></span>
    <span><a href="#"><%= _('Learn more') %></a></span>
    <span><a href="<%= news_feed_path+'#content' %>"><%= _('News') %></a></span>
    <span>
      <a href="https://opidor.fr/category/dmp-faq/" title="DMPOPIDoR FAQ - <%= _("Opens in new window") %>" target="_blank">
        <%= _('FAQ') %>
      </a>
    </span>
    <span><a href="<%= contact_us+'#content' %>"><%= _('Contact Us') %></a></span>
  </div>
  <div class="footer-col">
    <span class="footer-col-title"><%= _('About') %></span>
    <span><a href="<%= about_us_path+'#content' %>"><%= _('About') %></a></span>
    <span><a href="<%= terms_path+'#content' %>"><%= _('Terms of use') %></a></span>
    <span><a href="<%= privacy_path+'#content' %>"><%= _('Privacy statement') %></a></span>
    <span>
      <a title="DMPOPIDoR Github - <%= _("Opens in new window") %>" target="_blank" href="<%= Rails.configuration.x.application.url %>" target="_blank">
        Github <i class="fab fa-github"></i>
      </a>
    </span>
  </div>
  <div class="footer-col">
    <span class="footer-col-title"><%= _('Ecosystem') %></span>
    <span><a href="<%= about_us_path+'#content' %>"><%= _('About') %></a></span>
    <span>
      <%= link_to("http://www.opidor.fr/", title: _("OPIDoR website") + " - " + _("Opens in new window"), target: '_blank')  do %>
        <%= image_tag("opidor-logo-white.png", alt: 'OPIDoR logo (opens in a new window)') %>
      <% end %>
    </span>
  </div>
</div>
<div class="footer-cc">
  <div class="footer-infos">
    <span>
      <%= link_to("#{Rails.configuration.x.organisation.url}", 
                  title: _("INIST website") + " - " + _("Opens in new window"), target: '_blank' ) do %>
        <%= sanitize("&copy; 2016 - #{Time.now.year} #{Rails.configuration.x.organisation.abbreviation}") %>
        <% end %>
    </span>
    <span class="delimiter">&#x25cf;</span>
    <span><%= Rails.configuration.x.application.version %></span>
  </div>
  <div class="footer-sn">
    <span>
      <a title="OPIDoR Twitter - <%= _("Opens in new window") %>" target="_blank" href="<%= Rails.configuration.x.application.twitter_url %>">
        <i class="fab fa-x-twitter"></i>
      </a>
    </span>
    <span>
      <a title="<%= _('Mailing list') %> - <%= _("Opens in new window") %>"  target="_blank" href="<%= Rails.configuration.x.application.user_group_subscription_url %>">
        <i class="far fa-comments"></i>
      </a>
    </span>
    <span>
      <%= link_to("http://www.cnrs.fr/", title: _("CNRS website") + " - " + _("Opens in new window"), target: '_blank')  do %>
        <%= image_tag("cnrs.gif", alt: 'CNRS logo (opens in a new window)') %>
      <% end %>
    </span>
    <span>
      <%= link_to("https://github.com/DMPRoadmap/roadmap", title: "DMPRoadmap Github - " + _("Opens in new window"), target: '_blank')  do %>
        <%= image_tag("roadmap_logo_orange_white.png", alt: 'DMPRoadmap Github (opens in a new window)') %>
      <% end %>
    </span>
  </div>
</div>
