<% 
  # Override the default Rails route helper for the contact_us page IF an alternate contact_us url was defined
  # in the branding config file
  contact_us = Rails.application.config.branding[:organisation][:contact_us_url] || contact_us_path

%>

<!-- footer content -->
<div class="footer-content">
  <div class="footer-links-logos">
    <div class="footer-links">
      <span><a href="<%= about_us_path %>"><%= _('About') %></a></span>
      <span><a href="<%= terms_path %>"><%= _('Terms of use') %></a></a></span>
      <span><a href="<%= privacy_path %>"><%= _('Privacy statement') %></a></span>
      <span class="break-point">•</span>
      <span>
        <a href="https://opidor.fr/category/dmp-faq/" title="DMPOPIDoR FAQ - <%= _("Opens in new window") %>" target="_blank">
          <%= _('FAQ') %>
        </a>
      </span>
      <span><a href="<%= news_feed_path %>"><%= d_('dmpopidor', 'News') %></a></span>
      <span><a href="<%= tutorials_path %>"><%= d_('dmpopidor', 'Tutorials') %></a></span>
      <span><a href="<%= contact_us %>"><%= _('Contact us') %></a></a></span>
    </div>
    <div class="footer-logos">
      <span>
        <%= link_to("http://www.cnrs.fr/", title: d_("dmpopidor", "CNRS website") + " - " + _("Opens in new window"), target: '_blank')  do %>
          <%= image_tag("cnrs.gif", alt: 'CNRS logo (opens in a new window)') %>
        <% end %>
      </span>
      <span>
        <%= link_to("https://github.com/DMPRoadmap/roadmap", title: "DMPRoadmap Github - " + _("Opens in new window"), target: '_blank')  do %>
          <%= image_tag("roadmap_logo_orange_white.png", alt: 'DMPRoadmap Github (opens in a new window)') %>
        <% end %>
      </span>
    </div>
  </div>

  <!-- footer application version, credits & socials networks links -->
  <div class="footer-infos-sn">
    <div class="footer-infos">
      <span>
        <%= link_to("#{Rails.configuration.branding[:organisation][:url]}", 
                    title: d_("dmpopidor", "INIST website") + " - " + _("Opens in new window"), target: '_blank' ) do %>
          <%= "&copy; 2016 - #{Time.now.year} #{Rails.configuration.branding[:organisation][:abbreviation]}".sanitize %>
          <% end %>
      </span>
      <span class="break-point">•</span>
      <span><%= Rails.configuration.branding[:application][:version] %></span>
    </div>
    <div class="footer-sn">
      <span>
        <a title="DMPOPIDoR Github - <%= _("Opens in new window") %>" target="_blank" href="<%= Rails.configuration.branding[:application][:url] %>" target="_blank">
          <i class="fa fa-github-alt"></i>
        </a>
      </span>
      <span>
        <a title="OPIDoR Twitter - <%= _("Opens in new window") %>" target="_blank" href="<%= Rails.configuration.branding[:application][:twitter_url] %>">
          <i class="fa fa-twitter"></i>
        </a>
      </span>
      <span>
        <a title="<%= d_('dmpopidor', 'Mailing list') %> - <%= _("Opens in new window") %>"  target="_blank" href="<%= Rails.configuration.branding[:application][:user_group_subscription_url] %>">
          <i class="fa fa-comments"></i>
        </a>
        </span>
    </div>
  </div>
  
</div>