<% available_images = [
     "1-large.jpg",
     "2-large.png",
     "3-large.jpg",
     "4-large.jpg",
     "5-large.png"
   ] %>

<%= homepage_image = "images/#{available_images[(0..4).to_a.sample]}" %>

<div class="welcome" style="background-image: url('<%= asset_pack_path(homepage_image) %>');">
  <div>
    <div class="welcome-message">
      <div>
        <h1><%= _('Welcome to the DMPTool') %></h1>
        <p><%= _('Create data management plans that meet institutional and funder requirements.') %></p>
      </div>
      <div>
        <div class="get-started">
          <a href="<%= get_started_path %>" class="btn btn-inverse">
            <%= _('Get started') %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>