<% content_for :home do %>
  <div class="c-calltoaction js-heroimage">
    <h1><%= _("Create Data Management Plans that meet requirements and promote your research") %></h1>
  </div>

  <section class="c-login js-login">
    <%= yield(:authentication) %>
  </section>

  <div class="c-home-stats">
    <% stats = statistics %>
    <ul>
      <li class="c-home-stats__users">
        <%= number_with_delimiter(stats[:user_count]) || '?' %> <%= _("Users") %>
      </li>
      <li class="c-home-stats__participants">
        <a href="<%= public_orgs_path %>">
          <%= number_with_delimiter(stats[:institution_count]) || '?' %> <%= _("Participating Institutions") %>
        </a>
      </li>
      <li class="c-home-stats__plans">
        <%= number_with_delimiter(stats[:completed_plan_count]) || '?' %> <%= _("Plans") %>
      </li>
    </ul>
  </div>

  <article class="c-blog" role="marquee">
    <header>
      <h2><%= _('Latest News from DMPTool') %></h2>
    </header>

    <!-- If the Blog feed is available -->
    <% blog_items = feed %>
    <% if blog_items.present? %>
      <%
        json = []
        blog_items.each do |i|
          json << { "title": "#{truncate(i.title, length: 120)}", "link": "#{i.link}" }
        end
      %>
      <input type="hidden" id="j-blog__array"
                value="<%= escape_javascript JSON.generate(json) %>" />
    <% end %>

    <div id="j-blog__content" class="c-blog__content">
      <% unless blog_items.present? %>
        <p><%= _('News is currently unavailable') %></p>
      <% end %>
    </div>
    <footer>
      <a href="https://blog.dmptool.org/"><%= _('View all news') %></a>
      <ul class="c-social">
        <li>
          <a class="c-social__icon-twitter" href="https://twitter.com/TheDMPTool" target="_blank">
            <span class="c-social__sr-only"><%= _('TheDMPTool on Twitter (opens new window)') %></span>
          </a>
        </li>
        <li>
          <a class="c-social__icon-rss" href="https://blog.dmptool.org/" target="_blank">
            <span class="c-social__sr-only"><%= _('DMPTool blog (opens new window)') %></span>
          </a>
        </li>
      </ul>
    </footer>
  </article>
<% end %>
