<%# locals: notice, alert %>

<%# Success/notice messages %>
<% globals = Notification.active_per_user(current_user) %>

<div class="c-notificationgroup">

  <!-- Success message -->
  <% if flash[:notice].present? %>
    <div id="js-notification-info" class="c-notification--info" role="alert">
      <p><%= sanitize(flash[:notice]) %><%= yield :model_errors %></p>
      <button id="js-notification-close" class="c-notification__close">
        <span><%= _('Close') %></span>
      </button>
    </div>
  <% end %>

  <!-- Warning message -->
  <% if globals.any? %>
    <%= globals.each do |msg| %>
      <div id="js-notification-warning" class="c-notification--warning" role="alert">
        <p><%= sanitize msg.body %></p>
        <button id="js-notification-close" class="c-notification__close">
          <span><%= _('Close') %></span>
        </button>
      </div>
    <% end %>
  <% end %>

  <% if flash[:alert].present? || flash[:error].present? %>
    <!-- Error message -->
    <div id="js-notification-danger" class="c-notification--danger" role="alert">
      <% msg = flash[:alert].present? ? flash[:alert] : flash[:error] %>
      <p><strong><%= _('Error:') %></strong> <%= sanitize(msg) %></p>
      <button id="js-notification-close" class="c-notification__close">
        <span><%= _('Close') %></span>
      </button>
    </div>
  <% end %>
</div>
