<%# locals: notice, alert %>

<%# Success/notice messages %>
<% globals = Notification.active_per_user(current_user) %>

<div id="notification-area" class="c-notificationgroup">

  <%
  has_notice = flash[:notice].present?
  has_alert = flash[:alert].present? || flash[:error].present?
  has_warning = flash[:warn].present?
  %>

  <!-- Success message -->
  <div id="js-notification-info" class="c-notification--info<%= has_notice ? '' : ' hide' %>"
        role="alert">
    <% if has_notice %>
      <p><%= sanitize(flash[:notice]) %><%= yield :model_errors %></p>
    <% end %>
  </div>

  <!-- Warning message -->
  <div id="js-notification-warning" class="c-notification--warning<%= has_warning ? '' : ' hide' %>"
        role="alert">
    <% if has_warning %>
      <p><%= sanitize(flash[:warn]) %><%= yield :model_errors %></p>
    <% end %>
    <% globals.each do |msg| %>
      <p><%= sanitize msg.body %></p>
    <% end %>
  </div>

  <!-- Error message -->
  <div id="js-notification-danger" class="c-notification--danger<%= has_alert ? '' : ' hide' %>" role="alert">
    <% if has_alert %>
      <% msg = flash[:alert].present? ? flash[:alert] : flash[:error] %>
      <p><strong><%= _('Error:') %></strong> <%= sanitize(msg) %></p>
    <% end %>
  </div>
</div>
