<!-- Sign in / out -->
<li class="dropdown" id="signin-signout">
  <% if user_signed_in? %>
    <a href="#" class="dropdown-toggle" role="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= current_user.name(false) %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dmpopidor-dropdown" aria-labelledby="user-menu">
      <li>
        <%= link_to '<i class="fas fa-pencil-square" aria-hidden="true">&nbsp;</i>&nbsp;'.html_safe + _('Edit profile'), edit_user_registration_path %>
      </li>
      <li>
        <%= link_to '<i class="fas fa-sign-in" aria-hidden="true">&nbsp;</i>&nbsp;'.html_safe + _('Logout'), destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  <% else %>
    <a href="<%= root_path %>">
      <%= _('Sign in') %>
    </a>
  <% end %>
</li>

<!-- language dropdown -->
<% if Language.many? %>
  <li class="dropdown" id="change-language">
    <a href="#" class="dropdown-toggle" role="button" id="language-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      FR / EN  <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dmpopidor-dropdown" aria-labelledby="language-menu">
      <% languages.each do |l| %>
          <li <%= 'class=active' if I18n.locale.to_s == l.abbreviation %>>
            <%= link_to l.name, locale_path(l.abbreviation), method: :patch %>
          </li>
      <% end %>
    </ul>
  </li>
<% end %>
