<%# locals: org %>

<% org = local_assigns.fetch(:org, current_user.org) %>

<% unless org.nil? %>
  <div class="c-subheader">
    <a class="c-logo-org" href="<%= org.target_url.present? ? org.target_url : root_path %>">
      <% if org&.logo&.present? %>
        <%= image_tag(logo_url_for_org(org), alt: "#{org.name} logo",
                                            width: "104", height: "39") %>
      <% else %>
        <p><%= org.name %></p>
      <% end %>
    </a>

    <% if org.links.any? && org.links['org'].present? %>
      <ul class="c-links-org">
        <% org.links['org'].each do |link| %>
          <% next unless link['link'].present? %>

          <li>
            <a href="<%= link['link'] %>" class="c-links-org__ucop" target="_blank">
              <i class="fas fa-cloud"></i>
              <%= link['text'].blank? ? link['link'] : link['text'] %>
            </a>
          </li>
        <% end %>

        <% if org.contact_email.present? %>
          <li>
            <a href="mailto:<%= org.contact_email %>" class="c-links-org__uc3-helpdesk">
              <i class="fas fa-envelope"></i>
              <%= org.contact_name ? org.contact_name : org.contact_email %>
            </a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
