<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/analytics' %>

    <title><%= content_for?(:title) ? yield(:title) : _('%{application_name}') % {
      application_name: ApplicationService.application_name } %>
    </title>
    <%= favicon_link_tag 'favicon.ico', rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', sizes: "32x32", type: 'image/png' %>
    <%= favicon_link_tag 'favicon-16x16.png', rel: 'icon', sizes: "16x16", type: 'image/png' %>
    <%= favicon_link_tag 'safari-pinned-tab.svg', rel: 'mask-icon', color: "#0E5682" %>
    <%= favicon_link_tag 'site.webmanifest', rel: 'manifest' %>

    <!--[ if lte IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
         <style type="text/css">
           .navbar {
             filter:none !important;
           }
         </style>
    <![endif]-->

    <!--[if gte IE 9]>
        <style type="text/css">
          .gradient {
               filter: none;
          }
        </style>
    <![endif]-->

    <!--[if IE]>
          <script>
            $(function() {
              // Invoke the plugin
              $('input, textarea').placeholder();
              $('input, iframe').placeholder();
          });
        </script>
    <![endif]-->

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" media="screen" href="/dmptool-ui/main.css" />

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="/dmptool-ui/main.js" data-turbo-track="reload"></script>

    <%= csrf_meta_tags %>

    <meta name="msapplication-TileColor" content="#0e5682">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  <body class="<%= page_body_template %>">

    <a href="#maincontent" class="c-skipnav">Skip to main content</a>

    <!-- header rendering -->
    <header>
      <%= render partial: "layouts/header" %>
      <%= render partial: "layouts/notifications", locals: local_assigns %>
    </header>

    <%= yield(:faceting) if content_for?(:faceting) %>

    <main id="maincontent" class="<%= @main_class %>">

      <%= content_for?(:home) ? yield(:home) : yield %>

      <%# Generic UJS/Ajax spinner. Bootstrap 5+ has built in spinner for this class %>
      <div class="spinner-border hidden" role="status">
        <% spinner_msg = _("Loading...") %>
        <%= image_tag("spinner.gif", alt: spinner_msg) %>
      </div>

    </main>

    <footer><%= render "layouts/footer" %></footer>

    <%= render partial: "layouts/json_constants" %>
  </body>
</html>
