<!DOCTYPE html>
<html lang="en">
  <head>
    <% if Rails.configuration.x.google_analytics.tracker_root.present? %>
      <% root_abbr = Rails.configuration.x.google_analytics.tracker_root %>
      <% root_org = Org.where(abbreviation: root_abbr).first %>
      <% if root_org.tracker.present? %>
        <% root_code = root_org.tracker.code %>
        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '<%=root_code%>', 'auto');
          ga('send', 'pageview');
          <% if current_user.present? and current_user.org.present? %>
            <% client_org = current_user.org %>
            <% if client_org.tracker.present? %>
              <% client_code = client_org.tracker.code %>
              <% unless root_code == client_code %>
                ga('create', '<%=client_code%>', 'auto','clientTracker');
                ga('clientTracker.send', 'pageview');
              <% end %>
            <% end %>
          <% end %>
        </script>
      <% end %>
    <% end %>
    <!-- End Google Analytics -->
    <title><%= content_for?(:title) ? yield(:title) : _('%{application_name}') % { :application_name => ApplicationService.application_name } %> 
    </title>
    <%= favicon_link_tag "favicon.ico" %>
    <!--[ if lte IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
         <style type="text/css">
           .navbar {
             filter:none !important;
           }
         </style>
    <![endif]-->

    <!--[if gte IE 9]>
        <style type="text/css">
          .gradient {
               filter: none;
          }
        </style>
    <![endif]-->

    <!--[if IE]>
          <script>
            $(function() {
              // Invoke the plugin
              $('input, textarea').placeholder();
              $('input, iframe').placeholder();
          });
        </script>
    <![endif]-->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script type="text/javascript" id="cookiebanner"
      src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.2/cookiebanner.min.js"
      data-message="<%= _('By continuing to browse, without changing your settings, you accept the use of cookies to measure the traffic of the website with the software Matomo. For more information, to change or manage your settings, please visit our Privacy Statement page.')%>"        
      data-moreinfo="<%= privacy_path%>"
      data-close-text="<%= _('Accept') %>"
      data-close-precedes="false"
      data-close-style=padding-left:5px; color: rgb(170, 170, 170);""
      data-likmsg="<%=_('Learn more') %>"
      ></script>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="plan de gestion de données, PGD, data management plan, DMP, OPIDoR, H2020, Horizon2020, CNRS, INIST, ANR, software management plan, SMP, CNRS">
    <meta name="description" content="DMP OPIDoR vous accompagne à travers l’élaboration et la mise en pratique de plans de gestion de données et de logiciels.">

  </head>
  <body>
      <div class="skip">
        <a href="#maincontent"> _('Skip to main content') </a> 
      </div>
      <!-- header rendering -->
      <header class="dmpopidor-branding">
        <%= render partial: "layouts/header" %>
      </header>

      <!-- main page content rendering -->
      <% 
        user_access_class = if request.path.starts_with?('/super_admin')
                              "super-admin"
                            elsif request.path.starts_with?('/org_admin') ||
                                  request.path.starts_with?('/org/admin')
                              "org-admin"
                            else
                              ""
                            end 
      %>
      <main class="container dmpopidor-branding <%= user_access_class %>" id="maincontent">
        <%= yield %>

        <%# Generic UJS/Ajax spinner. Bootstrap 5+ has built in spinner for this class, so update when
            we upgrade to remove the img tag %>
        <div class="spinner-border hidden" role="status">
          <%spinner_msg = _("Loading...") %>
          <%= image_tag("spinner.gif", alt: spinner_msg) %>
        </div>

        <%= render "layouts/contact_icons" %>
      </main>

      <!-- footer rendering -->
      <footer id="dmpopidor-footer">
        <%= render "layouts/footer" %>
      </footer>

      <div class="back-to-top-wrapper">
        <a href="#" class="back-to-top-link" aria-label="Scroll to Top"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
      </div>

      <!-- piwik -->
      <%= render "layouts/piwik" %>

    <%
    constants_json = {
      HOST: request.host,
      PASSWORD_MIN_LENGTH: 8,
      PASSWORD_MAX_LENGTH: 128,
      MAX_NUMBER_ORG_URLS: 3,
      MAX_NUMBER_GUIDANCE_SELECTIONS: 6,

      REQUIRED_FIELD_TEXT: _('This field is required.'),

      SHOW_PASSWORD_MESSAGE: _('Show password'),
      SHOW_SELECT_ORG_MESSAGE: _('Select an organisation from the list.'),
      SHOW_OTHER_ORG_MESSAGE: _('My organisation isn\'t listed'),

      PLAN_VISIBILITY_WHEN_TEST: _('N/A'),
      PLAN_VISIBILITY_WHEN_NOT_TEST: _('Private'),
      PLAN_VISIBILITY_WHEN_NOT_TEST_TOOLTIP: _('Private: restricted to me and people I invite.'),

      SHIBBOLETH_DISCOVERY_SERVICE_HIDE_LIST: _('Hide list.'),
      SHIBBOLETH_DISCOVERY_SERVICE_SHOW_LIST: _('See the full list of partner institutions.'),

      NO_TEMPLATE_FOUND_ERROR: _('Unable to find a suitable template for the research organisation and funder you selected.'),
      NEW_PLAN_DISABLED_TOOLTIP: _('Please select a research organisation and funder to continue.'),

      AJAX_LOADING: _('Loading ...'),
      AJAX_UNABLE_TO_LOAD_TEMPLATE_SECTION: _('Unable to load the section\'s content at this time.'),
      AJAX_UNABLE_TO_LOAD_TEMPLATE_SECTION_QUESTION: _('Unable to load the question\'s content at this time.'),
      OPENS_IN_A_NEW_WINDOW_TEXT: _('Opens in a new window'),

      AUTOCOMPLETE_ARIA_HELPER: _("%{n} results are available, use up and down arrows to navigate suggestions. Use the Enter key to select a suggestion or the Escape key to close the suggestions."),
      AUTOCOMPLETE_ARIA_HELPER_EMPTY: _("No results are available for your entry."),
      AUTOCOMPLETE_SEARCHING: _("Searching ..."),

      CURRENT_LOCALE: LocaleService.to_gettext(locale: @current_locale.to_s)
    }.to_json
    %>

    <input type="hidden" id="js-constants" value="<%= constants_json %>" />

  </body>
</html>
