<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : _('%{application_name}') % {
      application_name: ApplicationService.application_name } %>
    </title>

    <%= favicon_link_tag 'favicon.ico', rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', sizes: "32x32", type: 'image/png' %>
    <%= favicon_link_tag 'favicon-16x16.png', rel: 'icon', sizes: "16x16", type: 'image/png' %>
    <%= favicon_link_tag 'safari-pinned-tab.svg', rel: 'mask-icon', color: "#0E5682" %>
    <%= favicon_link_tag 'site.webmanifest', rel: 'manifest' %>


   
    
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" media="screen" href="/dmptool-ui/main.css" />

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="/dmptool-ui/main.js" data-turbo-track="reload"></script>

    <%= javascript_include_tag "reactApplication", "data-turbo-track": "reload", defer: true %>
    <%= csrf_meta_tags %>

    <meta name="msapplication-TileColor" content="#0e5682">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  </head>
  <body class="<%= page_body_template %>">
  
    <a href="#maincontent" class="c-skipnav">Skip to main content</a>

    <!-- header rendering -->
    <%= render partial: "layouts/header_reactapp" %>
 <%= render partial: "layouts/notifications", locals: local_assigns %>
   

    <main id="maincontent" class="<%= @main_class %>">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>

  </body>
</html>
