<%= stylesheet_link_tag "admin" %>
<% javascript 'admin.js' %>

<% if @organisation.errors.any? %>
  <ul>
  <% @organisation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<h1>
	<%= t('org_admin.org_details_label') %>
</h1>
   
<div class="white_background blue_border">
	<!-- body -->
	<div class="dmp_details">
          <%= form_for(@organisation, :url => admin_update_organisation_path(@organisation), :html => { :multipart => true, :id => "edit_org_details",  :method => :put}) do |f| %> 
            <!-- table with org details-->
            <table class="dmp_details_table">
                <tr>
                    <td class="first"><%= t('org_admin.org_name') %></td>
                    <td><%= f.text_field :name, 
                            :as => :string, 
                            :class => 'text_field has-tooltip', 'data-toggle' => "tooltip", 'title' => t('org_admin.name_help_text') %></td>
                </tr>
                <tr>
                    <td class="first"><%= t('org_admin.org_abbr') %></td>
                    <td><div class="div_left_icon_g">
                            <%= f.text_field :abbreviation,
                            :as => :string, 
                            :class => 'text_field' %>
                        </div>
                        <div class="div_right_icon_g">
                            <%= link_to( image_tag('help_button.png'), '#', :class => 'org_abbr_popover', :rel => "popover", 'data-html' => "true", 'data-content' => t('org_admin.templates.desc_help_text_html'))%>
                        </div>
                        <div class="clearfix"></div>
                    </td>
                
                </tr>
                <!-- organisation logo -->
                <% if @organisation.logo.present? then%>
                  <tr>
                    <td class="first"><%= t('org_admin.org_logo') %></td>
                    <td><%= image_tag @organisation.logo.url %> </td>
                  </tr>
                  <tr>
                    <td class="first"></td>
                    <td><%= f.check_box :remove_logo %>&nbsp;&nbsp;&nbsp;<%= t('org_admin.remove_logo') %></td>
                  </tr>
                <%end%>
              <tr class="blank_row"><td class="first"></td></tr>
              <tr>
                <td class="first"><%= t('org_admin.new_org_logo') %></td>
               <td><%= f.file_field :logo %></td>
              </tr>
              <tr class="blank_row"><td class="first"></td></tr>
 
                <tr>
                    <td class="first"><%= t('org_admin.org_desc') %></td>
                    <td><%= f.text_area :description, { 
                            :rows => 5, 
                            :class => 'text_area has-tooltip', 'data-toggle' => "tooltip", 'data-html' => "true", 'title'=> t('org_admin.desc_help_text_html')} %></td>
                </tr>
                <tr>
                    <td class="first"><%= t('org_admin.org_banner_text') %></td>
                    <td>
                        <%= text_area_tag("org_banner_text", @organisation.banner_text, class: "tinymce") %>
                    </td>
                </tr>
                <tr>
                    <td class="first"><%= t('org_admin.org_target_url') %></td>
                    <td><%= f.text_field :target_url,
                            :as => :string, 
                            :class => 'text_field has-tooltip', 'data-toggle' => "tooltip", 'title' => t('org_admin.target_url_help_text') %></td>
                </tr>
                <tr>
                    <td class="first"><%= t('org_admin.org_type') %></td>
                    <td><%= @organisation.organisation_type.name %></td>
                </tr>
            </table>
			
            <div class="div_clear">
            </div>
            
			<!-- submit buttons -->
			
            <div class="move_2_right">
                <%= f.submit t('helpers.submit.save'), :class => 'btn btn-primary' %>
                <%= link_to t('helpers.submit.cancel'), :back, :class => 'btn btn-primary' %>
            </div>
			
			<br />
		<%end%>
	</div>
</div>	

<%= tinymce :content_css => asset_path('application.css') %>	

