<table class="table tablesorter table-hover table-bordered">
  <thead>
    <tr>
      <th><%= _('Name') %></th>
      <th><%= _('Email address') %>&nbsp;<%= paginable_sort_url('email') %></th>
      <th class="text-center"><%= _('Last logged in') %>&nbsp;<%= paginable_sort_url('last_sign_in_at') %></th>
      <th class="text-center"><%= _('How many plans?') %></th>
      <th class="text-center"><%= _('Privileges') %></th>
    </tr>
  </thead>
  <tbody>
    <% scope.each do |user| %>
      <% if !user.nil? then%>
        <tr>
          <td>
            <% if !user.name.nil? %>
                <%= user.name(false) %>
            <% end %>
          </td>
          <td>
              <%= user.email %>
          </td>
          <td class="text-center">
            <% if !user.last_sign_in_at.nil? %>
                <%= l user.last_sign_in_at.to_date, :formats => :short %>
            <% end %>
          </td>
          <td class="text-center">
            <% if !user.roles.nil? %>
                <%= user.roles.length %>
            <% end %>
          </td>
          <td class="text-center">
            <% unless current_user == user %>
                <% b_label = _('Edit')%>
                <%= link_to b_label, admin_grant_permissions_user_path(user)%>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>