<%# Devise Sign in / Sign up (validate) form that allows User to provide an email %>

<%# No email is present, so the homepage has just been loaded %>
<%= render partial: 'users/shared/login_header', locals: { title: label } %>

<%= form_with model: User.new, url: new_user_session_path, method: :post, local: true,
              class: "novalidate" do |form| %>
  <div id="sign-in-sign-up-email" class="c-textfield js-textfield">
    <%= form.label :email, _('Email address') %>
    <%= form.email_field(:email,
                        class: "require-me",
                        aria: { describedby: "sign-in-sign-up-email-desc" },
                        autocomplete: 'email') %>
    <div id="sign-in-sign-up-email-desc" class="c-textfield__general-description">
      <%= _("For SSO, use your institutional address.") %>
    </div>
    <div id="" class="c-textfield__invalid-description js-invalid-description" hidden>
    </div>
  </div>
  <button type="submit" class="btn btn-primary"><%= _("Continue") %></button>
<% end %>

<footer class="c-login__footer">
  <p>
    <%= sanitize (_('Problems signing in? %<contact_us_url>s') % {
      contact_us_url: link_to(_('Contact us.'), contact_us_path) }) %>
  </p>
</footer>
