<%# locals: { fragment } %>
<fieldset class="project-details"> <!-- Funder -->
  <legend class="project-details"><%= _('Funder') %></legend>
  <div class="form-group"><!-- funder name-->
    <%= create_text_field(
          f, 
          fragment && fragment["funder"] ? fragment["funder"]["name"] : nil, 
          "funder[name]", 
          _('Name')
        ) 
    %>
  </div>
  <div class="form-group"><!-- funder id value -->
    <%= create_text_field(
          f, 
          fragment && fragment["funder"] && fragment["funder"]["funderId"] ? fragment["funder"]["funderId"]["value"] : nil, 
          "funder[funderId[value]]",
          _('Identifiant')
        ) 
    %>
  </div>
  <div class="form-group"><!-- funder id type -->
    <%= create_select_field(
          f, 
          fragment && fragment["funder"] && fragment["funder"]["funderId"]  ? fragment["funder"]["funderId"]["idType"] : "ROR",
          "structured_answer[funder[funderId[idType]]]", 
          _('Identifier Type'),
          ["ROR", "ISSNI", "RNSR", "FundRef"]
        ) 
    %>
  </div>
  <div class="form-group"><!-- funder dataPolicyUrl -->
    <%= create_url_field(
          f, 
          fragment && fragment["funder"] ? fragment["funder"]["dataPolicyUrl"]  : nil, 
          "funder[dataPolicyUrl]",
          _('Data Policy URL')
        ) 
    %>
  </div>
</fieldset>

<fieldset class="project-details"> <!-- Grant ID -->
  <legend class="project-details"><%= _('Grant ID') %></legend>
  <div class="form-group"><!-- grand id value -->
    <%= create_text_field(
          f, 
          fragment && fragment["grantId"] ? fragment["grantId"]["value"] : nil, 
          "grantId[value]", 
          _('Value')
        ) 
    %>
  </div>
  <div class="form-group"><!-- grand id type -->
    <%= create_select_field(
          f, 
          fragment && fragment["grantId"] ? fragment["grantId"]["idType"] : "DOI",
          "structured_answer[grantId[idType]]", 
          _('Identifier Type'),
          ["DOI", "URL"]
        ) 
    %>
  </div>
</fieldset>
<div class="form-group"><!-- funding status -->
  <%= create_select_field(
        f, 
        fragment ? fragment["fundingStatus"] : "Planned",
        "structured_answer[fundingStatus]", 
        _('Funding Status'),
        ["Planned","Applied", "Granted", "Rejected"]
      ) 
  %>
</div>