<%# locals: { fragment } %>

<div class="form-group"><!-- partner name -->
  <%= create_text_field(
        f, 
        fragment ? fragment["name"] : nil, 
        "name", 
        _('Name')
      ) 
  %>
</div>

<fieldset class="project-details"> <!-- DMP ID -->
  <legend class="project-details"><%= _('Org ID') %></legend>
  <div class="form-group"><!-- org id value -->
    <%= create_text_field(
          f, 
          fragment && fragment["orgId"] ? fragment["orgId"]["value"] : nil, 
          "orgId[value]", 
          _('ID')
        ) 
    %>
  </div>
  <div class="form-group"><!-- Identifier Type -->
    <%= create_select_field(
          f, 
          fragment && fragment["orgId"] ? fragment["orgId"]["idType"] : "ROR",
          "structured_answer[orgId[idType]]", 
          _('Identifier Type'),
          ["ROR", "ISSNI", "RNSR"]
        ) 
    %>
  </div>
</fieldset>

<div class="form-group"><!-- partner name -->
  <%= create_url_field(
        f, 
        fragment ? fragment["dataPolicyUrl"]  : nil, 
        "dataPolicyUrl", 
        _('Data Policy URL')
      ) 
  %>
</div>