<h1><%= _('Participating Institutions') %></h1>
<table class="table">
  <thead>
    <tr>
      <th class="col-md-8"><%= _('Institution') %></th>
      <th class="col-md-2 text-center"><%= _('Linked Signin') %></th>
      <th class="col-md-2 text-center"><%= _('Provides Guidance') %></th>
    </tr>
  </thead>  
  <tbody>
    <% orgs.each do |org| %>
      <tr>
        <td><%= org.name %></td>
        <td class="text-center"><i class="fa <%= org.shibbolized? ? 'fa-check' : 'fa-times' %>"></i></td>
        <td class="text-center"><i class="fa <%= false ? 'fa-check' : 'fa-times' %>"></i></td>
      </tr>
    <% end %>
  </tbody>
</table>
