<%# locals: api_client, user %>

<br>

<%
  url = api_client.new_record? ? api_clients_path : api_client_path(api_client)
  method = api_client.new_record? ? :post : :put

  name_tooltip = _("The name of your application/system that will interact with the %{application_name}'s API") % { application_name: "DMP Tool" }
  description_tooltip = _("Please provide a brief description of your system and the purpose of the intgeration.")
  redirect_uri_tooltip = _("A redirect URI is the address that will be sent the user's OAuth authorization code. If you have multiple URIs, pllease place them on inidividual lines. The redirect_uri you specify in your calls to the API must match one of the ones you define here.")
  callback_uri_tooltip = _("An API endpoint on your application/system that we can use to notify you when a DMP is updated. You will receive notifications of updates to any DMPs you create, download or update.")
%>
<%= form_for api_client, url: url, method: method, remote: true, html: { class: 'api_client' } do |f| %>
  <h3><%= _("Standard Access") %></h3>
  <div class="row" id="api-client-credentials">
    <div class="form-group col-xs-4">
      <%= f.label :contact_name, _('Contact Name'), class: 'control-label' %>
      <%= f.text_field :contact_name, class: 'form-control', aria: { required: true } %>
    </div>
    <div class="form-group col-xs-4">
      <%= f.label :contact_email, _('Contact Email'), class: 'control-label' %>
      <%= f.email_field :contact_email, class: 'form-control', aria: { required: true } %>
    </div>
  </div>
  <% unless api_client.new_record? %>
    <div class="row" id="api-client-credentials">
      <div class="form-group col-xs-4">
        <%= f.label :client_id, _('Client ID'), class: 'control-label' %>
        <%= f.text_field :client_id, class: 'form-control', disabled: true %>
      </div>
      <div class="form-group col-xs-4">
        <%= f.label :client_secret, _('Client Secret'), class: 'control-label' %>
        <%= f.text_field :client_secret, class: 'form-control', disabled: true %>
      </div>
    </div>
  <% end %>

  <hr>

  <h3><%= _("Protected Access") %></h3>
  <div class="row">
    <div class="form-group col-xs-8">
      <%= _("This system supports the OAuth2 authorization standard. Please assign a name for your system and provide a homepage and your OAuth2 compliant redirect URIs below to acquire user authorization codes. You can leave this section blank, if you will do not require 'protected' access (see above).") %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-4">
      <%= f.label :name, _('Application Name'), class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control', data: { toggle: "tooltip" },
                              title: name_tooltip %>
    </div>
    <div class="form-group col-xs-4">
      <%= f.label :homepage, _('Homepage'), class: 'control-label' %>
      <%= f.url_field :homepage, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-8">
      <%= f.label :description, _('Description'), class: 'control-label' %>
      <%= f.text_area :description, class: 'form-control api-client-text' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-8">
      <%= f.label :logo, _('Logo'), class: "control-label"  %>

      <% if f.object.logo.present? %>
        <div class="clearfix"></div>
        <%= image_tag logo_url_for_org(f.object), alt: "#{f.object.name} #{_('logo')}", class: "org-logo" %>
        <div class="org-logo-controls checkbox">
          <%= f.label :remove_logo do %>
            <%= f.check_box :remove_logo,
                             title: _("This will remove your logo") %>
            <%= _('Remove logo') %>
          <% end %>
          <strong> - <%= _('or') %> - </strong>
          <span class="btn btn-default btn-file"><%= f.file_field :logo %></span>
        </div>
      <% else %>
        <%= f.file_field :logo %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-8">
      <%= f.label :redirect_uri, _('Redirect URI(s)'), class: 'control-label' %>
      <%= f.text_area :redirect_uri, class: 'form-control', rows: 3,
                                     placeholder: 'http://localhost:3000/oauth2/callback',
                                     data: { toggle: "tooltip" }, title: redirect_uri_tooltip %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-2">
      <%= f.label :callback_method, _('Callback method'), class: 'control-label' %>
      <% http_methods = ApiClient.callback_methods.map { |k, _v| [k.humanize, k] } %>
      <%= f.select :callback_method, options_for_select(http_methods, f.object.callback_method),
                   { selected: f.object.callback_method || 0 }, { class: "form-control" } %>
    </div>
    <div class="form-group col-xs-6">
      <%= f.label :callback_uri, _('Callback URI'), class: 'control-label' %>
      <%= f.url_field :callback_uri, class: 'form-control', rows: 3,
                                     placeholder: 'http://localhost:3000/dmps/',
                                     data: { toggle: "tooltip" }, title: callback_uri_tooltip %>
    </div>
  </div>

  <div class="form-group row api-client-controls">
    <div class="col-md-8">
      <%= f.hidden_field :user_id %>

      <%= f.button _('Save'), class: 'btn btn-primary', type: 'submit' %>

      <% unless api_client.new_record? %>
        <%= link_to _("Refresh client secret"),
                    refresh_credentials_api_client_path(id: api_client),
                    class: "btn btn-default", remote: true %>
      <% end %>
    </div>
    <div class="col-md-8 refresh-response"></div>
  </div>
<% end %>