<%= stylesheet_link_tag "admin" %>

<h1>
    <%= t('org_admin.users_list') %>
</h1>

<%= raw t('org_admin.user_text_html')%>
<% @users = current_user.organisation.users %>
    <table id="dmp_table" class="dmp_table tablesorter">
      <thead>
        <tr>
            <th class="dmp_th_big"><%= t('org_admin.user_full_name') %></th>
            <th class="dmp_th_medium"><%= t('org_admin.user_name') %></th>
            <th class="dmp_th_small"><%= t('org_admin.last_logged_in') %></th>
            <th class="dmp_th_small"><%= t('org_admin.how_many_plans') %></th>
            <th class="dmp_th_small"><%= t('org_admin.is_org_admin') %></th>
            <% if current_user.organisation.token_permission_types.count > 0 %>
            <th class="dmp_th_small"><%= t('org_admin.api_privleges') %></th>
            <% end %>
        </tr>
      </thead>

      <tbody>
      <%= form_tag( admin_api_update_users_path, method: :put) do %>
        <% @users.each do |user| %>
            <% if !user.nil? then%>
              <tr>
                <td class="dmp_td_big">
                    <% if !user.name.nil? then%>
                        <%= user.name %>
                    <% end %>
                </td>
                <td class="dmp_td_medium">
                    <%= user.email %>
                </td>
                <td class="dmp_td_small">
                    <% if !user.last_sign_in_at.nil? then%>
                    <%= l user.last_sign_in_at.to_date, :formats => :short %>
                    <% end %>
                </td>
                <td class="dmp_td_small">
                    <% if !user.project_groups.nil? then%>
                    <%= user.project_groups.count %>
                    <% end %>
                </td>
                <td class="dmp_td_small">
                    <%= check_box_tag "org_admin_ids[]", user.id, user.is_org_admin? %>
                </td>
                <% if current_user.organisation.token_permission_types.count > 0 %>
                <td class="dmp_td_small">
                    <%= check_box_tag "api_user_ids[]", user.id, user.api_token !="" %>
                </td>
                <% end %>
              </tr>
            <% end %>
        <% end %>
      </tbody>
      <%= submit_tag "Update Users" %>
      <% end %>
    </table>