<div class="row">
  <div class="col-md-12">
    <h1><%= t('helpers.change_password') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, id: "user_reset_password"}) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label(:password, _('New password'), class: 'control-label') %>
        <%= f.password_field(:password, class: 'form-control', "aria-required": true, "data-validation": "password") %>
      </div>
      <div class="form-group">
        <%= f.label(:password_confirmation, _('Password confirmation'), class: 'control-label') %>
        <%= f.password_field(:password_confirmation, class: 'form-control', "aria-required": true, "data-validation": "password") %>
      </div>

      <%= f.button(_('Save'), class: "btn btn-default", type: "submit") %>

      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>  
