<% javascript "devise/passwords/new.js" %>

<% unless @user.errors[:email].nil? %>
  <p class="alert alert-error"><%= _('The email address you entered is not registered.') %></p>
<% end %>

<h1><%= t('helpers.forgot_password') %></h1>

<p><%= _('Please enter your email below and we will send you instructions on how to reset your password.') %></p>

<div class="dmp_details_body">
  <%= form_for resource, as: 'user', url: user_password_path, html: {class: "password-reset roadmap-form", method: :post} do |f| %>

    <fieldset id="password-reset-form" class="standard padded">
      <%= render partial: 'shared/accessible_input',
                 locals: {type: 'email', id: 'user_email', name: 'user[email]', label: _("Email"),
                          classes: 'required', val: @user.email} %>

      <br />
      <%= render partial: 'shared/accessible_submit_button',
                 locals: {id: 'password-reset-button', 
                          val: _('Send'), 
                          disabled_initially: true,
                          classes: 'small-input-button',
                          tooltip: _('Enter a valid email.')} %>
    </fieldset>
  <% end %>
</div>

