<% javascript "devise/passwords/new.js" %>

<% unless @user.errors[:email].empty? %>
  <p class="alert alert-error"><%= _('The email address you entered is not registered.') %></p>
<% end %>

<h1><%= t('helpers.forgot_password') %></h1>

<p><%= _('Please enter your email below and we will send you instructions on how to reset your password.') %></p>

<div class="dmp_details_body">
  <%= form_for resource, as: 'user', url: user_password_path, html: {class: "password-reset roadmap-form", method: :post} do |f| %>

    <fieldset id="password-reset-form" class="standard padded">
      <div class="form-input">
				<label for="user_email"><%= _('Email') %></label>
	      <input type="email" id="user_email" name="user[email]" 
							 class="left-indent required input-medium" />
	      <span role="" id="email_error" class="error-tooltip-right left-indent"></span>
      </div>

      <div class="form-input">
	      <%= render partial: 'shared/accessible_submit_button',
	                 locals: {id: 'password-reset-button', 
	                          val: _('Send'), 
	                          disabled_initially: true,
	                          classes: 'small-input-button',
	                          tooltip: _('Enter a valid email.')} %>
			</div>
    </fieldset>
  <% end %>
</div>

