<div class="row">
  <div class="col-md-12">
    <% unless @user.errors[:email].empty? %>
      <p class="alert alert-warning"><%= raw _('There is no account associated with that email address. Please try again or %{contact_us_link}.') % { contact_us_link: link_to('Contact us', contact_us_path) } %></p>
    <% end %>
    
    <h1><%= _('Forgot password?') %></h1>

    <p><%= _('Please enter your email below and we will send instructions to reset your password.') %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form_for resource, as: 'user', url: user_password_path, html: {method: :post, id: "user_request_reset_password_form"} do |f| %>
      <div class="form-group">
        <%= f.label(:email, _('Email'), class: 'control-label') %>
        <%= f.email_field(:email, class: 'form-control', "aria-required": true) %>
      </div>

      <%= f.button(_('Send'), class: "btn btn-default", type: "submit") %>
    <% end %>
  </div>
</div>