<% title 'Forgot your password?' %>
<div class="row">
  <div class="col-md-12">
    <% unless @user.errors[:email].empty? %>
      <p class="alert alert-error"><%= _('The email address you entered is not registered.') %></p>
    <% end %>
    
    <h1><%= _('Forgot your password?') %></h1>

    <p class="left-indent"><%= _('Please enter your email below and we will send you instructions on how to reset your password.') %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for resource, as: 'user', url: user_password_path, html: {method: :post, id: "user_request_reset_password_form"} do |f| %>
      <div class="form-group">
        <%= f.label(:email, _('Email'), class: 'control-label') %>
        <%= f.email_field(:email, class: 'form-control', "aria-required": true) %>
      </div>

      <%= f.button(_('Send'), class: "btn btn-default", type: "submit") %>
    <% end %>
  </div>
</div>