<%# locals: { f, question, answer, research_output } %>

<%= f.label(:text, sanitize(question.text), class: 'control-label') unless question.nil? %>
<div class="form-group">
    <% schema['properties'].each do |key, prop| %>
        <% value = answer.structured_answer.data[key] unless answer.structured_answer.nil? %>
        <% case prop['type'] %>
            <% when 'string' %>
                <% if prop['format'].nil?%>
                    <%= create_text_field(f, value, key, prop['label']) %>
                <% elsif prop['format'] == 'date' %>
                    <%= create_date_field(f, value, key, prop['label']) %>
                <% elsif prop['format'] == 'uri' %>
                    <%= create_url_field(f, value, key, prop['label']) %>
                <% elsif prop['format'] == 'email' %>
                    <%= create_email_field(f, value, key, prop['label']) %>
                <%end%>
            <% when 'integer' %>
                <%= create_number_field(f, value, key, prop['label']) %>
            <% when 'boolean' %>
                <%= create_checkbox_field(f, value, key, prop['label']) %>
            <% when 'array' %>
              <%= render(partial: 'questions/fields/multiple_field', locals:
              { f: f, field_values: value,
              field_properties: prop,
              field_name: key, answer_id: answer.id }) %>
        <% end %>
    <% end %>
</div>
