<h2><%= _('Help') %></h2>
<ul>
  <li><%= link_to _('FAQs'), faq_path %></li>
  <li><%= link_to _('Help for researchers'), quick_start_guide_path %></li>
  <li><%= link_to _('Help for DMP Tool administrators'), 'https://github.com/CDLUC3/dmptool/wiki/Help-for-Administrators' %></li>
  <li><%= link_to _('Data management guidance'), general_guidance_path %></li>
  <li><%= link_to _('Editorial board'), editorial_board_path %></li>
  <li><%= link_to _('Promote the DMP Tool'), promote_path %></li>
</ul>
