<h2><%= _('General') %></h2>
<ul>
  <li><%= link_to _('Home'), root_path %></li>
  <li><%= link_to _('Funder requirements'), public_templates_path %></li>
  <li><%= link_to _('Public Plans'), public_plans_path %></li>
  <li><%= link_to _('Participating institutions'), public_orgs_path %></li>
  <li><%= link_to _('About'), about_us_path %></li>
  <li><%= link_to _('Contact us'), contact_us_path %></li>
  <li><%= link_to _('Terms of use'), terms_path %></li>
  <li><%= link_to _('Privacy statement'), privacy_path %></li>
  <li><%= link_to _('Accessibility'), 'https://www.cdlib.org/about/accessibility.html' %></li>
  <li><%= link_to _('Github'), 'https://github.com/cdluc3/dmptool' %></li>
</ul>

<%= render partial: '/sitemaps/help' %>
