<input id="<%= id %>" 
       type="submit" 
       role="button"
       class="form-submit <%= classes ||= '' %>" 
       value="<%= val %>"
       aria-disabled="<%= disabled_initially %>"
       aria-describedby="<%= id %>_tip" />

<span role="" class="error-tooltip-right left-indent"><%= tooltip %></span>

<script type="text/javascript">
  $(document).ready(function(){
    // Allow the 'button disabled' tooltip to appear if the button is NOT clickable
    $("#<%= id %>").on('click focus', function(e){
      if($(this).attr('aria-disabled') == 'true'){
        e.preventDefault();
        $(this).siblings(".error-tooltip-right").attr('role', 'tooltip');
      }else{
        $(this).siblings(".error-tooltip-right").attr('role', '');
      }
    }).on('blur', function(){
      $(this).siblings(".error-tooltip-right").attr('role', '');
    });
  });
</script>