<input id="<%= id %>" 
       type="submit" 
       role="button"
       class="form-submit <%= classes ||= '' %>" 
       value="<%= val %>"
       aria-disabled="<%= disabled_initially %>"
       aria-describedby="<%= id %>_tip" />

<span role="" class="error-tooltip-right left-indent"><%= tooltip %></span>
