<%= form_for resource, as: 'user', url: registration_path("user"), html: {autocomplete: "off", id: "create_account_form"} do |f| %>

  <div class="form-group">
    <%= f.label(:firstname, _('First Name'), class: 'control-label') %>
    <%= f.text_field(:firstname, class: 'form-control', "aria-required": true) %>
  </div>
  <div class="form-group">
    <%= f.label(:surname, _('Last Name'), class: 'control-label') %>
    <%= f.text_field(:surname, class: 'form-control', "aria-required": true) %>
  </div>
  <div class="form-group">
    <%= f.label(:email, _('Email'), class: 'control-label') %>
    <%= f.email_field(:email, class: 'form-control', "aria-required": true) %>
  </div>
  
  <div class="form-group">
    <%= f.label _('Organisation'), for: :user_org_name, class: 'control-label' %>
    <%= render partial: "shared/accessible_combobox", 
               locals: {name: 'user[org_name]',
                        id: 'user_org_name',
                        default_selection: @default_org,
                        models: Org.where("parent_id IS NULL").order("sort_name ASC, name ASC"),
                        attribute: 'name',
                        classes: 'form-control'} %>

    <% other_organisations = Org.where("parent_id IS ? AND is_other = ?", nil, true).pluck(:id) %>
    <%= f.text_field :other_organisation, autocomplete: "off", class: 'form-control', 'data-toggle': "tooltip", title: _('Please enter the name of your organisation.'), style: 'display: none;' %>
    <a href="#" id="other_org_link"><%= _("My organisation isn't listed.") %></a>
  </div>
  
  <div class="form-group">
    <%= f.label(:recovery_email, _('Recovery Email'), class: 'control-label') %>
    <%= f.email_field(:recovery_email, class: 'form-control', "aria-required": false, "data-validation": 'email') %>
  </div>
  <div class="form-group">
    <%= f.label(:password, _('Password'), class: 'control-label') %>
    <%= f.password_field(:password, class: 'form-control', "aria-required": true) %>
  </div>
  <div class="checkbox">
    <label for="passwords_toggle">
      <input type="checkbox" id="passwords_toggle" /><%= _('Show password') %>
    </label>
  </div>
  <div class="checkbox">
    <%= f.label(:accept_terms,
        raw("#{ f.check_box(:accept_terms, "aria-required": true, "data-validation-error": _('You must agree to the term and conditions.')) } #{_('I accept the')} <a href=\"#{terms_path}\">#{_('terms and conditions')}</a>")) %>
  </div>
  
  <%= f.button(_('Create account'), class: "btn btn-default", type: "submit") %>
<% end %>
