<%= form_for resource, namespace: 'new', url: registration_path("user"), html: {autocomplete: "off", id: "create_account_form"} do |f| %>

  <%# If this was part of an OAuth/Omniauth workflow then stash the access_token and send to the form %>
  <% if @user.present? && @user.external_api_access_tokens.any? %>
    <% @user.external_api_access_tokens.each do |token| %>
      <%= hidden_field_tag "user_external_api_token_acess_token", token.access_token %>
    <% end %>
  <% end %>

  <div class="form-group row">
    <%= f.label(:firstname, _('First Name'), class: "control-label") %>
    <%= f.text_field(:firstname, class: "form-control", "aria-required": true) %>
  </div>
  <div class="form-group row">
    <%= f.label(:surname, _('Last Name'), class: "control-label") %>
    <%= f.text_field(:surname, class: "form-control", "aria-required": true) %>
  </div>
  <div class="form-group row">
    <%= f.label(:email, _('Email'), class: "control-label") %>
    <%= f.email_field(:email, class: "form-control", "aria-required": true) %>
  </div>

  <%# If the user is present and has an org then this came through as Shibboleth so use the known Org! %>
  <% if @user.present? && @user.org.present? %>
    <%= hidden_field_tag "user[default_org_id]", @user.org.id %>
    <%= hidden_field_tag "default_org_name", @user.org.name %>
  <% else %>
    <div class="form-group row" id="create-account-org-controls">
      <%= render partial: "shared/org_autocomplete",
              locals: { form: f,
                        default_org: resource&.org,
                        required: true,
                        known_only: Rails.configuration.x.application.restrict_orgs || false
                        label: _("Organisation") } %>
    </div>
  <% end %>

  <% if resource.org.present? %>
    <div class="form-group row">
      <%= f.password_field(:password, class: "form-control hidden", value: SecureRandom.uuid) %>
    </div>
  <% else %>
    <div class="form-group row">
      <%= f.label(:password, _('Password'), class: "control-label") %>
      <%= f.password_field(:password, class: "form-control", "aria-required": true) %>
    </div>
    <div class="form-group row">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="passwords_toggle_sign_up" class="passwords_toggle" /><%= _('Show password') %>
        </label>
      </div>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="checkbox">
      <%= f.label(:accept_terms) do %>
        <%= f.check_box(:accept_terms, "aria-required": true) %>
        <%= _('I accept the') %>
        <%= link_to _('terms and conditions'), terms_path %>
      <% end %>
    </div>
  </div>
  <% if Rails.configuration.x.recaptcha.enabled %>
    <div class="form-group">
      <%= label_tag(nil, _('Security check')) %>
      <%= recaptcha_tags %>
    </div>
  <% end %>
  <%= f.button(_('Create account'), class: "btn btn-default", type: "submit") %>
  <p class="form-error-msg red hide"><%= _("Please fill out all of the required fields.") %></p>
<% end %>
