<% javascript("export_configure") %>
<form method="get" action="<%= export_plan_path(@plan) -%>" target="_blank" id="select-form-format">
  <%= label_tag(:format, _('format')) %>
  <%= select_tag(:format, options_for_select(ExportedPlan::VALID_FORMATS, :pdf), class: 'export-format-selection') %>
  <input type="submit" value="<%= _('Export') -%>" class="btn btn-primary" />
</form>

<div class="plan-export-settings">
	<h4>Export Settings <%= plan_settings_indicator(plan) -%></h4>
	<%= render(partial: "settings/phases/export_formatting_form", locals: { plan: plan, plan_data: plan_data }) %>
</div>
