<h2 aria-hidden="false" class="aria-only"><%= _('Sign in') %></h2>

<%= form_for resource, as: 'user', url: user_session_path, html: {class: "login-form roadmap-form"} do |f| %>
  <fieldset id="sign-in-form" class="standard padded">
    <% if Rails.application.config.shibboleth_enabled %>
      <h3 class="centered small-header"><%= _('Sign in with') %></h3>

      <div class="form-input">
        <span class="omniauth-options centered">
          <% if request.fullpath != "/users/sign_up?nosplash=true" && session[:shibboleth_data].nil? then%>
            <% target = (Rails.application.config.shibboleth_use_filtered_discovery_service ? shibboleth_ds_path : user_shibboleth_omniauth_authorize_path) %>
            <a href="<%= target %>" class="link-as-button omniauth-login"><%= _('Your Institution') %></a>
          <%else%>
            <%= f.hidden_field :shibboleth_id, :value => session[:shibboleth_data][:uid] %>
          <%end%>
        </span>
      </div>

      <h3 class="centered small-header">- <%= _('or') %> -</h3>
    <% end %>


    <!-- Login form email address -->
    <div class="form-input">
      <%= f.label(:email, _('Email'), class: 'required') %>
      <%= f.email_field(:email, class: 'left-indent required') %>
      <span role="" id="email_error" class="error-tooltip left-indent"></span>

      <div class="form-input checkbox-right">
        <%= f.label :remember_me, _('Remember email'), class: "remember_div checkbox-label" %>
        <%= f.check_box :remember_me %>
      </div>
    </div>

    <!-- Login form password -->
    <div class="form-input">
      <%= f.label(:password, _('Password'), class: 'required') %>
      <%= f.password_field(:password, class: 'left-indent required') %>
      <span role="" id="password_error" class="error-tooltip left-indent"></span>

      <div class="form-input checkbox-right">
        <%= label_tag(:password_show, _('Show password'), class: 'checkbox-label') %>
        <%= check_box_tag(:password_show, "1", false) %>
      </div>
    </div>

    <div class="form-input top-indent">
      <%= render partial: 'shared/accessible_submit_button',
                 locals: {id: 'sign-in-button',
                          val: _('Sign In'),
                          disabled_initially: true,
                          classes: 'small-input-button left-indent',
                          tooltip: _('Enter your email and password.')} %>

      <div id="forgot-password-link" class="left-indent inline">
        <%= link_to _('Forgot password?'), new_password_path('user'), :class => "primary-color" %>
      </div>
    </div>
  </fieldset>
<% end %>
