<%# locals: form, default_org, required, funder_only, known_only, label %>
<%
col_size = col_size || nil
default_org = default_org || nil
# Whether or not the org selection is required
required = required || false
# Whether or not to restrict the search to funders
funder_only = funder_only || false
# Whether or not to exclude funders from the search
non_funder_only = non_funder_only || false
# Whether or not to restrict the search to records that exist in the orgs table only
known_only = known_only || false
# The label to use
label = label || _("Organisation")
placeholder = _("Begin typing to see a list of suggestions.")
autocomplete_id = SecureRandom.hex(6)

presenter = OrgSelectionPresenter.new(orgs: [default_org], selection: default_org)
%>

<%= fields_for :org_index do |org_index_fields| %>
  <% if col_size.present? %><div class="col-md-<%= col_size %>"><% end %>
    <%= org_index_fields.label :name, label %>

    <%= org_index_fields.text_field :name, class: "form-control auto-complete", placeholder: placeholder,
                              value: default_org&.name,
                              list: "autocomplete-#{autocomplete_id}",
                              autocomplete: "off",
                              aria: { label: placeholder, autocomplete: "list", required: required },
                              data: {
                                content: "autocomplete-crosswalk-#{autocomplete_id}",
                                remote: true,
                                url: orgs_search_path(
                                  known_only: known_only, funder_only: funder_only,
                                  non_funder_only: non_funder_only, context: autocomplete_id
                                )
                              } %>
    <span class="autocomplete-help sr-only" role="status"></span>

    <%# suggestions is a <ul> list managed by JQuery to display the search results to the user %>
    <div id="autocomplete-suggestions-<%= autocomplete_id %>" class="ui-front"></div>

    <%# crosswalk contains the same results as suggestions but as a JSON array so we can
        determine if the entry in the autocomplete matches a suggestion. %>
    <%= form.hidden_field :org_crosswalk, value: presenter.crosswalk,
                                          class: "autocomplete-crosswalk-#{autocomplete_id}" %>

    <%# message to display to the user if they did not select an item from the suggestions %>
    <div class="autocomplete-warning-<%= autocomplete_id %> autocomplete-warning red hide">
      <%= known_only ? _("Please select an item from the list.") : _("Please select an item from the list or check the box below and provide a name for your organization.") %>
    </div>
  <% if col_size.present? %></div><% end %>

  <%# If we are allowing the user to specify orgs we don't know about then display the checkbox and
      textbox for the user's custom Org name %>
  <% unless known_only %>
    <conditional>
      <div class="col-md-<%= col_size %>">
        <%= org_index_fields.label(:not_in_list, class: 'control-label') do %>
          <%= org_index_fields.check_box(:not_in_list, class: "new-org-entry",
                                                        context: "not-in-list-#{autocomplete_id}") %>
          <%= _('I cannot find my %{item_label} in the list') % { item_label: label.downcase } %>
        <% end %>
      </div>
      <div class="col-md-<%= col_size %>">
        <%= org_index_fields.text_field :user_entered_name,
                                        placeholder: _("Please enter the %{item_label} name") % { item_label: label.downcase },
                                        class: "form-control toggleable-field user-entered-org-#{autocomplete_id}" %>
      </div>
    </conditional>
  <% end %>
<% end %>