<%= form_for resource, as: 'user', url: registration_path("user"), html: {autocomplete: "off", class: "roadmap-form user-registration"} do |f| %>
  <%= devise_error_messages! %>
  
  <fieldset id="create-account-form" class="standard padded">
    <div class="inline">
      <%= f.label :firstname, _('First Name') %>
      <%= f.text_field :firstname, as: :firstname, class: 'input-small left-indent' %>
    </div>
    <div class="inline">
      <%= f.label :surname, _('Last Name') %>
      <%= f.text_field :surname, as: :surname, class: 'input-small left-indent' %>
    </div>
    
    <%= f.label :email, _('Email') %>
    <%= f.email_field :email, as: :email, class: 'input-medium left-indent' %>
    
    <%= f.label :recovery_email, _('Recovery Email') %>
    <%= f.email_field :recovery_email, as: :recovery_email, class: 'input-medium left-indent' %>
    
    <%= f.label :password, _('Password') %>
    <%= f.password_field :password, as: :password, class: 'input-medium left-indent' %>
    
    <br />
    <input type="checkbox" id="show-password" />
    <label for="show-password" class="checkbox-label"><%= _('Show password') %></label>
    
    <br />
		<input type="hidden" id="valid-form" value="false" />
    <%= render partial: 'shared/accessible_submit_button',
               locals: {id: 'create-account-button', 
                        val: 'Create account', 
                        disabled_initially: true,
                        classes: 'small-input-button',
                        tooltip: _('Enter your name, email and password.')} %>
  </fieldset>
<% end %>
