<%# locals: { search_term } %>

<%= form_tag(paginable_base_url(1), method: :get, remote: remote, class: 'form-inline paginable-action') do %>
  <div class="d-inline-flex flex-row">
    <div class="d-inline-flex input-group pe-2">
      <span class="input-group-addon" id="search-addon">
        <span class="fas fa-magnifying-glass" aria-hidden="true"></span>
      </span>
      <%= text_field_tag(:search, search_term, class: 'form-control', 'aria-labelledby': 'search',
                        spellcheck: true, 'aria-describedby': 'search-addon', 'aria-required': true) %>

    </div>
    <%# @filter_admin is only defined on the users_index page %>
    <% unless @filter_admin.nil?  %>
    <div class="form-check col-md-5">
      <%= label_tag(:filter_admin, _('Only Show Admins'), class: 'form-check-label') %>
      <%= check_box_tag( :filter_admin , "1", @filter_admin, class: 'form-check-input')%>
      </div>
    <% end %>
  </div>
  <%= submit_tag(_('Search'), class: 'btn btn-default', style: 'margin-top: 8px;') %>
<% end %>
