<% # locals: { search_term, view_partial, checkbox_status } %>

<% user_view = (view_partial == '/paginable/users/index') %>


<%= form_tag(paginable_base_url(1), method: :get, remote: true, class: 'form-inline paginable-action') do %>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon" id="search-addon">
        <span class="fa fa-search" aria-hidden="true"></span>
      </span>
      <%= text_field_tag(:search, search_term, class: 'form-control', 'aria-labelledby': 'search',
                        spellcheck: true, 'aria-describedby': 'search-addon', 'aria-required': true) %>
      <%- # checkbox to select all users with permissions -%>
      <%if user_view  %>
        <%= _('Display admin only')%>
        <%= check_box_tag( filter_admin , value = "1", checked = checkbox_status)%>
      <% end %>
    </div>
  </div>
  <%= submit_tag(_('Search'), class: 'btn btn-default', style: 'margin-top: 8px;') %>
<% end %>
