<div class="toolbar">
  <form action="<%= path -%>" method="get" id="filter_form">
    <%= search_field_tag(:filter, params[:filter], placeholder: placeholder) %>
    <a id="clear_filter" href="<%= path -%>" title="<%= _('Remove the filter') -%>" aria-label="<%= _('Remove the filter') %>">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  </form>
</div>
