<%
   plan ||= @plan
   @export_settings ||= plan.settings(:export)
   admin_settings = @export_settings.fields[:admin]
   question_settings = @export_settings.fields[:questions] || :all
%>
<% @export_settings.errors.full_messages.each do |error| %>
  <div class="error"><%= error %></div>
<% end %>

<%= form_for(@export_settings, url: settings_phase_path(plan), method: :put, as: :export, remote: true) do |f| %>
  <div class="div_right">
    <%= submit_tag(_('Reset'), class: "btn btn-primary") %>
    <%= submit_tag(_('Save'), class: "btn btn-primary", "data-toggle" => "collapse", "data-target" => "#settings-accordion-plan-#{plan.id}") %>
  </div>
  <span class="label label-inverse unsaved_changes_alert" style="display:none;"><%= _('Unsaved changes') %></span>
  <div id="custom-export-title">
    <h3><%= _('File Name') %></h3>
    <fieldset>
      <ol>
        <li>
          <%= label_tag("export[title]", _('File Name')) %>
          <div class="move_2_right">
            <%= text_field_tag("export[title]", plan.title) %>
          </div>
        </li>
      </ol>
    </fieldset>
    <div class="div_clear"></div>
  </div>
  <h3><%= _('Included Elements') %></h3>
  <div class="div_clear"> </div>
  <fieldset class="check_select">
    <legend><label for="admin_details_toggle"><%= _('Details') %></label></legend>
    <ol>
    <% Settings::Template::VALID_ADMIN_FIELDS.each do |field|
         name = "export[fields][admin][#{field}]"
    %>
      <li>
        <%= label_tag(name, t("helpers.plan.export.#{field}")) %>
        <%= check_box_tag(name, true, false) %>
      </li>
    <% end %>
    </ol>
  </fieldset>
  <fieldset class="check_select sections">
    <legend><label for="sections_toggle"><%= _('Sections') %></label></legend>
    <ol>
      <% plan_data["template"]["phases"].each do |phase| %>
        <% phase["sections"].each do |section| %>
          <li>
            <fieldset class="check_select">
              <legend title="<%= section["title"] -%>">
                <label for="section_toggle_<%= section["id"] -%>"><%= section["title"] -%></label>
              </legend>
              <ol>
                <% section["questions"].each do |question|
                  selected = question_settings == :all || question_settings.member?(question["id"])
                  name = "export[fields][questions][#{question["id"]}]"
                %>
              <li>
                <%= label_tag(name, strip_tags(question["text"]).html_safe, title: strip_tags(question["text"]).html_safe) %>
                <%= check_box_tag(name, true, selected) %>
              </li>
            <% end %>
              </ol>
            </fieldset>
          </li>
        <% end %>
      <% end %>
    </ol>
  </fieldset>
  <div id="pdf-format-options">
    <h3><%= _('PDF Formatting') %></h3>
    <fieldset class="font">
      <legend><%= _('Font') -%></legend>
      <div>
      <%= label_tag("export[formatting][font_face]", _('Face')) %>
      <%= select_tag("export[formatting][font_face]", options_for_select(Settings::Template::VALID_FONT_FACES, @export_settings.formatting[:font_face]), { "data-default" => plan.template.settings(:export).formatting[:font_face] }) %>
      </div>
      <div>
        <%= label_tag("export[formatting][font_size]", _('Size') + " (pt)") %>
        <%= select_tag("export[formatting][font_size]", options_for_select(Settings::Template::VALID_FONT_SIZE_RANGE.to_a, @export_settings.formatting[:font_size]), { "data-default" => plan.template.settings(:export).formatting[:font_size] }) %>
      </div>
    </fieldset>
    <fieldset class="margins">
      <legend><%= _('Margin') -%> (mm)</legend>

      <% ["top", "bottom", "left", "right"].each do |pos| %>
        <div>
          <%= label_tag("export[formatting][margin][#{pos}]", t("helpers.settings.plans.margins.#{pos}")) %>
          <%= select_tag("export[formatting][margin][#{pos}]", options_for_select(Settings::Template::VALID_MARGIN_RANGE.to_a, @export_settings.formatting[:margin][pos]), { "data-default" => plan.template.settings(:export).formatting[:margin][pos] }) %>
        </div>
      <% end %>
    </fieldset>
  </div>
  <div class="div_right">
    <%= submit_tag(_('Reset'), class: "btn btn-primary") %>
    <%= submit_tag(_('Save'), class: "btn btn-primary", "data-toggle" => "collapse", "data-target" => "#settings-accordion-plan-#{plan.template.id}") %>
  </div>
  <span class="label label-inverse unsaved_changes_alert" style="display:none;"><%= _('Unsaved changes') %></span>
  <div class="div_clear"> </div>
<% end %>
