<%
   @export_settings ||= plan.settings(:export)
   admin_settings = @export_settings.fields[:admin]
   question_settings = @export_settings.fields[:questions] || :all
   filename = @export_settings.title.present? ? @export_settings.title : plan.title
%>
<% @export_settings.errors.full_messages.each do |error| %>
  <div class="error"><%= error %></div>
<% end %>

<%= form_for(@export_settings, url: settings_plan_path(plan), method: :put, as: :export) do |f| %>
  <div class="div_right">
    <%= submit_tag(_('Reset'), class: "btn btn-primary", role:'button')%>
    <%= submit_tag(_('Save'), class: "btn btn-primary", "data-toggle" => "collapse", "data-target" => "#settings-accordion-plan-#{plan.id}", role:'button') %>
  </div>
  <span class="label label-inverse unsaved_changes_alert" style="display:none;"><%= _('Unsaved changes') %></span>
  <div id="custom-export-title">
    <h3><%= _('File Name') %></h3>
    <fieldset>
      <ol>
        <li>
          <%= label_tag("export[title]", _('File Name')) %>
          <div class="move_2_right">
            <%= text_field_tag("export[title]", filename) %>
          </div>
        </li>
      </ol>
    </fieldset>
    <div class="div_clear"></div>
  </div>
  <h3><%= _('Included Elements') %></h3>
  <div class="div_clear"> </div>
  <fieldset class="check_select">
    <legend>
      <%= label_tag(:admin_details_toggle, _('Details')) %>
    </legend>
    <ol>
    <% Settings::Template::VALID_ADMIN_FIELDS.each do |field|
         name = "export[fields][admin][#{field}]"
    %>
      <li>
        <%= label_tag(name, t("helpers.plan.export.#{field}")) %> <!-- #TODO, convert to gettext --> 
        <%= check_box_tag(name, true, admin_settings.include?(field.to_sym)) %>
      </li>
    <% end %>
    </ol>
  </fieldset>
  <fieldset class="check_select sections">
    <legend>
      <%= label_tag(:sections_toggle, _('Sections')) %>
    </legend>
    <ol>
        <% phase.sections.each do |section| %>
          <li>
            <fieldset class="check_select">
              <legend title="<%= section.title -%>">
                <%= label_tag("section_toggle_#{section.id}", section.title) %>
              </legend>
              <ol>
                <% section.questions.each do |question|
                  selected = question_settings == :all || question_settings.member?(question.id)
                  name = "export[fields][questions][#{question.id}]"
                %>
              <li>
                <%= label_tag(name, strip_tags(question.text).html_safe, title: strip_tags(question.text).html_safe) %>
                <%= check_box_tag(name, true, selected) %>
              </li>
            <% end %>
              </ol>
            </fieldset>
          </li>
        <% end %>
    </ol>
  </fieldset>
  <div id="pdf-format-options">
    <h3><%= _('PDF Formatting') %></h3>
    <fieldset class="font">
      <legend><%= _('Font') -%></legend>
      <div>
      <%= label_tag("export[formatting][font_face]", _('Face')) %>
      <%= select_tag("export[formatting][font_face]", options_for_select(Settings::Template::VALID_FONT_FACES, @export_settings.formatting[:font_face]), { "data-default" => plan.template.settings(:export).formatting[:font_face] }) %>
      </div>
      <div>
        <%= label_tag("export[formatting][font_size]", _('Size') + " (pt)") %>
        <%= select_tag("export[formatting][font_size]", options_for_select(Settings::Template::VALID_FONT_SIZE_RANGE.to_a, @export_settings.formatting[:font_size]), { "data-default" => plan.template.settings(:export).formatting[:font_size] }) %>
      </div>
    </fieldset>
    <fieldset class="margins">
      <legend><%= _('Margin') -%> (mm)</legend>
        <div>
          <%= label_tag("export[formatting][margin][top]", _('Top')) %>
          <%= select_tag("export[formatting][margin][top]", options_for_select(Settings::Template::VALID_MARGIN_RANGE.to_a, @export_settings.formatting[:margin][:top]), { "data-default" => plan.template.settings(:export).formatting[:margin][:top] }) %>
        </div>
        <div>
          <%= label_tag("export[formatting][margin][bottom]", _('Bottom')) %>
          <%= select_tag("export[formatting][margin][bottom]", options_for_select(Settings::Template::VALID_MARGIN_RANGE.to_a, @export_settings.formatting[:margin][:bottom]), { "data-default" => plan.template.settings(:export).formatting[:margin][:bottom] }) %>
        </div>
        <div>
          <%= label_tag("export[formatting][margin][left]", _('Left')) %>
          <%= select_tag("export[formatting][margin][left]", options_for_select(Settings::Template::VALID_MARGIN_RANGE.to_a, @export_settings.formatting[:margin][:left]), { "data-default" => plan.template.settings(:export).formatting[:margin][:left] }) %>
        </div>
        <div>
          <%= label_tag("export[formatting][margin][right]", _('Right')) %>
          <%= select_tag("export[formatting][margin][right]", options_for_select(Settings::Template::VALID_MARGIN_RANGE.to_a, @export_settings.formatting[:margin][:right]), { "data-default" => plan.template.settings(:export).formatting[:margin][:rigth] }) %>
        </div>
    </fieldset>
  </div>
  <div class="div_right">
    <%= submit_tag(_('Reset'), class: "btn btn-primary", role:'button') %>
    <%= submit_tag(_('Save'), class: "btn btn-primary", "data-toggle" => "collapse", "data-target" => "#settings-accordion-plan-#{plan.template.id}", role:"button") %>
  </div>
  <span class="label label-inverse unsaved_changes_alert" style="display:none;"><%= _('Unsaved changes') %></span>
  <div class="div_clear"> </div>
<% end %>