<%
  application_name = Rails.configuration.branding[:application][:name]
%>

<% title _("Welcome to %{application_name}.") % {application_name: application_name} %>
<div>
  <h1><%= _("Welcome to %{application_name}.") % {application_name: application_name}%></h1>
  <p>
    <%= sanitize _('<p>%{application_name} has been developed by the <strong>%{organisation_name}</strong> to help you write data management plans.</p>') % {
      application_name: application_name,
      organisation_name: Rails.configuration.branding[:organisation][:name]}
      %>

    <label for="linklist">
      <%=_('Getting started:')%>
    </label>
    <ul id="linklist">
      <% Rails.application.config.branding[:organisation][:welcome_links].each do |wlink| %>
      <li><a href="<%= wlink[:url] %>"><%= _(wlink[:title]) %></a></li>
      <% end %>
    </ul>
  </p>
</div>
