<div id="home-image" class="row" aria-hidden="true">
  <div class="col-md-12 homepage-img homepage-img-<%= 2 %>"><%# rand(1..5) %>
    <div id="home-welcome-msg">
      <h1><%= _('Welcome.') %></h1>
      <p><strong><%= _('Create, review and share data management plans that meet institutional and funder requirements.') %></strong></p>
    </div>
  </div>
</div>

<div class="row home-more-info-divider">
  <div class="col-md-12"><hr /></div>
</div>
<div id="home-more-info-titles" class="row">
  <div class="col-md-6">
    <h2><%= _('Get Started') %></h2>
  </div>
  <div class="col-md-6">
    <h2><%= _('DMPTool News') %></h2>
  </div>
</div>
<div class="row home-more-info-divider">
  <div class="col-md-12"><hr /></div>
</div>
<div id="home-more-info" class="row row-eq-height">
  <div class="col-md-6">
    <ul class="list-unstyled">
      <li><a href="#"><%= ('For Researchers') %></a></li>
      <li><a href="#"><%= ('For Administrators') %></a></li>
      <li><a href="#"><%= ('For Developers') %></a></li>
      <li><a href="#"><%= ('Sample DMPs') %></a></li>
      <li><a href="#"><%= ('General FAQs') %></a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <% if @rss %>
      <ul class="list-unstyled">
        <% @rss.each do |i| %>
          <li><%= link_to(truncate(i.title, length: 42), i.link, :target => '_blank') %></li>
        <% end %>
      </ul>
    <% else %>
      <p>News is currently unavailable</p>
    <% end %>
  </div>
</div>
<div class="row home-more-info-divider">
  <div class="col-md-12"><hr /></div>
</div>

