<!-- START DMPTool customization -->
<!-- ========================================= -->
<!-- <div class="row"> -->
  <!-- <div class="col-md-8"> -->
    <%#= render partial: 'home/welcome' %>
  <!-- </div> -->

  <!-- <div class="col-md-4"> -->
    <%#= render partial: 'shared/access_controls' %>
  <!-- </div> -->
<!-- </div> -->

<div id="home-stats" class="row">
  <div class="col-md-8">
    <div id="home-stats-data-title"><h2><%= _('DMPTool by the Numbers') %></h2></div>
    <div class="home-stats-content row">
      <div id="home-stats-data">
        <div class="col-md-4">
          <div class="fa fa-users"></div>
          <div class="home-stats-bold"><%= number_with_delimiter(stats[:user_count]) || '?' %></div>
          <p><%= _('Users')%></p>
        </div>
        <div class="col-md-4">
          <div class="fa fa-file"></div>
          <div class="home-stats-bold"><%= number_with_delimiter(stats[:completed_plan_count]) || '?' %></div>
          <p><%= _('Plans')%><a href="<%= public_plans_path %>"><%= _('More') %></a></p>
        </div>
        <div class="col-md-4">
          <div class="fa fa-building"></div>
          <div class="home-stats-bold"><%= number_with_delimiter(stats[:institution_count]) || '?' %></div>
          <p><%= _('Participating Institutions')%><a href="<%= public_orgs_path %>"><%= _('More') %></a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h2><%= _('Top 5 Templates') %></h2>
    <div class="home-stats-content">
      <ul class="list-unstyled">
        <% top_5.each do |title| %>
          <li><%= title %></li>
        <% end %>
        <li><a href="<%= public_templates_path %>" class="pull-right"><%= _('More') %></a></li>
      </ul>
    </div>
  </div>
</div>
<div id="home-news" class="row">
  <div class="col-md-3"><h2 id="home-news"><%= _('DMPTool News') %></h2></div>
  <div class="col-md-7" aria-labelledby="home-news">
    <% if rss %>
      <p id="home-news-link"></p>
      <% 
        json = []
        rss.each do |i| 
          json << { "title": "#{truncate(i.title, length: 120)}", "link": "#{i.link}" }
        end
      %>
      <input type="hidden" id="home-news-array" value="<%= escape_javascript JSON.generate(json) %>" />
    <% else %>
      <p><%= _('News is currently unavailable') %></p>
    <% end %>
  </div>
  <div class="col-md-2">
    <p class="pull-right">
      <a href="https://blog.dmptool.org/" target="_blank"><%= _('Go to the blog') %></a><br>
      <a href="https://blog.dmptool.org/feed/" target="_blank" class="pull-right"><span class="fa fa-rss-square"></span> RSS</a>
    </p>
  </div>
</div>
<!-- ========================================= -->
<!-- END DMPTool customization -->