<div class="row">
  <div class="col-md-8">
    <%= render partial: 'home/welcome' %>
  </div>

  <div class="col-md-4" id="home-page-access-controls">
    <div>
      <h2 class="text-center"><%= _('Sign in with') %></h2>

      <div class="form-group">
        <% if Rails.application.config.shibboleth_enabled %>
          <!-- Shibboleth DS enabled -->
          <% if request.fullpath != "/users/sign_up?nosplash=true" && session[:shibboleth_data].nil? then%>
            <% if Rails.application.config.shibboleth_use_filtered_discovery_service %>
              <%= link_to _('Your institution'), '#', class: 'btn btn-default btn-block',
                          'data-toggle': 'modal', 'data-target': '#shib-ds-form' %>
            <% else %>
              <%= link_to _('Institutional credentials'), user_shibboleth_omniauth_authorize_path, class: 'btn btn-default btn-block' %>
            <% end %>
          <%else%>
            <%= f.hidden_field :shibboleth_id, :value => session[:shibboleth_data][:uid] %>
          <%end%>
        <% end %>

        <%= link_to _('Email address'), '#', class: 'btn btn-default btn-block', id: 'show-sign-in-form',
                    'data-toggle': 'modal', 'data-target': '#sign-in-create-account' %>
        <%= link_to _('Create account with email address'), '#', class: 'pull-right', id: 'show-create-account-form',
                    'data-toggle': 'modal', 'data-target': '#sign-in-create-account' %>
      </div>
    </div>

    <% if Rails.application.config.shibboleth_use_filtered_discovery_service %>
      <div id="shib-ds-form" class="modal fade" tabindex="-1" role="dialog">
        <%= render partial: 'shared/shib_ds_form', locals: {orgs: @orgs} %>
      </div>
    <% end %>
    <div id="sign-in-create-account" class="modal fade" tabindex="-1" role="dialog">
      <%= render partial: 'shared/access_controls' %>
    </div>
  </div>
</div>
