<div class="row">
  <div class="col-md-12">
    <p class="text-justify">
      <%= raw section.description %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3><%= _('Questions') %></h3>
    <% questions = section.questions.order('number') %>
    <% if questions.present? %>
      <% questions.each do |question| %>
        <hr />
        <div class="question_show" id="<%= "question_show#{question.id}" %>">
          <%= render partial: 'questions/show_question', locals: {template: template, question: question, current_tab: current_tab} %>
        </div>
        <% if question.modifiable %>
          <div class="question_edit" id="<%= "question_edit#{question.id}" %>" style="display: none;">
            <%= render partial: 'questions/edit_question', locals: {template: template, question: question, current_tab: current_tab} %>
          </div>
        <% end %>
        <% if questions.last.id != question.id %>
          <hr />
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>