<!-- show a section and its questions and guidance. Section is passed as an argument-->
<% if @open && @section_id == section.id %>
  <% toggle = 'accordion-body  section-collapse in collapse'%>
<% else %>
  <% toggle = 'accordion-body collapse section-collapse' %>
<% end %>
<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#sections-accordion" href="#collapse-<%= section.id%>">
      <div class="accordion_heading_text">
        <% if section.title == '' then%>
          <%= _('New section title')%>
        <%else%>
          <%= section.title %>
        <%end%>
      </div>
      <!-- + or - icon-->
          <span class="icon-plus icon-white accordion-icon"> </span>
        </a>
    </div>
  <div id="collapse-<%= section.id%>" class="<%= toggle %>">
    <div class="section_desc">
      <%= raw section.description %>
    </div>
    <div class="accordion-inner">
      <% section_questions = section.questions.order("number") %>
      <% if section_questions.present? %>
        <% last_question_id = section_questions.last.id %>
        <% section_questions.each do |question| %>
          <div class="question_guidance_block">
            <!--question block-->
            <div id="show_question_div_<%= question.id%>" class="<%= if question.id == @question_id then "current_question" end %>">
                <!-- render the show question block-->
                <%= render partial: 'questions/show_question', locals: {question: question} %>
            </div>
            <% if section.phase.template.customization_of.present? %>
              <div id="edit_question_div_<%= question.id%>"  style="display: none">
                  <!-- render the edit question block-->
                  <%= render partial: 'questions/edit_annotations', locals: {question: question} %>
              </div>
              <% end %>
          </div>

          <% if last_question_id == question.id %>
            <div class="two-column-clear"></div>
          <% else %>
            <div class="two-column-clear question-divider"></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
