<%= form_for @contact, url: contacts_path do |f| %>
<% if ContactUs.require_name %>
    <div class="form-group">
        <%= f.label(:name, _('Name'), class: 'control-label') %>
        <%= f.text_field(:name,
            class: "form-control",
            value: current_user.nil? ? '' : current_user.name(false),
            readonly: current_user.present?,
            "aria-required": true) %>
    </div>
<% end %>
    <div class="form-group">
        <%= f.label(:email, _('Email'), class: 'control-label') %>
        <%= f.email_field(:email,
            class: "form-control",
            value: current_user.nil? ? '' : current_user.email,
            readonly: current_user.present?,
            "aria-required": true) %>
    </div>
<% if ContactUs.require_subject %>
    <div class="form-group">
        <%= f.label(:subject, _('Subject')) %>
        <%= f.text_field(:subject,
            class: "form-control",
            "aria-required": true) %>
    </div>
<% end %>
    <div class="form-group">
        <%= f.label(:message, _('Message')) %>
        <%= f.text_area(:message,
            class: "form-control",
            rows: 10,
            "aria-required": true) %>
    </div>
<% if !user_signed_in? then %>
    <div class="form-group"><!-- FIX first https://github.com/DMPRoadmap/roadmap/issues/501 !-->
        <%= label_tag(nil, _('Security check')) %>
        <%= recaptcha_tags %>
    </div>
<% end %>
    <%= f.button(_('Submit'), class: "btn btn-default", type: "submit") %>
<% end %>