<%# locals: { research_outputs, questions, section  } %>
<% questions.each do |question| %>
  <div class="question">
    <% question_displayed = false %>

    <% research_outputs.each do |research_output| %>
      <% research_output_description = research_output.json_fragment.research_output_description %>
      <% section_has_common_answers = research_output.main().common_answers?(section[:id]) %>
      <% answer = section_has_common_answers ? 
            @plan.answer(question[:id], false, research_output.main().id) : 
            @plan.answer(question[:id], false, research_output[:id]) %>
      <% blank = answer.present? ? answer.blank? : true %>
      <% options = answer.present? ? answer.question_options : [] %>
      <% fragment = answer.present? ? answer.madmp_fragment : nil %>

      <%  unless @show_unanswered == false && blank  %>

        <% if !@public_plan && @show_sections_questions && question_displayed == false %>
        <p>
          <%# Hack: for DOCX export - otherwise, bold highlighting of question inconsistent. %>
          <% if local_assigns[:export_format] && export_format == 'docx' %>
            <strong><h3><%=  sanitize question[:text].to_s, scrubber: TableFreeScrubber.new %></h3></strong>
          <% else %>
            <div class="bold"><h3><%=  sanitize question[:text].to_s, scrubber: TableFreeScrubber.new %></h3></div>
          <% end %>
          <br/>
        </p>
        <br/>
        <% end %>
        <% question_displayed = true %>

        <% if !section_has_common_answers %>
          <h4><%= research_output_description.data['title'] %></h4>
        <% end %>
        <%# case where Question has options %>
        <% if options.present? && options.any? %>
          <ul>
          <% options.each do |opt| %>
            <li><%= opt.text %></li>
          <% end %>
          </ul>
        <% end %>
        <% if question[:format].rda_metadata? && !blank %>
          <% ah = answer.answer_hash %>
          <% if ah['standards'].present? %>
          <ul>
            <% ah['standards'].each do |id, title| %>
            <li><%= title %></li>
            <% end %>
          </ul>
          <% end %>
          <p><%= sanitize ah['text'] %></p>
          <br/>
        <% end %>
        <% if @plan.template.structured? && fragment.present? %>
          <%= render partial: 'shared/export/display_madmp_fragment', 
                      locals: {
                          fragment: fragment,
                          schema: fragment.madmp_schema,
                          classname: fragment.classname,
                          locale: LocaleService.to_gettext(locale: @plan.template.locale),
                          table_header: nil
                      } %>
        <%# case for displaying comments OR text %>
        <% elsif !blank %>
          <%= sanitize answer&.text %>
          <br/>
        <% else %>
          <br/>
          <p><%= _('Question not answered.') -%></p>
          <br/><br/>
          <br />
        <% end %>
        <br />
      <% end %>
      <% if section_has_common_answers %>
        <% break %> <!-- break if is research output has common answers, only display the first -->
      <% end %>
    <% end %> <!-- research_outputs.each -->

  </div>
<% end %><!-- questions.each -->
