<h1><%= _("Plan Overview") %></h1>
<hr/>
<div class="cover-page">
  <p class="header"><em><%= _("A Data Management Plan created using %{application_name}") % { application_name: ApplicationService.application_name } %></em></p>

  <% if @plan.dmp_id.present? %>
    <p><b><%= _("DMP ID: ") %></b>
      <% if @plan.dmp_id&.starts_with?("http") %>
        <%= link_to @plan.dmp_id, @plan.dmp_id %>
      <% else %>
        <%= @plan.dmp_id %>
      <% end %>
    </p>
  <% end %>

  <p><b><%= _("Title: ") %></b><%= @hash[:title] %></p>

  <p><strong><%= _("Creator:") %></strong> <%= sanitize(@hash[:attribution].is_a?(Array) ? @hash[:attribution].first : @hash[:attribution])%></p>

  <p><b><%= _("Affiliation: ") %></b><%= @hash[:affiliation] %></p>

  <%# Added contributors to coverage of plans.
    # Users will see both roles and contributor names if the role is filled %>
  <%# Roles are ranked by PI -> DM -> PA -> Other (if any) %>
  <% if @hash[:investigation].present? %>
  <p><b><%= _("Principal Investigator: ") %></b><%= @hash[:investigation].map(&:name).join(', ') %></p>
  <% end %>
  <% if @hash[:data_curation].present? %>
  <p><b><%= _("Data Manager: ") %></b><%= @hash[:data_curation].map(&:name).join(', ') %></p>
  <% end %>
  <% if @hash[:pa].present? %>
  <p><b><%= _("Project Administrator: ") %></b><%= @hash[:pa].map(&:name).join(', ') %></p>
  <% end %>
  <% if @hash[:other].present? %>
  <p><b><%= _("Contributor: ") %></b><%= @hash[:other].map(&:name).join(', ') %></p>
  <% end %>

  <% if @hash[:funder].present? %>
    <p><b><%= _("Funder: ") %></b><%= @hash[:funder] %></p>
  <% end %>

  <% if @plan.identifier.present? %>
    <p><b><%= _("Funding opportunity number: ") %></b><%= sanitize(@plan.identifier) %></p>
  <% end %>
  <% if @plan.grant.present? %>
    <p><b><%= _("Grant: ") %></b>
    <% if @plan.grant.value.starts_with?("http") %>
      <a href="<%= sanitize(@plan.grant.value) %>" target="_blank"><%= sanitize(@plan.grant.value) %></a>
    <% else %>
      <%= sanitize(@plan.grant.value) %>
    <% end %>
    </p> <br>
  <% end %>

  <p><b><%= _("Template: ") %></b><%= @hash[:template] + @hash[:customizer] %></p>

  <% if @plan.description.present? %>
    <p><b><%= _("Project abstract: ") %></b></p>
    <div style="margin-left: 15px;"><%= sanitize(@plan.description) %></div>
  <% end %>

  <% if @plan.start_date.present? %>
    <p><b><%= _("Start date: ") %></b><%=  l(@plan.start_date.localtime.to_date, formats: :short) %></p>
  <% end %>

  <% if @plan.end_date.present? %>
    <p><b><%= _("End date: ") %></b><%=  l(@plan.end_date.localtime.to_date, formats: :short) %></p>
  <% end %>

  <p><b><%= _("Last modified: ") %></b><%=  l(@plan.updated_at.localtime.to_date, formats: :short) %></p>

  <% if @public_plan %>
    <p><b><%= _("Copyright information:") %></b></p>
    <div style="margin-left: 15px;">
      <p>
        <%= _(" The above plan creator(s) have agreed that others may use as much of the text of this plan as they would like in their own plans, and customise it as necessary. You do not need to credit the creator(s) as the source of the language used, but using any of the plan's text does not imply that the creator(s) endorse, or have any relationship to, your project or proposal") %>
      </p>
    </div>
  <% end %>
</div>
<hr class="bottom" />
