<% 
  plan_fragment = @plan.json_fragment
  contributors = plan_fragment.contributors
  locale = @plan.template.locale
%>
<hr />
<h1><%= @plan.title %></h1>
<p><em><%= _("A Data Management Plan created using ") + Rails.configuration.branding[:application][:name] %></em></p>
<br/>
<div class="cover-page">
  <h2><%= d_("dmpopidor", "Plan Details") %></h2>
  <div class="plan-details">
    <%= render(partial: 'shared/export/display_madmp_fragment', locals: {
            fragment: plan_fragment.meta,
            schema: plan_fragment.meta.madmp_schema,
            classname: plan_fragment.meta.classname,
            locale: locale
    } ) %>
  </div>

  <h2><%= _("Project Details") %></h2>
  <div class="plan-details">
    <%= render(partial: 'shared/export/display_madmp_fragment', locals: {
            fragment: plan_fragment.project,
            schema: plan_fragment.project.madmp_schema,
            classname: plan_fragment.meta.classname,
            locale: locale
    } ) %>
  </div>

  <% if plan_fragment.research_outputs.length > 1 %>
    <p><b><%= d_('dmpopidor', "Research outputs") %> : </b></p>
    <ol>
      <% plan_fragment.research_outputs.each do |research_output| %>
        <% research_output_description = research_output.research_output_description %>
        <li>
        <%= research_output_description.data['title'] %>
        ( <%= 
          research_output_description.data['type'] 
        %> )</li>
      <% end %>
    </ol>
    <br>
  <% end %>
  <p><b><%= _("Contributors") %></b></p> <br>
  <table>
    <thead><tr><th>Contributeur</th><th>Roles</th></tr></thead>
    <tbody>
    <% contributors.each do |contributor| %>
      <tr>
        <td><%= contributor.to_s %></td>
        <td>
          <ul>
            <% contributor.roles.each do |role| %>
              <li><%= role %></li>
            <% end %>
          </ul>  
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% if @public_plan %>
    <p><%= _("Copyright information:") %></p>
    <div style="margin-left: 15px;">
      <p>
        <%= _(" The above plan creator(s) have agreed that others may use as much of the text of this plan as they would like in their own plans, and customise it as necessary. You do not need to credit the creator(s) as the source of the language used, but using any of the plan's text does not imply that the creator(s) endorse, or have any relationship to, your project or proposal") %>
      </p>
    </div>
  <% end %>
</div>
<hr class="bottom" />
