<%# locals: { answer } %>
<!--
  Partial for handling the answer status (e.g. saving, error-saving, data-status)
-->
<span class="label label-info status" style="display:none;" data-status="saving"><%= _('Saving...') %></span>
<span class="label label-warning status" style="display: none;" data-status="error-saving"></span>
<% if answer.answered? %>
    <span class="label label-info status" data-status="saved-at">
      <%= _('Answered')%> <time class="timeago" datetime="<%= answer.updated_at.iso8601 %>"></time>
      <%= _(' by %{user_name}') %{ :user_name => answer.user.name } if answer.user.present? %>
    </span><br>
    <% n_question_to_remove = answer_remove_list(answer).size %>
    <% if n_question_to_remove > 0 %>
      <span class="label label-info status" data-status="saved-at">
        <%= _('This answer removes ') + n_question_to_remove.to_s + _(' questions from your plan.') %>
      </span>
    <% end %>
    <% email_list = email_trigger_list(answer) %>
    <% unless email_list.blank? %>
      <span class="label label-info status" data-status="saved-at">
        <%= _('This answer triggers email(s) to ') + email_list %>
      </span>
    <% end %>
<% end %>
