<!-- Partial for handling the answer status (e.g. Saving, Unsaved, Not Answered, Answered) -->
<p class="bg-primary saving-message" style="display:none">
    <%= _('Saving...')%>
</p>
<% if answer.updated_at.present? %>
    <p class="bg-info">
        <%= _('Answered')%> <abbr class="timeago"><%= answer.updated_at.iso8601 %></abbr><%= _(' by')%> <%= answer.user.name %>
    </p>
<% end %>