    <!-- Partial for handling the answer status (e.g. Saving, Unsaved, Not Answered, Answered) -->
    <span class="saving-message" style="display:none"><%= _('Saving...')%></span>
    <span class="label label-inverse answer-unsaved" style="display:none"><%= _('Unsaved changes') %></span>
    <br/>
    <% if answer.updated_at.blank? %>
        <span class="label label-warning answer-status"><%= _('Not answered yet') %></span>
    <% else %>
        <span class="label label-info answer-status"><%= _('Answered')%> <abbr class="timeago" data-time="<%= answer.updated_at.iso8601 %>" title="<%= answer.updated_at.iso8601 %>"><%= answer.updated_at.iso8601 %></abbr><%= _(' by')%> <%= answer.user.name %></span>
    <% end %>