<%# locals: user %>

<% api_wikis = Rails.configuration.x.application.api_documentation_urls %>
<div id="api-token" class="col-xs-12">
  <div class="form-group col-xs-8">
    <%= label_tag(:api_token, _('Access token'), class: 'control-label') %>
    <% if user.api_token.present? %>
      <%= user.api_token %>
    <% else %>
      <%= _("Click the button below to generate an API token") %>
    <% end %>
  </div>
  <div class="form-group col-xs-12">
    <%= label_tag(:api_information, _('Documentation'), class: 'control-label') %>
    <br>
    <%= _('See the <a href="%{api_v0_wiki}">documentation for v0</a> for more details on the API endpoints which include access to the list of all viewable DMP templates, or your organisation’s guidance or statistics.').html_safe % { api_v0_wiki: api_wikis[:v0] } %></a>
    <br><br>
    <%= _('See the <a href="%{api_v1_wiki}">documentation for v1</a> for more details on the API endpoints which enable the reuse of information structured in compliance with the common DMP OPIDoR or <a href="%{rda_standard_url}">RDA DMP Common standard</a> schemas. These include access to the schemas, registries, plans (whole DMP, DMP for a single research product) or information fragments, to which the user has access.').html_safe % { api_v1_wiki: api_wikis[:v1], rda_standard_url: 'https://github.com/RDA-DMP-Common/RDA-DMP-Common-Standard' } %></a>
  </div>
  <div class="form-group col-xs-8">
    <%= link_to _("Regenerate token"),
                refresh_token_user_path(user),
                class: "btn btn-default", remote: true %>
  </div>
</div>
