<div class="dmpopidor-front-page">
  <div class="row main-title">
    <h1>
      <%= _('Welcome!') %>
    </h1>
  </div>
  <div class="row">
      <div class="col-xs-12 front-page-text">
        <%= _('%{tool_name} guides you through the drafting and implementation into practice of data or software management plans.')  % { tool_name: ApplicationService.application_name } %>
      </div>
      <div class="col-xs-12 front-page-list-item">
        <span class="fas fa-globe col-xs-1 icon"></span>
        <span class="col-xs-11 text"><%= _('Accessible by any member of the High Education and Research community as well as its French or foreign partners') %></span>
      </div>
      <div class="col-xs-12 front-page-list-item">
        <span class="fas fa-building-columns col-xs-1 icon"></span>
        <span class="col-xs-11 text"><%= _('Customizable by any research organization willing to implement a data policy') %></span>
      </div>
      <div class="col-xs-12 front-page-list-item">
        <span class="fas fa-copy col-xs-1 icon"></span>
        <span class="col-xs-11 text"><%= _('Enriched by examples and recommendations relevant to research environments') %></span>
      </div>
      <div class="col-xs-12 front-page-list-item">
        <span class="fas fa-users col-xs-1 icon"></span>
        <span class="col-xs-11 text"><%= _('Collaborative: allows exchanges between partners of a same project and support staff') %></span>
      </div>
      <div class="col-xs-12 front-page-list-item">
        <span class="fas fa-gears col-xs-1 icon"></span>
        <span class="col-xs-11 text"><%= _('Machine actionable: facilitates data entry and interactions with data management services') %></span>
      </div>

      <div class="col-xs-12 front-page-text">
        <%= _('Thanks to your feedback %{tool_name} will continue to evolve. The development work is a combined international effort around DMP Roadmap open source software.')  % { tool_name: ApplicationService.application_name } %>
      </div>

  </div>

  <div class="row join-div">
      <div class="col-xs-12 front-page-text text-center">
        <h3><%= _('Plan and adopt the tools to Optimise the Sharing & of Research Data') %></h3>
      </div>
  </div>

  <div class="row discover-div">
    <div class="col-xs-12 front-page-text">
      <%= link_to _('Discover %{tool_name}') % { tool_name: ApplicationService.application_name }, 
                  tutorials_path %>
    </div>
  </div>

  
</div>
