<div class="dmpopidor-front-page">
  <div class="row main-title">
    <h1>
      <%= d_('dmpopidor', 'Welcome!') %>
    </h1>
  </div>
  <div class="row">
      <div class="col-xs-12 front-page-text">
        <%= d_('dmpopidor', '%{tool_name} guides you through your research project by helping you create software and data management plans')  % { tool_name: Rails.configuration.branding[:application][:name] } %>
      </div>
      <div class="col-xs-12 front-page-list-item">
        <span class="fa fa-globe col-xs-1 icon"></span>
        <span class="col-xs-11 text"><%= d_('dmpopidor', 'Accessible by any member of the ESR research community and their partners from France and outside') %></span>
      </div>
      <div class="col-xs-12 front-page-list-item">
        <span class="fa fa-university col-xs-1 icon"></span>
        <span class="col-xs-11 text"><%= d_('dmpopidor', 'Customizable by any research organisation aiming at setting up a data policy') %></span>
      </div>
      <div class="col-xs-12 front-page-list-item">
        <span class="fa fa-files-o col-xs-1 icon"></span>
        <span class="col-xs-11 text"><%= d_('dmpopidor', 'Enriched with examples and guidances designed the your research environment') %></span>
      </div>
      <div class="col-xs-12 front-page-list-item">
        <span class="fa fa-users col-xs-1 icon"></span>
        <span class="col-xs-11 text"><%= d_('dmpopidor', 'Collaborative: make sharing easier between the partners of the same project') %></span>
      </div>

      <div class="col-xs-12 front-page-text">
        <%= d_('dmpopidor', 'Your feedback helps %{tool_name} to evolve. The development is part of an international collaboration with DMPRoadmap, an open source software.')  % { tool_name: Rails.configuration.branding[:application][:name] } %>
      </div>

  </div>

  <div class="row join-div">
      <div class="col-xs-12 front-page-text text-center">
        <h3><%= d_('dmpopidor', 'Join the %{tool_name} community') % { tool_name: Rails.configuration.branding[:application][:name] } %></h3>
      </div>
      <div class="col-xs-12 front-page-text text-center">
        <%= d_('dmpopidor', 'Create an account, Log in and Let you guide!') %>
      </div>
  </div>

  <div class="row discover-div">
    <div class="col-xs-12 front-page-text">
      <%= link_to d_('dmpopidor', 'Discover %{tool_name}') % { tool_name: Rails.configuration.branding[:application][:name] }, 
                  tutorials_path %>
    </div>
  </div>

  
</div>
