<div class="dmpopidor-front-page">
  <div class="row main-title">
    <h1>
      <%= d_('dmpopidor', 'Welcome!') %>
    </h1>
  </div>
  <div class="row">
      <div class="col-xs-12 front-page-text">
        <%= d_('dmpopidor', '%{tool_name} guides you through the drafting and implementation into practice of data or software management plans.')  % { tool_name: Rails.configuration.branding[:application][:name] } %>
      </div>
      <div class="col-xs-12 front-page-list-item">
        <span class="fa fa-globe col-xs-1 icon"></span>
        <span class="col-xs-11 text"><%= d_('dmpopidor', 'Accessible by any member of the High Education and Research community as well as its French or foreign partners') %></span>
      </div>
      <div class="col-xs-12 front-page-list-item">
        <span class="fa fa-university col-xs-1 icon"></span>
        <span class="col-xs-11 text"><%= d_('dmpopidor', 'Customizable by any research organization willing to implement a data policy') %></span>
      </div>
      <div class="col-xs-12 front-page-list-item">
        <span class="fa fa-files-o col-xs-1 icon"></span>
        <span class="col-xs-11 text"><%= d_('dmpopidor', 'Enriched by examples and recommendations relevant to research environments') %></span>
      </div>
      <div class="col-xs-12 front-page-list-item">
        <span class="fa fa-users col-xs-1 icon"></span>
        <span class="col-xs-11 text"><%= d_('dmpopidor', 'Collaborative:  it facilitates exchanges between partners of a same project and support staff') %></span>
      </div>

      <div class="col-xs-12 front-page-text">
        <%= d_('dmpopidor', 'Thanks to your feedback %{tool_name} will continue to evolve. The development work is a combined international effort around DMP Roadmap open source software.')  % { tool_name: Rails.configuration.branding[:application][:name] } %>
      </div>

  </div>

  <div class="row join-div">
      <div class="col-xs-12 front-page-text text-center">
        <h3><%= d_('dmpopidor', 'Join the %{tool_name} user’s community') % { tool_name: Rails.configuration.branding[:application][:name] } %></h3>
      </div>
      <div class="col-xs-12 front-page-text text-center">
        <%= d_('dmpopidor', 'Create an account, sign in and let you guide!') %>
      </div>
  </div>

  <div class="row discover-div">
    <div class="col-xs-12 front-page-text">
      <%= link_to d_('dmpopidor', 'Discover %{tool_name}') % { tool_name: Rails.configuration.branding[:application][:name] }, 
                  tutorials_path %>
    </div>
  </div>

  
</div>
