<%# locals: plan, form %>
<%
presenter = RelatedIdentifierPresenter.new(plan: plan)
tooltip = _("List products related to this project, such as journal articles, software or datasets. For example: 'https://doi.org/10.5281/zenodo.5117892', 'https://github.com/CDLUC3/dmphub/releases/tag/v1.0.12'")
%>

<hr>
<h2><%= _("Related works") %></h2>

<div class="form-group related-works">
  <% if plan.related_identifiers.any? %>
    <% plan.related_identifiers
           .order(citation: :desc, work_type: :asc)
           .each do |related_identifier| %>
      <%
      id = related_identifier.id.nil? ? 0 : related_identifier.id
      name_base = "plan[related_identifiers_attributes[#{id}]"
      id_base = "plan_related_identifiers_attributes_#{id}"
      %>
      <div class="col-md-12 citation">
        <span class="col-md-10">
          <%= hidden_field_tag :work_type, related_identifier.work_type,
                              name: "#{name_base}[work_type]]",
                              id: "#{id_base}_work_type" %>
          <%= hidden_field_tag :value, related_identifier.value,
                              name: "#{name_base}[value]]",
                              id: "#{id_base}_value" %>
          <% if related_identifier.citation.present? %>
            <%= sanitize(related_identifier.citation) %>
          <% else %>
            <%= related_identifier.work_type.humanize %>:&nbsp;
            <%= link_to related_identifier.value, target: "_blank" %>&nbsp;
            <%= _("No citation available.") %>
          <% end %>
        </span>
        <span class="col-md-2">
          <a href="#" class="delete" aria-label="<%= _('Remove this related work') %>">
            <i class="fas fa-times-circle fa-reverse remove-related-work" aria-hidden="true"></i>
          </a>
        </span>
      </div>
    <% end %>
  <% end %>
  <%= render partial: "related_identifiers/form",
              locals: { related_identifier: RelatedIdentifier.new(identifiable: plan),
                        presenter: presenter, tooltip: tooltip } %>
</div>

<div class="form-group row add-related-work">
  <div class="col-md-4">
    <%= link_to _("+ Add a related work"), "#", title: tooltip, data: { toggle: "tooltip" } %>
  </div>
</div>