<%# locals: { obj_list, parent_id, schema_id, readonly, deletable, template_locale, query_id } %>
<% obj_list.each do |obj| %>
  <% viewable = obj.additional_info["custom_value"].nil? %>
  <tr>
    <td><%= raw obj.to_s %></td>
    <td class="actions">
      <% if viewable %>
        <% if readonly %>
          <%= link_to show_linked_madmp_fragments_url(
                :fragment_id => obj.id,
                :template_locale => template_locale
            ), {
                :remote => true, 
                'data-toggle' => 'modal', 
                'data-target' => '#modal-window'
            } do %>
            <span data-toggle="tooltip" 
                  data-original-title="<%= _('View') %>" 
                  class="fas fa-eye"></span>
          <% end %>
        <% else %>
          <%= link_to new_edit_linked_madmp_fragments_url(
                :fragment_id => obj.id, 
                :parent_id => parent_id, 
                :schema_id => schema_id,
                :template_locale => template_locale,
                :source => "list-modal",
                :query_id => query_id
            ), {
                :remote => true, 
                :target => "_self",
                'data-toggle' => 'modal', 
                'data-target' => '#modal-window'
            } do %>
            <span data-toggle="tooltip" 
                  data-original-title="<%= _('Edit') %>" 
                  class="fas fa-pen-to-square"></span>
          <% end %>
        <% end %>
      <% end %>
      <% if deletable %>
        <span class="delete fas fa-xmark" 
          aria-hidden="true"
          data-toggle="tooltip" 
          data-original-title="<%= _('Delete') %>"
          data-confirm-message="<%= _('Do you want to delete this element?') %>"
          data-url="<%= madmp_fragment_path(obj.id, query_id: query_id, readonly: readonly, template_locale: template_locale) %>"></span>
      <% end %>
    </td>
  </tr>
<% end %>
