<%# locals: { fragment_id, label, ttip, script_id, script_name, disabled } %>
<button
  type="button"
  class="btn btn-primary run-button <%= 'notifyer' if script_name.include?("notifyer") && client_name.present? %>"
  data-toggle="tooltip"
  data-original-title="<%= ttip %>"
  data-confirm-message="<%= _('By using this notification, you will allow "%{client_name}" to access the content of your plan. Do you confirm ?') % { client_name: client_name } %>"
  <%= disabled ? 'disabled' : '' %>
  data-url="<%= codebase_run_url(
    nil,
    :fragment_id => fragment_id,
    :script_id => script_id
  )%>"
>
  <%= label %>
</button>