<div id="account-nav" class="nav navbar-nav navbar-fixed-top">
  <ul id="sign-in-menu" class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <%= _('Learn') %> <span class="fa fa-sort-desc" aria-hidden="true"></span>
      </a>
      <ul id="explore-menu" class="dropdown-menu">
        <li>
          <div class="row-fluid">
            <ul class="nav col-md-5">
              <li><%= link_to _('Funder Requirements'), public_templates_path %></li>
              <li><%= link_to _('Public Plans'), public_plans_path %></li>
              <li><%= link_to _('Participating Institutions'), public_orgs_path %></li>
              <li><%= link_to _('FAQ'), faq_path %></li>
           </ul>
           <ul class="nav col-md-7">
             <li><%= _('For Researchers') %>
               <ul class="nav indented">
                 <li><%= link_to _('Quick Start Guide'), help_path %></li>
                 <li><%= link_to _('Data Management General Guidance'), general_guidance_path %></li>
               </ul>
             </li>
             <li>
               <% lbl = _('For Administrators') %>
               <%= link_to raw("#{lbl} <i class=\"fa fa-external-link\">&nbsp;</i>"), 'https://github.com/CDLUC3/dmptool/wiki/Help-for-Administrators' %>
               <ul class="nav indented"><li><%= link_to _('Promote the DMPTool'), promote_path %></li></ul>
             </li>
           </ul>
         </div>
        </li>
      </ul>
    </li>
    <li class="navbar-divider">&nbsp;</li>
    <% unless isActivePage(user_shibboleth_omniauth_callback_path) || isActivePage(user_orcid_omniauth_callback_path) %>
      <% unless user_signed_in? %>
        <li>
          <a href="#" data-class="dropdown-toggle" role="button" id="header-signin" data-toggle="dropdown" aria-haspopup="true" 
             aria-expanded="false">
            <%= _('Sign in') %>
            <i class="fa fa-sort-desc" aria-hidden="true">&nbsp;</i>
          </a>
          <ul id="signin-options" class="dropdown-menu" aria-labelledby="header-signin">
            <li>
              <%= render partial: 'shared/dmptool/sign_in_options' %>
            </li>
          </ul>
        </li>
      <% else %>
        <li class="dropdown" id="signin-signout">
          <a href="#" class="dropdown-toggle" role="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name(false) %>
            <i class="fa fa-sort-desc" aria-hidden="true">&nbsp;</i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="user-menu">
            <li>
              <%= link_to _('Edit profile'), edit_user_registration_path %>
            </li>
            <li>
              <%= link_to _('Sign out'), destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% end %>
    <% end %>

    <!-- language dropdown -->
    <% if MANY_LANGUAGES %>
      <li class="navbar-divider">&nbsp;</li>
      <li class="dropdown" id="change-language">
        <% lang = LANGUAGES.select{ |l| FastGettext.locale == l.abbreviation }.first %>
        <a href="#" class="dropdown-toggle" role="button" id="language-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= lang.present? ? lang.name : _('English (US)') %>
          <i class="fa fa-sort-desc" aria-hidden="true">&nbsp;</i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="language-menu">
          <% LANGUAGES.each do |l| %>
            <li><%= link_to l.name, locale_path(l.abbreviation), method: :patch %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>