<!-- Learn/explore menu -->
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           id="learn-menu-button" aria-haspopup="true" aria-expanded="false">
      <%= _('Learn') %>
      <i class="fa fa-sort-desc" aria-hidden="true">&nbsp;</i>
    </a>

    <ul class="dropdown-menu" aria-labelledby="learn-menu-button">
      <li>
        <div class="learn-menu">
          <div class="menu-col">
            <div><%= link_to _('Funder Requirements'), public_templates_path %></div>
            <div><%= link_to _('Public Plans'), public_plans_path %></div>
            <div><%= link_to _('Participating Institutions'), public_orgs_path %></div>
            <div><%= link_to _('FAQ'), faq_path %></div>
          </div>
          <div class="menu-col">
            <div>
              <%= _('For Researchers') %>
              <div><%= link_to _('Quick Start Guide'), help_path %></div>
              <div><%= link_to _('Data Management General Guidance'), general_guidance_path %></div>
            </div>
            <div>
              <% lbl = _('For Administrators <em class="sr-only">(new window)</em>') %>
              <%= link_to sanitize("#{lbl} <em class=\"fa fa-external-link\">&nbsp;</em>"),
                         'https://github.com/CDLUC3/dmptool/wiki/Help-for-Administrators' %>
              <div><%= link_to _('Promote the DMPTool'), promote_path %></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </li>
</ul>
