<!-- project navigation -->  
<div id="project-tabs" class="nav-project-tabs">
	<ul class="nav nav-tabs" data-tabs="tabs">
		<!-- Project details (views/projects/_project_details.html.erb)-->
		<% if active == "show_project" then %>
			<li class="active">
		<% else %>
			<li>
		<% end %>
		<%= link_to t("helpers.project.tab_plan"), project_path(project) %>
	   		</li>
    <!-- Plans (phases)-->
    <% project.plans.each do |plan| %>
		<% if active == plan.id then %>
			<li class="active">
		<% else %>
			<li>
		<% end %>
		<% if active == "show_project" || active == "share_project" || active == "export_page" then %>
			<%= link_to plan.version.phase.title, [:edit, @project, plan]%>
		<% else %>
			<%= link_to plan.version.phase.title, [:edit, @plan.project, plan]%>
		<% end %>   
		</li>
    <% end %>
    <!--Share project (project admin only)-->
    <% if project.administerable_by(current_user.id) then %>
		<% if active == "share_project" then %>
			<li class="active">
		<% else %>
			<li>
		<% end %>
		<%= link_to t("helpers.project.share.tab_share"), ["share", project] %>
		</li>
	<% end %>
	<!-- Export page that display all plans options to export-->
		<% if active == "export_page" then %>
			<li class="active">
		<% else %>
			<li>
		<% end %>
		<%= link_to t("helpers.project.tab_export"), ["export",project] %>
	   		</li>
	</ul>
</div>