<div class="dmp_toolbar">
  <form action="<%= projects_path -%>" method="get" id="filter_form">
    <%= search_field_tag(:filter, params[:filter], placeholder: t('helpers.project.filter.placeholder')) %>
    <a id="clear_filter" class="icon-remove" href="<%= projects_path -%>" title="<%= t('helpers.project.filter.cancel') -%>">
      <span class="hide-text"><%= t('helpers.project.filter.cancel') -%></span>
    </a>
    <input type="submit" class="btn btn-primary" value="<%= t('helpers.project.filter.submit') -%>" />
  </form>
  <a id="toolbar_configure" class="btn-configure" href="<%= settings_projects_path -%>" title="<%= t('helpers.project.configure') -%>">
    <i class="icon-cog"></i>
  </a>
</div>
