<%- model_class = Project -%>

<!-- render the project title -->
<%= render :partial => "/projects/project_title", locals: {project: @project} %>

<!-- render navigation tabs for the project-->
<%= render :partial => "project_nav_tabs", locals: {project: @project, active: "export_page"} %>

<!-- main info to export -->
<div class="dmp_details_body">
	<!--Text describing page content-->
	<%= raw t('helpers.project.export_text_html')%>
	
	<!-- If project has plans-->
	<% if @project.plans.any? %>
		<% if @project.plans.count == 1 then %>
			<% @project.plans.each do |plan| %>
				<%= render :partial => "/shared/export_links", locals: {plan: plan} %>
			<% end %>
		<%else%>	
			<% @project.plans.each do |plan| %>
				<div class="accordion" id="project-accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#project-accordion" href="#<%= plan.version.phase.id %>">
								<h3><%= plan.version.phase.title %><span class="plus-laranja"> </span>
								</h3>
							</a>
						</div>
						<div id="<%= plan.version.phase.id %>" class="accordion-project collapse">
							<div class="accordion-inner">
								<%= render :partial => "/shared/export_links", locals: {plan: plan} %>
							</div>
						</div>
					</div>
				</div>				
			<%end%>	
		<%end%>		
	<%end%>	
	
</div>						