<%- model_class = Project -%>
<% javascript "toolbar.js" %>
<h1>
	<%= t("helpers.project.projects_title") %>
</h1>

<!-- if the user has projects -->
<% if @has_projects %>

	<p>
		<%= raw t("helpers.project.project_text_when_project")%>
	</p>
    
	<%= render(partial: "toolbar") %>
	<table id="dmp_table" class="dmp_table tablesorter">
	  <thead>
	    <%= render(partial: "project_list_head") %>
	  </thead>
	  <tbody>
	    <% if @projects.any? %>
	      <% @projects.each do |project| %>
	        <%= render(partial: "project_list_item", locals: { project: project } ) %>
	      <% end %>
	    <% else %>
	      <tr><td colspan="<%= @selected_columns.length -%>"><%= t("helpers.project.filter.no_plans_match", filter: params[:filter]) %><td></tr>
	    <% end %>
	  </tbody>
	</table>
	
<!-- if the user does not have projects -->
<% else %>
	<p>
		<%= raw t("helpers.project.project_text_when_no_project")%>
	</p>
<% end %>

<!-- link button to create a new project -->
<p>
	<%= link_to t(".new", :default => t("helpers.project.create")),
            new_project_path,
            :class => "btn btn-primary" %>
</p>
