<%- model_class = Project -%>
<% javascript "projects.js" %>
<div class="new-project-container">
        <!-- render dropdowns for plan selection -->
    <%= render "dropdowns_new_project" %>

</div>
<div id="project-confirmation-dialog" data-container="body" data-backdrop="static" class="modal hide fade">
	<div class="modal-header">
		<h3><%= t("helpers.project.confirmation_text")%></h3>
		<p><%= raw t("helpers.project.confirmation_text_desc")%></p>
	</div>
	<div class="modal-body">
		<div><p><%= constant("organisation_types.funder")%>: <span id="confirm-funder"><%= t("helpers.none")%></span></p></div>
		<div><p><%= constant("organisation_types.institution")%>: <span id="confirm-institution"><%= @project.organisation.nil? ? t("helpers.none") : @project.organisation %></span></p></div>
		<div style="display:none"><p><%= constant("organisation_types.template")%>: <span id="confirm-template"></span></p></div>
		<div><p><%= t("helpers.org_type.other_guidance")%>: <ul id="confirm-guidance"></ul></p></div>
	</div>
	<div class="modal-footer">
    <a href="#" id="new-project-cancelled" class="btn"><%= t("helpers.submit.cancel")%></a>
    <a href="#" id="new-project-confirmed" class="btn btn-primary"><%= t("helpers.project.confirmation_button_text")%></a>
  </div>
</div>

<!-- alert for the default template-->
<div id="default-template-confirmation-dialog" data-container="body" data-backdrop="static" class="modal hide fade">
	<div class="modal-header">
		<h3><%= t("helpers.project.confirmation_text")%></h3>
	</div>
	<div class="modal-body">
		<div><p><%= raw t("helpers.project.default_confirmation_text_desc")%></p></div>
		<!-- verify if the current user organisation has or a template or guidance. if true display alert text-->
		<%if !Dmptemplate.own_institutional_templates(current_user.organisation_id).empty? then %>
			<div><p><strong><%= raw t("helpers.project.alert_default_template_text_html", :org_name => current_user.organisation.name )%></strong></p></div>
		<%end%>
	</div>
	<div class="modal-footer">
    	<a href="#" id="default-template-cancelled" class="btn"><%= t("helpers.submit.cancel")%></a>
    	<a href="#" id="default-template-confirmed" class="btn btn-primary"><%= t("helpers.project.default_confirmation_button_text")%></a>
  	</div>
</div>