<%- model_class = Project -%>
<h1>
	<%= t("helpers.project.publicly_available_title") %>
</h1>

<!-- if the user has projects -->
<% if @projects.count > 0 %>
	<p>
		<%= raw t("helpers.project.publicly_available_text", {app_name: Rails.configuration.branding[:application][:name]}) %>
	</p>
    
	<table id="dmp_table" class="dmp_table tablesorter">
	  <thead>
			<tr>
			  <% ['name', 'template', 'organisation', 'owner'].each do |column| %>
			    <%= project_list_column_heading(column) %>
			  <% end %>
			  <th class="dmp_th_small"></th>
			</tr>
	  </thead>
	  <tbody>
      <% @projects.each do |project| %>
				<tr>
				  <% ['non_link_name', 'template', 'organisation', 'owner'].each do |column| %>
				    <%= project_list_column_body(column, project) %>
				  <% end %>

				  <td class="dmp_td_medium">
						<%= link_to t("helpers.project.tab_export"), "#{public_export_project_path(project)}", :class => "dmp_table_link" %>
				  </td>
				</tr>
      <% end %>
	  </tbody>
	</table>
	
<!-- if the user does not have projects -->
<% else %>
	<p>
		<%= raw t("helpers.project.project_text_when_no_project")%>
	</p>
<% end %>
