<%# locals: { f, field_label, form_prefix, property_name, select_values, locale, selected_value, field_class, required, readonly, validation, ttip, default_value, overridable } %>
<% selected_value ||= default_value %>
<% include_blank = !selected_value && !default_value %>
<% field_name = defined?(form_prefix) ? "#{form_prefix}[#{property_name}]" : property_name %>
<% intermediate_message = overridable ? _("Select a value from the list or type a new one.") : _("Select a value from the list.")%>
<% 
  formatted_values = select_values.map {|v| [v.to_s(locale: locale), select_value(v, locale)]}
%>
<% unless field_label.nil? %>
  <div class="col-md-12">
    <%= f.label field_id, field_label, class: 'control-label' %>
  </div>
<% end %>
<div class="col-md-12 dynamic-field select-field multi-select">
  <span class="intermediate-label"><i><%= intermediate_message unless readonly %></i></span>
  <div class="field-button-combo">
    <%= select_tag "registry_value_selector",
                options_for_select(
                    formatted_values,
                    selected: nil
                ),
                data: {
                  "tags" => overridable
                },
                disabled: readonly,
                multiple: false,
                include_blank: true,
                "data-toggle": "tooltip",
                aria: { label: field_label },
                title: ttip,
                class: "#{field_class}",
                id: field_id  %>
  </div>

  <span class="add-indicator fa fa-arrow-down"></span>
    <div class="col-md-12">
      <div class="col-md-3 selected-values-label"><%= _("Selected values") %></div>
      <ul class="col-md-9 selected-values">
        <% if selected_value.present? %>
          <% selected_value.each do |val| %>
            <% display = val.blank? ? 'display:none': '' %>
            <li class="selected-value" style="<%= display %>">
              <span class="value-text"><%= val %></span>
              <%= f.hidden_field "#{field_name}", 
                      multiple: true,
                      value: val %>
              <span class="remove-button fa fa-xmark"></span>
            </li>
          <% end %>
        <% else %>
          <li class="selected-value" style="display:none">
            <span class="value-text"></span>
            <%= f.hidden_field "#{field_name}", 
                    multiple: true,
                    value: nil %>
            <span class="remove-button fa fa-xmark"></span>
          </li>
        <% end %>
      </ul>
    </div>
</div>
