<%# locals: { f, field_label, form_prefix, property_name, select_values, locale, value, parent_id, schema_id, field_class, required, readonly, validation, ttip, default_value, overridable } %>
<% value ||= default_value %>
<% include_blank = !value && !default_value %>
<% field_name = defined?(form_prefix) ? "#{form_prefix}[#{property_name}]" : property_name %>
<% query_id = Digest::MD5.hexdigest("#{parent_id}-#{property_name}") %>
<% intermediate_message = overridable ? _("Select a value you want to add to your plan or type a new one.") : _("Select a value you want to add to your plan.")%>

<fieldset class="sub-fragment registry">
  <legend class="sub-fragment registry">
    <%= field_label %>
    <a href="<%= about_registries_path %>" target="_blank"
      data-toggle="tooltip" data-original-title="<%= _("Find out more.") %>">
      <span class="registry-info fas fa-circle-info"></span>
    </a>
  </legend>
  <div class="col-md-12 dynamic-field select-field linked-fragments-select create-from-registry"
        data-locale="<%= locale %>"
        data-parent-id="<%= parent_id %>"
        data-query-id="<%= query_id %>"
        data-property-name="<%= property_name %>"
        data-schema-id="<%= schema_id %>"
        data-readonly="<%= !overridable %>"
  >
    <% unless readonly %>
      <span class="intermediate-label"><i><%= intermediate_message %></i></span>
      <div class="col-md-12 dynamic-field">
        <%= select_tag "#{f.object_name}[#{field_name}]",
                    options_for_select(
                        select_values.map {|v| [ 
                                v.to_s(locale: locale), 
                                select_value(v, locale) 
                            ] 
                        }
                    ),
                    disabled: readonly,
                    multiple: false,
                    include_blank: true,
                    "data-toggle": "tooltip",
                    aria: { label: field_label },
                    title: ttip,
                    class: "form-control #{field_class}",
                    id: field_id  %>

        <% if parent_id.present? || overridable %>
          <span data-toggle="modal" data-target="#modal-window">
            <%= link_to new_edit_linked_madmp_fragments_url(
                    nil, 
                    :parent_id => parent_id, 
                    :schema_id => schema_id, 
                    :template_locale => locale,
                    :source => "list-modal",
                    :property_name => property_name,
                    :query_id => query_id
              ),  {
                :remote => true, 
                :target => "_self",
                :class  => "add-fragment",
                'data-toggle' =>  "tooltip",
                'data-original-title' => _("Click here to add a new item")
            } do %>
              <i class="fas fa-square-plus"></i>
            <% end %>
          </span>
        <% end %>
      </div>
      <span class="message-area"></span>
      <span class="add-indicator fa fa-arrow-down"></span>
    <% end %>
  </div>
  <div class="col-md-12">
    <table class="table table-hover linked-fragments-list <%= property_name %>-list list-<%= query_id %>">
      <thead></thead>
      <tbody>
        <%= render(partial: 'dynamic_form/linked_fragment/list', locals: {
                obj_list: value, 
                parent_id: parent_id,
                schema_id: schema_id,
                readonly: readonly || !overridable,
                deletable: true,
                template_locale: locale,
                property_name: property_name,
                query_id: query_id
              }
            ) if value.present? %>
      </tbody>
    </table>
  </div>
</fieldset>
