<%# locals: { f, field_label, form_prefix, property_name, select_values, locale, selected_value, field_class, required, readonly, validation, ttip, default_value, overridable } %>
<% selected_value ||= default_value %>
<% include_blank = !selected_value && !default_value %>
<% field_name = defined?(form_prefix) ? "#{form_prefix}[#{property_name}]" : property_name %>
<% intermediate_message = overridable ? _("Select a value from the list or type a new one.") : _("Select a value from the list.")%>
<% 
  formatted_values = select_values.map {|v| [v.to_s(locale: locale), select_value(v, locale)]}
%>
<% unless field_label.nil? %>
  <div class="col-md-12">
    <%= f.label field_id, field_label, class: 'control-label' %>
  </div>
<% end %>
<div class="col-md-12 dynamic-field select-field single-select">
  <span class="intermediate-label"><i><%= intermediate_message unless readonly %></i></span>
  <div class="field-button-combo">
    <%= select_tag "#{f.object_name}[#{field_name}]",
                options_for_select(
                    formatted_values,
                    selected: selected_value
                ),
                data: {
                  "tags" => overridable
                },
                disabled: readonly,
                multiple: false,
                include_blank: true,
                aria: { label: field_label },
                "data-toggle": "tooltip",
                title: ttip,
                class: "#{field_class}",
                id: field_id  %>
    <% unless readonly %>
      <span class="remove-button fas fa-xmark"></span>
    <% end %>
  </div>
  <% if overridable %>
    <% 
      style = ''
      custom_value = selected_value
      if select_values.any? { |r| select_value(r, locale) == selected_value } || selected_value.nil?
        style = 'display: none;'
        custom_value = nil
      end
    %>
    <% other_field_name = defined?(form_prefix) ? "#{form_prefix}[#{property_name}_custom]" : "#{property_name}_custom" %>
    <div class="col-md-12 custom-value" style="<%= style %>">
      <%= f.label other_field_name, _("Custom value: "), class: 'control-label' %>
      <%= f.hidden_field other_field_name, 
                value: custom_value,
                class: "form-control #{field_class}",
                id: field_id  %>
      <span><%= custom_value %></span>
    </div>
  <% end %>
</div>
