<%# locals: { plan, research_output, research_output_types } %>
<%= hidden_field_tag "plan_id", plan.id, class: 'plan-id' %>
<% research_outputs.each_with_index do |research_output, index|%>
  <% research_output_fragment = research_output.json_fragment %>
  <% research_output_data = research_output_fragment.description.data if research_output_fragment.present?%>
  <div class='research-output-element <%= index != 0 ? '' : 'inactive' %>'>
    <div class='research-output-fields'>
      <div class='research-output-field form-group research-output-abbreviation'>
        <strong><%= _('Title') %></strong>
        <span><%= research_output_data['title'] %></span>
      </div>
      <div class='research-output-field form-group research-output-fullname'>
        <strong><%= _('Description') %></strong>  
        <span><%= research_output_data['description'] %></span>
      </div>
      <%= hidden_field_tag "id", research_output.id, class: 'research-output-id' %>
    </div>
    <% unless readonly %>
      <div class='research-output-actions'>
          <i class="fa fa-edit pull-left edit" aria-hidden="true"
                  title="<%= d_('dmpopidor', 'Edit research output') %>"></i>
        <% if plan.research_outputs.length > 1 && index != 0 %>
          <i class="fa fa-arrows handle" aria-hidden="true" 
                  title="<%= d_('dmpopidor', 'Move research output') %>"></i>
                  
          <%= link_to plan_research_output_url(plan, research_output), 
                      data: {:confirm => d_('dmpopidor', 'Deleting this research output will remove the associated answers. Do you confirm ?')}, 
                      :method => :delete  do %>
            <i class="fa fa-close pull-right delete" aria-hidden="true"
                  title="<%= d_('dmpopidor', 'Delete research output') %>" %></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <hr/>
</div>
<% end %>