<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= _('Plan Title') %>&nbsp;<%= paginable_sort_link('plans.title') %></th>
        <th scope="col"><%= _('Template') %>&nbsp;<%= paginable_sort_link('templates.title') %></th>
        <th scope="col"><%= _('Research Domains') %></th> 
        <th scope="col"><%= _('Organisation') %></th>
        <th scope="col" class="date-column">
          <%= _('Last Updated') %>&nbsp;
          <%= paginable_sort_link('plans.updated_at') %>
        </th>
        <th scope="col" class="sorter-false text-center download-column"><%= _('Download') %></th>
      </tr>
    </thead>
    <tbody>
      <% scope.each do |plan| %>
        <% dmp_fragment = plan.json_fragment %>
        <% meta = dmp_fragment.meta %>
        <tr class="table-data">
          <td><%= plan.title %></td>
          <td><%= plan.template.title %></td>
          <td><%= meta.data['dmpKeyword'].join('; ') if meta.data['dmpKeyword'].present? %></td>
          <td><%= (plan.owner.nil? || plan.owner.org.nil? ? _('Not Applicable') : plan.owner.org.name) %></td>
          <td><%= l(plan.updated_at.to_date, formats: :short) %></td>
          <td class="text-center">
            <%= link_to plan_export_path(plan, format: :pdf, export: { question_headings: true }),
                class: "dmp_table_link has-new-window-popup-info", target: '_blank' do %>
              <i class="fas fa-file-pdf" aria-hidden="true"></i>
              <em class="sr-only"><%= _('(new window)') %></em>
              <span class="new-window-popup-info"><%= _('Opens in new window') %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
