<%# locals: context, model, partial, selected %>

<%
context_name = context.class.name.underscore
model_name = model.class.name.underscore
label = model.respond_to?(:title) ? model.title : model[:name] || 'Unknown!'
%>

<% if model.present? %>
  <div class="external-api-result-card col-md-12">
    <%= hidden_field_tag "#{context_name}[#{model_name}_id]",
                         "#{context_name}_#{model_name}_id",
                         value: model.id %>

    <h4>
      <%= label %>
      <%= link_to _("Select"), "#", class: "external-api-result-selector #{selected ? 'hidden' : ''}",
                               title: _("Click to select '%{result_label}'") % { result_label: label },
                               data: { dismiss: "modal" } %>
      <%= link_to _("Remove"), "#", class: "external-api-result-unselector #{selected ? '' : 'hidden'}",
                               title: _("Click to unselect '%{result_label}'") % { result_label: label } %>
    </h4>

    <%= render partial: partial, locals: { context: context, model: model, selected: selected } %>
  </div>
<% end %>
