<%# locals: context, topic, results, card_partial %>

<div class="form-group row external-api-search-results" external_api="<%= topic %>">
  <div class="col-md-10">
    <div class="col-md-10">
      <% if results.length >= 50 %>
        <%= _("More than 50 results matched your search criteria, try narrowing your search.") %>
      <% else %>
        <%= _("%{nbr_of_search_results} results found.") % {
            nbr_of_search_results: number_with_delimiter(results.length, delimiter: ",") } %>
      <% end %>
      <%= _("You may scroll down in this window to view additional results.") %>
    </div>

    <% results[0..29].each do |result| %>
      <%= render partial: "shared/external_apis/card",
                 locals: { context: context, model: result, partial: card_partial, selected: false } %>

        <hr>
      </div>
    <% end %>
  </div>
</div>
