<%# locals: context, topic, results, result_partial

:context        - refers to the parent object (e.g. "research_output"). This
                  should always be an instance of a Model

:topic          - refers to the associated object the External API will be
                  searching for. This should always be a String representing the
                  :context object's name for the association (e.g. "repositories")

:results        - the search results

:result_partial - the custom View that will be used to render a result. For example:
                  "research_outputs/repositories/_search_result.html.erb"
%>

<div class="form-group row external-api-search-results external_api_search_results-<%= topic %>">
  <div class="col-md-12">

    <% if results.any? %>
      <div class="col-md-12">
        <%= page_entries_info results %></div>
        <span class="float-right"><%= paginate results, remote: true, method: :post %></span>
      </div>
    <% else %>
      <div class="col-md-12"><%= _("No repositories matched your filter criteria.") %></div>
    <% end %>

    <% results.each do |result| %>
      <%= render partial: "shared/external_apis/search_result",
                 locals: {
                   context: context,
                   topic: topic,
                   object: result,
                   result_partial: result_partial,
                   selected: false
                 } %>
      <hr>
    <% end %>

    <% if results.any? %>
      <div class="col-md-9">&nbsp;</div>
      <div class="col-md-3">
        <span class="float-right"><%= paginate results, remote: true, method: :post %></span>
      </div>
    <% end %>
  </div>
</div>
