
<%# locals: context, topic, label, url, filter_partial, result_partial

External API search modal (should be placed outside of any <form> elements) to
prevent the filter and search box from being submitted to the controller when
the user saves their changes.

:context        - refers to the parent object (e.g. "research_output"). This
                  should always be an instance of a Model

:topic          - refers to the associated object the External API will be
                  searching for. This should always be a String representing the
                  :context object's name for the association (e.g. "repositories")

:label          - typically just a humanized version of the :topic, but this
                  allows you to specify whatever you want (e.g. Permission instead of Perm)

:url            - the path to controller endpoint that will perform the search

:filter_partial - the custom View that will be used to render any filter/facet
                  options. For example:
                  "research_outputs/repositories/_filters.html.erb"

:result_partial - the custom View that will be used to render a result. For example:
                  "research_outputs/repositories/_search_result.html.erb"
%>

<div id="external_api_search_modal-<%= topic %>"
     class="modal fade external-api-search-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="external-api-search-label"
     aria-hidden="true"
     external_api="<%= topic %>">

  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <%= button_tag "X", type: "button", class: "close",
                       data: { dismiss: "modal" },
                       aria: { label: _("Close") } %>

        <h3 id="external-api-search-label" class="modal-title">
          <%= _("%{topic} search") % { topic: label } %>
        </h3>
      </div>

      <div class="modal-body">
        <%= render partial: "shared/external_apis/search_controls",
                   locals: {
                     context: context,
                     topic: topic,
                     url: url,
                     filter_partial: filter_partial,
                     result_partial: result_partial
                    } %>

        <%= render partial: "shared/external_apis/search_results",
                  locals: {
                    context: context,
                    topic: topic,
                    results: [],
                    result_partial: result_partial
                  } %>
      </div>

      <div class="modal-footer">
        <%= button_tag _("Close"), type: "button", class: "close",
                       data: { dismiss: "modal" } %>
      </div>

    </div>
  </div>
</div>
