<% url = @registry_value.new_record? ? super_admin_registry_values_path : super_admin_registry_value_path(@registry_value) %>

  <%= form_for @registry_value, url: url, html: { class: 'registry-value' } do |f| %>
    <div class="row">
      <%= f.hidden_field :registry_id, value: @registry.id %>
      <div class="form-group">
        <%= f.label(:data, _('Data'), class: 'control-label') %>
        <%= f.text_area(:data, class: "form-control", spellcheck: true, "aria-required": true, value: @registry_value.data.to_json) %>
      </div>

    <div class="pull-right">
      <%= f.button(_('Save'), class: "btn btn-default", type: "submit") %>
      <% unless @registry_value.new_record? %>
        <%= link_to(_('Delete'), super_admin_registry_value_path(@registry_value), class: 'btn btn-default',
          rel: 'nofollow', 'data-method': 'delete',
          'data-confirm': _("Are you sure you want to delete this registry value?")) %>
      <% end %>
    </div>
  </div>
 <% end %>