<div class='nested-fields dataset-element'>
  <div class='field form-group dataset-name'>
    <%= f.label :name, _('Name'),  class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control', "aria-required": true %>
  </div>
  <div class='field form-group dataset-description'>
    <%= f.label :description, _('Description'), class: 'control-label' %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
    <%= f.hidden_field :order, class: 'dataset-order' %>
  <div class='dataset-actions'>
    <i class="fa fa-arrows pull-left handle" aria-hidden="true"
             title="<%= _('Move dataset') %>"></i>
    <%= link_to_remove_association f do %>
    <i class="fa fa-close pull-right" aria-hidden="true"
             title="<%= _('Delete dataset') %>" %></i>
    <% end %>
  </div>
  <hr>
</div>