<%# locals: { plan, datasets } %>
<div class="datasets-description">
  <legend class="project-details"><%= d_('dmpopidor', 'Datasets') %></legend>
  <%= form_for plan, html: {method: :put, class: 'form-horizontal edit_plan' } do |f| %>
    <div id='datasets'>
      <% @datasets.each do |dataset|%>
        <%= f.fields_for :datasets, dataset do |d| %>
          <%= render 'plans/dataset_fields', f: d, plan: plan, dataset: dataset %>
        <% end %>
      <% end %>
    </div>
    <div class='links'>
      <span id="add-dataset", class="btn btn-link"><%= d_('dmpopidor', 'Add a dataset') %></span>
    </div>
    <%= f.button(_('Submit'), class: "btn btn-default", type: "submit") %>
  <% end %>
</div>