<%# locals: plan, orcid_access_token %>

<%
dmp_id = plan.dmp_id

if current_user == plan.owner
  orcid = plan.owner.identifier_for_scheme(scheme: "orcid")
  orcid_logo = "https://orcid.org/sites/default/files/images/orcid_16x16.png"
  orcid_link = "<a href=\"#{orcid&.value}\" target=\"_blank\" aria-label=\"link to ORCID record\">ORCID record</a>"
end

project_details_link = link_to(_('Project Details'), edit_plan_path(plan.id))
dmp_id_url = 'https://github.com/CDLUC3/dmptool/wiki/DMP-IDs-and-Networked-Data-Management-Plans-(maDMPs)#why-are-ids-for-dmps-important'

# Minting is only allowed if the plan is 'complete', it is not a test, has a funder and the user can administer
allow_minting = plan.administerable_by?(current_user.id) && plan.complete? && plan.funder_id.present? &&
                !plan.is_test?
# If ORCID updates are enabled then check that the user has authorized it!
allow_minting = orcid.present? && orcid_access_token.present? if allow_minting && Rails.configuration.x.madmp.enable_orcid_publication
%>

<h2><%= _('Register your plan for a DMP ID') %></h2>

<div class="dmp-id-minter">
  <p><%= (_("%{link_to_dmp_id_definition} are DOIs designed specifically for data management plans. By registering, you’ll be able to link this plan to your ORCID, and to project outputs such as datasets and journal articles which will make it easier to show that you met your funder’s requirements by the end of the project.") % { link_to_dmp_id_definition: link_to(_('DMP IDs'), dmp_id_url) }).html_safe %></p>

  <% if dmp_id.present? %>
    <p><strong><%= _('This DMP has been registered.') %></strong></p>
    <% val = sandbox_dmp_id(id: @plan.dmp_id, with_domain: true) %>

    <p><%= _('When referencing this DMP in other systems, please use the DMP ID: ') %></p>
    <p>&nbsp;&nbsp;<%= val %></p>
    <p><%= _("When citing this DMP use:") %></p>
    <p>&nbsp;&nbsp;<%= plan.citation %></p>
  <% else %>
    <fieldset<%= (allow_minting ? '' : ' disabled') %> class="criteria-list">
      <legend class="form-control-static">
        <%= _('In order to register your plan you must have completed the following:') %>
        <ul>
          <li>
            <% if plan.owner == current_user %><span class="fa fa-check green"><span class="sr-only">Complete: </span></span><% else %><span class="fa fa-times red"><span class="sr-only">Incomplete: </span></span><% end %>
            <%= (_('only the creator of the plan may register a DMP ID.')) %>
          </li>
          <li>
            <% if plan.complete? %><span class="fa fa-check green"><span class="sr-only">Complete: </span></span><% else %><span class="fa fa-times red"><span class="sr-only">Incomplete: </span></span><% end %>
            <%= (_("answered at least %{percentage}%% of questions on the %{write_plan_link} panel") % { percentage: Rails.configuration.x.plans.default_percentage_answered, write_plan_link: link_to(_('Write Plan'), edit_plan_path(plan.id, phase: plan.phases&.first&.id)) }).html_safe %>
          </li>
          <li>
            <% if plan.funder_id.present? %><span class="fa fa-check green"><span class="sr-only">Complete: </span></span><% else %><span class="fa fa-times red"><span class="sr-only">Incomplete: </span></span><% end %>
            <%= (_("identified your funder on the %{project_details_link} panel") % { project_details_link: project_details_link }).html_safe %>
          </li>
          <% if Rails.configuration.x.madmp.enable_orcid_publication %>
            <li>
              <% if orcid.present? && orcid_access_token.present?%><span class="fa fa-check green"><span class="sr-only">Complete: </span></span><% else %><span class="fa fa-times red"><span class="sr-only">Incomplete: </span></span><% end %>
              <% if !orcid_access_token.present? %>
                <%= (_("authorized DMP Tool to add works to your ORCID record via the %{link_to_third_part_page}") % { link_to_third_part_page: users_third_party_apps_path }).html_safe %> <a href="<%= users_third_party_apps_path %>" target="_blank"><%= _("Third party applications page") %></a>
              <% else %>
                <%= _("linked your DMP Tool account to your ORCID via your") %> <a href="<%= users_third_party_apps_path %>" target="_blank"><%= _("Third party applications page") %></a>
              <% end %>
            </li>
          <% end %>
          <li>
            <% if !plan.is_test? %><span class="fa fa-check green"><span class="sr-only">Complete: </span></span><% else %><span class="fa fa-times red"><span class="sr-only">Incomplete: </span></span><% end %>
            <%= (_("plan is not flagged as a mock project on the %{project_details_link} panel") % { project_details_link: project_details_link }).html_safe %>
          </li>
        </ul>
      </legend>
      <div class="form-group col-xs-8">
        <%= form_for @plan, url: mint_plan_path(@plan), method: :get do |f| %>
          <%= f.submit _('Register plan'), class: "btn btn-primary" %>
        <% end %>
      </div>
    </fieldset>
  <% end %>
</div>
