<div class="row">
  <%= form_for plan, html: {method: :put, class: 'form-horizontal edit_plan' } do |f| %>
    <div class="col-md-12 plan-details">
      <!-- Tabs content -->
      <div class="tab-content">
        <!-- "Plan Metadata" tab -->
        <div id="plan_metadata" class="tab-pane in active">
          <h2><%= _("Plan Metadata") %></h2>
          <%= render(partial: 'plans/plan_details/plan_metadata', locals: { f: f } ) %>
        </div>
        <!-- "Project Details" tab -->
        <div id="plan_project" class="tab-pane">
          <h2><%= _("Project Details") %></h2>
          <%= render(partial: 'plans/plan_details/plan_project', locals: { f: f } ) %>
        </div>
        <!-- "Guidance Configuration" tab -->
        <div id="guidance_configuration" class="tab-pane">
          <%= render(partial: 'plans/plan_details/guidance_configuration', locals: { f: f } ) %>
        </div>
      </div>
      <ul class="nav nav-tabs form-tabs">
        <li class="active">
          <span data-toggle="tab" data-target="#plan_metadata"><i class="fa fa-arrow-left"></i> <%= _("Plan Metadata") %></span>
        </li>
        <li>
          <span data-toggle="tab" data-target="#plan_project"><i class="fa fa-arrow-left"></i> <%= _("Project Details") %></span>
        </li>
        <li>
          <span data-toggle="tab" data-target="#guidance_configuration"><i class="fa fa-arrow-left"></i> <%= _("Guidance Configuration") %></span>
        </li>
      </ul>
    </div>
  <% end %>
</div>
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="linkedInformationsModal" aria-hidden="true"></div>