<%# locals: { plan, research_outputs, research_output_types } %>
<div id="research-outputs" class="fragment-<%= plan.json_fragment.id%>">
  <%= hidden_field_tag 'plan_id', plan.id %>
  <h2><%= _('Research outputs') %></h2>
  <h3><%= _('Dataset, software, workflow, sample, protocol...') %></h3>
  <div class="display-readonly-textarea-content">
    <p><%= _('Please fill in separately for research outputs requireing a management specific to their nature or discipline.') %></p>
  </div>
  <div id='research-outputs-list'>
    <%= render 'research_outputs/list', plan: plan,
      research_outputs: research_outputs,
      readonly: false
    %>
  </div>
  <div class='links'>
    <%= link_to _('Add a research output'), create_remote_research_outputs_url(plan_id: plan.id),
      {
        :remote => true, 
        :class => "add-research-output btn btn-primary",
        "data-toggle" => "tooltip",
        "data-original-title" => _("Click here to add a new research output")
      }
     %>
  </div>
</div>
