
<% dmp_fragment = @plan.json_fragment() %>
<% meta_fragment = dmp_fragment.meta%>
<% project_fragment = dmp_fragment.project%>
<div class="row">
  <%= form_for plan, html: {method: :put, class: 'form-horizontal edit_plan' } do |f| %>
    <div class="col-md-12 plan-details">
      <div class="col-md-8">

        <div class="checkbox">
          <%= f.hidden_field :visibility %>
          <%= f.label(:is_test, class: 'control-label') do %>
            <%= check_box_tag(:is_test, 1, @plan.is_test?, "aria-label": "is_test") %>
            <%= _('mock project for testing, practice, or educational purposes') %>
          <% end %>
        </div>
        
        <div class="heading-button" role="button" data-toggle="collapse"
             data-parent="sections-accordion"
             href="#plan_project"
             aria-expanded="true"
             aria-controls="plan_project">
          <div class="panel-heading question-text" role="tab" id="heading-plan-project">
            <div class="panel-title pull-left">
              <%= _("Project Details") %>
            </div>
            <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
            <div class="clearfix"></div>
          </div>
        </div>

        <div id="plan_project" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-plan-project">
          <div class="panel-body madmp-fragment""><!-- accordion body -->
            <fieldset aria-labelledby="fragment-fieldset" class="fragment-fieldset">
              <div class="project-form">
                <%= render(partial: 'shared/dynamic_form/form', locals: { 
                      f: f,
                      current_fragment: project_fragment, 
                      schema: MadmpSchema.find_by(name: "ProjectStandard"),
                      question_id: nil,
                      readonly: false,
                      classname: "project",
                      template_locale: @plan.template.locale,
                      form_prefix: "project"
                    }) %>
              </div>
              <div class="answer-save-zone" >
                <span class="please-save-message"><%= d_('dmpopidor', 'You have pending changes, please save')%></span>
                <%= f.button(_('Save'), class: "btn btn-default answer-save-button", type: "submit") %>
              </div>
            </fieldset>
          </div>
        </div>

        <hr/>
        <div class="clearfix"></div>

        <div class="heading-button" role="button" data-toggle="collapse"
             data-parent="sections-accordion"
             href="#plan_metadata"
             aria-expanded="false"
             aria-controls="plan_metadata">

          <div class="panel-heading question-text" role="tab" id="heading-plan-metadata">
            <div class="panel-title pull-left">
              <%= d_("dmpopidor", "Plan Details") %>
            </div>
            <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i>
            <div class="clearfix"></div>
          </div>
        </div>

        <div id="plan_metadata" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-plan-metadata">
          <div class="panel-body madmp-fragment"><!-- accordion body -->
            <fieldset aria-labelledby="fragment-fieldset" class="fragment-fieldset">
              <div class="meta-form">
                <%= render(partial: 'shared/dynamic_form/form', locals: { 
                      f: f,
                      current_fragment: meta_fragment, 
                      schema: MadmpSchema.find_by(name: "MetaStandard"),
                      question_id: nil,
                      readonly: false,
                      classname: "meta",
                      template_locale: @plan.template.locale,
                      form_prefix: "meta"
                    }) %>
              </div>
              <div class="answer-save-zone" >
                <span class="please-save-message"><%= d_('dmpopidor', 'You have pending changes, please save')%></span>
                <%= f.button(_('Save'), class: "btn btn-default answer-save-button", type: "submit") %>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 guidance-configuration">
        <!-- "Guidance Configuration" tab -->
        <div id="guidance_configuration" class="tab-pane">
          <%= render(partial: 'plans/guidance_configuration', locals: { f: f } ) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="linkedInformationsModal" aria-hidden="true"></div>