<!-- Page title -->
<div class="row">
  <div class="col-md-12">
    <%= form_for Plan.new, url: plans_path do |f| %>
    <div class="row">
      <div class="col-md-12">
        <h1>
          <%= @template_context.eql?(::Template.contexts[:research_structure]) ? _('Creating a research entity DMP: ') : _('Creating a research project DMP: ') %>
          <%= _('Choose a template') %>
        </h1>
        <p class="left-indent">
            <%= _('You can either choose a template provided by your organisation, another organisation or a funder template. The default template is ') %>
            <strong><%= @default_template.title + "." %></strong>
            <br/>
            <%= link_to _('Find the list of the available templates'), public_templates_path, :target => "_blank" %>
          </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 plan-form">

        <!-- Tabs menu -->
        <ul class="nav nav-tabs form-tabs">
          <li class="active">
            <span data-toggle="tab" data-target="#own-org-controls"><%= current_user.org.name  %> (<%= _('Your organisation') %>) </span>
          </li>
          <li>
            <span data-toggle="tab" data-target="#research-org-controls"><%= _('Other organisation') %></span>
          </li>
          <li>
            <span data-toggle="tab" data-target="#funder-org-controls"><%= _('Funder') %></span>
          </li>
        </ul>

        <!-- Tabs content -->
        <div class="tab-content">
          <!-- "Your organisation" tab -->
          <div id="own-org-controls" class="tab-pane in active">
            <%= hidden_field_tag(
              'own_org_id',
              "{ \"id\":#{current_user.org.id},\"name\": \"#{current_user.org.name}\", \"funder_id\": \"none\" }",
              class: "autocomplete-result") %>
          </div>

          <!-- "Other organisation" tab -->
          <div id="research-org-controls" class="tab-pane">
            <h2>
              <%= _('Would you like to choose the template of another organisation?') %>
            </h2>
            <!-- Combo box for selecting another organisation's template -->
            <%= fields_for :org, @plan.org do |org_fields| %>
              <% dflt = @orgs.include?(current_user.org) ? current_user.org : nil %>
              <%= render partial: "shared/org_selectors/local_only",
                          locals: {
                            form: org_fields,
                            id_field: :id,
                            default_org: dflt,
                            orgs: @orgs,
                            required: false
                          } %>
            <% end %>
            <%= check_box_tag(:plan_no_org, '', true, class: "toggle-autocomplete", style: 'display: none;') %>
          </div>

          <!-- "Funder" tab -->
          <div id="funder-org-controls" class="tab-pane">
            <h2>
              <%= _('Would you like to choose the template of a funder?') %>
            </h2>
            <!-- Combo box for selecting a funder's template -->
            <%= fields_for :funder, @plan.funder = Org.new do |funder_fields| %>
              <%= render partial: "shared/org_selectors/local_only",
                          locals: {
                            form: funder_fields,
                            id_field: :id,
                            label: _("Funder"),
                            default_org: nil,
                            orgs: @funders,
                            required: false
                          } %>
            <% end %>
            <%= check_box_tag(:plan_no_funder, '', true, class: "toggle-autocomplete", style: 'display: none;') %>
          </div>

        <!-- Multiple templates div (if more than one templates are provided by organisation) -->
          <div id="available-templates" style="display: none;">
            <h2>
              <%= _('Multiple templates are available, which one would you like to use?') %>
            </h2>
            <!-- Hidden field to store the URL from which to get available templates (async) -->
            <%= hidden_field_tag 'template-option-target', template_options_path %>
            <div class="form-group row">
              <div class="col-md-6">
                <%= select_tag(:plan_template_id, "<option value=\"-1\">#{_('Please select a template')}</option>", name: 'plan[template_id]', class: 'form-control', 'aria-labelledby': 'template-selection') %>
                <span class="message-block" style=""><%= _('Please select a template from the list.') %></span>
              </div>
            </div>
          </div>

          <!-- Single template div (if only one template is provided by organisation) -->
          <div id="single-template" style="display: none;">
            <h3 class="single-template-name"><%= raw(_("The template \"<span class=\"template_title\"></span>\" is available. Would you like to create a plan from this template?")) %></h3>
          </div>

          <!-- Default template div (if the template is the default one) -->
          <div id="default-template" style="display: none">
            <h3 class="single-template-name"></h3>
          </div>

          <!-- Default template div (if the template is the default one) -->
          <div id="no-template" style="display: none">
            <h3 class="single-template-name"><%= _("No template available.") %></h3>
          </div>

          <!-- In case the user does not belong to an organisation -->
          <% if current_user.org.nil? %>
          <div id="no_org">
            <h3>
              <%= _('You are not linked to an organisation, we can\'t suggest you a template. Please choose an organisation in your profile') %>
            </h3>
          </div>
          <% end %>
          <!-- In case the user's org is not managed -->
          <% unless current_user.org.managed? %>
          <div id="no_org">
            <h3>
              <%= _('The research organisation you entered during your account creation has been automatically created. If you want to access support services provided by an organisation (DMP templates, guidances & feedback request), please change your profile and select an organisation in the list.') %>
            </h3>
          </div>
          <% end %>

          <!-- Submit and other buttons -->
          <div class="pull-right">

            <%= f.hidden_field(:visibility, value: @is_test ? 'is_test' : Rails.configuration.x.plans.default_visibility) %>
            <%= f.button(_('Create a plan'), class: "btn btn-primary", id: 'create-btn', type: "submit") %>
            <%= link_to _('Next'), '', class: 'btn btn-primary accessible', id: 'next-btn' %>
            <%= direct_link(@default_template, false, _('Use Default Template'), 'create-plan-link') %>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    <div class="row">
      <div class="col-md-12">
        <h1><%= _('Import DMP') %></h1>
        <%= link_to _('Import DMP'), import_plans_path, class: 'btn btn-default', id: 'import-btn' %>
      </div>
    </div>
    -->
    <% end %>
  </div>
</div>
