<%
phases = plan.template.phases

if Rails.configuration.x.show_collaborators_on_share_tab
  contrib_label = _("Contributors")
  share_label = _("Share")
else
  contrib_label = _("Collaborators")
  share_label = _("Finalize")
end
%>
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="<%= (active_page?(plan_path(plan), true) ? 'active' : '') %>">
    <a href="<%= plan_path(plan) %>" role="tab" aria-controls="content"><%= _('Project Details') %></a>
  </li>
  <li role="contributors" class="<%= (active_page?(plan_contributors_path(plan)) ? "active" : "") %>">
      <%= link_to contrib_label, plan_contributors_path(plan), role: "tab", aria: { controls: "content" } %>
  </li>
  <% if Rails.configuration.x.show_overview_tab %>
    <li role="presentation" class="<%= (active_page?(overview_plan_path(plan)) ? 'active' : '') %>">
      <%= link_to(_('Plan overview'), overview_plan_path(plan), role: 'tab', 'aria-controls': 'content') %>
    </li>
  <% end %>
  <% phases.each do |phase| %>
    <li role="presentation" class="<%= (active_page?(edit_plan_path(plan.id, phase_id: phase.id)) ? 'active' : '') %>">
      <a href="<%= edit_plan_path(plan.id, phase_id: phase.id) %>" role="tab" aria-controls="content">
        <%= (phases.size > 1 ? phase.title : _('Write Plan')) %>
      </a>
    </li>
  <% end %>
  <% if Rails.configuration.x.enable_research_outputs && (plan.template.enable_research_outputs? || plan.research_outputs.any?) %>
    <li role="presentation" class="<%= (active_page?(plan_research_outputs_path(plan)) ? 'active' : '') %>">
      <%= link_to(_('Research outputs'), plan_research_outputs_path(plan), role: 'tab', 'aria-controls': 'content') %>
    </li>
  <% end %>
  <% if (plan.administerable_by?(current_user.id) || (current_user.can_org_admin? && current_user.org.plans.include?(plan))) && plan.owner_and_coowners.include?(current_user) && plan.owner.org.feedback_enabled? %>
    <li role="presentation" class="<%= (active_page?(request_feedback_plan_path(plan)) ? 'active' : '') %>">
      <a href="<%= request_feedback_plan_path(plan) %>" role="tab" aria-controls="content"><%= _('Request feedback') %></a>
    </li>
  <% end %>
  <% if plan.administerable_by?(current_user.id) || (current_user.can_org_admin? && current_user.org.plans.include?(plan)) %>
    <li role="presentation" class="<%= (active_page?(publish_plan_path(plan)) ? 'active' : '') %>">
      <a href="<%= publish_plan_path(plan) %>" role="tab" aria-controls="content"><%= share_label %></a>
    </li>
  <% end %>
  <% if plan.readable_by?(current_user.id) %>
    <li role="presentation" class="<%= (active_page?(download_plan_path(plan)) ? 'active' : '') %>">
      <a href="<%= download_plan_path(plan) %>" role="tab" aria-controls="content"><%= _('Download') %></a>
    </li>
  <% end %>
  <% if plan.dmp_id.present? %>
    <% if plan.administerable_by?(current_user.id) || (current_user.can_org_admin? && current_user.org.plans.include?(plan)) %>
      <li role="presentation" class="<%= (active_page?(follow_up_plan_path(plan)) ? 'active' : '') %>">
        <a href="<%= follow_up_plan_path(plan) %>" role="tab" aria-controls="content"><%= _('Follow-Up') %></a>
      </li>
    <% end %>
  <% end %>
</ul>
<div class="tab-content">
  <div id="content" role="tabpanel" class="tab-pane active">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= yield :plan_tab_body %>
      </div>
    </div>
  </div>
</div>
