<% phases = plan.template.phases %>
<ul id="plan-navigation" class="nav nav-tabs plan-navigation" role="tablist">
  <li role="presentation" class="<%= (active_page?(plan_path(plan), true) ? 'active' : '') %>">
    <a href="<%= plan_path(plan) %>" role="tab" aria-controls="content">
        <%= inline_svg_tag "plan_navigation/general_infos.svg", class: 'icon' %>
      <%= _("General information") %>
    </a>
    <span class="active-line"></span>
    <span class="active-bullet">&#x25cf;</span>
  </li>
  <li role="presentation" class="<%= (active_page?(plan_research_outputs_path(plan), true) ? 'active' : '') %>">
    <a href="<%= plan_research_outputs_path(plan) %>" role="tab" aria-controls="content">
        <%= inline_svg_tag "plan_navigation/research_outputs.svg", class: 'icon' %>
      <%= _("Research outputs") %>
    </a>
    <span class="active-line"></span>
    <span class="active-bullet">&#x25cf;</span>
  </li>
  <% phases.each do |phase| %>
    <li role="presentation" class="phase-tab <%= (active_page?(edit_plan_path(plan.id, phase_id: phase.id)) ? 'active' : '') %>">
      <a href="<%= edit_plan_path(plan.id, phase_id: phase.id) %>" role="tab" aria-controls="content">
        <%= inline_svg_tag "plan_navigation/write_plan.svg", class: 'icon' %>
        <%= (phases.size > 1 ? phase.title : _('Write Plan')) %>
      </a>
      <span class="active-line"></span>
      <span class="active-bullet">&#x25cf;</span>
    </li>
  <% end %>
  <li role="contributors" class="<%= (active_page?(plan_contributors_path(plan)) ? "active" : "") %>">
    <a href="<%= plan_contributors_path(plan) %>" role="tab" aria-controls="content">
        <%= inline_svg_tag "plan_navigation/contributors.svg", class: 'icon' %>
      <%= _("Contributors") %>
    </a>
    <span class="active-line"></span>
    <span class="active-bullet">&#x25cf;</span>
  </li>
  <% if plan.template.structured? %>
    <li role="budget" class="<%= (active_page?(budget_plan_path(plan)) ? "active" : "") %>">
      <a href="<%= budget_plan_path(plan) %>" role="tab" aria-controls="content">
        <%= inline_svg_tag "plan_navigation/budget.svg", class: 'icon' %>
        <%= _("Budget") %>
      </a>
      <span class="active-line"></span>
      <span class="active-bullet">&#x25cf;</span>
    </li>
  <% end %>
  <% if plan.administerable_by?(current_user.id) || (current_user.can_org_admin? && current_user.org.plans.include?(plan))  %>
    <li role="presentation" class="<%= (active_page?(share_plan_path(plan)) ? 'active' : '') %>">
      <a href="<%= share_plan_path(plan) %>" role="tab" aria-controls="content">
        <%= inline_svg_tag "plan_navigation/share.svg", class: 'icon' %>
        <%= _('Share') %>
      </a>
      <span class="active-line"></span>
      <span class="active-bullet">&#x25cf;</span>
    </li>
  <% end %>
  <% if (plan.administerable_by?(current_user.id) || (current_user.can_org_admin? && current_user.org.plans.include?(plan))) && plan.owner_and_coowners.include?(current_user) && plan.owner.org.feedback_enabled? %>
    <li role="presentation" class="<%= (active_page?(request_feedback_plan_path(plan)) ? 'active' : '') %>">
      <a href="<%= request_feedback_plan_path(plan) %>" role="tab" aria-controls="content">
        <%= inline_svg_tag "plan_navigation/request_feedback.svg", class: 'icon' %>
        <%= _('Request feedback') %>
      </a>
      <span class="active-line"></span>
      <span class="active-bullet">&#x25cf;</span>
    </li>
  <% end %>
  <% if plan.readable_by?(current_user.id) %>
    <li role="presentation" class="<%= (active_page?(download_plan_path(plan)) ? 'active' : '') %>">
      <a href="<%= download_plan_path(plan) %>" role="tab" aria-controls="content">
        <%= inline_svg_tag "plan_navigation/download.svg", class: 'icon' %>
        <%= _('Download') %>
      </a>
      <span class="active-line"></span>
      <span class="active-bullet">&#x25cf;</span>
    </li>
  <% end %>
</ul>
<% write_plan_class = active_page?(edit_plan_path(plan.id)) ? "write-plan" : ""%>
<div class="tab-content">
  <div class="row">
    <div class="col-md-12">
      <!-- render the project title -->
      <h1 id="plan-title">
        <%= plan.title %>
      </h1>
    </div>
  </div>
  <div id="content" role="tabpanel" class="tab-pane active">
    <div class="plan-content panel panel-default">
      <div class="panel-body <%= write_plan_class %> ">
        <%= yield :plan_tab_body %>
      </div>
    </div>
  </div>
</div>
