<%# locals: form, plan, research_domains %>

<%
project_title_tooltip =  _('If applying for funding, state the name exactly as in the grant proposal.')
project_abstract_tooltip = _("Briefly summarise your research project to help others understand the purposes for which the data are being collected or created.")
ethics_tooltip = _("Whether there are any potential ethical issues related to data that this DMP describes")
ethics_description_tooltip = _("Description of the ethical issues")
ethics_report_tooltip = _("Link to a protocol from a meeting with an ethics commitee")
%>

<% dmp_id = plan.dmp_id %>
<% if Rails.configuration.x.madmp&.enable_dmp_id_registration && dmp_id.present? %>
  <div class="form-group"><!-- dmp_id -->
    <div class="col-md-12">
      <label>DMP ID:</label>&nbsp;<%= dmp_id_for_display(dmp_id: plan.dmp_id, without_prefix: true) %>
    </div>
  </div>
<% end %>

<div class="form-group"><!-- title -->
  <div class="col-md-8">
    <%= form.label(:title, _('Project title'), class: 'control-label') %>

    <%= form.text_field(:title, class: "form-control", aria: { required: true },
                                'data-toggle': 'tooltip', spellcheck: true,
                                size: 250, title: project_title_tooltip) %>
  </div>
  <div class="col-md-8">
    <div class="checkbox">
      <%= form.hidden_field :visibility %>
      <%= form.label(:is_test, class: 'control-label') do %>
        <%= check_box_tag(:is_test, 1, plan.is_test?, "aria-label": "is_test") %>
        <%= _('mock project for testing, practice, or educational purposes') %>
      <% end %>
    </div>
  </div>
</div>

<div class="form-group"><!-- description -->
  <div class="col-md-12">
    <%= form.label(:description, _('Project abstract'), class: 'control-label', id: 'project-description-label') %>
  </div>
  <div class="col-md-8 wysiwyg-block" data-toggle="tooltip" title="<%= project_abstract_tooltip %>">
    <em class="sr-only"><%= project_abstract_tooltip %></em>
    <%= form.text_area :description, rows: 6, class: 'form-control tinymce',
                       spellcheck: true, aria: { required: false, labelledby: 'project-description-label' } %>
  </div>
</div>

<% if Rails.configuration.x.madmp.enable_research_domain %>
  <div class="form-group">
    <div class="col-md-8">
      <%= form.label(:research_domain_id, _("Research domain"), class: "control-label") %>

      <% options = research_domains.map { |rd| [rd.label, rd.id] } %>
      <%= form.select :research_domain_id, options_for_select(options, form.object.research_domain_id),
                            {
                              include_blank: _("- Please select one -"),
                              selected: form.object.research_domain_id
                            },
                            { class: "form-control" } %>
    </div>
  </div>
<% end %>

<div class="form-group"><!-- start / end dates -->
  <div class="col-md-4">
    <%= form.label(:start_date, _("Project Start"), class: "control-label") %>
    <%= form.date_field :start_date, class: "form-control",
                                     data: { toggle: "tooltip" },
                                     title: _("The estimated date on which you will begin this project.") %>
  </div>
  <div class="col-md-4">
    <%= form.label(:end_date, _("Project End"), class: "control-label") %>
    <%= form.date_field :end_date, class: "form-control",
                                   data: { toggle: "tooltip" },
                                   title: _("The estimated date on which you will complete this project.") %>
  </div>
</div>

<% if Rails.configuration.x.madmp.enable_ethical_issues %>
  <conditional>
    <div class="form-group">
      <div class="col-md-8">
        <div class="checkbox">
          <%= form.label(:ethical_issues, class: 'control-label', title: ethics_tooltip) do %>
            <%= form.check_box(:ethical_issues) %>
            <%= _('Research outputs may have ethical concerns') %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group toggleable-field">
      <div class="col-md-12">
        <%= form.label(:ethical_issues_description, _('Describe any ethical concerns'), class: 'control-label', id: 'plan-ethical-description') %>
      </div>
      <div class="col-md-8 wysiwyg-block" data-toggle="tooltip" title="<%= ethics_description_tooltip %>">
        <em class="sr-only"><%= ethics_description_tooltip %></em>
        <%= form.text_area :ethical_issues_description,
                           rows: 6,
                           class: 'form-control tinymce',
                           spellcheck: true,
                           aria: { required: false, labelledby: 'plan-ethical-description' } %>
      </div>
    </div>
    <div class="form-group toggleable-field">
      <div class="col-md-12">
        <%= form.label(:ethical_issues_report, _('Ethical protocols'), class: 'control-label') %>
      </div>
      <div class="col-md-8">
        <em class="sr-only"><%= ethics_report_tooltip %></em>
        <%= form.url_field(:ethical_issues_report,
                           class: "form-control",
                           "aria-required": false,
                           'data-toggle': 'tooltip',
                           title: ethics_report_tooltip) %>
      </div>
    </div>
  </conditional>
<% end %>

<conditional>
  <div class="form-group">
    <div class="col-md-8">
      <%= fields_for :funder, plan.funder do |funder_fields| %>
        <%= render partial: "shared/org_autocomplete",
                    locals: { form: funder_fields,
                              namespace: "funder",
                              default_org: plan.funder,
                              required: false,
                              div_id: 'funder-org-controls',
                              known_only: Rails.configuration.x.application.restrict_orgs || false,
                              funder_only: true,
                              label: _("Funder") } %>
      <% end %>
    </div>
  </div>

  <div class="form-group js-funder-field">
    <%= render partial: 'plans/funding', locals: { form: form, plan: plan, show_opportunity_nbr: true } %>
  </div>
</conditional>
