<%# locals: { plan, research_outputs } %>
<div class="research-outputs-description">
  <legend class="project-details"><%= d_('dmpopidor', 'Research outputs') %></legend>
  <%= form_for plan, html: {method: :put, class: 'form-horizontal edit_plan' } do |f| %>
    <div id='research-outputs'>
      <% @research_outputs.each do |research_output|%>
        <%= f.fields_for :research_outputs, research_output do |d| %>
          <%= render 'plans/research_output_fields', f: d, plan: plan, research_output: research_output %>
        <% end %>
      <% end %>
    </div>
    <div class='links'>
      <span id="add-research-output", class="btn btn-link"><%= d_('dmpopidor', 'Add a research output') %></span>
    </div>
    <%= f.button(_('Submit'), class: "btn btn-default", type: "submit") %>
  <% end %>
</div>