<%# locals: { plan, research_output } %>
<div class='research-output-element'>
  <div class='field form-group research-output-abbreviation'>
    <%= f.label :name, _('Abbreviated Name (20 chars max.)'),  class: 'control-label' %>
    <%= f.text_field :abbreviation, maxlength: 20, class: 'form-control', "aria-required": true %>
  </div>
  <div class='field form-group research-output-fullname'>
    <%= f.label :fullname, _('Fullname'), class: 'control-label' %>
    <%= f.text_field :fullname, class: 'form-control' %>
  </div>
    <%= f.hidden_field :order, class: 'research-output-order' %>
  <div class='research-output-actions'>
    <i class="fa fa-arrows pull-left handle" aria-hidden="true"
             title="<%= d_('dmpopidor', 'Move research output') %>"></i>
    <%= link_to plan_research_output_url(plan, research_output), 
                data: {:confirm => d_('dmpopidor', 'Deleting this research output will remove the associated answers. Do you confirm ?')}, 
                :method => :delete  do %>
      <i class="fa fa-close pull-right" aria-hidden="true"
              title="<%= d_('dmpopidor', 'Delete research output') %>" %></i>
    <% end %>
  </div>
  <hr>
</div>