<%# locals: { plan, research_outputs, research_output_types } %>
<h2 class="project-details"><%= d_('dmpopidor', 'Research output: dataset, software, workflow, sample, protocol...') %></h2>
<div class="display-readonly-textarea-content">
</div>
<div id='show-research-outputs'>
  <% @research_outputs.each do |research_output|%>
    <% other_type_displayed = research_output.type && research_output.type.is_other ? '' : 'display:none;' %>
    <div class='research-output-element'>
      <div class='research-output-value'>
        <strong><%=  d_('dmpopidor', 'Abbreviated Name') %></strong>
        <span><%= research_output.abbreviation ? research_output.abbreviation : _('None') %></span>
      </div>
      <div class='research-output-value'>
          <strong><%=  d_('dmpopidor', 'Fullname') %></strong>
          <span><%= research_output.fullname ? research_output.fullname : _('None')  %></span>
      </div>
      <div class='research-output-value'>
        <strong>
          <%=  d_('dmpopidor', 'Type') %> 
          <a href="<%= research_output_types_path %>" target="_blank" 
             title="<%= d_('dmpopidor', 'Click here to find out more about research output types.') %>">
            <i class="fa fa-info-circle"></i>
          </a>
        </strong>
        <span><%= research_output.type ? d_('dmpopidor', research_output.type.label) : _('None')  %></span>
      </div>
      <div class='research-output-value' style='<%= other_type_displayed %>'>
        <strong><%=  d_('dmpopidor', 'Other Type') %></strong>
        <span><%= research_output.other_type_label %></span>
      </div>
      <div class='research-output-value'>
        <strong><%=  d_('dmpopidor', 'Persistent Identifier') %></strong>
        <span><%= research_output.pid ? research_output.pid : _('None') %></span>
      </div>
    </div>
  <% end %>
</div>