
<% dmp_fragment = @plan.json_fragment() %>
<% meta_fragment = dmp_fragment.meta%>
<% project_fragment = dmp_fragment.project%>
<% anr_projects = Registry.find_by(name: "ANRProjects").registry_values %>
<% locale = @plan.template.locale %>
<div class="row">
  <div class="col-md-12 plan-details">
    <div class="col-md-12">
      <div class="heading-button" role="button" data-toggle="collapse"
            data-parent="sections-accordion"
            href="#plan_project"
            aria-expanded="true"
            aria-controls="plan_project">
        <div class="panel-heading question-text" role="tab" id="heading-plan-project">
          <div class="panel-title pull-left">
            <% I18n.with_locale locale do %>
              <%= @plan.template.research_project? ? _("Project Details") : _("Research Entity Details") %>
            <% end %>
          </div>
          <i class="fas fa-chevron-down pull-right" aria-hidden="true"></i>
          <div class="clearfix"></div>
        </div>
      </div>

      <div id="plan_project" class="panel-collapse collapse in plan-details-content" role="tabpanel" aria-labelledby="heading-plan-project">
        <%= hidden_field_tag 'fragment-id', project_fragment.id, class: "fragment-id" %>
        <div class="panel-body project-form  madmp-fragment"><!-- accordion body -->
          <% I18n.with_locale locale do %>
            <%= form_for :madmp_fragment, url: madmp_fragment_path(id: project_fragment.id), 
                          html: {
                            method: :put,
                            'data-autosave': project_fragment.id,
                            class: "form-answer madmp-fragment", 
                            id: nil  
                          } do |f| %>
            <fieldset aria-labelledby="fragment-fieldset" class="fragment-fieldset">
              <div class="form-group fragment-<%= project_fragment.id %>" data-fragment-id="<%= project_fragment.id %>" >
                <%= render(partial: 'dynamic_form/form', locals: { 
                      f: f,
                      current_fragment: project_fragment, 
                      schema: project_fragment.madmp_schema,
                      question_id: nil,
                      readonly: true,
                      classname: "project",
                      template_locale: LocaleService.to_gettext(locale: locale),
                      form_prefix: nil,
                      source: "form"
                    }) %>
              </div>
            </fieldset>

            <% end %>
          <% end %>
        </div>
      </div>

      <hr/>
      <div class="clearfix"></div>

      <div class="heading-button" role="button" data-toggle="collapse"
            data-parent="sections-accordion"
            href="#plan_metadata"
            aria-expanded="false"
            aria-controls="plan_metadata">

        <div class="panel-heading question-text" role="tab" id="heading-plan-metadata">
          <div class="panel-title pull-left">
            <% I18n.with_locale locale do %>
              <%= _("Plan Details") %>
            <% end %>
          </div>
          <i class="fas fa-chevron-right pull-right" aria-hidden="true"></i>
          <div class="clearfix"></div>
        </div>
      </div>

      <div id="plan_metadata" class="panel-collapse collapse plan-details-content" role="tabpanel" aria-labelledby="heading-plan-metadata">
        <% meta_schema = MadmpSchema.find_by(name: "MetaStandard") %>
        <%= hidden_field_tag 'fragment-id', project_fragment.id, class: "meta_fragment-id" %>
        <div class="panel-body madmp-fragment"><!-- accordion body -->
          <% I18n.with_locale locale do %>
            <%= form_for :madmp_fragment, url: madmp_fragment_path(id: meta_fragment.id), 
                          html: {
                            method: :put,
                            'data-autosave': meta_fragment.id,
                            class: "form-answer madmp-fragment", 
                            id: nil  
                          } do |f| %>
              <fieldset aria-labelledby="fragment-fieldset" class="fragment-fieldset">
                <div class="meta-form form-group fragment-<%= meta_fragment.id %>" data-fragment-id="<%= meta_fragment.id %>" >
                  <%= render(partial: 'dynamic_form/form', locals: { 
                        f: f,
                        current_fragment: meta_fragment, 
                        schema: meta_fragment.madmp_schema,
                        question_id: nil,
                        readonly: true,
                        classname: "meta",
                        template_locale: LocaleService.to_gettext(locale: locale),
                        form_prefix: nil,
                        source: "form"
                      }) %>
                </div>
              </fieldset>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="linkedInformationsModal" aria-hidden="true"></div>
