<%# locals: plan %>

<h2><%= _('Set plan visibility') %></h2>

<% allow_visibility = plan.visibility_allowed? %>

<% terms_text = _('I grant permission to California Digital Library to store, share, and adapt the material I have provided as part of my plan in accordance with the Sharing and Reuse section of the DMPTool\'s %{terms_url}') %
    { terms_url: link_to(_('terms and conditions'), terms_path, target: '_blank') }  %>

<% if plan.administerable_by?(current_user.id) %>
  <%= form_for(plan, url: visibility_plan_path, method: :post, html: { id: 'set_visibility' }) do |f| %>
    <fieldset<%= (allow_visibility ? '' : ' disabled') %> class="criteria-list">
      <legend class="form-control-static">
        <%= _('Public or organisational visibility is intended for finished plans.') %>
        <br><br>
        <%= _('In order to make your plan visible you must have completed the following:') %>
        <ul>
          <li>
            <% if plan.complete? %><span class="fa fa-check green"><span class="sr-only">Complete: </span></span><% else %><span class="fa fa-times red"><span class="sr-only">Incomplete: </span></span><% end %>
            <%= (_("answered at least %{percentage}%% of questions on the %{write_plan_link} panel") % { percentage: Rails.configuration.x.plans.default_percentage_answered, write_plan_link: link_to(_('Write Plan'), edit_plan_path(plan.id, phase: plan.phases&.first&.id)) }).html_safe %>
          </li>
          <li>
            <% if !plan.is_test? %><span class="fa fa-check green"><span class="sr-only">Complete: </span></span><% else %><span class="fa fa-times red"><span class="sr-only">Incomplete: </span></span><% end %>
            <%= (_("plan is not flagged as a mock project on the %{project_details_link} panel") % { project_details_link: link_to(_('Project Details'), edit_plan_path(plan.id))}).html_safe %>
          </li>
        </ul>
      </legend>
      <div class="form-group col-xs-8">
        <%= f.hidden_field(:visibility) %>
        <div class="radio">
          <%= f.label :visibility_privately_visible do %>
            <%= f.radio_button :visibility, :privately_visible %>
            <%= _('Private: visible to me, specified collaborators and administrators at my organisation') %>
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :visibility_organisationally_visible do %>
            <%= f.radio_button :visibility, :organisationally_visible %>
            <%= _('Organisation: anyone at my organisation can view') %>
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :visibility_publicly_visible do %>
            <%= f.radio_button :visibility, :publicly_visible %>
            <%= _('Public: anyone can view') %>
          <% end %>
        </div>
      </div>
      <div id="visibility-terms" class="form-group col-xs-8">
        <div class="checkbox js-checkbox">
          <%= f.label(:accept_terms, class: 'control-label') do %>
            <%= f.check_box :accept_terms, { class: "require-me" }, "1", "0" %>
            <%= sanitize(terms_text, { attributes: %w[href target] }) %>
          <% end %>
        </div>
        <div id="missing-accept-terms" class="c-textfield__invalid-description js-invalid-description" hidden>
            <%= _("You must accept the terms to make your plan publicly visible!") %>
        </div>
      </div>
      <div class="form-group col-xs-8">
        <%= f.submit _('Set Visibility'), class: "btn btn-primary" %>
      </div>
    </fieldset>
  <% end %>
<% else %>
  <p>&nbsp;<%= _("This plan is currently set to: ") %>
    <% if plan.publicly_visible? %>
      <%= _('<strong>Public visibilty</strong> - anyone can view').html_safe %>
    <% elsif plan.organisationally_visible? %>
      <%= _('<strong>Organisation visibility</strong> - anyone at my organisation can view').html_safe %>
    <% else %>
      <strong>Private visibility</strong> - visible to me, specified collaborators and administrators at my organisation
    <% end %>
  </p>
<% end %>