<% title _('My Dashboard') %>
<div class="row col-md-12">
  <h1><%= _('My Dashboard') %></h1>
  <!-- if the user has projects -->
  <p>
    <% if @plans.count > 0 %>
      <%= _('The table below lists the plans that you have created, and that have been shared with you by others. You can edit, share, download, make a copy, or remove these plans at any time.')%>
    <% else %>
      <strong><%= _("Welcome") %></strong><br />
      <%= _("You are now ready to create your first DMP.") %><br />
      <%= _("Click the 'Create plan' button below to begin.")%>
    <% end %>
  </p>
</div>
<div class="row">
  <div class="col-md-12">
    <%= paginable_renderise(
      partial: '/paginable/plans/privately_visible',
      controller: 'paginable/plans',
      action: 'privately_visible',
      scope: @plans,
      query_params: { sort_field: 'plans.updated_at', sort_direction: 'desc' }) %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to _('Create plan'), new_plan_path, class: "btn btn-primary accessible" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if @organisationally_or_publicly_visible.any? && !current_user.org.is_other? %>
      <h1><%= _('%{org_title} Plans') % { :org_title => current_user.org.abbreviation } %> &#x25cf;</h1>
      <p><%= _('The table below lists the plans that users at your organisation have created and shared within your organisation. This allows you to download a PDF and view their plans as samples or to discover new research data.') %></p>
      <%= paginable_renderise(
        partial: '/paginable/plans/organisationally_or_publicly_visible',
        controller: 'paginable/plans',
        action: 'organisationally_or_publicly_visible',
        scope: @organisationally_or_publicly_visible,
        query_params: { sort_field: 'plans.updated_at', sort_direction: :asc }) %>
    <% end %>
  </div>
</div>

<%= render 'shared/create_plan_modal' unless @template.nil? %>
