<% title _('My Dashboard') %>
<div class="row">
  <div class="col-md-12">
    <h1>
      <%= _('My Dashboard') %>
      <% if current_user.can_org_admin? && current_user.org&.v5_pilot? %>
        <%= link_to _('Dashboard Prototype'), dashboard_path, class: 'btn btn-primary pull-right' %>
      <% end %>
    </h1>

    <!-- if the user has projects -->
    <p>
      <% if @plans.count > 0 %>
        <%= _('The table below lists the plans that you have created, and that have been shared with you by others. You can edit, share, download, make a copy, or remove these plans at any time.')%>
      <% else %>
        <strong><%= _("Welcome") %></strong><br />
        <%= _("You are now ready to create your first DMP.") %><br />
        <%= _("Click the 'Create plan' button below to begin.")%>
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= paginable_renderise(
      partial: '/paginable/plans/privately_visible',
      controller: 'paginable/plans',
      action: 'privately_visible',
      scope: @plans,
      query_params: { sort_field: 'plans.updated_at', sort_direction: 'desc' }) %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to _('Create plan'), new_plan_path, class: "btn btn-primary" %>
  </div>
</div>

<% if current_user.can_org_admin? && current_user.org&.v5_pilot? %>
  <div class="row" style="border: 1px solid grey; padding-bottom: 25px;">
    <div class="col-md-12">
      <h2>React Dashboard</h2>

      <%= link_to _('Open Prototype Dashboard'), dashboard_path, class: 'btn btn-primary' %>

      <h3>Simulator</h3>
      <p>Enter a DMP ID below to simulate the discovery of related works</p>
      <%= form_for Plan.new, url: api_v3_simulations_path, html: { id: 'simulator' } do |f| %>
        <%= f.label :dmp_id, 'Dmp Id:' %>
        <%= f.text_field :dmp_id %>
        &nbsp;&nbsp;
        <label>Number of works to "discover": </label>
        <input type="number" min="1" max="10" name="plan[nbr_works]" id="plan_nbr_works"/>
        &nbsp;&nbsp;
        <button type="submit" onclick="toggleSpinner(true)">Attach works</button>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <% if @organisationally_or_publicly_visible.any? && !current_user.org.is_other? %>
      <h2><%= _('%{org_title} Plans') % { :org_title => current_user.org.name } %></h2>
      <p><%= _('The table below lists the plans that users at your organisation have created and shared within your organisation. This allows you to download a PDF and view their plans as samples or to discover new research data.') %></p>
      <%= paginable_renderise(
        partial: '/paginable/plans/organisationally_or_publicly_visible',
        controller: 'paginable/plans',
        action: 'organisationally_or_publicly_visible',
        scope: @organisationally_or_publicly_visible,
        query_params: { sort_field: 'plans.title', sort_direction: :asc }) %>
    <% end %>
  </div>
</div>

<%= render 'shared/create_plan_modal' unless @template.nil? %>
