<%# locals: { plan, research_outputs, research_output_types } %>
<% title "#{plan.title}" %>

<% if @plan.template.classic? %>
  <% if @plan.editable_by?(current_user.id) %>
    <%= render partial: 'plans/edit_research_outputs', layout: 'plans/navigation', locals: local_assigns %>
  <% else %>
    <%= render partial: 'plans/show_research_outputs', layout: 'plans/navigation', locals: local_assigns %>
  <% end %>
<% else %>
  <% content_for :plan_tab_body do %>
    <div id="research-outputs" class="fragment-<%= @plan.json_fragment.id%>">
      <%= _('This tab is used by classic plans, if you want to manage your research output, please go to the "Write Plan" tab.') %>
    </div>
  <% end %>
  <%= render partial: "plans/navigation", locals: { plan: @plan } %>
<% end %>
