<%# locals: form %>

<% pp @user.inspect %>
<% pp @errors %>

<span class="form-group">
  <%= form.label(:email, _('Email address'), class: "control-label", id: "sign-in-email-lbl") %>
  <% if @user.email.present? %>
    <%# They already supplied the email so disable it %>
    <%= form.email_field(:disabled_email, class: "form-control", value: @user.email,
                         aria: {
                          required: true,
                          labelledby: "sign-in-email-lbl"
                        },
                        disabled: "disabled") %>
    <%= form.hidden_field(:email, value: @user.email) %>

  <% else %>
    <%= form.email_field(:email,
                        class: "form-control #{auth_has_error?(:email) ? 'error' : ''}",
                        aria: {
                          required: true,
                          labelledby: "sign-in-email-lbl sign-in-email-desc"
                        }) %>
    <% unless @user.org.present? %>
      <%# only show this message if we don't know the email address yet %>
      <p id="sign-in-email-desc" tabindex="-1" class="control-desc">
        <%= _("For SSO, use institutional address.") %>
      </p>
    <% end %>
  <% end %>
</span>
<% unless @user.email.present? %>
  <span class="form-group">
    <%= form.submit _("Continue"), class: "btn btn-default" %>
  </span>
<% end %>