<% if @user.email.present? && @user.new_record? %>
  <%# This is a Sign Up %>
  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <%# It is a new record so start the sign up process %>
    <h2><%= _("New account sign up") %></h2>
    <%= render partial: "shared/authentication/sign_up", locals: { form: f } %>
  <% end %>

<% else %>
  <%# This is a Sign In %>
  <% if @user.email.present? %>
    <%= form_with model: @user, url: user_session_path, method: :post, local: true do |f| %>
      <%# It is NOT a new record so start the sign in process %>
      <h2><%= _("Sign in") %></h2>
      <%= render partial: "shared/authentication/sign_in", locals: { form: f } %>
    <% end %>
  <% else %>
    <%= form_with model: resource, url: users_validate_path do |f| %>
      <%# No email is present, so the homepage has just been loaded %>
      <h2><%= _("Sign in / Sign up") %></h2>
      <%#= render partial: "shared/authentication/email_address", locals: { form: f } %>
      <%= render partial: "users/sessions/new" %>
    <% end %>
  <% end %>
<% end %>