<%# locals: form %>
<%= render partial: "shared/authentication/email_address", locals: { form: form } %>

<div class="form-group">
  <% if @user.org.present? &&
        @user.org.shibbolized? &&
        @user.identifier_for_scheme(scheme: "shibboleth").present? %>
    <%# If the Org is shibbolized and the user has an EPPN %>
    <%= render partial: "shared/authentication/shib_sign_in", locals: { form: form } %>

  <% else %>
    <%# Display the standard Sign in form %>
    <%= form.hidden_field :org_id, value: @user.org_id %>

    <%= form.label(:password, _('Password'), class: "control-label") %>
    <%= form.password_field(:password, class: "form-control", "aria-required": true) %>
    <%= link_to _('Forgot password?'), new_password_path('user') %>

    <%= form.submit _("Sign in"), class: "btn btn-default" %>
  <% end %>
</div>

<%= render partial: "shared/authentication/go_back", locals: { show_contact_us: true } %>