<%# locals: form %>

<% if Rails.configuration.x.shibboleth.enabled %>
  <%# If you host your own Shibboleth service provider and want to restrict the user to specific
      organizations then use this option. When this option is enabled, a new field will appear on the
      Admin -> Orgs pages that allow you to specify a Shibboleth entityID for the Org. This value is
      then passed to your Shibboleth SP who then looks up the location of the institution's IdP and
      redirects them for SSO. %>
  <% if Rails.configuration.x.shibboleth.use_filtered_discovery_service %>
    <%= form_for Org.new, url: shibboleth_ds_path, method: :post do |f| %>
      <div id="shib-ds-org-controls" class="row">
        <div class="form-group col-md-12">
          <p class="fontsize-h4 bold"><%= _("Sign in with your institutional credentials") %></p>
          <%= render partial: "shared/org_autocomplete",
                     locals: { form: f,
                               default_org: nil,
                               required: true,
                               known_only: true,
                               managed_only: true,
                               allow_custom_org_entry: false,
                               required: true,
                               label: _("Institution") } %>
        </div>
      </div>
      <%= button_tag _('Go'), class: "btn btn-default", id: "org-select-go" %>
      <p class="form-error-msg red hide"><%= _("Please select an institution!") %></p>
    <% end %>
  <% else %>
    <div class="form-group">
      <span class="center-block btn-group-justified">
        <% target = user_shibboleth_omniauth_authorize_path %>
        <%= link_to _('Sign in with your institutional credentials'), target, method: :post, class: 'btn btn-default' %>
      </span>
    </div>
  <% end %>
<% end %>
