<%#
This page provides a user with a branded version of the sign in / create account form.
it is only used when Rails.configuration.x.shibboleth.use_filtered_discovery_service is true.

If the user selects an Org from the shib_sign_in_form that does not have an entity_id
defined in the DB, then they are brought to this page
%>
<div class="row">
  <div class="col-md-12">
    <% if @user.org.logo.present? %>
      <%= image_tag(@user.org.logo.thumb('100x100%').url,
                        alt: @user.org.name,
                        class: "org-logo",
                        title: @user.org.name) %>
    <% else %>
      <h1><%= @user.org.name %></h1>
      <br>
    <% end %>
  </div>
</div>

<div id="org-branding" class="row">
  <div id="dual_columns" class="container" style="display:table">
    <div class="col-md-6">
      <%= render partial: "shared/authentication/sign_in_form",
                 locals: { resource: @user } %>
    </div>
    <div class="col-md-6 border-left">
      <p class="fontsize-h4 bold"><%= _("Create a new account") %></p>
      <div class="form-group col-md-12">
        <%= render partial: "shared/authentication/create_account_form",
                  locals: { resource: @user } %>
      </div>
    </div>
  </div>
</div>

