<%# locals: form, presenter %>

<div class="panel panel-default">
    <div class="panel-heading" role="tab">
      <div class="panel-title pull-left"
           data-toggle="collapse"
           aria-expanded="false"
           aria-controls="file-section"
           id="file-section-heading"
           href="#file-section">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <%= _("File Metadata") %>
      </div>
    </div>
</div>

<div id = "file-section"
     class = "panel-collapse collapse"
     role="tabpanel"
     aria-labelledby="file-section-heading">
  <div class="panel-body">
    <div class="form-group row mime-type-selection">
      <div class="col-md-12">
        <span class="col-md-3"><%= form.label(:byte_size, _("Anticipated file size"), class: "control-label") %></span>
        <span class="col-md-3"><%= form.label(:mime_type_id, _("Mime type"), class: "control-label") %></span>
      </div>
      <div class="col-md-12">
        <span class="col-md-3">
          <% file_size = presenter.converted_file_size(size: form.object.byte_size) %>
          <span class="col-md-8">
            <%= form.number_field "file_size", min: 1, step: 0.1, value: file_size[:size] %>
          </span>
          <span class="col-md-4">
            <%= form.select "file_size_unit", options_for_select(presenter.selectable_size_units, file_size[:unit]),
                                              { selected: file_size[:unit] },
                                              { class: "form-control bootstrap-select" } %>
          </span>
        </span>
        <span class="col-md-3">
          <%= form.select :mime_type_id, options_for_select(presenter.selectable_mime_types, form.object.mime_type_id),
                                         { include_blank: _("- Please select -"), selected: form.object.mime_type&.id },
                                         { class: "form-control bootstrap-select" } %>
        </span>
      </div>
    </div>
  </div>
</div>
