<%# locals: form, path, method, plan, research_output %>

<%
presenter = ResearchOutputPresenter.new(research_output: research_output)

abbrev_tooltip = _("Your research output abbreviation can be used as a reference when answering this plan's questions.")
descr_tooltip = _("TODO: provide some context on what is expected here")
sensitive_data_tooltip = _("TODO: provide a better description! -- The research output will contain information that is sensitive.")
personal_data_tooltip = _("The research output will contain personally identifiable information (PII) data like emails, SSNs, etc.")
attribution_tooltip = _("Use this field to provide attribution if this output is based on research performed prior to your project.")
%>

<%= form_with model: @research_output, url: path, method: method do |f| %>
  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-2"><%= label(:output_type, _("Type"), class: "control-label") %></span>
      <span class="col-md-6 output-type-description <%= research_output.other? ? "" : "hidden" %>">
        <%= f.label(:output_type_description, _("Please describe the output type"), class: "control-label") %>
      </span>
    </div>
    <div class="col-md-12">
      <span class="col-md-2">
        <%= f.select :output_type, options_for_select(presenter.selectable_output_types),
                     {
                       include_blank: _("- Please select one -"),
                       selected: (research_output.output_type.present? ? research_output.output_type : "" )
                     }, {
                       class: "form-control, bootstrap-select",
                       aria: { required: true },
                       data: { remote: true, url: output_type_selection_plan_path(plan), method: :get }
                     } %>
      </span>
      <span class="col-md-6 output-type-description <%= research_output.other? ? "" : "hidden" %>">
        <%= f.text_field :output_type_description, class: "form-control",
                                                   aria: { required: research_output.other? } %>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-6">
        <%= f.label(:title, _("Title"), class: "control-label") %>
      </span>
      <span class="col-md-6">
        <%= f.label(:abbreviation, _("Abbreviation"), class: "control-label") %>
      </span>
    </div>
    <div class="col-md-12">
      <span class="col-md-6">
        <%= f.text_field :title, class: "form-control", aria: { required: true } %>
      </span>
      <span class="col-md-2">
        <%= f.text_field :abbreviation, class: "form-control", title: abbrev_tooltip,
                                        maxlength: 10, data: { toggle: "tooltip" } %>
      </span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-12"><%= f.label(:abbreviation, _("Description"), class: "control-label") %></span>
    </div>
    <div class="col-md-12">
      <span class="col-md-8">
        <%= f.text_area :description, rows: 4, class: 'form-control tinymce',
                                      title: descr_tooltip, data: { toggle: "tooltip" } %>
      </span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-12"><label class: "control-label"><%= _("Security concerns") %></label></span>
    </div>
    <div class="col-md-12">
      <span class="col-md-3">
        <%= f.label :sensitive_data do %>
          <%= f.check_box :sensitive_data, data: { toggle: "tooltip" },
                title: sensitive_data_tooltip %>
          <%= _('may contain sensitive data?') %>
        <% end %>
      </span>
      <span class="col-md-3">
        <%= f.label :personal_data do %>
          <%= f.check_box :personal_data, data: { toggle: "tooltip" },
                title: personal_data_tooltip %>
          <%= _('may contain PII?') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="form-group row mime-type-selection <%= presenter.selectable_mime_types.any? ? "" : "hidden" %>">
    <div class="col-md-12">
      <span class="col-md-3"><%= f.label(:byte_size, _("Anticipated file size"), class: "control-label") %></span>
      <span class="col-md-3"><%= f.label(:mime_type_id, _("Mime type"), class: "control-label") %></span>
    </div>
    <div class="col-md-12">
      <span class="col-md-3">
        <% file_size = presenter.converted_file_size(size: f.object.byte_size) %>
        <span class="col-md-8">
          <%= f.number_field "file_size", min: 1, step: 0.1, value: file_size[:size] %>
        </span>
        <span class="col-md-4">
          <%= f.select "file_size_unit", options_for_select(presenter.selectable_size_units),
                                         { selected: file_size[:unit] },
                                         { class: "form-control bootstrap-select" } %>
        </span>
      </span>
      <span class="col-md-3">
        <%= f.select :mime_type_id, options_for_select(presenter.selectable_mime_types),
                                    { include_blank: _("- Please select -"), selected: f.object.mime_type&.id },
                                    { class: "form-control bootstrap-select" } %>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-12">
        <label class="control-label"><%= _("Anticipated release") %></label>
      </span>
    </div>
    <div class="col-md-12">
      <span class="col-md-8">
        <span class="col-md-4">
          <%= _("Date") %>
          <%= f.date_field :release_date, class: "form-control" %>
        </span>
        <span class="col-md-4">
          <%= _("Initial access level") %>
          <%= f.select :access, options_for_select(presenter.selectable_access_types),
                                { selected: f.object.access },
                                { class: "form-control bootstrap-select" } %>
        </span>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-12">
        <label class="control-label"><%= _("Coverage") %></label>
        <span class="red"><%= "TODO: Should we allow for multiples here? What does coverage mean?" %></span>
      </span>
    </div>
    <div class="col-md-12">
      <span class="col-md-8">
        <span class="col-md-4">
          <%= _("From") %>
          <%= f.date_field :coverage_start, class: "form-control" %>
        </span>
        <span class="col-md-4">
          <%= _("To") %>
          <%= f.date_field :coverage_end, class: "form-control" %>
        </span>
        <span class="col-md-4">
          <%= _("Region") %>
          <%= f.select :coverage_region, options_for_select(presenter.selectable_coverage_regions),
                                        { include_blank: _("Not applicable"), selected: f.object.coverage_region },
                                        { class: "form-control bootstrap-select" } %>
        </span>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-12">
        <%= f.label(:mandatory_attribution, _("Mandatory attribution"), class: "control-label") %>
      </span>
    </div>
    <div class="col-md-12">
      <span class="col-md-8">
        <%= f.text_area :mandatory_attribution, rows: 4, class: 'form-control tinymce',
                                      title: attribution_tooltip, data: { toggle: "tooltip" } %>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.button(_("Save"), class: "btn btn-default", type: "submit") %>
      <% unless research_output.new_record? %>
        <%= link_to _("Remove"), plan_research_output_path(plan, research_output),
                                 method: :delete, class: "btn btn-default" %>
        <% end %>
        <%= link_to _("Cancel"), plan_research_outputs_path(plan),
                                 class: "btn btn-default" %>
    </div>
  </div>
<% end %>
