<%# locals: form, path, method, plan, research_output %>

<%
presenter = ResearchOutputPresenter.new(research_output: research_output)

abbrev_tooltip = _("Your research output abbreviation can be used as a reference when answering this plan's questions.")
descr_tooltip = _("TODO: provide some context on what is expected here")
sensitive_data_tooltip = _("TODO: provide a better description! -- The research output will contain information that is sensitive.")
personal_data_tooltip = _("Any data that could potentially identify a specific individual. Any information that can be used to distinguish one person from another and can be used for de-anonymizing anonymous data can be considered personally identifiable data. (From https://codata.org/rdm-glossary/personally-identifiable-information/)")
access_tooltip = _("The continued, available for use, ongoing usability of a digital resource, retaining all qualities of authenticity, accuracy and functionality deemed to be essential for the purposes the digital material was created and/or acquired for. Users who have access can retrieve, manipulate, copy, and store copies on a wide range of hard drives and external devices. (from https://codata.org/rdm-glossary/personally-identifiable-information/)")
repository_tooltip = _("Repositories preserve, manage, and provide access to many types of digital materials in a variety of formats. Materials in online repositories are curated to enable search, discovery, and reuse. There must be sufficient control for the digital material to be authentic, reliable, accessible and usable on a continuing basis. (From https://codata.org/rdm-glossary/personally-identifiable-information/)")
%>

<%= form_with model: @research_output, url: path, method: method, local: true do |f| %>
  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-2"><%= label(:output_type, _("Type"), class: "control-label") %></span>
      <span class="col-md-6 output-type-description <%= research_output.other? ? "" : "hidden" %>">
        <%= f.label(:output_type_description, _("Please describe the output type"), class: "control-label") %>
      </span>
    </div>
    <div class="col-md-12">
      <span class="col-md-2">
        <%= f.select :output_type, options_for_select(presenter.selectable_output_types, f.object.output_type),
                     {
                       include_blank: _("- Please select one -"),
                       selected: (research_output.output_type.present? ? research_output.output_type : "" )
                     }, {
                       class: "form-control",
                       aria: { required: true },
                       data: { remote: true, url: output_type_selection_plan_path(plan), method: :get }
                     } %>
      </span>
      <span class="col-md-6 output-type-description <%= research_output.other? ? "" : "hidden" %>">
        <%= f.text_field :output_type_description, class: "form-control",
                                                   aria: { required: research_output.other? } %>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-6">
        <%= f.label(:title, _("Title"), class: "control-label") %>
      </span>
      <span class="col-md-6">
        <%= f.label(:abbreviation, _("Abbreviation"), class: "control-label") %>
      </span>
    </div>
    <div class="col-md-12">
      <span class="col-md-6">
        <%= f.text_field :title, class: "form-control", aria: { required: true } %>
      </span>
      <span class="col-md-2">
        <%= f.text_field :abbreviation, class: "form-control", title: abbrev_tooltip,
                                        maxlength: 10, data: { toggle: "tooltip" } %>
      </span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-12"><%= f.label(:description, _("Description"), class: "control-label") %></span>
    </div>
    <div class="col-md-12">
      <span class="col-md-8">
        <%= f.text_area :description, rows: 4, class: 'form-control tinymce',
                                      title: descr_tooltip, data: { toggle: "tooltip" } %>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-3">
        <%= f.label :sensitive_data do %>
          <%= f.check_box :sensitive_data, data: { toggle: "tooltip" },
                          title: sensitive_data_tooltip %>
          <%= _('May contain sensitive data?') %>
        <% end %>
      </span>
      <span class="col-md-4">
        <%= f.label :personal_data do %>
          <%= f.check_box :personal_data, data: { toggle: "tooltip" },
                          title: personal_data_tooltip %>
          <%= _('May contain personally identifiable information?') %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-12">
        <h3><%= label_tag _("Intended repositories") %></h3>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <%= render partial: "layouts/modal_search/selections",
               locals: {
                 namespace: "repositories",
                 button_label: _("Add a repository"),
                 item_name_attr: :name,
                 results: research_output.repositories,
                 selected: true,
                 result_partial: "research_outputs/repositories/search_result",
                 search_path: repository_search_plan_path(research_output.plan),
                 search_method: :get
               } %>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-3">
        <%= f.label(:release_date, _("Anticipated release date"), class: "control-label") %>
        <%= f.date_field :release_date, class: "form-control" %>
      </span>
      <span class="col-md-3">
        <%= f.label(:access, _("Initial access level"), class: "control-label") %>
        <%= f.select :access, options_for_select(presenter.selectable_access_types, f.object.access),
                              { selected: f.object.access },
                              {
                                class: "form-control",
                                data: { toggle: "tooltip" },
                                title: access_tooltip
                              } %>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-3">
        <%= f.label(:license_id, _("Initial license"), class: "control-label") %>
        <%= f.select :license_id, options_for_select(presenter.selectable_licenses, f.object.license&.id),
                              {
                                include_blank: _("- Please select one -"),
                                selected: f.object.license&.id
                              },
                              { class: "form-control" } %>
      </span>
      <span class="col-md-4">
        <div>&nbsp;</div>
        <p><%= _("For guidance on selecting a license:") %><br><a href="https://choosealicense.com/" target="_blank">https://choosealicense.com/</a></p>
      </span>
    </div>
  </div>

  <div class="form-group row file-details-section <%= presenter.byte_sizable? ? "" : "hidden" %>">
    <div class="col-md-12">
      <span class="col-md-3">
        <%= f.label(:byte_size, _("Anticipated file size"), class: "control-label") %>
      </span>
    </div>
    <div class="col-md-12">
      <span class="col-md-2">
        <% file_size = presenter.converted_file_size(size: f.object.byte_size) %>
        <%= f.number_field "file_size", min: 1, step: 0.1, value: file_size[:size], class: "form-control" %>
      </span>
      <span class="col-md-1">
        <%= f.select "file_size_unit", options_for_select(presenter.selectable_size_units, file_size[:unit]),
                                       { selected: file_size[:unit] },
                                       { class: "form-control float-left" } %>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <div class="col-md-6">
        <%= f.button(_("Save"), class: "btn btn-default", type: "submit") %>
        <% unless research_output.new_record? %>
          <%= link_to _("Remove"), plan_research_output_path(plan, research_output),
                                   method: :delete, class: "btn btn-default" %>
          <% end %>
          <%= link_to _("Cancel"), plan_research_outputs_path(plan),
                                   class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: "research_outputs/repositories/search", locals: { research_output: research_output } %>
