<%# locals: form, path, method, plan, research_output %>

<%
presenter = ResearchOutputPresenter.new(research_output: research_output)

abbrev_tooltip = _("Your research output abbreviation can be used as a reference when answering this plan's questions.")
descr_tooltip = _("TODO: provide some context on what is expected here")
%>

<%= form_with model: @research_output, url: path, method: method, local: true do |f| %>
  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-2"><%= label(:output_type, _("Type"), class: "control-label") %></span>
      <span class="col-md-6 output-type-description <%= research_output.other? ? "" : "hidden" %>">
        <%= f.label(:output_type_description, _("Please describe the output type"), class: "control-label") %>
      </span>
    </div>
    <div class="col-md-12">
      <span class="col-md-2">
        <%= f.select :output_type, options_for_select(presenter.selectable_output_types, f.object.output_type),
                     {
                       include_blank: _("- Please select one -"),
                       selected: (research_output.output_type.present? ? research_output.output_type : "" )
                     }, {
                       class: "form-control bootstrap-select",
                       aria: { required: true },
                       data: { remote: true, url: output_type_selection_plan_path(plan), method: :get }
                     } %>
      </span>
      <span class="col-md-6 output-type-description <%= research_output.other? ? "" : "hidden" %>">
        <%= f.text_field :output_type_description, class: "form-control",
                                                   aria: { required: research_output.other? } %>
      </span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-6">
        <%= f.label(:title, _("Title"), class: "control-label") %>
      </span>
      <span class="col-md-6">
        <%= f.label(:abbreviation, _("Abbreviation"), class: "control-label") %>
      </span>
    </div>
    <div class="col-md-12">
      <span class="col-md-6">
        <%= f.text_field :title, class: "form-control", aria: { required: true } %>
      </span>
      <span class="col-md-2">
        <%= f.text_field :abbreviation, class: "form-control", title: abbrev_tooltip,
                                        maxlength: 10, data: { toggle: "tooltip" } %>
      </span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <span class="col-md-12"><%= f.label(:description, _("Description"), class: "control-label") %></span>
    </div>
    <div class="col-md-12">
      <span class="col-md-8">
        <%= f.text_area :description, rows: 4, class: 'form-control tinymce',
                                      title: descr_tooltip, data: { toggle: "tooltip" } %>
      </span>
    </div>
  </div>

  <div class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <%= render partial: "research_outputs/sections/security", locals: { form: f, presenter: presenter } %>
    </div>

    <div class="panel panel-default">
      <%= render partial: "research_outputs/sections/geographical", locals: { form: f, presenter: presenter } %>
    </div>

    <div class="panel panel-default <%= presenter.selectable_mime_types.any? ? "" : "hidden" %>"
         id="file-metadata-panel">
      <%= render partial: "research_outputs/sections/file", locals: { form: f, presenter: presenter } %>
    </div>

    <div class="panel panel-default">
      <%= render partial: "research_outputs/sections/attribution", locals: { form: f, presenter: presenter } %>
    </div>

    <% unless research_output.new_record? %>
      <div class="panel panel-default">
        <%= render partial: "research_outputs/sections/repository",
                   locals: { form: f, presenter: presenter, research_output: research_output } %>
      </div>

      <div class="panel panel-default">
        <%#= render partial: "research_outputs/sections/identifiers",
                   locals: { form: f, plan: plan, research_output: research_output } %>
      </div>
    <% end %>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.button(_("Save"), class: "btn btn-default", type: "submit") %>
      <% unless research_output.new_record? %>
        <%= link_to _("Remove"), plan_research_output_path(plan, research_output),
                                 method: :delete, class: "btn btn-default" %>
        <% end %>
        <%= link_to _("Cancel"), plan_research_outputs_path(plan),
                                 class: "btn btn-default" %>
    </div>
  </div>
<% end %>
