<%# locals: form, plan, research_output %>

<%
  categories = {
    metadata_standards: { label: _("Metadata standards"), schemes: [] }
  }
  IdentifierScheme.for_research_outputs.where.not(external_service: nil).each do |scheme|
    next unless scheme.external_service.present?

    service = scheme.external_service.constantize
    category = case scheme.name
               when "openaire"
                 :metadata_standards
               end
    # Only select if the ExternalApis service is active and the IdentifierScheme is
    # mapped into a ResearchOutput Identifier association and the ResearchOutput
    # has the specified association defined
    next unless service.active? && category.present? && research_output.respond_to?(category)

    categories[category].fetch(:schemes, []) << { scheme: scheme, service: service }
  rescue NameError
    # If the sprecified :external_service does not exist
    Rails.logger.warn "Research Outputs: Unable to find '#{scheme.external_service}' for '#{scheme.name}'"
    next
  end
%>

Repositories: <%= ExternalApis::Re3dataService.fetch_list %>

<% categories.each do |category, hash| %>
  <% next unless hash.fetch(:schemes, []).any? %>

  <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <div class="panel-title pull-left"
             data-toggle="collapse"
             aria-expanded="false"
             aria-controls="<%= category.to_s %>-section"
             id="<%= category.to_s %>-section-heading"
             href="#<%= category.to_s %>-section">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <%= hash[:label] %>
        </div>
      </div>
  </div>

  <div id = "<%= category.to_s %>-section"
       class = "panel-collapse collapse"
       role="tabpanel"
       aria-labelledby="<%= category.to_s %>-section-heading">
    <div class="panel-body">
      <%= form.fields_for category.to_sym, research_output.send(category) do |identifier_fields| %>
        <% hash[:schemes].each do |scheme_hash| %>
          <div class="form-group row">
            <div class="col-md-12">
              <h3><%= scheme_hash[:scheme].description %></h3>
            </div>
            <div class="col-md-12">
              <span class="col-md-12">
                <%= render partial: "research_outputs/identifiers/#{scheme_hash[:scheme].name}",
                           locals: { form: identifier_fields } %>
              </span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
