<% title "#{@plan.title} - edit research output" %>

<div class="row">
  <div class="col-md-12">
    <!-- render the project title -->
    <h1><%= @plan.title %></h1>
  </div>
</div>

<% content_for :plan_tab_body do %>
  <h2>
    <%= _("Editing %{research_output_title}") % { research_output_title: @research_output.title } %>
    <%= link_to _('View all research outputs'), plan_research_outputs_path(@plan),
                                            class: "btn btn-secondary float-end" %>
  </h2>
  <div class="row">
    <div class="col-md-12 research-output-form">
      <%= render partial: "research_outputs/form",
                 locals: { plan: @plan,
                           research_output: @research_output,
                           mime_types: @mime_types,
                           path: plan_research_output_path(@plan, @research_output),
                           method: :put } %>
    </div>
  </div>
<% end %>

<%= render partial: "plans/navigation", locals: { plan: @plan } %>
