
<% if @clicked_through %>
  <p><%= _(<<-TEXT
    The data on the usage dashboard is historical in nature. This means that the number of records below may not
    match the count shown on the usage dashboard. For example if one of your users created a plan in October and
    then removed that plan in November, it would have been included on the usage dashboard's total for October but
    would not appear in the list below.
  TEXT
  ) %></p>
<% end %>

<p><%= _("Note: You can filter this table by 'Created' dates. Enter the month abbreviation and a 4 digit year into the search box above.<br>For example: 'Oct 2019' or 'Jun 2013'.").html_safe %></p>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= _('Project Title') %>&nbsp;<%= paginable_sort_link('plans.title') %></th>
        <th scope="col"><%= _('Template') %>&nbsp;<%= paginable_sort_link('templates.title') %></th>
        <th scope="col"><%= _('Organisation') %>&nbsp;<%= paginable_sort_link('orgs.name') %></th>
        <th scope="col"><%= _('Owner') %></th>
        <th scope="col" class="date-column"><%= _('Created') %>&nbsp;<%= paginable_sort_link('plans.created_at') %></th>
        <th scope="col" class="date-column"><%= _('Updated') %>&nbsp;<%= paginable_sort_link('plans.updated_at') %></th>
        <th scope="col"><%= _('Visibility') %></th>
      </tr>
    </thead>
    <tbody>
      <% scope.each do |plan| %>
        <tr>
          <td>
            <% if plan.readable_by?(current_user.id) %>
              <%= link_to "#{plan.title.length > 60 ? "#{plan.title[0..59]} ..." : plan.title}", plan_path(plan) %>
            <% else %>
              <%= plan.title.truncate(60) %>
            <% end %>
          </td>
          <td><%= plan.template.title %></td>
          <td><%= plan.owner&.org&.name %></td>
          <td><%= plan.owner&.name(false) %></td>
          <td><%= l(plan.created_at.to_date, formats: :short) %></td>
          <td><%= l(plan.updated_at.to_date, formats: :short) %></td>
          <td class="plan-visibility">
            <%= plan.visibility === 'is_test' ? _('Test') : sanitize(display_visibility(plan.visibility)) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
