<%# locals: { values } %>
<% values.each do |reg_val| %>
    <tr class="registry-value">
        <%= hidden_field_tag 'registry-value-id', reg_val.id, class: 'registry-value-id' %>
        <td><%= reg_val.to_s %></td>
        <td class="registry-value-actions">
            <%= link_to edit_super_admin_registry_value_path(reg_val), 
                        target: "_self" do  %>
              <i class="fas fa-pen-to-square edit" aria-hidden="true" data-toggle="tooltip"
                    data-original-title="<%= _('Edit registry value') %>"></i>
            <% end %>
            <i class="fas fa-up-down-left-right handle" aria-hidden="true" data-toggle="tooltip" 
                    data-original-title="<%= _('Move registry value') %>"></i>
            <%= link_to super_admin_registry_value_path(reg_val), 
                        target: "_self",
                        data: {:confirm => _('Are you sure you want to delete this registry value?')}, 
                        :method => :delete  do %>
              <i class="fas fa-xmark delete" aria-hidden="true" data-toggle="tooltip" 
                    data-original-title="<%= _('Delete registry value') %>"></i>
            <% end %>
        </td>
    </tr>
<% end %>
