<%# locals: org, target_org %>

<%
presenter = SuperAdmin::Orgs::MergePresenter.new(from_org: org, to_org: target_org)
orcid = IdentifierScheme.find_by(name: 'orcid')
%>
<%= form_for org, url: merge_commit_super_admin_org_path(org), method: :post, remote: false do |form| %>

  <p><strong><%= _("Merging '%{from_org_name}' into '%{to_org_name}'") % { from_org_name: org.name, to_org_name: target_org.name } %></strong></p>

  <h3><%= _("Summary:") %></h3>
  <p><%= _("Counts of '%{to_org_name}' records before and after a merge with %{from_org_name}.") % { to_org_name: target_org.name, from_org_name: org.name } %></p>
  <div class="table-responsive">
    <table class="table table-hover" id="org-merger">
      <thead>
        <tr>
          <th scope="col" class="text-center"><%= _("Record Type") %></th>
          <th scope="col" class="text-center"><%= _("'%{to_org_name}' Count - before merge") % { to_org_name: presenter.to_org_name } %></th>
          <th scope="col" class="text-center"><%= _("'%{to_org_name}' Count - after merge") % { to_org_name: presenter.to_org_name } %></th>
        </tr>
      </thead>
      <tbody>
        <% presenter.categories.each do |category| %>
          <%
          to_entries = presenter.to_org_entries[category]
          mergeable_entries = presenter.mergeable_entries[category]
          %>
          <tr>
            <td class="text-center"><%= category.capitalize %></td>
            <td class="text-end"><%= to_entries.length %></td>
            <td class="text-end"><%= to_entries.length + mergeable_entries.length %></td>
          </tr>
        <% end %>
      </<tbody>
    </table>
  </div>

  <h3><%= _("Details:") %></h3>
  <p><%= _("The table below shows the specific changes that will occur during the merge process. Once the merge is complete, '%{from_org_name}' will be deleted. You can then consolidate/correct any merge issues (e.g. remove any departments that were duplicated)") % { from_org_name: org.name } %></p>
  <div class="table-responsive">
    <table class="table table-hover" id="org-merger">
      <thead>
        <tr>
          <th scope="col" class="text-center"><%= _('Record Type') %></th>
          <th scope="col" class="text-center"><%= _("%{from_org_name} - Before") % { from_org_name: presenter.from_org_name } %></th>
          <th scope="col" class="text-center"><%= _("%{to_org_name} - Before") % { to_org_name: presenter.to_org_name } %></th>
          <th scope="col" class="text-center"><%= _("Action") %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%
          org_merge_cols = presenter.mergeable_attributes
          org_from_cols = presenter.from_org_attributes.select { |col| org_merge_cols.include?(col) }
          org_to_cols = presenter.to_org_attributes.select { |col| org_merge_cols.include?(col) }
          %>
          <td class="text-center"><%= _("Org") %></td>
          <td><%= sanitize(org_column_content(attributes: org_from_cols)) %></td>
          <td><%= sanitize(org_column_content(attributes: org_to_cols)) %></td>
          <td>
            <p><%= _("The following attributes will be updated") if org_merge_cols.any? %></p>
            <%= sanitize(org_column_content(attributes: org_merge_cols)) %>
          </td>
        </tr>

        <% presenter.categories.each do |category| %>
          <%
          from_entries = presenter.from_org_entries[category]
          to_entries = presenter.to_org_entries[category]
          mergeable_entries = presenter.mergeable_entries[category]
          %>
          <% next unless mergeable_entries.length > 0 %>

          <tr>
            <td class="text-center"><%= category.capitalize %></td>
            <td><%= sanitize(column_content(entries: from_entries, orcid: orcid)) %></td>
            <td><%= sanitize(column_content(entries: to_entries, orcid: orcid)) %></td>
            <td>
              <%= sanitize(merge_column_content(
                entries: mergeable_entries, orcid: orcid, to_org_name: presenter.to_org_name)
              ) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= form.hidden_field :target_org, value: target_org.id %>

  <p><%= _("Warning: The changes proposed above will be committed to the database. '%{org_name}' will then be deleted.") % { org_name: org.name } %></p>
  <p><strong><%= _("These changes cannot be undone! Do not proceed unless you are certain.") %></strong></p>
  <p><%= _("You may find it helpful to make a note of the expected number of records for each category that will be merged before continuing.") %></p>
  <% if org.plans.select(&:feedback_requested?).any? %>
    <p><strong><%= _("Warning: '%{from_org_name}' has Plans that are currently in the review process. The Org admins may not be able to see these plans after the merge!") % { from_org_name: org.name }  %></strong></p>
  <% end %>
  <%= form.button(_('Merge records'), class: "btn btn-primary", type: "submit") %>
<% end %>
