<div class="table-responsive">
  <table class="table table-hover" id="registry-values">
    <thead>
        <th scope="col"><%= _('Value') %></th>
        <th scope="col"><%= _('Actions') %></th>
    </thead>
    <tbody>
      <% scope.each do |reg_val| %>
        <tr class="registry-value">
            <%= hidden_field_tag 'registry-value-id', reg_val.id, class: 'registry-value-id' %>
            <td><%= reg_val.to_s %></td>
            <td class="registry-value-actions">
                <%= link_to edit_super_admin_registry_value_path(reg_val), 
                            target: "_self" do  %>
                  <i class="fa fa-edit edit" aria-hidden="true" data-toggle="tooltip"
                        data-original-title="<%= d_('dmpopidor', 'Edit registry value') %>"></i>
                <% end %>
                <i class="fa fa-arrows handle" aria-hidden="true" data-toggle="tooltip" 
                        data-original-title="<%= d_('dmpopidor', 'Move registry value') %>"></i>
                <%= link_to super_admin_registry_value_path(reg_val), 
                            target: "_self",
                            data: {:confirm => d_('dmpopidor', 'Are you sure you want to delete this registry value ?')}, 
                            :method => :delete  do %>
                  <i class="fa fa-close delete" aria-hidden="true" data-toggle="tooltip" 
                        data-original-title="<%= d_('dmpopidor', 'Delete registry value') %>"></i>
                <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
