<%# Devise Forgotten Password form %>

<% content_for :authentication do %>
  <header class="c-login__header">
    <h2><%= _("Forgot your password?") %></h2>

    <p class="c-login__required-field js-login__required-field"><%= _('required field') %></p>
  </header>

  <p role="alert" class="c-login__invalid-notification js-login__invalid-notification" hidden></p>

  <%= form_with model: User.new, url: user_password_path, method: :post, local: true do |form| %>
    <div id="forgotten-password" class="c-textfield js-textfield is-required">
      <%= form.label :email %>
      <%= form.email_field(:email, value: resource.email, autocomplete: 'email',
                           minlength: 8, maxlength: 80) %>
    </div>

    <button type="submit"><%= _("Send me reset password instructions") %></button>
  <% end %>

  <%= render partial: "users/shared/links",
              locals: { show_back_button: true, show_contact_us: true } %>
<% end %>

<% content_for :errors do %>
  <%= render partial: "users/shared/error_messages" %>
<% end %>


<% content_for :home do %>
  <%= render partial: "layouts/home" %>
<% end %>
