<%# Devise Forgotten Password form %>

<div class="row user_request_reset_password_form">
  <%= render partial: 'users/shared/login_header', locals: { title: 'Forgot Your Password?' } %>

  <%= form_with model: User.new, url: user_password_path, method: :post, local: true,
                class: "novalidate" do |form| %>
    <div id="forgotten-password" class="c-textfield js-textfield is-required">
      <%= form.label :email, _('Email address') %>
      <%= form.email_field(:email, value: resource.email, autocomplete: 'email',
                            class: 'require-me') %>
    </div>

    <% if Rails.configuration.x.recaptcha.enabled %>
      <div id="forgot-password-recaptcha" class="c-textfield js-textfield">
        <%= recaptcha_v3(action: 'password-reset', turbolinks: true) %>
      </div>
    <% end %>

    <button type="submit" class="btn btn-primary"><%= _("Send me reset password instructions") %></button>
  <% end %>

  <%= render partial: "users/shared/links",
              locals: { show_back_button: true, show_contact_us: true } %>

  <% content_for :errors do %>
    <%= render partial: "users/shared/error_messages" %>
  <% end %>
</div>
