<%# locals: form, orgs, default_org, required %>

<%
# Whether or not the org selection is required
required = required || false
# The label to use
label = label || _("Organisation")
# Allows the hidden id field to be renamed for instances where there are
# multiple org selectors on the same form
id_field = id_field || :org_id

presenter = OrgSelectionPresenter.new(orgs: orgs, selection: default_org)
placeholder = _("Begin typing to see a list of suggestions.")
%>

<%= form.label :org_name, label %>
<%= form.text_field :org_name, class: "form-control autocomplete",
                            placeholder: placeholder,
                            value: presenter.name,
                            spellcheck: true,
                            aria: {
                              label: placeholder,
                              autocomplete: "list",
                              required: required
                            },
                            authenticity_token: true,
                            data: { source: "" } %>
<span class="autocomplete-help sr-only" role="status"></span>
<div id="<%= SecureRandom.hex(6) %>_ui-front" class="ui-front"></div>

<%# sources contains an array of Org names %>
<%= form.hidden_field :org_sources, value: presenter.select_list %>
<%# crosswalk contains an array of hashes that contain the Org name, id,
    identifiers like ROR and other info used by the OrgSelectionService %>
<%= form.hidden_field :org_crosswalk, value: presenter.crosswalk %>
<%# gets updated with the matching record from crosswalk when the user
    selects or enters something %>
<% if form.object[id_field]&.to_s =~ /[0-9]+/ || form.object[id_field].nil? %>
  <% val = presenter.crosswalk_entry_from_org_id(value: form.object[id_field]) %>
  <%= form.hidden_field id_field, value: val, class: "autocomplete-result",
                                              autocomplete: "off" %>
<% else %>
  <%= form.hidden_field :org_id, class: "autocomplete-result",
                                 autocomplete: "off" %>
<% end %>

<p class="autocomplete-warning red hide">
  <%= _("The name you entered was not one of the listed suggestions!") %>
</p>
