<%# locals: @plan, scope %>

<% scope.each do |contributor| %>
  <tr>
    <td><%= contributor.to_s %></td>
    <td><%= display_identifier(contributor.data["personId"], contributor.data["idType"]) %></td>
    <td><%= "#{contributor.data["affiliationName"]} #{display_identifier(contributor.data["affiliationId"], contributor.data["affiliationIdType"], true)}" %></td>
    <td>
      <ul>
        <% contributor.roles.each do |role| %>
          <li><%= role %></li>
        <% end %>
      </ul>  
    </td>
    <td>
      <% if @plan.editable_by?(current_user) %>
        <%= link_to new_edit_linked_madmp_fragments_url(
              :fragment_id => contributor.id, 
              :parent_id => contributor.dmp_id, 
              :schema_id => contributor.madmp_schema_id,
              :template_locale => @plan.template.locale,
              :source => "list-modal",
              :query_id => "contributor"
          ), {
              :remote => true, 
              :target => "_self",
              'data-toggle' => 'modal', 
              'data-target' => '#modal-window'
          } do %>
          <span data-toggle="tooltip" 
                data-original-title="<%= _('Edit') %>" 
                class="fa fa-edit"></span>
        <% end %>
      <% else %>
        <%= link_to show_linked_madmp_fragments_url(
              :fragment_id => contributor.id,
              :template_locale => @plan.template.locale,
          ), {
              :remote => true, 
              'data-toggle' => 'modal', 
              'data-target' => '#modal-window'
          } do %>
          <span data-toggle="tooltip" 
                data-original-title="<%= _('View') %>" 
                class="fa fa-eye"></span>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
