
<!--add annotation. question is passed as an argument-->
<h3><%= _('Add Annotations') %></h3>
<%= form_tag admin_create_annotation_path , class: 'add_annotation_form' do %>
  <div class="form-group">
    <%= label_tag _('Example Answer') , nil , class: 'col-md-2 control-label' %>
    <div class="col-md-10" >
      <%= text_area_tag :example_answer_text, nil, rows: 5 %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag _('Guidance') , nil , class: 'col-md-2 control-label' %>
    <div class="col-md-10" >
      <%= text_area_tag :guidance_text, nil, rows: 5 %>
    </div>
  </div>

  <div class="pull_right">
    <%= submit_tag _('Save'), class: "btn btn-primary" %>
    <%= hidden_field_tag :question_id, question.id, class: "question_id" %>
    <%= link_to _('Cancel'), "#add_annotations_div_#{question.id}", class: "btn cancel btn-default cancel_add_annotations", role: 'button'%>
  </div>
<%end%>
