<!--add annotation. question is passed as an argument-->
<h3><%= _('Add Annotations') %></h3>
<%= form_tag admin_create_annotation_path , class: 'add_annotation_form' do %>
  <table class="dmp_details_table phase">
    <tr>
      <td class="first_template"><%= _('Example Answer')%></td>
      <td>
        <ul>
          <li><%= text_area_tag :example_answer_text, nil, rows: 5 %>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="first_template"><%= _('Guidance')%></td>
      <td>
        <ul>
          <li><%= text_area_tag :guidance_text, nil, rows: 5 %>
          </li>
        </ul>
      </td>
    </tr>
  </table>
  <br/>

  <!-- submit buttons -->
  <div class="move_2_right">
    <%= submit_tag _('Save'), class: "btn btn-primary", role: 'button' %>
    <%= hidden_field_tag :question_id, question.id, class: "question_id" %>
    <%= link_to _('Cancel'), "#", class: "btn cancel cancel_add_annotations", role: 'button' %>
  </div>
<%end%>
