<%# locals: { dmp_id, field_values, parent_id, schema, field_name, template_locale, ttip, multiple, query_id } %>
<% query_id ||= Digest::MD5.hexdigest("#{parent_id}-#{property_name}") %>
<% is_multiple_class = multiple ? "create-contributor" : "single-fragment-selector"%>
<% unless field_label.nil?%>
  <div class="col-md-12">
    <%= f.label field_id, field_label, class: 'control-label' %>
  </div>
<% end %>
<div class="col-md-12 dynamic-field select-field linked-fragments-select <%= is_multiple_class %> <%= schema.classname %>-select select-<%= query_id %>">
  <% selected_value_id = selected_value.present? ? selected_value.id : nil %>
  <% select_values = selected_value.present? ?  [selected_value] : [] %>
  <div class="col-md-12 dynamic-field">
    <%= select_tag field_name,
      render(partial: 'dynamic_form/linked_fragment/select_options', locals: {
            select_values: select_values,
            selected_value: selected_value_id
          }
      ),
      data: {
        "ajax--url" => load_fragments_madmp_fragments_path(dmp_id: dmp_id, schema_id: schema.id),
        "ajax--cache" => true,
        "ajax--delay" => 250
      },
      disabled: readonly,
      include_blank: false,
      "data-toggle": "tooltip",
      title: ttip,
      aria: { label: field_label },
      id: field_id,
      class: "form-control" %>

    <% unless parent_id.nil? || readonly %>
      <span data-toggle="modal" data-target="#modal-window">
        <%= link_to new_edit_linked_madmp_fragments_url(
                nil, 
                :parent_id => parent_id, 
                :schema_id => schema.id, 
                :template_locale => template_locale,
                :source => "select-modal",
                :property_name => property_name,
                :query_id => query_id
          ),  {
            :remote => true, 
            :target => "_self",
            :class  => "add-fragment",
            'data-toggle' =>  "tooltip",
            'data-original-title' => _("Click here to add a new item")
        } do %>
          <i class="fa fa-square-plus"></i>
        <% end %>
      </span>
    <% end %>
  </div>
  <% if multiple %>
    <span class="add-indicator fa fa-arrow-down"></span>
  <% end %>
</div>

<% unless multiple || readonly %>
  <div class="col-md-12 selected-value" style="<%= "display :none" if selected_value.nil? %>">
    <strong><%= _('Selected value:') %></strong> <span><%= selected_value.to_s %></span>
    (<%= link_to new_edit_linked_madmp_fragments_url(
        :fragment_id => selected_value.present? ? selected_value.id : 0000,
        :parent_id => parent_id, 
        :schema_id => schema.id,
        :source => "select-modal",
        :template_locale => template_locale,
        :query_id => query_id
      ), {
        :remote => true, 
        :target => "_self",
        'data-toggle' => 'modal', 
        'data-target' => '#modal-window'
      } do %>
        <%= _('Edit') %>
      <% end %>)
  </div>
<% end %>
