<%# locals: plan, form %>
<%
presenter = RelatedIdentifierPresenter.new(plan: plan)
tooltip = _('Add another research output to this plan.')
%>

<div class="form-group col-md-12">
  <div class="related-works">
    <% if plan.related_identifiers.any? %>
      <% plan.related_identifiers
            .order(citation: :desc, work_type: :asc)
            .each_with_index do |related_identifier, idx| %>
        <%
        id = related_identifier.id.nil? ? 0 : related_identifier.id
        name_base = "plan[related_identifiers_attributes[#{id}]"
        id_base = "plan_related_identifiers_attributes_#{id}"
        %>
        <div class="col-md-12 citation">
          <span class="col-md-10">
            <%# We need to add each identifiers fields here so that they are submitted and retained! %>
            <% %w[id citation identifier_type relation_type value work_type].each do |attr| %>
              <%= hidden_field_tag "plan[related_identifiers_attributes[#{idx + 1}][#{attr}]]",
                                 related_identifier.send(attr.to_sym) %>
            <% end %>

            <% if related_identifier.citation.present? && related_identifier.citation&.downcase != 'not available' %>
              <%= sanitize(related_identifier.citation.strip) %>

            <% else %>
              <%= related_identifier.work_type&.humanize %>:&nbsp;
              <% if related_identifier.value.start_with?("http") %>
                <%= link_to related_identifier.value, related_identifier.value,
                            target: "_blank" %>&nbsp;
              <% else %>
                <%= related_identifier.value %>
              <% end %>

              <% if related_identifier.created_at >= (Time.now - 1.minute).utc %>
                <%= _(" - Fetching citation. This can take up to a minute. Please check back later.") %>
              <% else %>
                <%= _(" - No citation available.") %>
              <% end %>
            <% end %>
            <% if plan.administerable_by?(current_user.id) || (current_user.can_org_admin? && current_user.org.plans.include?(plan)) %>
              <a href="#" class="delete" aria-label="<%= _('Remove this related work') %>">
                <i class="fas fa-times-circle fa-reverse remove-related-work" aria-hidden="true"></i>
              </a>
            <% end %>
          </span>
        </div>
      <% end %>
    <% end %>
    <% if plan.administerable_by?(current_user.id) || (current_user.can_org_admin? && current_user.org.plans.include?(plan)) %>
      <%= render partial: "related_identifiers/form",
                  locals: { related_identifier: RelatedIdentifier.new(identifiable: plan),
                            presenter: presenter, tooltip: tooltip } %>
    <% end %>
  </div>
  <% if plan.administerable_by?(current_user.id) || (current_user.can_org_admin? && current_user.org.plans.include?(plan)) %>
    <div class="add-related-work col-md-4">
      <button class="btn btn-default"><%= _('Add a research output') %></button>
    </div>
  <% end %>
  <div class="row related-works-save-btn">
    <div class="form-group col-md-8">
      <div class="col-md-4">
        <%= form.button(_('Save changes'), class: "btn btn-primary", type: "submit") %>
      </div>
    </div>
  </div>
</div>
