<hr />
<h1><%= _("Plan Overview") %></h1>
<p><em><%= _("A Data Management Plan created using %{application_name}") % { application_name: ApplicationService.application_name } %></em></p>
<br/>
<div class="cover-page">
  <p><b><%= _("Title: ") %></b><%= @hash[:title] %></p><br>

  <p><strong><%= _("Creator:") %></strong><%= @hash[:attribution] %></p><br>

  <%# Added contributors to coverage of plans. 
    # Users will see both roles and contributor names if the role is filled %>
  <%# Roles are ranked by PI -> DM -> PA -> Other (if any) %>
  <% if @hash[:investigation].present? %>
  <p><b><%= _("Principal Investigator: ") %></b><%= @hash[:investigation].map(&:name).join(', ') %></p><br>
  <% end %>
  <% if @hash[:data_curation].present? %>
  <p><b><%= _("Data Manager: ") %></b><%= @hash[:data_curation].map(&:name).join(', ') %></p><br>
  <% end %>
  <% if @hash[:pa].present? %>
  <p><b><%= _("Project Administrator: ") %></b><%= @hash[:pa].map(&:name).join(', ') %></p><br>
  <% end %>
  <% if @hash[:other].present? %>
  <p><b><%= _("Contributor: ") %></b><%= @hash[:other].map(&:name).join(', ') %></p><br>
  <% end %>

  <p><b><%= _("Affiliation: ") %></b><%= @hash[:affiliation] %></p><br>

  <% if @hash[:funder].present? %>
    <p><b><%= _("Funder: ") %></b><%= @hash[:funder] %></p><br>
  <% end %>

    <p><b><%= _("Template: ") %></b><%= @hash[:template] + @hash[:customizer] %></p><br>

  <% @plan.contributors.investigation.each do |contributor| %>
    <% orcid = contributor.identifier_for_scheme(scheme: "orcid") %>
    <% next unless orcid.present? && orcid.value.present? %>

    <p><b><%= _("ORCID iD: ") %></b><%= orcid.value_without_scheme_prefix %></p> <br>
  <% end %>

  <% if @plan.description.present? %>
    <p><b><%= _("Project abstract: ") %></b></p>
    <div style="margin-left: 15px;"><%= sanitize(@plan.description) %></div><br>
  <% end %>

  <% if @plan.id.present? %>
    <p><b><%= _("ID: ") %></b><%= @plan.id %></p> <br>
  <% end %>

  <% if @plan.start_date.present? %>
    <p><b><%= _("Start date: ") %></b><%=  l(@plan.start_date.to_date, formats: :short) %></p> <br>
  <% end %>

  <% if @plan.end_date.present? %>
    <p><b><%= _("End date: ") %></b><%=  l(@plan.end_date.to_date, formats: :short) %></p> <br>
  <% end %>

  <p><b><%= _("Last modified: ") %></b><%=  l(@plan.updated_at.to_date, formats: :short) %></p> <br>

  <% if @plan.grant.present? %>
    <p><b><%= _("Grant number / URL: ") %></b><%= @plan.grant.value %></p> <br>
  <% end %>

  <% if @public_plan %>
    <p><b><%= _("Copyright information:") %></b></p>
    <div style="margin-left: 15px;">
      <p>
        <%= _(" The above plan creator(s) have agreed that others may use as much of the text of this plan as they would like in their own plans, and customise it as necessary. You do not need to credit the creator(s) as the source of the language used, but using any of the plan's text does not imply that the creator(s) endorse, or have any relationship to, your project or proposal") %>
      </p>
    </div>
  <% end %>
</div>
<hr class="bottom" />
