<%# locals: outputs %>

<h1 class="break-before"><%= _("Planned Research Outputs") %></h1>

<% outputs.each do |output| %>
  <% presenter = ResearchOutputPresenter.new(research_output: output) %>
  <h2><%= "#{presenter.display_type} - \"#{output.title}\"" %></h2>

  <p><%= output.description.html_safe %></p>
  <ul>
    <li><strong><%= _("Research output type:") %></strong> <%= presenter.display_type %></li>
    <li><strong><%= _("Anticipated release date:") %></strong> <%= presenter.display_release %></li>
    <li><strong><%= _("Anticipated access level:") %></strong> <%= presenter.display_access %></li>
    <% if size_hash[:size].present? %>
      <li><strong><%= _("Anticipated file size:") %></strong> <%= "#{number_with_delimiter(size_hash[:size])} #{size_hash[:unit]&.upcase}" %></li>
    <% end %>
    <li><strong><%= _("Intended repository(ies):") %></strong> <%= presenter.display_repository.join(", ") %></li>
    <li><strong><%= _("License:") %></strong> <%= presenter.display_license %></li>
    <li><strong><%= _("May contain sensitive data?:") %></strong> <%= presenter.display_boolean(value: output.sensitive_data) %></li>
    <li><strong><%= _("May contain PII?:") %></strong> <%= presenter.display_boolean(value: output.personal_data) %></li>
  </ul>

  <hr>
<% end %>
