<%# locals: outputs %>

<h1 style="page-break-before:always;"><%= _("Planned Research Outputs") %></h1>

<% outputs.each do |output| %>
  <% presenter = ResearchOutputPresenter.new(research_output: output) %>
  <h2><%= "#{presenter.display_type} - \"#{output.title}\"" %></h2>

  <p><%= output.description.html_safe %></p>
<% end %>

<br/><br/><hr/>

<h3><%= _("Planned research output details") %></h3>

<table>
  <thead>
    <th><%= _("Title") %></th>
    <th><%= _("Type") %></th>
    <th><%= _("Anticipated release date") %></th>
    <th><%= _("Initial access level") %></th>
    <th><%= _("Intended repository(ies)") %></th>
    <th><%= _("Anticipated file size") %></th>
    <th><%= _("License") %></th>
    <th><%= _("Metadata standard(s)") %></th>
    <th><%= _("May contain sensitive data?") %></th>
    <th><%= _("May contain PII?") %></th>
  </thead>
  <tbody>
    <% outputs.each do |output| %>
      <% presenter = ResearchOutputPresenter.new(research_output: output) %>
      <% size_hash = presenter.converted_file_size(size: output.byte_size) %>
      <tr>
        <td><%= presenter.display_name %></td>
        <td><%= presenter.display_type %></td>
        <td><%= presenter.display_release %></td>
        <td><%= presenter.display_access %></td>
        <td><%= sanitize(presenter.display_repository.join("<br>")) %></td>
        <td>
          <% if size_hash[:size].present? %>
            <%=  "#{number_with_delimiter(size_hash[:size])} #{size_hash[:unit]&.upcase}" %>
          <% end %>
        </td>
        <td><%= presenter.display_license %></td>
        <td><%= sanitize(presenter.display_metadata_standard.join("<br>")) %></td>
        <td><%= presenter.display_boolean(value: output.sensitive_data) %></td>
        <td><%= presenter.display_boolean(value: output.personal_data) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
