<h3>
  <%= group[:org] %> guidance on <%= theme %>
  <span class="fa <%= i == 0 ? 'fa-minus' : 'fa-plus' %>" aria-hidden="true"></span>
</h3>

<div id="collapse-guidance-<%= question.id %>-<%= guidance_accordion_id %>" class="guidance-accordion-body collapse">
  <div class="accordion-inner"><%= raw group[:text] %></div>
</div>