<%= stylesheet_link_tag "admin" %>

<h1>
  <%= _('Guidance group') %>

  <!-- link button to add new guidance -->
  <div class="move_2_right">
    <%= link_to _('View all guidance'),
                admin_index_guidance_path,
                class: "btn btn-primary" %>
  </div>
</h1>

<div class="div_clear"></div>

<div class="white_background blue_border">
  <!-- body -->
  <div class="dmp_details">

    <table class="dmp_details_table">
      <tr>
        <td class="first"><%= _('Name') %></td>
        <td><%= raw @guidance_group.name %></td>
      </tr>
      <tr>
        <td class="first"><%= _('Published') %></td>
        <td>
          <% if @guidance_group.published.nil? || !@guidance_group.published then %>
              <%= _('No') %>
          <% else %>
              <%= _('Yes') %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="first"><%= _('Optional subset') %></td>
        <td>
          <% if @guidance_group.optional_subset.nil? || !@guidance_group.optional_subset then %>
              <%= _('No') %>
          <% else %>
              <%= _('Yes') %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="first"><%= _('Created') %></td>
        <td><%= l @guidance_group.created_at.to_date, formats: :short %></td>
      </tr>
      <tr>
        <td class="first"><%= _('Last updated') %></td>
        <td><%= l @guidance_group.updated_at.to_date, formats: :short %></td>
      </tr>

    </table>
    <div class="move_2_right">
      <%= link_to _('Edit'), admin_edit_guidance_group_path(@guidance_group.id), class: "btn btn-primary" %>
      <%= link_to _('Back'), :back, class: "btn cancel" %>
    </div>
    <br/>
  </div>
</div>