<div class="row">
  <div class="col-md-12">
    <h1><%= _('Guidance group') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for :guidance_group, url: {action: "admin_create"}, id: 'admin_create_guidance_group_form', class: "form-horizontal" do |f| %>
        <div class="form-group">
          <%= f.label _('Name'), for: :name, class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :name, as: :string, class: "form-control" %>
          </div>
          <div>
            <a href="#" data-toggle="popover" rel: "popover" data-html: "true" role="button" 
               data-content="<%= _('Add an appropriate name for your guidance group. This name will be used to tell the end user where the guidance has come from. It will be appended to text identifying the theme e.g. "[guidance group name]: guidance on data sharing" so we suggest you just use the institution or department name.') %>" aria-label="<%= _('More information: Guidance group names') %>">
            <span class="fa fa-question-circle" aria-hidden="true"></span></a>
          </div>
        </div>

        <div class="form-group">
          <%= f.label _('Optional Subset'), for: :optional_subset, class: "col-sm-2 control-label" %>
          <div class="checkbox col-sm-6">
            <%= f.check_box :optional_subset %> <%= _('e.g. School/ Department') %>
          </div>
          <div>
            <a href="#" data-toggle="popover" rel: "popover" data-html: "true" role="button" 
               data-content="<%= _("If the guidance is only meant for a subset of users e.g. those in a specific college or institute, check this box.  Users will be able to select to display this subset guidance when answering questions in the 'create plan' wizard.") %>" aria-label="<%= _('More information: Optional subsets for guidance groups') %>">
            <span class="fa fa-question-circle" aria-hidden="true"></span></a>
          </div>
        </div>
      
        <!-- submit buttons -->
        <div class="form-group">
          <div class="col-sm-6">
            <%= f.submit _('Save'), name: "draft", class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
