<% I18n.with_locale I18n.default_locale do %>
	<p><%= _("Welcome to %{application_name}") % {application_name: ApplicationService.application_name} %>, <%= @email %>!</p>

	<p><%= _("Thank you for registering. Please confirm your email address") %>:</p>

	<p><%= link_to _("Click here to confirm your account"),  confirmation_url(@resource, :confirmation_token => @token) %> (<%= _("or copy") %> <%= confirmation_url(@resource, :confirmation_token => @token) %> <%= _("into your browser") %>).</p>
<% end %>
