<p><%= t('custom_devise.welcome_to_DMP') %>, <%= @email %>!</p>

<p><%= t('custom_devise.thank_you_and_confirm') %></p>

<p><%= link_to t('custom_devise.click_to_confirm'), confirmation_url(@resource, :confirmation_token => @token) %> <%= t('custom_devise.1st_part_copy') %> <%= confirmation_url(@resource, :confirmation_token => @token) %> <%= t('custom_devise.2nd_part_copy') %></p>