<%
  tool_name = ApplicationService.application_name
  helpdesk_email = Rails.configuration.x.organisation.helpdesk_email
  email_subject = _('%<tool_name>s - Unauthorized password change') % { tool_name: tool_name }
%>
<% I18n.with_locale I18n.default_locale do %>
  <p><%= _('Hello %{user_email}') % { user_email: @resource.email } %></p>
  <p><%= _("We're contacting you to notify you that your password has been changed.") %></p>
  <p><%= sanitize(_("If you didn't request this, please contact us at %<help_desk_email>s.") % { help_desk_email: mail_to(helpdesk_email, helpdesk_email, subject: email_subject) }) %></p>
  <p>
    <%= _('All the best') %>
    <br />
    <%= _('The %<tool_name>s team') % { tool_name: tool_name} %>
  </p>
<% end %>
