<%
  tool_name = ApplicationService.application_name
  helpdesk_email = Rails.configuration.x.organisation.helpdesk_email
  contact_us = Rails.configuration.x.organisation.contact_us_url || contact_us_url
  email_subject = _('Query or feedback related to %{tool_name}') %{ :tool_name => tool_name }
%>
<% I18n.with_locale I18n.default_locale do %>
  <p>
    <%= _('Hello %{user_email}') %{ :user_email => @resource.email } %>
  </p>
  <p>
    <%= _('Someone has requested a link to change your %{tool_name} password. You can do this through the link below.') %{ :tool_name => tool_name } %>
  </p>
  <p><%= link_to _('Change my password'), edit_password_url(@resource, :reset_password_token => @token) %></p>
  <p><%= _("If you didn't request this, please ignore this email.") %></p>
  <p>
    <%= _('All the best') %>
    <br />
    <%= _('The %{tool_name} team') %{:tool_name => tool_name} %>
  </p>
  <p>
    <%= _('Please do not reply to this email.') %>&nbsp;<%= sanitize(_('If you have any questions or need help, please contact us at %{helpdesk_email} or visit %{contact_us}') %{ :helpdesk_email => mail_to(helpdesk_email, helpdesk_email, subject: email_subject), :contact_us => link_to(contact_us, contact_us) }) %>
  </p>
<% end %>
