<% FastGettext.with_locale FastGettext.default_locale do %>
  <p><%= _("Hello ") %><%= @resource.email %></p>

  <p><%= _("Someone has requested a link to change your ") %><%= Rails.configuration.branding[:application][:name] %><%= _(" password. You can do this through the link below.") %></p>

  <p><%= link_to _('Change my password'), edit_password_url(@resource, :reset_password_token => @token) %></p>

  <p><%= _("If you didn't request this, please ignore this email.") %></p>
  
  <p>
    <%= _("Many thanks,") %><br /><%= _('The ') %><%= Rails.configuration.branding[:application][:name] %><%= _(' team') %>
  </p>
<% end %>