<p><%= t('custom_devise.hello') %> <%= @resource.email %>!</p>

<p><%= t('custom_devise.1st_part_change_password') %> <%= link_to t('tool_title'), root_url %> <%= t('custom_devise.2nd_part_change_password') %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<%= t('custom_devise.1st_part_change_password') %>
