<% I18n.with_locale I18n.default_locale do %>
	<p><%= _("Hello") %> <%= @resource.email %>!</p>

	<p><%= _("Your") %> <%= link_to ApplicationService.application_name, root_url %> <%= _("account has been locked due to an excessive number of unsuccessful sign in attempts.") %></p>

	<p><%= _("Click the link below to unlock your account") %>:</p>

	<p><%= link_to _("Unlock my account"), unlock_url(@resource, :unlock_token => @token) %></p>
<% end %>
