<%# locals: { f, field_label, persons, contributors, contributor_schema, current_fragment, readonly, ttip, template_locale } %>
<% parent_id = current_fragment.id %>
<% role_property = contributor_schema.properties["role"] %>
<% person_property = contributor_schema.properties["person"] %>
<% person_label = person_property["label@#{template_locale}"]%>
<% person_tooltip= person_property["tooltip@#{template_locale}"]%>
<% role_value = role_property["const@#{template_locale}"]%>
<% query_id = Digest::MD5.hexdigest("#{current_fragment.id}-#{property_name}") %>
<div class="col-md-12 dynamic-field contributor-field"
     data-locale="<%= template_locale %>"
     data-parent-id="<%= parent_id %>"
     data-query-id="<%= query_id %>"
     data-property-name="<%= property_name %>"
     data-schema-id="<%= contributor_schema.id %>"
     data-readonly="<%= readonly %>"
  >
  <fieldset class="sub-fragment">
    <legend class="sub-fragment" data-toggle="tooltip" data-original-title="<%= ttip %>"><%= field_label %></legend>
      <%= render(partial: 'dynamic_form/fields/fragment_select_field', locals: {
        f: f,
        selected_value: nil,
        readonly: readonly,
        parent_id: current_fragment.id,
        dmp_id: current_fragment.dmp_id,
        schema: MadmpSchema.find_by(name: "PersonStandard"),
        required: false,
        template_locale: template_locale,
        property_name: "person",
        field_id: nil, field_name: "#{f.object_name}[person]",
        validation: nil,
        multiple: true,
        query_id:,
        field_label: person_label, ttip: person_tooltip, answer_id: nil 
        }
      ) %>

      <%= create_hidden_field(f, role_value, "role") %>  
    <div class="col-md-12">
      <table class="table table-hover linked-fragments-list <%= property_name %>-list list-<%= query_id %>">
        <thead>
        </thead>
        <tbody>
          <%= render(partial: 'dynamic_form/fields/contributor/contributor_list', locals: {
                  contributors: contributors, 
                  parent_id: parent_id,
                  schema_id: contributor_schema.id,
                  readonly: readonly,
                  deletable: !readonly,
                  template_locale: template_locale,
                  property_name: property_name,
                  query_id: query_id
                }
              ) %>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>
