<div class="static-page">
  <h1><%= _('Editorial Board') %></h1>
  <hr>

  <p><%= _("The DMPTool Editorial Board works to ensure the tool provides current information about grant requirements and corresponding guidance. Our Board includes representation across disciplines with varied areas of expertise, from a wide range of institutions committed to supporting effective research data management.") %></p>
  <br>

  <div id="editorial-board">
    <div class="row">
      <div class="col-md-2"><%= image_tag "HeatherBarnes.jpg" %></div>
      <div class="col-md-10 board-bio">
        <strong>Heather L Barnes, PhD</strong><br>Digital Curation Librarian, Wake Forest University
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "Raj_Kumar_Bhardwaj.jpg" %></div>
      <div class="col-md-10 board-bio">
        <strong>Raj Kumar Bhardwaj, PhD</strong><br>Librarian, St Stephen's College, University of Delhi, India
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "Renata_Curty.JPG" %></div>
      <div class="col-md-10 board-bio">
        <strong>Renata G. Curty, PhD</strong><br>Social Sciences Data Curator, University of California, Santa Barbara
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "doty-jen-resized.jpg" %></div>
      <div class="col-md-10 board-bio">
        <strong>Jennifer Doty</strong><br>Research Data Librarian, Emory University
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "ExnerHeadshot.JPG" %></div>
      <div class="col-md-10 board-bio">
        <strong>Nina Exner</strong><br>Research Data Librarian, Virginia Commonwealth University
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "GeoffHamm.png" %></div>
      <div class="col-md-10 board-bio">
        <strong>Geoff Hamm, PhD</strong><br>Scientific Publications Coordinator, Lawrence Berkeley National Laboratory
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "jhermer.jpg" %></div>
      <div class="col-md-10 board-bio">
        <strong>Janice Hermer</strong><br>Health Sciences Liaison Librarian, Arizona State University
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "Megan_O_Donnell.jpg" %></div>
      <div class="col-md-10 board-bio">
        <strong>Megan O'Donnell</strong><br>Data Services Librarian, Iowa State University
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "rotsuji-portrait.jpg" %></div>
      <div class="col-md-10 board-bio">
        <strong>Reid Otsuji</strong><br>Data Curation Specialist Librarian University of California, San Diego
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "Nick_Ruhs.jpg" %></div>
      <div class="col-md-10 board-bio">
        <strong>Nick Ruhs, PhD.</strong><br>STEM Data & Research Librarian, Florida State University
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "Sackmann_Anna_hr.jpg" %></div>
      <div class="col-md-10 board-bio">
        <strong>Anna Sackmann</strong><br>Science Data & Engineering Libraria, University of California, Berkeley
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "BridgetThrasher.jpg" %></div>
      <div class="col-md-10 board-bio">
        <strong>Bridget Thrasher, PhD</strong><br>Data Stewardship Coordinator, Associate Scientist III, National Center for Atmospheric Research
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "VarnerDouglas.jpg" %></div>
      <div class="col-md-10 board-bio">
        <strong>Douglas L. Varner</strong><br>Assistant Dean for Information Management / Chief Biomedical Informationist, Georgetown University Medical Center
      </div>
    </div>
  </div>

</div>
