<%# locals: orcid, subscription %>

<%
title_text = _("ORCID provides a persistent digital identifier that distinguishes you from other researchers. Learn more at orcid.org")
logo_url = "https://orcid.org/sites/default/files/images/orcid_16x16.png"
link_to_orcid = "<a href=\"#{orcid.value}\" target=\"_blank\" aria-label=\"link to ORCID record\">ORCID record</a>"
not_linked_text = _("Add this plan to the \"works\" section of your %{link_to_orcid}.")
linked_text = _("This plan has been added to the \"works\" section of your %{link_to_orcid}")
%>

<br>
<h2><%= _("Add this plan to your ORCID") %><sup>®</sup></h2>

<% if subscription.present? %>
  <p>
    <%= sanitize(linked_text % { link_to_orcid: link_to_orcid }) %>
    <%= image_tag logo_url, alt: _("ORCID logo"), style: "margin-top: -3px;" %>
  </p>
<% else %>
  <p>
    <%= sanitize(not_linked_text % { link_to_orcid: link_to_orcid }) %>
    &nbsp;
    <%= image_tag logo_url, alt: _("ORCID logo"), style: "margin-top: -3px;" %>
  </p>
  <div class="col-xs-8">
    <%= button_to _("Update ORCID"), {
                                      controller: 'plans',
                                      action: 'add_orcid_work',
                                      data: { disable_with: "adding DMP to ORCID ..." }
                                    },
                                    {
                                      remote: true,
                                      method: :get,
                                      class: "btn btn-default mint-dmp-id"
                                    } %>
  </div>

  <p class="add-orcid-work-response"></p>
<% end %>
