<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" 
            data-dismiss="modal" 
            aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
      <p><strong><%= _('To help you write your plan, %{application_name} can show you guidance from a variety of organisations. Select from the list below.') %
        {application_name: Rails.configuration.branding[:application][:name]} %>
      </p></strong>
    </div>
    <%#= form_tag(plan_path(plan), method: :put) do %>
      <%= form_tag( update_guidances_list_plan_path(@plan), method: :put) do %>
        <div class="modal-body">
          <ul class="list-group" style="list-style: none;" aria-hidden="true">
            <% cur_letter = nil %>
            <% @all_guidance_groups = @all_guidance_groups.sort_by(&:name) %>
            <% @all_guidance_groups.each do |group| %>
              <% title_letter = group.name[0].capitalize.match(/[A-Z]/) ? group.name[0].capitalize : "#" %> 
              <% if title_letter != cur_letter %>
                <% cur_letter = title_letter %>
                <li class="bg-primary"><%= cur_letter %></li>
              <% end %>
              <li>
                <%= check_box_tag "guidance_group_ids[]", group.id, @selected_guidance_groups.include?(group) %>
                <%= group.name %></li>
            <% end %> 
          </ul>
      </div>
      <div class="modal-footer">
        <%= submit_tag _('Save selections'), class: "btn btn-primary" %>
        <%= link_to 'Cancel', plan_path(@plan), class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>