<legend><%= _('Which DMP template would you like to use?') %></legend>

<div class="form-left-side left-indent">
  <label for="plan_template_selector">
    <%= _('Select a template') %>
  </label>

  <select id="plan_template_selector" class="left-indent input-extra-large">
    <option value=""><%= _('Please select one') %></option>
    <%= raw @templates.collect{|t| "<option value=\"#{t.id}\">#{t.title}</option>" }.join('') %>
  </select>
</div>

<div class="form-right-side">
  <div class="left-indent">
    <p><%= _('We found multiple DMP templates corresponding to your funder.') %></p>
  </div>
</div>

<script type="text/javascript">
  $("#plan_template_selector").change(function(){
    $("#plan_template_id").val($(this).val()).change();
  });
</script>