<legend><%= _('Which DMP template would you like to use?') %></legend>

<label for="plan_template_id">
  <%= _('Select a template') %>
</label>

<select id="plan_template_id" name="plan[template_id]" class="combobox-like">
  <option value=""><%= _('Please select one') %></option>
  <%= raw @templates.collect{|t| "<option value=\"#{t.id}\">#{t.title}</option>" }.join('') %>
</select>

<div class="combobox-like">
  <%= _('We found multiple DMP templates corresponding to your funder.') %>
</div>

<script type="text/javascript">
  $("#plan_template_id").change(function(){
    $(".form-submit").prop('disabled', false);
  });
</script>