<%# locals: plan, orcid_access_token %>

<%
dmp_id = plan.dmp_id
general_message = _("Get a %{dmp_id_link} for your data management plan.") % { dmp_id_link: link_to("DMP ID", "https://github.com/CDLUC3/dmptool/wiki/DMP-IDs-and-Networked-Data-Management-Plans-(maDMPs)#why-are-ids-for-dmps-important") }
general_tooltip = _("DMP IDs track connections between your DMP and research outputs such as datasets and articles.")

if current_user == plan.owner
  orcid = plan.owner.identifier_for_scheme(scheme: "orcid")
  orcid_logo = "https://orcid.org/sites/default/files/images/orcid_16x16.png"
  orcid_link = "<a href=\"#{orcid&.value}\" target=\"_blank\" aria-label=\"link to ORCID record\">ORCID record</a>"
end
%>

<% if @plan.dmp_id.present? %>
  <h2><%= _("This plan has been registered") %></h2>
<% elsif current_user == plan.owner && plan.dmp_id.nil? %>
  <h2><%= _("Register your plan and add to ORCID") %></h2>
<% end %>

<% if @plan.dmp_id.present? %>
  TODO: Make this more generic!!!

    <% if dmp_id.value.downcase.start_with?("http") %>

<%# TODO: This should be more generic! %>
      <%# dmphub_url = dmp_id.value.gsub(%r{https?://doix?.org/}, ExternalApis::DmphubService.landing_page_url) %>
      <%# val = link_to dmp_id.value, dmphub_url, target: "_blank", class: "has-new-window-popup-info" %>
    <% else %>
      <% val = dmp_id.value %>
    <% end %>
    <%= (_('Your DMP ID is: %{dmp_id}.') % { dmp_id: val }).html_safe %>
  </p>

<% elsif current_user == plan.owner %>
  <% if !plan.registration_allowed? %>
    <p>
      <span title="<%= general_tooltip %>" data-toggle="tooltip"><%= general_message.html_safe %></span>
    </p>
    <p><%= _("In order to register your plan you must have completed the following:") %></p>
    <ul>
      <li>
        <% if plan.complete? %><span class="fa fa-check green"></span><% else %><span class="fa fa-times red"></span><% end %>
        <%= _("answered at least %{percentage}%% of questions") % { percentage: Rails.configuration.x.plans.default_percentage_answered } %>
      </li>
      <li>
        <% if plan.funder_id.present? %><span class="fa fa-check green"></span><% else %><span class="fa fa-times red"></span><% end %>
        <%= _("identified your funder") %>
      </li>
      <li>
        <% if orcid.present? %><span class="fa fa-check green"></span><% else %><span class="fa fa-times red"></span><% end %>

        <%= _("linked your DMPTool account to your ORCID via your") %> <a href="<%= edit_user_registration_path %>" target="_blank"><%= _("Profile page") %></a>
      </li>
      <li>
        <% if !plan.is_test? %><span class="fa fa-check green"></span><% else %><span class="fa fa-times red"></span><% end %>
        <%= _("plan is not a mock project for testing, practice, or educational purposes") %>
      </li>
    </ul>
    <p><%= _("Once the steps above are satisfied, a button to register your plan will appear here.") %></p>
  <% else %>
    <div class="doi-minter">
      <p>
        <span title="<%= general_tooltip %>" data-toggle="tooltip"><%= general_message.html_safe %></span
      </p>
      <div class="col-xs-8">
        <%= button_to _("Register"), {
                                    controller: 'plans',
                                    action: 'mint',
                                    data: { disable_with: "registering ..." }
                                  },
                                  {
                                    remote: true,
                                    method: :get,
                                    class: "btn btn-default mint-dmp-id"
                                  } %>
      </div>
      <p class="doi-minter-response"></p>
    </div>
  <% end %>
<% end %>
