<%# locals: plan %>

<%
doi = plan.doi
orcid = plan.owner.identifier_for_scheme(scheme: 'orcid')
general_message = _("Get a %{dmp_id_link} for your data management plan.") % { dmp_id_link: link_to("DMP ID", "https://github.com/CDLUC3/dmptool/wiki/DMP-IDs-and-Networked-Data-Management-Plans-(maDMPs)#why-are-ids-for-dmps-important") }
general_tooltip = _("DMP IDs track connections between your DMP and research outputs such as datasets and articles.")
%>

<% if doi.present? %>
  <p>
    <% if doi.value.downcase.start_with?("http") %>
      <% dmphub_url = doi.value.gsub(%r{https?://doix?.org/}, ExternalApis::DmphubService.landing_page_url) %>
      <% val = link_to doi.value, dmphub_url, target: "_blank", class: "has-new-window-popup-info" %>
    <% else %>
      <% val = doi.value %>
    <% end %>
    <%= (_('Your plan has been registered. Your DMP ID is: %{doi}.') % { doi: val }).html_safe %>
  </p>
<% elsif !plan.minting_allowed? %>
  <p>
    <span title="<%= general_tooltip %>" data-toggle="tooltip"><%= general_message.html_safe %></span>
  </p>
  <p><%= _("In order to register your plan you must have completed the following:") %></p>
  <ul>
    <li>
      <% if plan.complete? %><span class="fa fa-check green"></span><% else %><span class="fa fa-times red"></span><% end %>
      <%= _("answered at least %{percentage}%% of questions") % { percentage: Rails.configuration.x.plans.default_percentage_answered } %>
    </li>
    <li>
      <% if plan.funder_id.present? %><span class="fa fa-check green"></span><% else %><span class="fa fa-times red"></span><% end %>
      <%= _("identified your funder") %>
    </li>
    <li>
      <% if orcid.present? %><span class="fa fa-check green"></span><% else %><span class="fa fa-times red"></span><% end %>
      <%= _("linked your DMPTool account to your ORCID via the") %> <a href="<%= edit_user_registration_path %>" target="_blank"><%= _("DMPTool profile page") %></a>
    </li>
    <li>
      <% if !plan.is_test? %><span class="fa fa-check green"></span><% else %><span class="fa fa-times red"></span><% end %>
      <%= _("plan is not a  mock project for testing, practice, or educational purposes") %>
    </li>
  </ul>
  <p><%= _("Once the steps above are satisfied, a button to register your plan will appear here.") %></p>
<% else %>
  <p>
    <span title="<%= general_tooltip %>" data-toggle="tooltip"><%= general_message.html_safe %></span
  </p>
  <div class="col-xs-8">
    <%= button_to "Register", {
                                controller: 'plans',
                                action: 'mint',
                                data: { disable_with: "registering ..." }
                              },
                              {
                                remote: true,
                                method: :get,
                                class: "btn btn-default mint-dmp-id"
                              } %>
  </div>
  <p class="doi-minter-response"></p>
<% end %>
