<!-- Dropdown funder menu and 'create plan' button -->

<%= semantic_form_for @plan, :url => {:controller => :plans, :action => :create }, :html=>{:method=>:post} do |f| %>
  <%= f.inputs do %>
    <%= hidden_field_tag :default_tag, "false" ,:id => "default_tag" %>
    <div class="createa-project">

      <h1> <%= t('helpers.project.create_page.title') %> </h1>
      <div class="info-new-project">
          <p><%= raw t('helpers.project.create_page.desc_html')%></p>
      </div>

      <!-- drop down selecting template, org etc -->
      <div class="dropdowns">

        <!-- funder template dropdown -->
        <div class="control-group" id="funder-control-group">
          <div class="controls">
            <%= f.input :funder_id,
                :as => :select,
                :collection => @funders,
                :label => t('helpers.project.create_page.funders_question'),
                :input_html => { :multiple => false, :class => ["select2", "select2-container"] },
                :include_blank =>  constant("organisation_types.funder") %>

          <div class="div_clear"></div>
        </div>   <!-- funder-control-group -->

      </div>   <!-- dropdowns -->
    </div>   <!-- createa-project -->
  <% end %>  <!-- f.inputs -->

  <!-- submit buttons -->
  <%= f.actions do %>
    <%= f.action :submit,
    :as => :button,
    :input_html => { :id => "create-plan-button", :class => "btn btn-primary"},
    :label => t('helpers.project.create') %>
  <% end %>   <!-- f.actions -->

<% end %>   <!-- semantic form -->
