<div class="row">
    <div class="col-md-8">
    <%= form_for plan, html: {method: :put, class: 'form-horizontal edit_plan' } do |f| %>
      <div class="form-group"><!-- title -->
        <div class="col-md-12">
          <%= f.label(:title, _('Project Title'), class: 'control-label') %>
        </div>
        <div class="col-md-8">
          <%= f.text_field(
            :title,
            class: 'form-control',
            "aria-required": true) %>
        </div>
        <div class="col-md-4">
          <button
            type="button"
            class="btn btn-link"
            aria-label="<%= _('Project Title') %>"
            data-toggle="tooltip"
            data-placement="top"
            title="<%= _('If applying for funding, state the name exactly as in the grant proposal.') %>">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="form-group"><!-- visibility -->
        <%= f.hidden_field :visibility %>
        <div class="col-md-12">
          <%= f.label(:is_test, _('mock project for testing, practice, or educational purposes'), class: 'control-label') %>
        </div>
        <div class="col-md-12">
          <%= check_box_tag(:is_test,1, @plan.is_test?) %>
        </div>
      </div>
      <div class="form-group"><!-- funder_name -->
        <div class="col-md-12">
          <%= f.label(:funder_name, _('Funder'), class: 'control-label') %>
        </div>
        <div class="col-md-8">
          <%= f.text_field(
            :funder_name,
            class: 'form-control',
            "aria-required": false) %>
        </div>
      </div>
      <div class="form-group"><!-- grant_number -->
        <div class="col-md-12">
          <%= f.label(:grant_number, _('Grant Number'), class: 'control-label') %>
        </div>
        <div class="col-md-8">
          <%= f.text_field(
            :grant_number,
            class: 'form-control',
            "aria-required": false) %>
        </div>
        <div class="col-md-4">
          <button
            type="button"
            class="btn btn-link"
            aria-label="<%= _('Grant Number') %>"
            data-toggle="tooltip"
            data-placement="top"
            title="<%= _('Grant reference number if applicable [POST-AWARD DMPs ONLY]') %>">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="form-group"><!-- description -->
        <div class="col-md-12">
          <%= f.label(:description, _('Project Abstract'), class: 'control-label') %>
        </div>
        <div class="col-md-8">
          <%= f.text_area(
            :description,
            class: 'form-control tinymce',
            "aria-required": false) %>
        </div>
        <div class="col-md-4">
          <button
            type="button"
            class="btn btn-link"
            aria-label="<%= _('Project Abstract') %>"
            data-toggle="popover"
            data-placement="top"
            title="<%= _('More information: Guidance') %>"
            data-content="<%= _("<h4>Questions to consider:</h4><ul><li>What is the nature of your research project?</li><li>What research questions are you addressing? </li><li>For what purpose are the data being collected or created? </li></ul><h4>Guidance:</h4><p>Briefly summarise the type of study (or studies) to help others understand the purposes for which the data are being collected or created.</p>") %>">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="form-group"><!-- identifier -->
        <div class="col-md-12">
          <%= f.label(:identifier, _('ID'), class: 'control-label') %>
        </div>
        <div class="col-md-8">
          <%= f.text_field(
            :identifier,
            class: 'form-control',
            "aria-required": false) %>
        </div>
        <div class="col-md-4">
          <button
            type="button"
            class="btn btn-link"
            aria-label="<%= _('ID') %>"
            data-toggle="tooltip"
            data-placement="top"
            title="<%= _('A pertinent ID as determined by the funder and/or institution.') %>">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <hr />
      <h3><%= _('Principal Investigator') %></h3>
      <div class="form-group"><!-- principal_investigator -->
        <div class="col-md-12">
          <%= f.label(:principal_investigator, _('Name'), class: 'control-label') %>
        </div>
        <div class="col-md-8">
          <%= f.text_field(
            :principal_investigator,
            class: 'form-control',
            "aria-required": false) %>
        </div>
      </div>
      <div class="form-group"><!-- principal_investigator_identifier -->
        <div class="col-md-12">
          <%= f.label(:principal_investigator_identifier, _('ORCID iD'), class: 'control-label') %>
        </div>
        <div class="col-md-8">
          <%= f.text_field(
            :principal_investigator_identifier,
            class: 'form-control',
            "aria-required": false) %>
        </div>
      </div>
      <div class="form-group"><!-- principal_investigator_email -->
        <div class="col-md-12">
          <%= f.label(:principal_investigator_email, _('Email'), class: 'control-label') %>
        </div>
        <div class="col-md-8">
          <%= f.email_field(
            :principal_investigator_email,
            class: 'form-control',
            "aria-required": false,
            "data-validation": "email") %>
        </div>
      </div>
      <hr />
      <h3><%= _('Data Contact Person') %></h3>
      <div class="form-group"><!-- data_contact -->
        <div class="col-md-12">
          <%= f.label(:data_contact, _('Name'), class: 'control-label') %>
        </div>
        <div class="col-md-8">
          <%= f.text_field(
            :data_contact,
            class: 'form-control',
            "aria-required": false) %>
        </div>
      </div>
      <div class="form-group"><!-- data_contact_phone -->
        <div class="col-md-12">
          <%= f.label(:data_contact_phone, _('Phone'), class: 'control-label') %>
        </div>
        <div class="col-md-8">
          <%= f.text_field(
            :data_contact_phone,
            class: 'form-control',
            "aria-required": false) %>
        </div>
      </div>
      <div class="form-group"><!-- data_contact_email -->
        <div class="col-md-12">
          <%= f.label(:data_contact_email, _('Email'), class: 'control-label') %>
        </div>
        <div class="col-md-8">
          <%= f.email_field(
            :data_contact_email,
            class: 'form-control',
            "aria-required": false,
            "data-validation": "email") %>
        </div>
      </div>
      <%= f.button(_('Submit'), class: "btn btn-default", type: "submit") %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2><%= _('Plan Guidance Configuration') %></h2>
    <p><%= _('To help you write your plan, %{application_name} can show you guidance from a variety of organisations.') %
    {application_name: Rails.configuration.branding[:application][:name]} %>
    </p>
    <p><%= _('Select up to 6 organisations to see their guidance.') %></p>
    <!--ul id="priority-guidance-orgs">
          <%#= render partial: "guidance_choices", 
                     locals: {choices: @important_ggs, form: f,
                              current_selections: @selected_guidance_groups} %>
        </ul>

        <a href="#" id="show-other-guidance-orgs"><%#= _('See guidance from additional organisations') %></a>

        <ul id="other-guidance-orgs" style="display: none;">
          <%#= render partial: "guidance_choices", 
                     locals: {choices: @all_ggs_grouped_by_org, form: f, 
                              current_selections: @selected_guidance_groups} %>
        </ul-->
  </div>
</div>