<%# locals: choices, current_selections %>
<% choices.each do |org, groups| %>
  <% if groups && groups.size == 1 %>
    <li class="form-check">
      <%= check_box_tag "guidance_group_ids[]",
                        groups[0].id,
                        current_selections.include?(groups[0].id),
                        class: 'guidance-choice',
                        "aria-label": "#{groups[0].id}" %>
      <%= org.name %>
    </li>
  <% elsif groups %>
    <li class="form-check">
      <%= org.name %>
      <ul>
        <% groups.each do |group| %>
          <li class="form-check">
            <span class="sublist">└─ </span>
            <%= check_box_tag "guidance_group_ids[]",
                              group.id,
                              current_selections.include?(group.id),
                              class: 'guidance-choice',
                              "aria-label": "#{group.id}" %>
            <%= group.name %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end%>
<% end %>
