<%# locals: form, all_guidance_groups, important_ggs, selected_guidance_groups %>

<% app_name = ApplicationService.application_name %>

<% if all_guidance_groups.length > 0 %>
  <p><%= _('To help you write your plan, %{application_name} can show you guidance from a variety of organisations.') % { application_name: app_name } %>
  </p>
  <fieldset>
    <legend><%= _('Select up to 6 organisations to see their guidance.') %></legend>
    <ul id="priority-guidance-orgs">
      <%= render partial: "guidance_choices",
                 locals: { choices: important_ggs, form: form,
                           current_selections: selected_guidance_groups } %>
    </ul>
  </fieldset>

  <% if all_guidance_groups.length > important_ggs.length %>
    <p><%= _('Find guidance from additional organisations below') %></p>
    <%= link_to _('See the full list'), '#', 'data-bs-toggle' => 'modal', 'data-bs-target' => '#modal-full-guidances', class: 'modal-guidances-window' %>
  <% end %>

  <br>
  <%= form.button(_('Save'), class: "btn btn-secondary", type: "submit") %>

<% else %>
  <p><%= _("There is no additional guidance for this template.") %></p>
<% end %>

<% if all_guidance_groups.length > important_ggs.length %>
  <div id="modal-full-guidances"  class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content modal-dialog-scrollable">
        <div class="sign-in">
          <div class="modal-body">
            <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="<%= _('Cancel') %>"></button>
            <h2><%= _('Select Guidance') %></h2>
            <p>
              <%= _('To help you write your plan, %{application_name} can show you guidance from a variety of organisations. Please choose up to 6 organisations of the following organisations who offer guidance relevant to your plan.') % { application_name: app_name } %>
            </p>
            <p><strong><%= _("Don't forget to save your changes after making your selections.") %></strong></p>
            <ul id="other-guidance-orgs">
              <%= render partial: "guidance_choices",
                         locals: { choices: @all_ggs_grouped_by_org,
                                   form: form,
                                   current_selections: @selected_guidance_groups } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
