<% phases = plan.template.phases %>
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="nav-item <%= (active_page?(plan_path(plan), true) ? 'active' : '') %>">
    <a href="<%= plan_path(plan) %>" role="tab" 
    class="nav-link" aria-controls="content"><%= _('Project Details') %></a>
  </li>
  <li role="contributors" class="nav-item <%= (active_page?(plan_contributors_path(plan)) ? "active" : "") %>">
    <%= link_to _("Contributors"), plan_contributors_path(plan), role: "tab",
                aria: { controls: "content" }, class: 'nav-link' %>
  </li>
  <li role="presentation" class="nav-item <%= (active_page?(overview_plan_path(plan)) ? 'active' : '') %>">
    <%= link_to _('Plan overview'), overview_plan_path(plan), role: 'tab', 
                aria: { controls: "content" }, class: 'nav-link' %>
  <% phases.each do |phase| %>
    <li role="presentation" class="nav-item <%= (active_page?(edit_plan_path(plan.id, phase_id: phase.id)) ? 'active' : '') %>">
      <a href="<%= edit_plan_path(plan.id, phase_id: phase.id) %>" role="tab" 
         class="nav-link" aria-controls="content">
        <%= (phases.size > 1 ? phase.title : _('Write Plan')) %>
      </a>
    </li>
  <% end %>
  <% if Rails.configuration.x.madmp.enable_research_outputs %>
    <li role="research_outputs" class="nav-item <%= (active_page?(plan_research_outputs_path(plan)) ? "active" : "") %>">
      <%= link_to _("Research Outputs"), plan_research_outputs_path(plan), role: "tab",
                  aria: { controls: "content" }, class: 'nav-link' %>
    </li>
  <% end %>
  <% if plan.administerable_by?(current_user.id) || (current_user.can_org_admin? && current_user.org.plans.include?(plan)) %>
    <li role="presentation" class="nav-item <%= (active_page?(share_plan_path(plan)) ? 'active' : '') %>">
      <a href="<%= share_plan_path(plan) %>" role="tab" 
         class="nav-link" aria-controls="content"><%= _('Share') %></a>
    </li>
  <% end %>
  <% if (plan.administerable_by?(current_user.id) || (current_user.can_org_admin? && current_user.org.plans.include?(plan))) && plan.owner_and_coowners.include?(current_user) && plan.owner.org.feedback_enabled? %>
    <li role="presentation" class="nav-item <%= (active_page?(request_feedback_plan_path(plan)) ? 'active' : '') %>">
      <a href="<%= request_feedback_plan_path(plan) %>" role="tab" 
         class="nav-link" aria-controls="content"><%= _('Request feedback') %></a>
    </li>
  <% end %>
  <% if plan.readable_by?(current_user.id) %>
    <li role="presentation" class="nav-item <%= (active_page?(download_plan_path(plan)) ? 'active' : '') %>">
      <a href="<%= download_plan_path(plan) %>" role="tab"
         class="nav-link" aria-controls="content"><%= _('Download') %></a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <div id="content" role="tabpanel" class="tab-pane active">
    <div class="card card-default">
      <div class="card-body">
        <%= yield :plan_tab_body %>
      </div>
    </div>
  </div>
</div>
