<!-- project navigation -->
<div id="project-tabs" class="nav-project-tabs">
  <ul class="nav nav-tabs" data-tabs="tabs">
    <%plan_id = plan.id %>

    <!-- Project details -->
    <li <%= if active == "details" then "class=active" end %> >
        <%= link_to _('Plan details'), "/plans/" + plan_id.to_s %>
    </li>

    <!-- Phases -->
    <% plan.phases.each do |phase| %>
        <li <%= if active == phase.title then "class=active" end%> >
            <%= link_to phase.title,  "/plans/" + plan_id.to_s + "/phases/" + phase.id.to_s + "/edit" %>
      </li>
    <% end %>

    <!--Share project (project admin only)-->
    <% if @plan.administerable_by?(current_user.id) then %>
      <% if active == "share" %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to _('Share'), ["share", plan] %>
      </li>
    <% end %>

    <!-- Export page that display all plans options to export-->
    <% if active == "export" then %>
      <li class="active">
    <% else %>
      <li>
    <% end %>
      <%= link_to _('Export'), show_export_plan_path(plan) %>
    </li>

  </ul>
</div>
