<tr>
  <% ['name', 'owner', 'shared', 'last_edited'].each do |column| %>
    <%= plan_list_column_body(column, plan) %>
  <% end %>
  <td class="dmp_td_medium">
    <% if plan.editable_by?(current_user.id) then %>
      <%= link_to _('Edit'), plan_path(plan), :class => "dmp_table_link"%>

      <% if plan.administerable_by?(current_user.id) then %>
        <%= link_to _('Share'), share_plan_path(plan), :class => "dmp_table_link"%>
      <% end %>

      <%= link_to _('Export'), show_export_plan_path(plan), :class => "dmp_table_link"%>

      <%= link_to _('Duplicate'), duplicate_plan_path(plan), method: :post, remote: true, :class => "dmp_table_link"%>

      <% if plan.owned_by?(current_user.id) then %>
        <%= link_to _('Delete'), plan_path(plan), :class => "dmp_table_link",
          :method => :delete, :data => {
            :confirm => _('Are you sure you wish to delete this plan? If the plan is being shared with other users, by deleting it from your list, the plan will be deleted from their plan list as well')
          }%>
      <% end %>
    <% else %>
      <%= link_to _('View'), plan_path(plan), :class => "dmp_table_link"%>
      <%= link_to _('Export'), show_export_plan_path(plan), :class => "dmp_table_link"%>
    <% end %>

  </td>
</tr>
