<h2><%= _('Set plan visibility') %></h2>
<p class="form-control-static"><%= _('Public or organisational visibility is intended for finished plans. You must answer at least %{percentage}%% of the questions to enable these options. Note: test plans are set to private visibility by default.') % { :percentage => Rails.configuration.x.plans.default_percentage_answered } %></p>
<% allow_visibility = @plan.visibility_allowed? %>
<% if @plan.administerable_by?(current_user.id) %>
  <%= form_for(@plan, url: visibility_plan_path, method: :post, html: { id: 'set_visibility' }) do |f| %>
    <fieldset<%= (allow_visibility ? '' : ' disabled') %>>
      <div class="form-group col-xs-8">
        <div class="radio">
          <%= f.label :visibility_privately_visible do %>
            <%= f.radio_button :visibility, :privately_visible %>
            <%= _('Private: visible to me, specified collaborators and administrators at my organisation') %>
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :visibility_organisationally_visible do %>
            <%= f.radio_button :visibility, :organisationally_visible %>
            <%= _('Organisation: anyone at my organisation can view') %>
          <% end %>
        </div>
        <div class="radio">
          <%= f.label :visibility_publicly_visible do %>
            <%= f.radio_button :visibility, :publicly_visible %>
            <%= _('Public: anyone can view') %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-8">
        <%= f.submit _('Save'), class: "btn btn-default" %>
      </div>
    </fieldset>
  <% end %>
<% else %>
  <p>&nbsp;<%= _("This plan is currently set to: ") %>
    <% if plan.publicly_visible? %>
      <%= _('<strong>Public visibilty</strong> - anyone can view').html_safe %>
    <% elsif plan.organisationally_visible? %>
      <%= _('<strong>Organisation visibility</strong> - anyone at my organisation can view').html_safe %>
    <% else %>
      <%= _('<strong>Private visibility</strong> - visible to me, specified collaborators and administrators at my organisation').html_safe %>
    <% end %>
  </p>
<% end %>

<% if Rails.configuration.x.allow_doi_minting && IdentifierScheme.for_identification.any? %>
  <%# Temporary flag to only allow users from certain Orgs to mint DOIs during soft-launch %>
  <% if current_user.org&.allow_doi? && current_user.can_org_admin? %>
    <br>
    <h2>Register your plan</h2>
    <div class="doi-minter">
      <%= render partial: 'plans/doi_minter', locals: { plan: @plan } %>
    </div>
  <% end %>
<% end %>
