<div class="dmp_toolbar">
  <form action="<%= plans_path -%>" method="get" id="filter_form">
    <%= search_field_tag(:filter, params[:filter], placeholder: _('Filter plans')) %>
    <a id="clear_filter" class="icon-remove" href="<%= plans_path -%>" title="<%= _('Cancel') -%>">
      <span class="hide-text"><%= _('Cancel') -%></span>
    </a>
    <input type="submit" class="btn btn-primary" value="<%= _('Filter') -%>" />
  </form>
  <a id="toolbar_configure" class="btn-configure" href="#" title="<%= _('Configure') -%>">
    <i class="icon-cog"></i>
  </a>
</div>
