<div id="export_font">
	<h1><%= @plan.title %></h1>
	<h2><%= @plan.template.title %></h2>
	<div class="dmp_details_body">
		<div class="dmp_details">
			<%
				details = @exported_plan.admin_details
				if details.present?
			%>
				<h3><%= _('Admin Details') %></h3>
				<table class="dmp_table">
					<thead>
						<tr>
							<th class="dmp_th_medium"><%= _('Title')%></th>
							<th class="dmp_th_big"><%= _('Description')%></th>
						</tr>
					</thead>
					<tbody>
					<%
						details.each do |field|
							value = @exported_plan.send(field)
					%>
						<tr>
							<th class="dmp_th_border"><p>- <%= admin_field_t(field.to_s) -%></p></th>
							<td class="dmp_td_border"><%= value.present? ? value : _('-') %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
      		 <% end %>
			<% @exported_plan.sections.each do |section| %>
				<h3><%= section.title %></h3>
				<table class="dmp_table">
					<thead>
					    <tr>
					      	<th class="dmp_th_medium"><%= _('Questions')%></th>
					      	<th class="dmp_th_big"><%= _('Answers')%></th>
	   					</tr>
   					</thead>
   					<tbody>
						<% questions = @exported_plan.questions_for_section(section.id) %>
						<% questions.each do |question| %>
							<tr>
								<th class="dmp_th_border" >
									<p>- <%= raw question.text %></p>
								</th>
	        					<td class="dmp_td_border" >	
									<% answer = @plan.answer(question.id, false) %>
									<% if answer.nil? then %>
										<p><%= _('Question not answered') %></p>
									<% else %>
                                        <% q_format = question.question_format %>
										<% if q_format.title == _('Check box') || q_format.title == _('Multi select box') ||
                                        q_format.title == _('Radio buttons') || q_format.title == _('Dropdown') then%>
											<ul>
												<% answer.options.each do |option| %>
													<li><%= option.text %></li>
												<% end %>
											</ul>
                                            <% if question.option_comment_display == true then%>
                                                <%= raw answer.text %>
                                            <% end %>
										<%else%>
                                            <%= raw answer.text %>
                                        <%end%>
									<% end %>	
								</td>
							</tr>
						<% end %>
					</tbody>	
				</table>			
			<% end %>
		</div>	
	</div>	
</div>
