<% title _('Create a new plan') %>
<% required_project_title_tooltip = _('This field is required.') %>
<% project_title_tooltip = _('If applying for funding, state the project title exactly as in the proposal.') %>
<% required_research_org_tooltip = _('You must select a research organisation from the list or click the checkbox.') %>
<% research_org_tooltip = _('Please select a valid research organisation from the list.') %>
<% required_primary_funding_tooltip = _('You must select a funder from the list or click the checkbox.') %>
<% primary_funding_tooltip = _('Please select a valid funding organisation from the list.') %>

<div class="row">
  <div class="col-md-12">
    <h1><%= _('Create a new plan') %></h1>

    <p class="start-indent">
      <%= _("Before you get started, we need some information about your research project to set you up with the best DMP template for your needs.") %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for Plan.new, url: plans_path do |f| %>
      <!-- Plan name section -->
      <h2 id="project-title">
        <span class="red" title="<%= required_project_title_tooltip %>">*<em class="sr-only"><%= required_project_title_tooltip %></em> </span><%= _('Enter project title') %>
      </h2>
      <div class="row">
        <div class="form-control mb-3 col-md-8">
          <%= f.text_field(:title, class: 'form-control', 'aria-labelledby': 'project-title', 'aria-required': 'true', 'aria-label': 'project-title',
                'data-toggle': 'tooltip',
                'data-placement': 'bottom',
                spellcheck: true,
                title: project_title_tooltip ) %>
        </div>
        <div class="form-control mb-3 col-md-6">
          <div class="checkbox">
            <%= label_tag(:is_test) do %>
              <%= check_box_tag(:is_test, "1", false) %>
              <%= _('Mock project for testing, practice, or educational purposes') %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Template selection -->
      <h2>
        <span class="red">*<em class="sr-only"></em> </span><%= _('Select a DMP template') %>
      </h2>
      <div class="row">
        <div class="form-control mb-3 col-md-8">
          <%= f.select(:template_id, grouped_options_for_select(@templates_grouped),
                      { include_blank: _('--Select--') },
                      class: 'form-control',
                      'aria-labelledby': 'template-selection', 
                      'aria-required': 'true', 
                      'data-toggle': 'tooltip',
                      'data-placement': 'bottom') %>
        </div>
      </div>

      <%= f.button(_('Create'), class: "btn btn-primary", type: "submit") %>
      <%= link_to _('Cancel'), plans_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
