<% title _('Create a new plan') %>
<div class="row">
  <div class="col-md-12">
    <h1><%= _('Create a new plan') %></h1>

    <p class="left-indent">
      <%= _("Before you get started, we need some information about your research project to set you up with the best DMP template for your needs.") %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for Plan.new, url: plans_path do |f| %>
      <!-- Plan name section -->
      <h2 id="project-title"><span class="red" title="<%= _('This field is required.') %>">* </span><%= _('What research project are you planning?') %></h2>
      <div class="form-group row">
        <div class="col-xs-6">
          <%= f.text_field(:title, class: 'form-control', 'aria-describedby': 'project-title', 'aria-required': 'true', 'aria-label': 'project-title', 
                'data-toggle': 'tooltip',
                title: _('If applying for funding, state the project title exactly as in the proposal.')) %>
        </div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-xs-5 checkbox create-plan-mock">
          <%= label_tag(:is_test, raw("#{check_box_tag(:is_test, "1", false)} #{_('mock project for testing, practice, or educational purposes')}")) %>
        </div>
      </div>

      <!-- Organisation selection -->
      <h2 id="research-org"><span class="red" title="<%= _('You must select a research organisation from the list or click the checkbox.') %>">* </span><%= _('Select the primary research organisation') %></h2>
      <div class="form-group row">
        <div class="col-md-6">
          <%= render partial: "shared/accessible_combobox", 
                     locals: {name: 'plan[org_name]',
                              id: 'plan_org_name',
                              default_selection: @default_org,
                              models: @orgs,
                              attribute: 'name',
                              required: true,
                              error: _('You must select a research organisation from the list.'),
                              tooltip: _('Please select a valid research organisation from the list.')} %>
        </div>
        <div class="col-md-1 pad-top-10 create-plan-or"><strong>- <%= _('or') %> -</strong></div>
        <div class="col-md-5 create-plan-checkbox">
          <div class="checkbox">
            <% primary_research_org_message = _('No research organisation associated with this plan or my research organisation is not listed') %>
            <%= label_tag(:plan_no_org, raw("#{check_box_tag(:plan_no_org)} #{primary_research_org_message}")) %>
          </div>
        </div>
      </div>
  
      <!-- Funder selection -->
      <h2 id="funder-org"><span class="red" title="<%= _('You must select a funder from the list or click the checkbox.') %>">* </span><%= _('Select the primary funding organisation') %></h2>
      <div class="form-group row">
        <div class="col-xs-6">
          <%= render partial: "shared/accessible_combobox", 
                     locals: {name: 'plan[funder_name]',
                              id: 'plan_funder_name',
                              default_selection: nil,
                              models: @funders,
                              attribute: 'name',
                              required: true,
                              error: _('You must select a funding organisation from the list.'),
                              tooltip: _('Please select a valid funding organisation from the list.')} %>
        </div>
        <div class="col-md-1 create-plan-or"><strong>- <%= _('or') %> -</strong></div>
        <div class="col-xs-5 create-plan-checkbox">
          <div class="checkbox">
            <% primary_funding_message = _('No funder associated with this plan or my funder is not listed') %>
            <%= label_tag(:plan_no_funder, raw("#{check_box_tag(:plan_no_funder)} #{primary_funding_message}")) %>
          </div>
        </div>
      </div>

      <!-- Template selection -->
      <div id="available-templates" style="visibility: none;">
        <%= hidden_field_tag 'template-option-target', org_admin_template_options_path %>
        <h2 id="template-selection"><%= _('Which DMP template would you like to use?') %></h2>
        <div class="form-group row">
          <div class="col-xs-6">
            <%= select_tag(:plan_template_id, "<option value=\"\">#{_('Please select a template')}</option>", name: 'plan[template_id]',
                           class: 'form-control', 'aria-describedby': 'template-selection') %>
          </div>
          <div class="col-xs-6">
            <span id="multiple-templates"><%= _('We found multiple DMP templates corresponding to your funder.') %></span>
          </div>
        </div>
      </div>

      <%= f.hidden_field(:visibility, value: @is_test ? 'is_test' : Rails.application.config.default_plan_visibility) %>
      <%= f.button(_('Create plan'), class: "btn btn-primary", type: "submit") %>
      <%= link_to _('Cancel'), plans_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
