<div class="question-form">
  <div id="<%= "answer-locking-#{question.id}" %>" class="answer-locking"></div>
  <div id="<%= "answer-form-#{question.id}" %>">
    <%= render(partial: 'answers/new_edit', 
               locals: { question: question, answer: answer, readonly: @readonly }) %>
  </div>
  <div id="<%= "answer-status-#{question.id}" %>" class="answer-status">
    <%= render(partial: 'answers/status', locals: { answer: answer }) %>
  </div>
</div>   <!-- question-form -->