<!--
  **Project: DMPRoadmap
  **Description: This block sets up the type of question, its guidance.
  **Arguments transferred: an instance of "question"
  **Copyright: Digital Curation Centre and California Digital Library
-->

<div class="question-div">
  <%
    if answer.blank?
       answer = Answer.new({ plan_id: plan.id, question_id: question.id, user_id: current_user.id })
       if question.default_value.present?
        answer.text = question.default_value
      end
    end
   %>
  <div class="question-form">
    <div id="<%= "answer-locking-#{question.id}" %>" class="answer-locking"></div>
    <div id="<%= "answer-form-#{question.id}" %>">
      <%= render(partial: 'answers/new_edit', locals: { question: question, answer: answer, readonly: readonly }) %>
    </div>
    <div id="<%= "answer-status-#{question.id}" %>" class="answer-status">
      <%= render(partial: 'answers/status', locals: { answer: answer }) %>
    </div>
  </div>   <!-- question-form -->
</div>   <!-- question-div -->

<!-- Question right column -->
<div class="question-area-right-column">

    <div id="right-area-tabs-<%= question.id %>" class="question_right_column_nav">
      <% comments = answer.notes.all %>
      <%= hidden_field_tag :question_id, question.id, class: "question_id" %>
      <% active_tab = nil %>
      <ul class="question_right_column_ul">
        <% annotations = question.annotations.where(type: Annotation.types[:guidance]) %>
        <% if annotations.present? || question_guidances.present? %>
          <% active_tab = 'guidance_tab' %>
          <li class="guidance_tab active">
            <%= link_to _('Guidance'), "#", class: "right_column_tab_link" %>
          </li>
        <% else %>
        <% active_tab = 'note_tab' %>
        <% end %>
        <li class="note_tab <%= "active" if active_tab == 'note_tab' %>">
          <% if comments.count > 0 %>
            <%= link_to "#{_('Notes')} (#{comments.count})" , "#", id: "notes_number_#{question.id}", class: "right_column_tab_link" %>
          <% else %>
            <%= link_to _('Share note'), "#", id: "notes_number_#{question.id}", class: "right_column_tab_link" %>
          <% end %>
        </li>
      </ul>
    </div>


    <!--guidance content -->
    <div class="question-guidance guidance_tab" id="guidance-question-area-<%= question.id %>" style="<%= active_tab == 'guidance_tab' ? '' : 'display:none;' %>">
     <div class="accordion" id="<%= question.id %>-guidance">

        <!--question guidance-->
        <% num_annotations = 0 %>
        <% if annotations.present? %>
          <% annotations.each do |annotation| %>

            <div class="accordion-group">

             <!-- accordion heading -->
              <div class="accordion-heading">
               <a class="accordion-guidance-link" data-toggle="collapse"
               data-parent="#<%=question.id%>-guidance-<%=num_annotations%>"
               href="#collapse-guidance-<%=question.id%>-<%=num_annotations%>">
                 <div class="accordion_heading_text">
                 <%= annotation.org.abbreviation %> <%= _('Guidance') %>
                 </div>
                 <span class="plus-laranja"> </span></a>
             </div>

             <!-- accordion body -->
             <div id="collapse-guidance-<%= question.id%>-<%=num_annotations%>" class="guidance-accordion-body collapse">
               <div class="accordion-inner"><%= raw annotation.text %></div>
             </div>
             <% num_annotations += 1%>
           </div>   <!-- accordion-group -->
        <% end %>
       <% end %>   <!-- if question.guidance -->

       <!-- guidance by theme -->
       <% guidance_accordion_id = num_annotations %>
       <% question_guidances.each_pair do |theme, group| %>
         <% group.each do |gobj| %>
           <div class="accordion-group">
             <div class="accordion-heading">
               <a class="accordion-guidance-link" data-toggle="collapse" data-parent="#<%= question.id %>-guidance" href="#collapse-guidance-<%=question.id%>-<%= guidance_accordion_id %>">
                 <div class="accordion_heading_text">
                   <%= gobj[:org] %> guidance on <%= theme %>
                 </div>
                 <span class="plus-laranja"> </span></a>
             </div>
             <div id="collapse-guidance-<%=question.id%>-<%= guidance_accordion_id %>" class="guidance-accordion-body collapse">
               <div class="accordion-inner"><%= raw gobj[:text] %></div>
             </div>
             <% guidance_accordion_id += 1 %>
           </div>
         <% end %>   <!-- group.each -->
       <% end %>   <!-- question_guidances.each_pair -->

     </div>   <!-- accordion-questionid -->
  </div>   <!-- question-guidance -->
  <!--note content -->
  <div class="comment-area note_tab" id="comment-question-area-<%= question.id %>"  style="<%= active_tab == 'note_tab' ? '' : 'display:none;' %>">
      <%= render partial: "note", locals: {question: question, answer: answer, plan: plan, suffix: "" }%>
  </div>
</div> <!-- question area right column -->

<!--display or not the break line between questions-->
<% if last_question_id == question.id then %>
  <div class="two-column-clear"></div>
<% else %>
  <div class="two-column-clear question-divider"></div>
<% end %>
