<!-- if there are notes then list of notes and view last note
  else display display add note form -->

  <% if answer.present? && answer.notes.any? %>
    <% notes = answer.notes.all.to_a.sort! {|x,y| y.updated_at <=> x.updated_at } %>
    <% questionid = question.id %>
    <%= hidden_field_tag :question_id, questionid, class: "question_id" %>

    <!-- add note -->
    <div id="add_comment_button_top_div_<%= questionid %>" class="move_2_right" >
      <%= link_to _('Add note'),
          "#question-form-#{questionid}",
          class: "btn btn-primary add_comment_button",
          onclick: "add_note_button(#{questionid})"
      %>
    </div>

    <div class="div_clear"></div>

    <!-- list of notes, view and edit a note -->
    <%= render :partial => "/phases/list_notes", locals: {question_id: question.id, notes: notes, plan: plan} %>


    <div class="div_clear"></div>

    <!-- add a note block -->
    <div id="add_comment_block_div_<%= questionid %>" style="display: none">
      <%= render :partial => "/phases/add_note", locals: {answer: answer, question: question, plan_id: plan.id }%>
    </div>
  <% else%>
    <%= _('Share note with collaborators')%>
    <%= render :partial => "/phases/add_note", locals: {answer: answer, question: question, plan_id: plan.id }%>
  <% end%>
