<dl class="dl-horizontal">
  <dt><%= _('Title') %></dt>
  <dd><%= phase.title %></dd>
  <dt><%= _('Order of display') %></dt>
  <dd><%= phase.number %></dd>
  <dt><%= _('Description') %></dt>
  <dd><%= raw phase.description %></dd>
</dl>
<% if phase.modifiable && edit %>
    <div class="pull-right">
      <ul class="list-inline">
        <li><%= link_to(_('Edit phase details'), '#', { class: "btn btn-default phase_edit_link", role: "button" }) %></li>
        <li><%= link_to(_('Preview'), admin_preview_phase_path(phase, r: current_tab), { class: 'btn btn-default phase_preview_link', role: 'button' }) %></li>
      </ul>
    </div>
<% end %>


