<div class="row">
  <div class="col-md-12">
    <div class="pull-left">
      <h1>
        <%= @template.title %>
      </h1>
    </div>
    <div class="pull-right">
      <ul class="list-inline">
        <li><%= link_to _('Back to edit phase'), admin_show_phase_path(id: @phase.id), class: 'btn btn-primary' %></li>
        <li><%= link_to _('View all templates'), admin_index_template_path, class: 'btn btn-primary' %></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- render navigation tabs for the template -->
    <%= render partial: "templates/admin_nav_tabs", locals: { template: @template, active: @phase.id } %>
    <!-- render phase below -->
    <%= render partial: '/phases/edit_plan_answers', locals: { plan: nil, phase: @phase, readonly: true, question_guidance: {} } %>
  </div>
</div>