<div class="row">
  <div class="col-md-3 bold mb-2">
    <%= _('Order')%>
  </div>
  <div class="col-md-3 mb-2">
    <%= f.label(:text, _('Text'), class: "form-label") %>
  </div>
  <div class="col-md-3 bold mb-2">
    <%= _('Default')%>
  </div>
  <div class="col-md-3">
  </div>
</div>
<% if q.question_options.count == 0 %>
  <% 2.times { q.question_options.build } %>
  <% q.question_options.each {|qopt| qopt.id=0} %>
<% end %>
<% i = 0 %>
<% q.question_options.to_a.sort_by{|op| op['number']}.each do |options_q| %>
  <%= f.fields_for :question_options, options_q do |op| %>
    <% i = i + 1 %>
    <% options_q.number = i %>
    <div class="row mb-2" data-attribute="question_option">
      <div class="col-md-3 pe-2">
        <%= op.number_field :number, min: 1, class: 'form-control', readonly: true %>
      </div>
      <div class="col-md-3 pe-2">
        <% if i == 1 %>
          <%= op.text_field :text, as: :string, class: 'form-control', spellcheck: true, 'aria-required': true %>
        <% else %>
          <%= op.text_field :text, as: :string, class: 'form-control', spellcheck: true %>
        <% end %>
      </div>
      <div class="col-md-3 pe-2">
        <%= op.check_box :is_default %>
      </div>
      <% if i > 1 %>
        <div class="col-md-3">
          <%= op.hidden_field :_destroy, class: 'destroy-question-option' %>
          <%= link_to _('Remove'), org_admin_question_option_path(options_q), method: :delete %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="row">
  <div class="col-md-12 mt-2">
    <a href="#" class="new_question_option"><%= _('Add option') %></a>
  </div>
</div>
