<div class="static-page">
  <h1><%= _('Editorial Board') %></h1>

  <p><%= _("The DMP Tool Editorial Board ensures that the tool provides current information about grant requirements and corresponding guidance. Our Board includes representation across disciplines with varied areas of expertise from a wide range of institutions committed to supporting effective research data management.") %></p>
  <br>

  <div id="editorial-board">
    <div class="row">
      <div class="col-md-2"><%= image_tag "HeatherBarnes.jpg", alt: 'Heather Barnes photo' %></div>
      <div class="col-md-10 board-bio">
        <strong>Heather L Barnes, PhD</strong><br>Digital Curation Librarian, Wake Forest University
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "Raj_Kumar_Bhardwaj.jpg", alt: 'Raj Kumar Bhardwaj photo' %></div>
      <div class="col-md-10 board-bio">
        <strong>Raj Kumar Bhardwaj, PhD</strong><br>Librarian, St Stephen's College, University of Delhi, India
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "Renata_Curty.JPG", alt: 'Renata G. Curty photo' %></div>
      <div class="col-md-10 board-bio">
        <strong>Renata G. Curty, PhD</strong><br>Social Sciences Data Curator, University of California, Santa Barbara
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "doty-jen-resized.jpg", alt: 'Jennifer Doty photo' %></div>
      <div class="col-md-10 board-bio">
        <strong>Jennifer Doty</strong><br>Research Data Librarian, Emory University
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "ExnerHeadshot.JPG", alt: 'Nina Exner photo' %></div>
      <div class="col-md-10 board-bio">
        <strong>Nina Exner</strong><br>Research Data Librarian, Virginia Commonwealth University
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "gunia.jpg", alt: 'Betsy Gunia photo' %></div>
      <div class="col-md-10 board-bio">
        <strong>Betsy Gunia</strong><br>Data Services, Johns Hopkins University
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "jhermer.jpg", alt: 'Janice Hermer photo' %></div>
      <div class="col-md-10 board-bio">
        <strong>Janice Hermer</strong><br>Health Sciences Liaison Librarian, Arizona State University
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "Megan_O_Donnell.jpg", alt: 'Megan O\'Donnell photo' %></div>
      <div class="col-md-10 board-bio">
        <strong>Megan O'Donnell</strong><br>Data Services Librarian, Iowa State University
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "rotsuji-portrait.jpg", alt: 'Reid Otsuji photo' %></div>
      <div class="col-md-10 board-bio">
        <strong>Reid Otsuji</strong><br>Data Curation Specialist Librarian University of California, San Diego
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "ratajeski.jpg", alt: 'Melissa Ratajeski photo' %></div>
      <div class="col-md-10 board-bio">
        <strong>Melissa Ratajeski</strong><br>Assistant Director for Data and Publishing Services;
        IACUC Liaison, Health Sciences Library System, University of Pittsburgh
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "Sackmann_Anna_hr.jpg", alt: 'Anna Sackmann photo' %></div>
      <div class="col-md-10 board-bio">
        <strong>Anna Sackmann</strong><br>Science Data & Engineering Libraria, University of California, Berkeley
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"><%= image_tag "wham.jpg", alt: 'Briana Wham photo' %></div>
      <div class="col-md-10 board-bio">
        <strong>Briana Wham</strong><br>Research Data Librarian, STEM, Penn State University
      </div>
    </div>
  </div>

</div>
