<div class="static-page">
  <h1><%= _('Help') %></h1>

  <p>
  <%= _('The DMP Tool is a free, open-source, application that helps researchers create data management plans. The tool provides a click-through wizard for creating a plan that complies with funder requirements. It also has direct links to funder websites, help text for answering questions, and data management best practices resources.') %>
  </p>
  <ul>
    <li><a href="<%= quick_start_guide_path %>"><%= _('Help for Researchers') %></a></li>
    <li><a href="https://github.com/CDLUC3/dmptool/wiki/Help-for-Administrators"><%= _('Help for DMP Tool Administrators') %></a></li>
    <li><a href="<%= general_guidance_path %>"><%= _('Data management guidance') %></a></li>
  </ul>
</div>
