<script>
	$(function(){
	  var hash = window.location.hash;
	  hash && $('ul.nav a[href="' + hash + '"]').tab('show');

	  $('.nav-tabs a').click(function (e) {
	    $(this).tab('show');
	    var scrollmem = $('body').scrollTop();
	    window.location.hash = this.hash;
	    $('html,body').scrollTop(scrollmem);
	  });
	});

</script>

<h1>
	<%= t('help_page.title')%>
</h1>

<div id="project-tabs" class="nav-project-tabs">
	<ul class="nav nav-tabs" data-tabs="tabs">
		<li class="active"><%= link_to t('help_page.tab_1'), "#ToolHelp", :data => { :toggle => "tab"} %></li>
        <li><%= link_to t('help_page.tab_2'), "#PlanningHelp", :data => { :toggle => "tab"} %></li>
	</ul>
</div>
<div class="dmp_details_body">
	<div id="my-tab-content" class="tab-content">
		<div class="tab-pane active" id="ToolHelp">
			<%= raw t('help_page.body_text_tab_1_html')%>
		</div>
		<div class="tab-pane" id="PlanningHelp">
			<%= raw t('help_page.body_text_tab_2_html')%>
		</div>
	</div>
</div>
