<div class="static-page">
  <h1><%= _('Join Us') %></h1>

  <p class="join-us-reasons">
    <%= _('The DMP Tool is free to use for both individual users and organizational accounts. Participating institutions can incorporate information about their resources and services to aid researchers. Additionally, DMP Tool administrators can provide customized help and suggest answers to the funder templates available in the tool.') %>
    <br><br>
    <%= _('DMP Tool participants include academic institutions, medical centers, research labs, nonprofits, and other groups that use the DMP Tool to create best practice data management plans.') %>
    <br><br>
    <%= _('Our community of participating organizations helps to sustain and support the DMP Tool in the following ways:') %>
  </p>
  <ul>
    <li><%= _('Customize the tool with resources, help text, suggested answers, or other information') %></li>
    <li><%= _('Contribute to the maintenance and enhancement of the DMP Tool codebase') %></li>
    <li>
      <%= _('Help ensure that the DMP Tool maintains its relevance and utility by notifying the DMP Tool Helpdesk when:') %>
      <ul>
        <li><%= _('Funders release new requirements that are not reflected in the tool') %></li>
        <li><%= _('Errors, mistakes, or misinformation are discovered in the tool') %></li>
        <li><%= _('The tool\'s functionality is compromised (i.e., slow response times, poor performance, or software bugs)') %></li>
      </ul>
    </li>
  </ul>

  <p>
    <br>
    <a href="<%= contact_us_path %>" class="btn btn-primary"><%= _('Sign up as a participating organization.') %></a>
  </p>
</div>