<%
landscape_logos = [
  {
    background: false,
    description: 'blue, landscape, without tagline',
    pdf: 'landscape/DMP_Tool.pdf',
    png: 'landscape/DMP_Tool.png',
    svg: 'landscape/DMP_Tool.svg'
  },
  {
    background: true,
    description: 'white, landscape, without tagline',
    pdf: 'landscape/DMP_Tool_White.pdf',
    png: 'landscape/DMP_Tool_White.png',
    svg: 'landscape/DMP_Tool_White.svg'
  },
  {
    background: false,
    description: 'black, landscape, without tagline',
    pdf: 'landscape/DMP_Tool_Black.pdf',
    png: 'landscape/DMP_Tool_Black.png',
    svg: 'landscape/DMP_Tool_Black.svg'
  },
  {
    background: false,
    description: 'blue, landscape, with tagline',
    pdf: 'landscape/DMP_Tool_stapline.pdf',
    png: 'landscape/DMP_Tool_stapline.png',
    svg: 'landscape/DMP_Tool_strapline.svg'
  },
  {
    background: true,
    description: 'white, landscape, with tagline',
    pdf: 'landscape/DMP_Tool_White_strapline.pdf',
    png: 'landscape/DMP_Tool_White_strapline.png',
    svg: 'landscape/DMP_Tool_White_strapline.svg'
  },
  {
    background: false,
    description: 'black, landscape, with tagline',
    pdf: 'landscape/DMP_Tool_Black_strapline.pdf',
    png: 'landscape/DMP_Tool_Black_strapline.png',
    svg: 'landscape/DMP_Tool_Black_strapline.svg'
  }
]

portrait_logos = [
  {
    background: false,
    description: 'blue, portrait, without tagline',
    pdf: 'portrait/DMP_Tool.pdf',
    png: 'portrait/DMP_Tool.png',
    svg: 'portrait/DMP_Tool.svg'
  },
  {
    background: true,
    description: 'white, portrait, without tagline',
    pdf: 'portrait/DMP_Tool_White.pdf',
    png: 'portrait/DMP_Tool_White.png',
    svg: 'portrait/DMP_Tool_White.svg'
  },
  {
    background: false,
    description: 'black, portrait, without tagline',
    pdf: 'portrait/DMP_Tool_Black.pdf',
    png: 'portrait/DMP_Tool_Black.png',
    svg: 'portrait/DMP_Tool_Black.svg'
  },
  {
    background: false,
    description: 'blue, portrait, with tagline',
    pdf: 'portrait/DMP_Tool_strapline.pdf',
    png: 'portrait/DMP_Tool_strapline.png',
    svg: 'portrait/DMP_Tool_strapline.svg'
  },
  {
    background: true,
    description: 'white, portrait, with tagline',
    pdf: 'portrait/DMP_Tool_White_Strapline.pdf',
    png: 'portrait/DMP_Tool_White_Strapline.png',
    svg: 'portrait/DMP_Tool_White_Strapline.svg'
  },
  {
    background: false,
    description: 'black, portrait, with tagline',
    pdf: 'portrait/DMP_Tool_Black_strapline.pdf',
    png: 'portrait/DMP_Tool_Black_strapline.png',
    svg: 'portrait/DMP_Tool_Black_strapline.svg'
  }
]
%>

<div class="static-page">
  <h1><%= _('Promote the DMP Tool') %></h1>

  <p><%= _('Help spread the word about the DMP Tool! Use the DMP Tool logos below when publicizing the tool. All are available under a CC-Zero license.') %></p>

  <h2><%= _('DMP Tool logos - landscape orientation') %></h2>
  <div class="promotion-landscape">
    <% cntr = 0 %>
    <% landscape_logos.each do |hash| %>
      <div class="promotion-logo <%= cntr == 2 ? 'separator' : '' %>">
        <img class="promotion-logo <%= hash[:background] ? 'white' : '' %>"
             alt="DMP Tool logo <%= hash[:description] %>"
             src="https://raw.githubusercontent.com/CDLUC3/dmptool/main/docs/logos/<%= hash[:png] %>" />
        <p><%= hash[:description] %></p>
        <a target="_blank" aria-text="Download DMP Tool logo <%= hash[:description] %> as SVG"
           href="https://raw.githubusercontent.com/CDLUC3/dmptool/main/docs/logos/<%= hash[:svg] %>">SVG</a>
        <a target="_blank" aria-text="Download DMP Tool logo <%= hash[:description] %> as PNG"
           href="https://raw.githubusercontent.com/CDLUC3/dmptool/main/docs/logos/<%= hash[:png] %>">PNG</a>
        <a target="_blank" aria-text="Download DMP Tool logo <%= hash[:description] %> as PDF"
           href="https://raw.githubusercontent.com/CDLUC3/dmptool/main/docs/logos/<%= hash[:pdf] %>">PDF</a>
      </div>
      <% cntr += 1 %>
    <% end %>
  </div>

  <h2><%= _('DMP Tool logos - portrait orientation') %></h2>
  <div class="promotion-portrait">
    <% cntr = 0 %>
    <% portrait_logos.each do |hash| %>
      <div class="promotion-logo <%= cntr == 2 ? 'separator' : '' %>">
        <img class="promotion-logo <%= hash[:background] ? 'white' : '' %>"
             alt="DMP Tool logo <%= hash[:description] %>"
             src="https://raw.githubusercontent.com/CDLUC3/dmptool/main/docs/logos/<%= hash[:png] %>" />
        <p><%= hash[:description] %></p>
        <a target="_blank" aria-text="Download DMP Tool logo <%= hash[:description] %> as SVG"
           href="https://raw.githubusercontent.com/CDLUC3/dmptool/main/docs/logos/<%= hash[:svg] %>">SVG</a>
        <a target="_blank" aria-text="Download DMP Tool logo <%= hash[:description] %> as PNG"
           href="https://raw.githubusercontent.com/CDLUC3/dmptool/main/docs/logos/<%= hash[:png] %>">PNG</a>
        <a target="_blank" aria-text="Download DMP Tool logo <%= hash[:description] %> as PDF"
           href="https://raw.githubusercontent.com/CDLUC3/dmptool/main/docs/logos/<%= hash[:pdf] %>">PDF</a>
      </div>
      <% cntr += 1 %>
    <% end %>
  </div>
</div>
