<div class="static-page">
  <h1><%= _('Quick start guide for reseachers') %></h1>

  <h2><%= _('Contents') %></h2>

  <ul class="toc">
    <li><a href="#who-can-use-the-tool"><%= _('Who can use the tool?') %></a></li>
    <li><a href="#overview-of-my-dashboard"><%= _('Overview of My dashboard') %></a></li>
    <li><a href="#how-do-i-create-a-data-management-plan"><%= _('How do I create a data management plan?') %></a></li>
    <li><a href="#how-do-i-get-help-from-someone-at-my-institution"><%= _('How do I get help from someone at my institution?') %></a></li>
  </ul>
  <hr>

  <h2 id="who-can-use-the-tool"><%= _('Who can use the tool?') %></h2>

  <p><%= sanitize _('DMP Tool is free for anyone to create data management plans. As a user, you can:<ul><li>Create your own plans.</li><li>Co-author a plan with collaborators.</li><li> If you are a researcher from one of the <a href="%{participating_url}">participating institutions</a>, you can log in using your institutional credentials. You may then be presented with institution-specific guidance and have the option to get feedback from local data experts.</li></ul>') % { participating_url: join_us_path } %></p>
  <hr>

  <h2 id="overview-of-my-dashboard"><%= _('Overview of My Dashboard') %></h2>

  <p><%= _('When you log in, you will be directed to “My Dashboard.” From here, you can create, edit, share, download, copy, or remove any of your plans. You will also see plans that have been shared with you by others.') %></p>
  <p><%= sanitize _('If others at your institution/organization have chosen to share their plans internally, you will see a second table of organizational plans. This allows you to download a PDF and view their plans as samples or discover new research data. Additional samples are available in the list of <a href="%{public_plans_url}">public plans</a>.') % { public_plans_url: public_plans_path } %></p>
  <img src="https://github.com/CDLUC3/dmptool/blob/f052f450e4f9e64af9a28c3a629c929d4476c7a3/docs/quickstartguide/dashboard.png?raw=true" alt="Screenshot of the My Dashboard page" style="width: 80%; margin-left: 45px;" />

  <hr>

  <h2 id="how-do-i-create-a-data-management-plan"><%= _('How do I create a data management plan?') %></h2>

  <h3><%= _("Start a plan") %></h3>

  <p><%= _('Click the “Create plan” button on My dashboard or the top menu to create a plan. This will take you to a wizard that helps you select the appropriate template:') %></p>
  <img src="https://github.com/CDLUC3/dmptool/blob/f052f450e4f9e64af9a28c3a629c929d4476c7a3/docs/quickstartguide/create_plan.png?raw=true" alt="Screenshot of the Create plan page" style="width: 70%; margin-left: 45px;" />

  <p><%= sanitize _('<ol type="1"><li>Enter a title for your research project. If applying for funding, use the project title as it appears in the proposal.</li><li>Select the primary research organization. This field will be pre-populated if you are associated with a participating institution/organization. You have the option to clear the field and select another organization from the list. You will be presented with institution-specific templates and guidance based on your selection. You can also check the box “No organization is associated with this plan.”</li><li>Select the primary funding organization. If you must include a data management plan as part of a grant proposal, select your funder from the list. You may be presented with a secondary dropdown menu if your funder has different requirements for specific programs (e.g., NSF, DOE). See the complete list of <a href="%<public_templates_url>s">funder requirements</a> supported by DMP Tool. If your funder is not on the list or you are not applying for a grant, check the box for “No funder associated with this plan;” this selection will provide you with a generic template.</li></ol>') % { public_templates_url: public_templates_path } %></p>

  <p><%= _('If you are just testing the tool or taking a course on data management, check the box “Mock project for test, practice, or educational purposes.” Marking your plans as a test will be reflected in usage statistics and prevent public or organizational sharing; this allows other users to find actual sample plans more easily.') %></p>

  <p><%= _('Once you have made your selections, click “Create plan.”') %></p>

  <p><%= _('You can also copy an existing plan (from the Actions menu next to the plan on My Dashboard) and update it for a new research project and grant proposal.') %></p>

  <h3><%= _('What are the different features of the DMP Tool?') %></h3>

  <p><%= sanitize _('The tabbed interface allows you to navigate through different functions when editing your plan.<ul><li><strong>Project details:</strong> Includes basic administrative details. The right-hand side of the page is where you can select up to 6 organizations to view additional guidance as you write your plan. The more information you provide here, the more valuable your plan will be to you and others in the future (e.g., for data reuse and proper attribution).</li><li><strong>Collaborators:</strong> Here, you list the project’s Principal Investigator(s) and those responsible for data management. The DMP Collaborators section is where you can invite specific people to read, edit, or administer your plan. Invitees will receive an email notification that they have access to this plan.</li><li><strong>Write Plan:</strong> There may be more than one tab if your funder or institution asks different sets of questions at different stages, e.g., a grant application and post-award. Guidance and comments are displayed in the right-hand panel beside each question. If you need more guidance or find it is too much, you can make adjustments on the “Project details” tab.</li><li><strong>Research Outputs:</strong> Generate a list of your anticipated research output(s) that are described in your DMP. You can create as many entries as needed.</li><li><strong>Finalize:</strong> This tab has two important functions.<ol><li>You can set your plan visibility. By default, all new and test plans will be set to Private visibility. Public and Organizational visibility are intended for finished plans. You must answer at least 50% of the questions to enable these options.</li><li>Register your plan and add it to ORCID. This is where you can generate a DMP ID for your data management plan. To register your plan you must have completed the following:<ul><li>answered at least 50% of questions</li><li>identified your funder</li><li>linked your DMP Tool account to your ORCID via your Third-party applications page</li><li>The plan is not a mock project for testing, practice, or educational purposes.</li></ul></li></ol></li><li><strong>Download:</strong> This allows you to download your plan in various formats. You can adjust the formatting (font type, size, and margins) for PDF files, which may be helpful if working to page limits (e.g., NSF and NIH data management plans are limited to 2 pages).</li><li><strong>Finalize:</strong> This tab has two important functions.<ol><li>You can set your plan visibility. By default, all new and test plans will be set to Private visibility. Public and Organizational visibility are intended for finished plans. You must answer at least 50% of the questions to enable these options.</li><li>Register your plan and add it to ORCID. This is where you can generate a DMP ID for your data management plan. To register your plan you must have completed the following:<ul><li>answered at least 50% of questions</li><li>identified your funder</li><li>linked your DMP Tool account to your ORCID via your Third-party applications page</li><li>The plan is not a mock project for testing, practice, or educational purposes.</li></ul></li></ol></li></ul>') %></p>

  <h3><%= _('Share plans') %></h3>

  <p><%= _('You can share your plan with colleagues in the Collaborators tab. Input the email address(es) of any collaborators you would like to invite to read or edit your plan. Set their permissions via the radio buttons and click to "Add collaborator." Adjust permissions or remove collaborators at any time via the drop-down options in the table.') %></p>

  <p><%= sanitize(_('The "Finalize" tab is where you can set your plan visibility.<ul><li>Private: restricted to you and your collaborators.</li><li>Organizational: anyone in your organization can view your plan.</li><li>Public: anyone can view your plan in the <a href="%<public_plans_path>s">public plans</a> list.</li></ul>') % { public_plans_path: public_plans_path }) %></p>

  <p><%= _('By default, all new and test plans will be set to Private visibility. Public and Organizational visibility are intended for finished plans. You must answer at least 50% of the questions to enable these options.') %></p>
  <hr>

  <h2 id="how-do-i-get-help-from-someone-at-my-institution"><%= _('How do I get help from someone at my institution?') %></h2>

  <p><%= _('After logging in, you will find an email address and URL for help at the top of the page.') %></p>

  <p><%= _('There may also be an option to request feedback on your plan. This is available when research support staff at your institution have enabled the service. Click on “Request feedback,” and your local administrators will be alerted to your request. Their comments will be visible in the “Comments” field adjacent to each question. You will receive an email notification when an administrator provides feedback.') %></p>
</div>
