<%# locals: { f, field_values, readonly, field_label, field_properties, field_name, ttip } %>
<% field_label = field_label || 'No label defined' %>
<% ttip ||= nil %>
<% field_values ||= [] %>
<% length = field_values.length %>
<div class="col-md-12">
  <%= f.label field_name, field_label, class: 'control-label', 
              "data-toggle": "tooltip", title: ttip %>
</div>

<% field_values.each_with_index do |value, idx| %>
  <% case field_properties["type"] %>
  <% when "string" %>
    <% if field_properties['format'].nil?%>
      <%= create_text_field(f, value, field_name, field_label, nil, is_multiple: true, readonly: readonly, index: idx, ttip: nil) %>
    <% elsif field_properties['format'] == 'date' %>
      <%= create_date_field(f, value, field_name, field_label, nil, is_multiple: true, readonly: readonly, index: idx, ttip: nil) %>
    <% elsif field_properties['format'] == 'uri' %>
    <%= create_url_field(f, value, field_name, field_label, nil, is_multiple: true, readonly: readonly, index: idx, ttip: nil) %>
    <% elsif field_properties['format'] == 'email' %>
      <%= create_email_field(f, value, field_name, field_label, nil, is_multiple: true, readonly: readonly, index: idx, ttip: nil) %>
    <%end%>
  <% when "integer" %>
    <%=  create_number_field(f, value, field_name, field_label, minimum, maximum, nil, is_multiple: true, readonly: readonly, index: idx)%>
  <% when "boolean" %>
    <%=  create_checkbox_field(f, value, field_name, field_label, nil)%>
  <% end %>
<% end %>

<% if field_values.length == 0 %>
  <% case field_properties["type"] %>
  <% when "string" %>
    <% if field_properties['format'].nil?%>
      <%= create_text_field(f, nil, field_name, field_label, nil, is_multiple: true, readonly: readonly, index: length, ttip: nil) %>
    <% elsif field_properties['format'] == 'date' %>
      <%= create_date_field(f, nil, field_name, field_label, nil, is_multiple: true, readonly: readonly, index: length, ttip: nil) %>
    <% elsif field_properties['format'] == 'uri' %>
      <%= create_url_field(f, nil, field_name, field_label, nil, is_multiple: true, readonly: readonly, index: length, ttip: nil) %>
    <% elsif field_properties['format'] == 'email' %>
      <%= create_email_field(f, nil, field_name, field_label, nil, is_multiple: true, readonly: readonly, index: length, ttip: nil) %>
    <%end%>
  <% when "integer" %>
    <%=  create_number_field(f, nil, field_name, field_label, nil, minimum, maximum, is_multiple: true, readonly: readonly, index: length)%>
  <% when "boolean" %>
    <%=  create_checkbox_field(f, nil, field_name, field_label, nil)%>
  <% end %>
<% end %>