<%# locals: { f, field_label, field_id, field_name, classname, field_name, field_id, required, readonly, validation, ttip, example } %>
<% field_label = field_label || 'No label defined' %>
<% field_value ||= default_value %>

<div class="col-md-12">
  <%= f.label field_id, field_label, class: 'control-label' %>
</div>

<div class="col-md-12 dynamic-field" data-toggle="tooltip" title="<%= ttip %>">
  <% if readonly %>
    <div class="display-readonly-textarea-content">
      <%= sanitize("<p>#{field_value}</p>") %>
    </div>
  <% else %>
    <%= f.text_area field_name, 
            value: field_value, 
            class: "form-control #{field_class} tinymce tinymce_answer",
            type: input_type,
            id: field_id %>
  <% end %>
</div>

<% if example.present? %>
  <div class="col-md-12">
    <div class="panel panel-default example-answer">
      <span class="label label-default example-answer-link" 
            data-toggle="collapse" 
            data-target="<%= "#example-#{field_id}" %>">
        <%=_('Example')%>
        <i class="more-less fas fa-plus small"></i>
      </span>
      <div class="panel-body collapse" id="<%= "example-#{field_id}"  %>">
        <%= sanitize example %>
      </div>
    </div>
  </div>
<% end %>
