<!--add suggested answer. question is passed as an argument-->
<%= form_for :suggested_answer, url: admin_create_suggested_answer_path do |f| %>
  <%= f.hidden_field :org_id, value: current_user.org_id %>
  <%= f.hidden_field :question_id, value: question.id %>

  <table class="dmp_details_table phase">
    <tr>
      <td class="first_template"><%= _('Suggested answer/ Example')%></td>
      <td>
        <ul>
          <li><%= f.select :is_example, {_('Example of answer') => true, _('Suggested answer') => false} %></li>
          <li><%= f.text_area :text, rows: 5 %>
          </li>
        </ul>
      </td>
    </tr>
  </table>
  <br/>

  <!-- submit buttons -->
  <div class="move_2_right">
    <%= f.submit _('Save'), class: "btn btn-primary" %>
    <%= link_to _('Cancel'), "#", id: "cancel_suugested_answer", class: "btn cancel" %>
  </div>
<%end%>
