<!--edit suggested answer. question is passed as an argument-->
<%= form_for(suggested_answer, url: admin_update_suggested_answer_path(suggested_answer), html: { method: :put}) do |f| %>
  <%= f.hidden_field :org_id, value: current_user.org_id %>

  <table class="dmp_details_table phase">
    <tr>
      <td class="first_template"><%= _('Suggested answer/ Example')%></td>
      <td>
        <ul>
          <li><%= f.select :is_example, {_('Example of answer') => true, _('Suggested answer') => false} %></li>
          <li><%= f.text_area :text, rows: 5 %></li>
        </ul>
      </td>
    </tr>
  </table>
  <br/>

  <!-- submit buttons -->
  <div class="move_2_right">
    <%= f.submit _('Save'), class: 'btn btn-primary' %>
    <%= link_to _('Delete'), admin_destroy_suggested_answer_path(id: suggested_answer.id),
      confirm: _("You are about to delete a suggested answer/ example for '%{question_text}'. Are you sure?") % { :question_text => question.text }, method: :delete, class: "btn btn-primary"%>
    <%= hidden_field_tag :question_id, question.id, class: "question_id" %>
    <%= link_to _('Cancel'), '#', class: 'btn cancel cancel_edit_suggested_answer' %>
  </div>
<% end %>
