<!-- footer container -->
<footer class="footer">
    <div class="left_side_footer">
    	<div class="first_row">
        	<ul class="footer-links">	
	            <li><a href="/contact-us"><%= t("contact_page.title") %></a></li>
	            <li class="muted">|</li>
	            <li><a href="/terms"><%= t("terms_page.title") %></a></li>
	            
       		</ul>
       	</div>
       	<div class="second_row">
    		<p id="dcc_link">&copy; 2004 - <%= Time.now.year %><%= link_to " Digital Curation Centre (DCC)", "http://www.dcc.ac.uk"%>
       		</p>
    	</div>
    </div>	
   	<div class="right_side_footer">
   		<p><%= link_to( image_tag("dcc_logo.png", :class => "footer_logo"), "http://www.dcc.ac.uk/", :id => "footer_right_dcc")%>
   			<%= link_to( image_tag("2013_Jisc_Logo_RGB72.png", :class => "footer_logo"), "http://www.jisc.ac.uk/", :id => "footer_right_jisc")%></p>
   	</div>	
    
    
</footer>

<% if !user_signed_in? then %>
	<div id="header-login-form" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3><%= t("helpers.sign_in")%></h3>
		</div>
		<div class="modal-body">
			<%= render :partial => "shared/login_form" %>
		</div>
	</div>
	<div id="header-register-form" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3><%= t("helpers.sign_up")%></h3>
		</div>
		<div class="modal-body">
			<%= render :partial => "shared/register_form", locals: {extended: false} %>
		</div>
	</div>

<% end %>
