<% 
  # Override the default Rails route helper for the contact_us page IF an alternate contact_us url was defined
  # in the branding config file
  contact_us = Rails.application.config.branding[:organisation][:contact_us_url] || contact_us_path
%>

<!-- footer container -->
<div class="navbar-inverse" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="<%= about_us_path %>"><%= _('About') %></a></li>
      <li><a href="<%= terms_path %>"><%= _('Terms of use and Privacy') %></a></li>
      <li><a href="http://www.ucop.edu/electronic-accessibility/initiative/policy.html"><%= _('Accessibility') %></a></li>
      <li><a href="https://github.com/DMPRoadmap/roadmap"><%= _('Github') %></a></li>
      <li><a href="<%= contact_us %>"><%= _('Contact us') %></a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="fa fa-twitter-square">&nbsp;</span></a></li>
      <li><a href="#"><span class="fa fa-rss-square">&nbsp;</span></a></li>
    </ul>
  </div>
</div>
<div class="navbar-inverse" role="navigation">
  <div class="container-fluid">
    <p class="navbar-text">
      <%= _('DMPTool is a service of the University of California Curation Center of the California Digital Library') %>
      <br>
      <%= _('Copyright 2010-%{current_year} The Regents of the University of California') % {current_year: Date.today.year} %>
    </p>
    
    <ul class="nav navbar-nav navbar-right">
      <li><%= image_tag('DMPTool_logo_blue_shades_v1b3b_no_tag.svg', class: 'navbar-text navbar-right', alt: 'DMPTool') %></li>
    </ul>
  </div>
</div>
