<!-- footer container -->
<div class="footer-left">
  <div>
    <ul class="footer-links">  
      <li><a href="<%= contact_us_path %>"><%= _('Contact us') %></a></li>
      <li class="muted">|</li>
      <li><a href="<%= terms_path %>"><%= _('Terms of use') %></a></li>
    </ul>
  </div>
  <p>&copy; 2004 - <%= Time.now.year %><%= link_to " #{Rails.configuration.branding[:organisation][:copywrite_name]}", "#{Rails.configuration.branding[:organisation][:url]}"%></p>
</div>


<div class="footer-right">
  <p><%= link_to( image_tag("dcc_logo.png"), "http://www.dcc.ac.uk/", title: "Digital Curation Centre", ) %> 
<%= link_to( image_tag("uc3_logo.jpg", class: "footer_logo"), "http://www.cdlib.org/uc3/", title: "California Digital Library", id: "footer_right_uc3", ) %></p>
</div>  
