<!-- footer container (bootstrap 2 column layout)  -->
<div class="col-md-8">
  <div role="navigation">
    <ul class="unstyled list-inline">
      <li><a href="<%= contact_us_path %>"><%= _('Contact us') %></a></li>
      <li>|</li>
      <li><a href="<%= terms_path %>"><%= _('Terms of use') %></a></li>
    </ul>
  </div>

  <p>&copy; 2004 - <%= Time.now.year %><%= link_to " #{Rails.configuration.branding[:organisation][:name]}", "#{Rails.configuration.branding[:organisation][:url]}"%></p>
</div>

<div class="col-md-4">
  <p class="pull-right">
    <%= link_to( image_tag("dcc_logo.png", alt: 'Digital Curation Centre'), "http://www.dcc.ac.uk/", title: "Digital Curation Centre") %><%= link_to( image_tag("uc3_logo.jpg", class: "footer_logo", alt: 'University of California Curation Center'),"http://www.cdlib.org/uc3/", title: "University of California Curation Center", id: "footer_right_uc3", ) %>
  </p>
</div>
