<!-- header information (bootstrap 3 column layout) -->
<div class="main-nav">
  <nav id="app-navbar" class="navbar nabar-fixed-top">
    <div class="container-fluid" >
      <!-- Brand and toggle get grouped for better mobile display -->
      <div id="account-nav" class="row">
        <div class="col-md-12">
          <ul id="sign-in-menu" class="nav navbar-nav navbar-right pull-right">
            <%= render "layouts/signin_signout" %>
          </ul>
        </div>
      </div>
      <div id="branding-nav" class="row">
        <% if user_signed_in? %>
          <div class="col-md-9 inset-nav">
            <div class="row">
              <div class="col-md-3 centered">
                <% if current_user.org.present? && current_user.org.logo.present? %>
                  <%= link_to(image_tag(current_user.org.logo.thumb('100x100%').url,
                                        alt: current_user.org.name,
                                        class: "org-logo",
                                        title: current_user.org.name),
                              current_user.org.target_url) %>
                <% else %>
                  &nbsp;
                <% end %>
              </div>
              <div class="col-md-5 org-name-nav text-center">
                <h3 id="banner-org-name"><%= current_user.org.name %></h3>
              </div>
              <div class="col-md-4 centered" id="org-links">
                <% if current_user.org.present? && !current_user.org.is_other? %>
                  <ul class="list-unstyled">
                    <% if current_user.org.links.present? && current_user.org.links['org'].present? %>
                      <% current_user.org.links['org'].each_with_index do |link, i| %>
                        <% if !link.blank? && i <= MAX_NUMBER_LINKS_ORG %>
                          <li class="org-links">
                            <%= link_to link['text'], link['link'], target: '_blank', class: 'org-a' %>
                          </li>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if !current_user.org.contact_email.blank? %>
                      <li>
                        <i class="fa fa-envelope" aria-hidden="true">&nbsp;</i>
                        <%= mail_to current_user.org.contact_email, current_user.org.contact_name, class: 'org-a' %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="col-md-12">
            <%= link_to(image_tag("DMPTool_logo_blue_shades_v1b3b.svg",
                                  alt: "#{Rails.configuration.branding[:application][:name]} #{_('logo')}",
                                  class: "app-logo",
                                  title: Rails.configuration.branding[:application][:name]),
                        root_path) %>
          </div>
        <% end %>
      </div>
      <div id="main-menu" class="row">
        <div class="col-md-12">
          <ul class="nav navbar-nav">
            <li <%= 'class=active' if isActivePage(root_path) %>>
              <%= link_to _('Home'), root_path %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= ('Learn') %> <span class="fa fa-sort-desc" aria-hidden="true"></span>
              </a>
              <ul id="explore-menu" class="dropdown-menu">
                <li>
                  <div class="row-fluid">
                    <ul class="nav col-md-4">
                      <li <%= 'class=active' if isActivePage(public_plans_path) %>>
                        <%= link_to _('Public DMPs'), public_plans_path %>
                      </li>
                      <li <%= 'class=active' if isActivePage(public_templates_path) %>>
                        <%= link_to _('DMP Templates'), public_templates_path %>
                      </li>
                      <li><a href="<%= faq_path %>"><%= _('General FAQs') %></a></li>
                   </ul>
                   <ul class="nav col-md-8">
                     <li><a href="<%= researchers_path %>"><%= _('For Researchers') %></a>
                       <ul class="nav indented">
                         <li><a href="<%= general_guidance_path %>"><%= _('Data Management General Guidance') %></a></li>
                         <li><a href="<%= help_path %>"><%= _('Quick Start Guide') %></a></li>
                       </ul>
                     </li>
                     <li><a href="<%= administrators_path %>"><%= _('For Administrators') %></a></li>
                     <li><a href="<%= developers_path %>"><%= _('For Developers') %></a></li>
                   </ul>
                 </div>
                </li>
              </ul>
            </li>
            <li <%= 'class=active' if isActivePage(about_us_path) %>>
              <%= link_to _('News and Media'), news_media_path %>
            </li>

            <% if user_signed_in? %>
              <li class="<%= ' active' if isActivePage(root_path) %>">
                <%= link_to _('My Dashboard'), plans_path %>
              </li>
              <li <%= 'class=active' if isActivePage(new_plan_path) %>>
                <%= link_to _('Create plan'), new_plan_path %>
              </li>

              <% if current_user.can_org_admin? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Admin Features <span class="fa fa-sort-desc" aria-hidden="true"></span>
                  </a>
                  <ul id="admin-menu" class="dropdown-menu">
                    <li>
                      <div class="row-fluid">
                        <ul class="nav col-md-4">
                          <% if current_user.can_modify_guidance? %>
                            <li <%= 'class=active' if isActivePage(admin_index_guidance_path(current_user.org_id)) %>>
                              <%= link_to _('Guidance'), admin_index_guidance_path(current_user.org_id) %>
                            </li>
                          <% end %>
                          <% if current_user.can_modify_org_details? %>
                            <li <%= 'class=active' if isActivePage(admin_edit_org_path(current_user.org_id)) %>>
                              <%= link_to (current_user.can_super_admin? ? _('Organizations') : _('Organizations')), admin_edit_org_path(current_user.org_id) %>
                            </li>
                          <% end %>
                          <li <%= 'class=active' if isActivePage(org_admin_plans_path) %>>
                            <%= link_to _('Plans'), org_admin_plans_path %>
                          </li>
                          <% if current_user.can_modify_templates? %>
                            <li <%= 'class=active' if isActivePage(org_admin_templates_path) %>>
                              <%= link_to _('Templates'), org_admin_templates_path %>
                            </li>
                          <% end %>
                          <% if current_user.can_super_admin? %>
                            <li <%= 'class=active' if isActivePage(super_admin_themes_path) %>>
                              <%= link_to(_('Themes'), super_admin_themes_path) %>
                            </li>
                          <% end %>
                          <% if current_user.can_grant_permissions? %>
                            <li <%= 'class=active' if isActivePage(admin_index_users_path) %>>
                              <%= link_to _('Users'), admin_index_users_path, class: 'main_nav_last_li' %>
                            </li>
                          <% end %>
                       </ul>
                     </div>
                    </li>
                  </ul>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
