<nav id="app-navbar" class="navbar nabar-fixed-top">
  <div class="container-fluid" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="row">
      
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="main-menu" class="row">
      <div class="col-md-10">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li class="<%= ' active' if isActivePage(root_path) %>">
              <%= link_to _('My Dashboard'), plans_path %>
            </li>
            <li <%= 'class=active' if isActivePage(new_plan_path) %>>
              <%= link_to _('Create plans'), new_plan_path %>
            </li>
              <li class="dropdown" id="reference-dropdown">
                <a href="#" class="dropdown-toggle" role="button" id="reference-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-book" aria-hidden="true">&nbsp;</i>
                  <%= _("Reference") %>
                  <i class="fa fa-sort-desc" aria-hidden="true">&nbsp;</i>
                </a>
                <ul class="dropdown-menu inverse-dropdown" aria-labelledby="reference-menu">
                  <li <%= 'class=active' if isActivePage(public_plans_path) %>>
                    <%= link_to _('Public DMPs'), public_plans_path %>
                  </li>
                  <li <%= 'class=active' if isActivePage(public_templates_path) %>>
                    <%= link_to _('DMP Templates'), public_templates_path %>
                </ul>
              </a>
            </li>
          <% else %>
            <li <%= 'class=active' if isActivePage(root_path) %>>
              <%= link_to _('Home'), root_path %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Explore <span class="fa fa-sort-desc" aria-hidden="true"></span>
              </a>
              <ul id="explore-menu" class="dropdown-menu">
                <li>
                  <div class="row-fluid">
                    <ul class="nav col-md-4">
                      <li <%= 'class=active' if isActivePage(public_plans_path) %>>
                        <%= link_to _('Public DMPs'), public_plans_path %>
                      </li>
                      <li <%= 'class=active' if isActivePage(public_templates_path) %>>
                        <%= link_to _('DMP Templates'), public_templates_path %>
                      </li>
                      <li><a href="#">General FAQs</a></li>
                   </ul>
                   <ul class="nav col-md-8">
                     <li><a href="#">For Researchers</a>
                       <ul class="nav indented">
                         <li><a href="#">Data Management General Guidance</a></li>
                         <li><a href="#">Quick Start Guide</a></li>
                       </ul>
                     </li>
                     <li><a href="#">For Administrators</a></li>
                     <li><a href="#">For Developers</a></li>
                   </ul>
                 </div>
                </li>
              </ul>
            </li>
            <li <%= 'class=active' if isActivePage(about_us_path) %>>
              <%= link_to _('News and Media'), about_us_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>
