<!-- Sign in / out -->
<div class="signIn">
	<ul class="navbar">
    <% if user_signed_in? %>
      <li class="dropdown sign_in">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= _('Signed in as ')%>
          <%= current_user.name %> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" id="signIn_dropdown">
          <li><%= link_to _('Edit profile'), edit_user_registration_path, class: "signIn_dropdown_link" %></li>
          <% if current_user.can_super_admin? %>
            <li><%= link_to _('Super admin area'), "/admin", class: "signIn_dropdown_link" %></li>
          <% end %>
          <% if current_user.can_org_admin? && !current_user.org_id.nil? %>
            <li><%= link_to _("Admin area"), admin_index_template_path(current_user.org_id), class: "signIn_dropdown_link" %></li>
          <% end %>
          <li><%= link_to _('Sign out'), destroy_user_session_path, method: :delete, class: "signIn_dropdown_link" %></li>
        </ul>
      </li>
    <% else %>
      <li>
        <% unless controller_name == "home" && action_name == "index" then %>
          <a href="#header-login-form" data-toggle="modal"><%= _('Sign in')%></a> /
          <a href="#header-register-form" data-toggle="modal"><%= _('Sign up')%></a>
        <% else %>
          <%= raw "&nbsp;" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
