<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= _('%{application_name}') % { :application_name => Rails.configuration.branding[:application][:name] } %>
    </title>
      <%= favicon_link_tag "favicon.ico" %>
    <!--[ if lte IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
         <style type="text/css">
           .navbar {
             filter:none !important;
           }
         </style>
    <![endif]-->

    <!--[if gte IE 9]>
        <style type="text/css">
          .gradient {
               filter: none;
          }
        </style>
    <![endif]-->

    <!--[if IE]>
          <script>
            $(function() {
              // Invoke the plugin
              $('input, textarea').placeholder();
              $('input, iframe').placeholder();
          });
        </script>
    <![endif]-->

    <%= stylesheet_link_tag fingerprinted_asset('application') %>
    <%= javascript_include_tag fingerprinted_asset('vendor') %>
    <%= javascript_include_tag fingerprinted_asset('application') %> 
    <%#= render "layouts/es5_scripts" %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  <body>
    <!--p class="alert alert-danger">The DMPRoadmap service will be down from 1600 BST (UTC+1) on Friday, 15th May 2015 to allow essential updates.  Please ensure you have saved your data and logged out before this time to avoid any problems.  We will be back again as soon as possible on Friday evening.</p-->
      <!--p class="alert alert-success">Our essential updates have been completed, and DMPRoadmap is up and running again. Many thanks for your patience.</p -->

      <!-- header rendering -->
      <header>
        <%= render partial: "layouts/header" %>
      </header>

      <%
      has_alert = (alert || flash[:alert] || flash[:error])
      has_notice = (notice || flash[:notice])
      %>

      <!-- main page content rendering -->
      <main class="container">
        <div id="notification-area"
             class="<%= has_alert ? 'alert-warning ' : 'alert-info ' %>
                    <%= (has_alert or has_notice) ? 'alert show' : 'hide' %>"
             role="<%= (has_notice ? 'status' : (has_alert ? 'alert' : '')) %>">
          <i class="fa <%= has_alert ? ' fa-times-circle' : ' fa-check-circle' %>" aria-hidden="true"></i>
          <span class="aria-only"><%= has_alert ? _('Error:') : _('Notice:') %></span>
          <span><%= raw (has_alert ? alert : notice) %></span>
        </div>
        <%= yield %>
      </main>

      <!-- footer rendering -->
      <footer >
        <%= render "layouts/footer" %>
      </footer>
  </body>
</html>
