<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= _('%{application_name}') % { :application_name => Rails.configuration.branding[:application][:name] } %>
    </title>
      <%= favicon_link_tag "favicon.ico" %>
    <!--[ if lte IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
         <style type="text/css">
           .navbar {
             filter:none !important;
           }
         </style>
    <![endif]-->

    <!--[if gte IE 9]>
        <style type="text/css">
          .gradient {
               filter: none;
          }
        </style>
    <![endif]-->

    <!--[if IE]>
          <script>
            $(function() {
              // Invoke the plugin
              $('input, textarea').placeholder();
              $('input, iframe').placeholder();
          });
        </script>
    <![endif]-->

    <%= stylesheet_link_tag fingerprinted_asset('application') %>
    <%= javascript_include_tag fingerprinted_asset('vendor') %>
    <%= javascript_include_tag fingerprinted_asset('application') %> 
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  <body>

      <!-- header rendering -->
      <header class="container">
        <%= render partial: "layouts/dmptool/header" %>
      </header>

      <%
      has_alert = (alert || flash[:alert] || flash[:error])
      has_notice = (notice || flash[:notice])
      %>
      <div id="notification-area"
           class="alert <%= has_alert ? 'alert-warning ' : 'alert-info ' %>
                  <%= (has_alert or has_notice) ? 'show' : 'hide' %>"
           role="<%= (has_notice ? 'status' : (has_alert ? 'alert' : '')) %>">
        <i class="fa <%= has_alert ? ' fa-times-circle' : ' fa-check-circle' %>" aria-hidden="true"></i>
        <span class="aria-only"><%= has_alert ? _('Error:') : _('Notice:') %></span>
        <span><%= raw (has_alert ? alert : notice) %></span>
      </div>

      <% if isActivePage(root_path, true) %>
        <!-- DMPTool specific homepage image and welcome message -->
        <div class="homepage-img homepage-img-<%= (1..5).to_a.sample %>">
          <div id="home-welcome-msg">
            <div id="message">
              <h1><%= _('Welcome') %></h1>
              <p>
                <%= _('Create data management plans that meet institutional and funder requirements.') %>
                <a href="#" role="button" id="header-signin" class="btn btn-inverse pull-right" data-toggle="modal"
                    data-target="#get-started-options">
                  <%= _('Get started') %>
                </a>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <!-- main page content rendering -->
      <main class="container">
        <%= yield %>
      </main>

      <!-- footer rendering -->
      <footer class="container<%= user_signed_in? ? ' blue' : '' %>">
        <%= render "layouts/dmptool/footer" %>
      </footer>

      <% unless user_signed_in? %>
        <% orgs = Org.includes(:identifier_schemes).where('is_other IS NULL OR is_other = 0').order(:name) %>
        <% if Rails.application.config.shibboleth_use_filtered_discovery_service %>
          <div id="shib-ds-form" class="modal fade" tabindex="-1" role="dialog">
            <%= render partial: 'shared/dmptool/shib_ds_form', locals: {orgs: orgs} %>
          </div>
        <% end %>

        <div id="sign-in-create-account" class="modal fade" tabindex="-1" role="dialog">
          <%= render partial: 'shared/dmptool/signin_create_form' %>
        </div>

        <div id="get-started-options" class="modal fade" tabindex="-1" role="dialog">
          <%= render partial: 'shared/dmptool/get_started' %>
        </div>
      <% end %>

      <% if Rails.env.stage? %>
        <script type="text/javascript">
          (function() { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = '//api.usersnap.com/load/09af08c1-5d7c-4c10-83bb-9bd3d353dd6e.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
        </script>
      <% end %>
  </body>
</html>
