<!DOCTYPE html>
<html lang="<%= FastGettext.locale %>">
  <head>
    <title><%= _('%{application_name}') % { :application_name => Rails.configuration.branding[:application][:name] } %></title>
      <%= favicon_link_tag "favicon.ico" %>
    <!--[ if lte IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
         <style type="text/css"> 
           .navbar { 
             filter:none !important; 
           } 
         </style> 
    <![endif]-->
      
    <!--[if gte IE 9]>
        <style type="text/css">
          .gradient {
               filter: none;
          }
        </style>
    <![endif]-->
    
    <%= stylesheet_link_tag   "vendor/jquery-ui.min" %>
    <%= stylesheet_link_tag   "vendor/jquery-ui.structure.min" %>
    <%= stylesheet_link_tag   "vendor/jquery-ui.theme.min" %>

    <%= stylesheet_link_tag   "application" %>
    
    <%= javascript_include_tag "application"%>
    
    <script>
      // Set the JS locale equal to the one Rails has
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>

    <!--[if IE]>
          <script>
            $(function() {
              // Invoke the plugin
              $('input, textarea').placeholder();
              $('input, iframe').placeholder();
          });    
        </script>
    <![endif]-->  

    <%= yield(:head) %>
    <%= csrf_meta_tags %>


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
  </head>
  <body>
    <!--p class="alert alert-danger">The DMPRoadmap service will be down from 1600 BST (UTC+1) on Friday, 15th May 2015 to allow essential updates.  Please ensure you have saved your data and logged out before this time to avoid any problems.  We will be back again as soon as possible on Friday evening.</p-->
      <!--p class="alert alert-success">Our essential updates have been completed, and DMPRoadmap is up and running again. Many thanks for your patience.</p -->

    <div class="roadmap">
      <!-- header renedering -->
      <header>
        <%= render "layouts/header" %>
      </header>

      <div class="roadmap-info-box" style="visibility: <%= (notice || flash[:notice]) ? 'visible' : 'hidden' %>;"<%= (notice || flash[:notice]) ? ' role=status' : '' %>>
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <span class="aria-only"><%= _('Notice:') %> </span>
        <span><%= raw notice %></span>
      </div>
      <div class="roadmap-alert-box" style="visibility: <%= (alert || flash[:alert] || flash[:error]) ? 'visible' : 'hidden' %>;"<%= (alert || flash[:alert] || flash[:error]) ? ' role=alert' : '' %>>
        <i class="fa fa-times-circle" aria-hidden="true"></i>
        <span><%= raw alert %></span>
      </div>

      <main>
        <div class="page">
          <%= yield %>
        </div>  
      </main>

      <!-- footer rendering -->
      <footer>
        <%= render "layouts/footer" %>
      </footer>
    </div>
  </body>
</html>
